
	<link rel="stylesheet" href="Progdir:Css/security.css"/>
	
	<div class="VContentTop" style="bottom: 50px">
		<div class="ContentFull" style="top: 10px; left: 0px; right: 0px; bottom: 0px; height: auto">
			<div class="Tabs" id="SecurityTabs">
				<div class="Tab">
					Applications
				</div>
				<div class="Tab">
					Domains
				</div>
				<div class="Tab">
					System
				</div>
				<div class="Page">
					<div class="VContentBottom Padding ScrollArea BackgroundLists" id="Applications">
					</div>
				</div>
				<div class="Page">
					<div class="VContentBottom Padding ScrollArea BackgroundLists" id="Domains">
						<div class="GuiContainer Padding MarginBottom">
							<p class="Layout"><strong>Allowed domains</strong></p>
							<hr/>
							<div id="AllowedDomains">
							</div>
						</div>
					</div>
				</div>
				<div class="Page">
					<div class="VContentBottom Padding ScrollArea BackgroundLists" id="System">
						<div class="GuiContainer Padding MarginBottom">
							<p class="Layout"><strong>General system security settings</strong></p>
						</div>
						<div class="GuiContainer Padding">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="VContentBottom Padding BackgroundToolbar BorderTop" id="Bottom" style="height: 50px">
		<button type="button" class="Button fa-close IconSmall" onclick="closeWin()">
			{Cancel}
		</button>
	</div>

	<script src="Progdir:Scripts/securitywindow.js"></script>
