
	<link rel="stylesheet" href="Progdir:Css/security.css"/>
	
	<div class="ContentFull LayoutButtonbarBottom">
		<div class="VContentTop">
			<div id="SecurityTabs">
				<div class="Tab IconSmall fa-archive">
					{i18n_applications}
				</div>
				<div class="Tab IconSmall fa-database">
					{i18n_system}
				</div>
				<div class="Page">
					<div class="PageScroll BackgroundLists" id="Applications">
					</div>
				</div>
				<div class="Page">
					<div class="PageScroll BackgroundLists" id="System">
						<div class="GuiContainer Padding MarginBottom">
							<p class="Layout"><strong>{i18n_gen_system_settings}</strong></p>
						</div>
						<div class="GuiContainer Padding">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="VContentBottom Padding BackgroundDefault BorderTop" id="Bottom">
			<button type="button" class="FloatRight Button fa-close IconSmall" onclick="closeWin()">
				{i18n_close}
			</button>
		</div>
	</div>

	<script src="Progdir:Scripts/securitywindow.js"></script>

