
	<div class="ContentFull">
		<div class="VContentTop ScrollArea BorderRight" style="bottom: 50px; width: calc(100% - 300px)" id="items">
			
		</div>
		<div class="VContentTop" style="left: calc(100% - 300px); bottom: 50px; width: 300px">
			<div class="VContentTop Padding BorderLeft" style="bottom: calc(100% - 50px)">
				<div class="HRow">
					<input type="text" class="FloatLeft HContent55 NoMargins InputHeight" id="Keywords" placeholder="Keywords..."/>
					<div class="HContent5 FloatLeft">&nbsp;</div>
					<button type="button" class="FloatLeft IconSmall fa-search HContent40 NoMargins InputHeight" onclick="searchPlaylists()">&nbsp;Search</button>
				</div>
			</div>
			<div class="VContentBottom BorderTop ScrollArea" style="height: calc(100% - 50px)" id="results">
			</div>
		</div>
		<div class="VContentBottom BackgroundDefault BorderTop Padding" style="height: 50px">
			<!--<button class="FloatRight IconSmall fa-mixcloud NoMargins" type="button" onclick="addSource()">
				{i18n_add_source}
			</button>-->
			<button class="NoMargins FloatRight IconSmall fa-plus" type="button" onclick="Application.sendMessage( { command: 'add_to_playlist' } )">
				{i18n_add_to_playlist}
			</button>
			<button class="IconSmall fa-arrow-circle-o-up" type="button" onclick="Application.moveElement(-1)">
				{i18n_up}
			</button>
			<button class="IconSmall fa-arrow-circle-o-down" type="button" onclick="Application.moveElement(+1)">
				{i18n_down}
			</button>
		</div>
	</div>
	
	<script src="Progdir:Scripts/playlisteditor.js"></script>
