
<div class="ContentFull LayoutButtonbarBottom">
	<div class="VContentTop Padding ScrollArea SmoothScrolling">
		<div class="HRow">
			<div class="HContent30 FloatLeft">
				<p class="Layout"><strong>{i18n_name}:</strong></p>
			</div>
			<div class="HContent40 FloatLeft" id="NameColumn">
				<p class="Layout Relative">
					<input type="text" id="groupName" class="FullWidth InputHeight" value="{Name}"/>
				</p>
			</div>
			<div class="HContent30 FloatLeft PaddingLeft" id="InviteColumn">
				<p class="Layout"><button type="button" onclick="doInvite()" id="inviteButton" class="IconSmall fa-user-plus Invite Button FullWidth">{i18n_invite}</button></p>
			</div>
			<div class="HRow">
				<div class="HContent30 FloatLeft">
					<p class="Layout"><strong>{i18n_group_description}:</strong></p>
				</div>
				<div class="HContent70 FloatLeft">
					<p class="Layout">
						<textarea id="groupDescription" class="FullWidth" size="3">{Description}</textarea>
					</p>
				</div>
			</div>
			<div id="ChatRoomFunc" {ChatRoomCheck}>
				<div class="HContent30 FloatLeft">
					<p class="Layout"><strong>{i18n_create_chat_room}:</strong></p>
				</div>
				<div class="HContent45 FloatLeft" id="ChatRoomColumn">
					<p class="Layout Relative">
						<input type="checkbox" id="ChatRoomCreate" checked="checked"/>
					</p>
				</div>
			</div>
		</div>
		<div id="Relations" class="{Hidden}">
			<div class="HRow BorderBottom BorderTop">
				<p>
					<strong>{i18n_group_members}:</strong>
				</p>
				<div id="Userlist"></div>
				<div id="Pending"></div>
			</div>
			<div class="HRow">
				<p>
					<strong>{i18n_find_users}:</strong> - <input type="text" id="findUsers" value="" onkeyup="searchUser(this.value)" placeholder="John Doe..."/>
				</p>
				<div id="Usersearch"></div>
			</div>
		</div>
	</div>
	<div class="VContentBottom Padding BackgroundDefault BorderTop">
		<button type="button" class="Button IconSmall fa-save FloatRight" onclick="saveGroup()">
			{i18n_save}
		</button>
		<button type="button" class="Button IconSmall fa-remove FloatLeft" onclick="CloseView()">
			{i18n_close}
		</button>
		<button type="button" id="dGroup" class="Button IconSmall fa-trash FloatLeft{DeleteCl}" onclick="deleteGroup()">
			{i18n_delete}
		</button>
	</div>
</div>

<input type="hidden" value="{ID}" id="groupId"/>

<link rel="stylesheet" href="Progdir:Css/group.css"/>
<script src="Progdir:Scripts/group.js"></script>
