<input type="hidden" id="vid" value="{vid}"/>
<input type="hidden" id="mode" value="{mode}"/>
<input type="hidden" id="devname" value="{devname}"/>
<input type="hidden" id="diskId" value=""/>
<input type="hidden" id="mountedDisk" value="{mounted}"/>

<div class="ContentFull LayoutButtonbarBottom">
	<div class="VContentTop">
		<div class="ContentFull ScrollArea BorderLeft Padding" id="Form">
			<div id="FormHeading"></div>
			<div class="HRow">
				<div class="HContent30 FloatLeft">
					<p class="Layout InputHeight">
						<strong>
							{i18n_device_name}:
						</strong>
					</p>
				</div>
				<div class="HContent70 FloatLeft">
					<p class="Layout InputHeight">
						<input type="text" id="Name" class="FullWidth" value="" placeholder="{i18n_placeholder_connection}"/>
					</p>
				</div>
			</div>
			<div id="GUI">
			</div>
		</div>
	</div>
	<div class="VContentBottom Padding BackgroundDefault BorderTop">
		<div class="HRow">
			<div class="HContent35 FloatLeft">
				<button onclick="mountDisk(ge('Name').value)" type="button" class="IconSmall fa-plug" id="mounter">
					&nbsp;{i18n_mount_disk}
				</button>
			</div>
			<div class="HContent65 FloatLeft TextRight">
				<button onclick="verifyForm()" type="button" class="IconSmall fa-check">
					&nbsp;{i18n_update_disk}
				</button>
				<button onclick="deleteFilesystem()" type="button" id="deleter" class="IconSmall fa-trash Danger">
					&nbsp;{i18n_delete_disk}
				</button>
			</div>
		</div>
	</div>
</div>

<script src="Progdir:Scripts/newstorage.js"></script>



