

<div id="Background"></div>

<div id="GameScreen">
</div>

<input type="text" id="Dispatcher"/>

<style>
	#Background
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		z-index: 0;
	}
	#GameScreen
	{
		image-rendering: pixelated;
	}
	#GameScreen, #GameLevel
	{
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;
	}
	#GameLevel
	{
		left: 6px;
		width: 640px;
		transition: top,left 0.1s,0.1s;
	}
	#Dispatcher
	{
		position: absolute;
		top: -100px;
		left: -100px;
	}
	.Block
	{
		position: absolute;
		background-image: url('Progdir:Gfx/Players.png');
		background-size: auto;
		background-repeat: no-repeat;
	}
	.Block.Brick
	{
		background-position: -401px -22px;
	}
	.Block.Grass1
	{
		background-position: -401px -1px;
	}
	.Block.Grass2
	{
		background-position: -422px -1px;
	}
	.Block.Grass3
	{
		background-position: -443px -1px;
	}
	.Player
	{
		background-image: url('Progdir:Gfx/Players.png');
		background-size: auto;
		background-repeat: no-repeat;
		position: absolute;
		width: 39px;
		height: 39px;
	}

	.Player1[Sprite=WalkR]          { background-position: -1px   -1px;  }
	.Player1[Sprite=WalkR1]         { background-position: -41px  -1px;  }
	.Player1[Sprite=WalkR2]         { background-position: -81px  -1px;  }
	.Player1[Sprite=WalkR3]         { background-position: -121px -1px;  }
	.Player1[Sprite=WalkRJ]         { background-position: -161px -1px;  }
	.Player1[Sprite=WalkLJ]         { background-position: -201px -1px;  }
	.Player1[Sprite=WalkL3]         { background-position: -241px -1px;  }
	.Player1[Sprite=WalkL2]         { background-position: -281px -1px;  }
	.Player1[Sprite=WalkL1]         { background-position: -321px -1px;  }
	.Player1[Sprite=WalkL]          { background-position: -361px -1px;  }

	.Player2[Sprite=WalkR]          { background-position: -1px   -41px; }
	.Player2[Sprite=WalkR1]         { background-position: -41px  -41px; }
	.Player2[Sprite=WalkR2]         { background-position: -81px  -41px; }
	.Player2[Sprite=WalkR3]         { background-position: -121px -41px; }
	.Player2[Sprite=WalkRJ]         { background-position: -161px -41px; }
	.Player2[Sprite=WalkLJ]         { background-position: -201px -41px; }
	.Player2[Sprite=WalkL3]         { background-position: -241px -41px; }
	.Player2[Sprite=WalkL2]         { background-position: -281px -41px; }
	.Player2[Sprite=WalkL1]         { background-position: -321px -41px; }
	.Player2[Sprite=WalkL]          { background-position: -361px -41px; }

	.Player3[Sprite=WalkR]          { background-position: -1px   -81px; }
	.Player3[Sprite=WalkR1]         { background-position: -41px  -81px; }
	.Player3[Sprite=WalkR2]         { background-position: -81px  -81px; }
	.Player3[Sprite=WalkR3]         { background-position: -121px -81px; }
	.Player3[Sprite=WalkRJ]         { background-position: -161px -81px; }
	.Player3[Sprite=WalkLJ]         { background-position: -201px -81px; }
	.Player3[Sprite=WalkL3]         { background-position: -241px -81px; }
	.Player3[Sprite=WalkL2]         { background-position: -281px -81px; }
	.Player3[Sprite=WalkL1]         { background-position: -321px -81px; }
	.Player3[Sprite=WalkL]          { background-position: -361px -81px; }
	
	.Player4[Sprite=WalkR]          { background-position: -1px   -121px; }
	.Player4[Sprite=WalkR1]         { background-position: -41px  -121px; }
	.Player4[Sprite=WalkR2]         { background-position: -81px  -121px; }
	.Player4[Sprite=WalkR3]         { background-position: -121px -121px; }
	.Player4[Sprite=WalkRJ]         { background-position: -161px -121px; }
	.Player4[Sprite=WalkLJ]         { background-position: -201px -121px; }
	.Player4[Sprite=WalkL3]         { background-position: -241px -121px; }
	.Player4[Sprite=WalkL2]         { background-position: -281px -121px; }
	.Player4[Sprite=WalkL1]         { background-position: -321px -121px; }
	.Player4[Sprite=WalkL]          { background-position: -361px -121px; }
	
	@media screen ( max-width: 639px )
	{
		
	}
	
	#TouchControls
	{
		position: absolute;
		bottom: 0;
		height: 80px;
		width: 100%;
		left: 0;
		z-index: 99999999;
	}
	#TouchControls > div
	{
		position: absolute;
		width: 33.3%;
		height: 100%;
	}
	#TouchControls > div:after
	{
		content: " ";
		line-height: 72px;
		position: absolute;
		top: 4px; left: 4px;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		background: rgba(255,255,255,0.6);
		text-align: center;
		font-size: 20px;
		border-radius: 15px;
	}
	#TouchControls > div#BtnLeft:after
	{
		content: "<";
	}
	#TouchControls > div#BtnJump:after
	{
		content: "O";
		background: rgba(255,0,0,0.6);
		color: yellow;
	}
	#TouchControls > div#BtnRight:after
	{
		content: ">";
	}
	#TouchControls > div#BtnLeft
	{
		left: 0;
	}
	#TouchControls > div#BtnJump
	{
		left: 33.3%;
	}
	#TouchControls > div#BtnRight
	{
		right: 0%;
	}
</style>

<script src="Progdir:Scripts/player.js"></script>
<script src="Progdir:Scripts/game.js"></script>

