
	<script src="Progdir:Scripts/ckeditor/ckeditor.js" onload="console.log('test');"></script>

	<div class="ContentFull BackgroundLists ColorLists">
		<div class="HContentLeft HContent100">
			<div id="Editor">
			</div>
		</div>
		<!--<div class="HContentRight HContent30 BorderLeft">
			<div class="VContentTop" style="bottom: 40px">
				<div class="VContentTop BorderBottom" style="height: 35%; box-sizing: border-box">
					<div class="BackgroundLists" style="position: absolute; border-radius: 8px; top: 5px; left: 5px; right: 5px; bottom: 45px;" id="Display">
					</div>
					<div style="position: absolute; bottom: 0; left: 0; right: 0; height: 40px" class="BorderTop">
						<div style="position: absolute; right: 75px; left: 5px; top: 5px; bottom: 5px">
							<input type="text" class="ContentFull" id="metatext" placeholder="{i18n_keywords}"/>
						</div>
						<button class="Button" onclick="metaSearch(ge('metatext').value)" type="button" style="position: absolute; right: 5px; width: 60px; bottom: 5px; top: 5px">
							{i18n_search}
						</button>
					</div>
				</div>
				<div class="VContentTop" style="top: 35%; height: 65%">
					<div style="position: absolute; bottom: 0; left: 0; right: 0; height: 40px" class="BorderTop">
						<div style="position: absolute; right: 140px; left: 5px; top: 5px; bottom: 5px">
							<input type="text" class="ContentFull" id="directorypath" placeholder="{i18n_path}"/>
						</div>
						<button class="Button" onclick="selectDirectory(ge('directorypath').value)" type="button" style="position: absolute; right: 70px; width: 60px; bottom: 5px; top: 5px">
							{i18n_select}
						</button>
						<button class="Button" onclick="findDirectory()" type="button" style="position: absolute; right: 5px; width: 60px; bottom: 5px; top: 5px">
							{i18n_find}
						</button>
					</div>
				</div>
			</div>
			<div class="VContentBottom BorderTop BackgroundDefault" style="height: 40px">
				<div class="Padding TextCenter" id="Status">
				</div>
			</div>
		</div>-->
		<div class="Padding TextCenter" id="Status">
		</div>
	</div>
	
	<script src="Progdir:Scripts/maingui.js"></script>
	<link rel="stylesheet" href="Progdir:Css/editor.css"/>
	

