
	<div class="VContentTop BackgroundWindow TheContent">
		<div class="ContentFull">
			<div class="HContentLeft BorderRight LeftSide ScrollArea">
				<div class="Padding">
					<h3>
						Language
					</h3>
				</div>
			</div>
			<div class="HContentRight RightSide ScrollArea">
				<div class="Padding">
				</div>
			</div>
		</div>
	</div>
	<div class="VContentBottom BorderTop BackgroundToolbar TheBottom">
		<div class="Padding">
			<button type="button" class="Button IconSmall fa-cancel" onclick="doCancel()">
				Cancel
			</button>
		</div>
	</div>
	
	<link rel="stylesheet" href="Progdir:Css/prefs.css"/>
	<script src="Progdir:Scripts/prefs.js"></script>
