
	<div class="Speech">
		<div class="IconSmall fa-microphone" onclick="this.getElementsByTagName( 'input' )[0].focus();">
			<input type="text" id="Speecher" onchange="Application.parseText(this.value)"/>
		</div>
	</div>

	<div class="ToolbarInner">
		<div class="HRow">
			<div class="ToolButton IconSmall fa-bold" id="tBold" onclick="editorCommand('bold')">
				<em>B</em>
			</div>
			<div class="ToolButton IconSmall fa-italic" id="tItalic" onclick="editorCommand('italic')">
				<em>I</em>
			</div>
			<div class="ToolButton IconSmall fa-underline" id="tUnderline" onclick="editorCommand('underline')">
				<em>U</em>
			</div>
			<div class="ToolDivider"></div>
			<select id="ToolFormat" class="ToolSelect" onchange="editorCommand( 'format' + this.value )">
				<option value="default">Select format</option>
				<option value="">--------------------</option>
				<option value="h1">Header 1</option>
				<option value="h2">Header 2</option>
				<option value="h3">Header 3</option>
				<option value="h4">Header 4</option>
				<option value="h5">Header 5</option>
				<option value="h6">Header 6</option>
				<option value="p">Paragraph</option>
			</select>
			<div class="ToolDivider"></div>
			<select class="ToolSelect" onchange="editorCommand( 'zoom' + this.value )">
				<option value="100%">Select zoom</option>
				<option value="">--------------------</option>
				<option value="100%">100%</option>
				<option value="125%">125%</option>
				<option value="150%">150%</option>
				<option value="200%">200%</option>
			</select>
			<div class="ToolDivider"></div>
			<select class="ToolSelect" id="FontSelector" onchange="editorCommand( 'fontType', this.value )">
				<option value="">Select font</option>
				<option value="">--------------------</option>
				<option value="sans serif">Sans serif</option>
				<option value="sans">Sans</option>
				<option value="monospace">Monospace</option>
				<option value="lato">Lato</option>
				<option value="times new roman">Times new roman</option>
				<option value="verdana">Verdana</option>
				<option value="courier">Courier</option>
			</select>
			<select class="ToolSelect" id="FontSize" onchange="editorCommand( 'fontSize', this.value )">
				<option value="">Select font size</option>
				<option value="">--------------------</option>
				<option value="6pt">6pt</option>
				<option value="7pt">7pt</option>
				<option value="8pt">8pt</option>
				<option value="9pt">9pt</option>
				<option value="10pt">10pt</option>
				<option value="11pt">11pt</option>
				<option value="12pt">12pt</option>
				<option value="14pt">14pt</option>
				<option value="16pt">16pt</option>
				<option value="18pt">18pt</option>
				<option value="20pt">20pt</option>
				<option value="24pt">24pt</option>
				<option value="28pt">28pt</option>
				<option value="32pt">32pt</option>
				<option value="36pt">36pt</option>
				<option value="40pt">40pt</option>
				<option value="48pt">48pt</option>
				<option value="56pt">56pt</option>
			</select>
			<div class="ToolDivider"></div>
			<div class="ToolButton IconSmall fa-file-image-o" id="tImage" onclick="editorCommand('image')">
				<em>IMG</em>
			</div>
			<!--<div class="ToolButton" id="tStrikethrough">
				<em>S</em>
			</div>-->
		</div>
	</div>

