
	<div class="ContentFull">
		<div class="VContentTop" style="bottom: 47px">
			<div class="HContentLeft HContent40">
				<div class="VContentTop Padding BorderBottom" style="height: 36px">
					<strong>Themes:</strong>
				</div>
				<div class="VContentBottom BackgroundLists ColorLists ScrollArea" style="top: 37px; bottom: 200px" id="ThemeList">
				</div>
				<div class="VContentBottom Padding BorderTop BorderBottom" style="bottom: 164px; height: 36px">
					<strong>Behaviour:</strong>
				</div>
				<div class="VContentBottom Padding ScrollArea" style="height: 163px; bottom: 0px; top: auto;" id="Behaviour">
					<p class="Layout">
						Menu mode:
					</p>
					<p>
						<form>
							<input type="radio" name="menuMode" value="pear" id="menuPear"> Pear
							<!--<input type="radio" name="menuMode" value="fenster" id="menuFenster"> Fenster-->
							<input type="radio" name="menuMode" value="miga" id="menuMiga"> Miga
						</form>
					</p>
				</div>
			</div>
			<div class="HContentRight HContent60 BorderLeft">
				<div class="VContentTop Padding BorderBottom" style="height: 36px">
					<strong>Preview:</strong>
				</div>
				<div class="VContentBottom" style="top: 47px">
					<div style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; border-radius: 7px; background: black; border: 1px solid rgba(0,0,0,0.5)" id="ThemePreview">
					</div>
				</div>
			</div>
		</div>
		<div class="VContentBottom BorderTop Padding" style="height: 46px">
			<button class="IconSmall fa-check" type="button" onclick="applyTheme()">
				Save
			</button>
		</div>
	</div>
	
	<script src="Progdir:Scripts/gui.js"></script>

	<link rel="stylesheet" href="Progdir:CSS/gui.css"/>

