
	<input id="ID" type="hidden" value="{id}"/>
	
	<div class="HRow">
		<div class="HContent30 FloatLeft">
			{i18n_full_name}:
		</div>
		<div class="HContent70 FloatLeft">
			<input type="text" class="FullWidth" id="FullName" value="{fullname}"/>
		</div>
	</div>
	<div class="HRow MarginTop">
		<div class="HContent30 FloatLeft">
			{i18n_email}:
		</div>
		<div class="HContent70 FloatLeft">
			<input type="text" class="FullWidth" id="Email" value="{email}"/>
		</div>
	</div>
	<div class="HRow MarginTop">
		<div class="HContent30 FloatLeft">
			{i18n_username}:
		</div>
		<div class="HContent70 FloatLeft">
			<input type="text" class="FullWidth" id="Username" value="{username}"/>
		</div>
	</div>
	<div class="HRow MarginTop">
		<div class="HContent30 FloatLeft">
			{i18n_password}:
		</div>
		<div class="HContent70 FloatLeft">
			<input type="password" class="HContent80" id="Password" value="{password}"/>
			<button type="button" class="HContent10 IconSmall fa-eye-slash" onclick="TogglePasswordField('Password')"></button>
		</div>
	</div>
	<div class="HRow MarginTop">
		<div class="HContent30 FloatLeft">
			{i18n_level}:
		</div>
		<div class="HContent70 FloatLeft">
			<select id="Level" class="FullWidth">
				<option value="Admin">{i18n_level_admin}</option>
				<option value="User">{i18n_level_user}</option>
				<option value="Guest">{i18n_level_guest}</option>
				<option value="API">{i18n_level_api}</option>
			</select>
		</div>
	</div>
	
	<div id="SetupContainer">
		<div class="HRow MarginTop">
			<div class="HContent30 FloatLeft">
				{i18n_template}:
			</div>
			<div class="HContent70 FloatLeft">
				<select id="Setup" class="FullWidth">{setup}</select>
				<!--<button type="button" class="IconSmall fa-save" onclick="ApplySetup({id})">
					{i18n_apply_template}
				</button>-->
			</div>
		</div>
	</div>
	
	<div id="WorkgroupContainer">
		<div class="HRow MarginTop">
			<div class="HContent30 FloatLeft Box">
				{i18n_workgroups}:
			</div>
			<div id="pUserWorkgroup" class="HContent70 FloatLeft BorderTop BorderLeft BorderRight BorderBottom">
				<!--<input type="text" class="FullWidth" id="Workgroup" value="{workgroup}" readonly="readonly"/>-->
			</div>
		</div>
		<div class="HRow MarginTop" id="WorkgroupSelect">
			<div class="HContent30 FloatLeft">&nbsp;&nbsp;&nbsp;</div>
			<div class="HContent70 FloatLeft">
				<div class="HRow">
					<div class="HContent45 FloatLeft">
						<select id="Workgroup" class="FullWidth">{workgroup}</select>
					</div>
					<div class="HContent55 FloatLeft">
						<div class="HRow">
						<div class="HContent5 FloatLeft">&nbsp;</div>
						<div class="HContent95 FloatLeft">
							<button type="button" class="FullWidth NoMargins IconSmall fa-plus" onclick="AddUserGroup()">
								{i18n_add_workgroup}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="HRow MarginTop BorderTop PaddingTop PaddingBottom">
		<div class="HContent100 FloatLeft">
			<button type="button" class="IconSmall fa-save" onclick="SaveUser({id})">
				{i18n_save_user}
			</button>
			<button type="button" class="IconSmall fa-trash" onclick="DeleteUser({id})">
				{i18n_delete_user}
			</button>
			<button type="button" class="IconSmall fa-unlock" onclick="UnblockUser({id})">
				{i18n_unblock_user}
			</button>
			<button type="button" class="IconSmall fa-close" onclick="CancelEditing()">
				{i18n_cancel}
			</button>
		</div>
	</div>
	
	<style>
		#pUserWorkgroup
		{
			height: 168px;
			overflow: hidden;
			overflow-y: auto;
			padding: 2px;
			box-sizing: border-box;
		}
	</style>
	
