
	<input type="hidden" id="userId" value="{userid}"/>
	
	<div class="ContentFull">
		<div class="VContentTop">
			<div class="Box">
				<div class="HRow">
					<div class="HContent30 FloatLeft">
						<strong>Username:</strong>
					</div>
					<div class="HContent70 FloatLeft">
						<input type="text" id="Username" class="FullWidth" />
					</div>
				</div>
				<div class="HRow MarginTop">
					<div class="HContent30 FloatLeft">
						<strong>Password:</strong>
					</div>
					<div class="HContent70 FloatLeft">
						<input type="password" id="Password" class="FullWidth" />
					</div>
				</div>
				<div class="HRow MarginTop">
					<div class="HContent100">
						<button type="button" class="IconSmall fa-unlock" onclick="doLogin(event)">
							Log in
						</buttton>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="Progdir:Scripts/userlogin.js"></script>

