	<div class="ContentFull">
		<canvas id="Drawing" class="MouseCrosshair"></canvas>
	</div>
	<div id="UserContainer"></div>
	<style>
	#UserContainer
	{
		position:absolute;
		top:10px;
		left:10px;
		z-index:1;
		pointer-events:none;
	}
	#UserContainer div { display:inline-block; line-height: 20px; margin:0 10px 0 0; vertical-align: middle; }		
	#UserContainer .square
	{
		width:20px;
		height:20px;
		overflow:hidden;
		background:#FFF;
		display:inline-block;
		margin:0 5px 0 0;
		
	}
	</style>
	<script src="Progdir:Scripts/board.js"></script>

