

	<div class="ContentFull">
		
		<div class="Centered">
			<div class="Cnt ColorStGrayLight">
				<h1>
					TREEROOT login
				</h1>
				<p>
					Please log in with your username ans password:
				</p>
				<table>
					<tr>
						<td>
							<strong>Username:</strong>
						</td>
						<td>
							<input type="text" id="fUsername" value="" placeholder="username..."/>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Password:</strong>
						</td>
						<td>
							<input type="password" id="fPassword" value="" placeholder="********"/>
						</td>
					</tr>
				</table>
				<p>
					<button type="button" class="Button IconSmall fa-check" onclick="login()">
						Log in and save
					</button>
				</p>
				<hr/>
				<h1>
					New users sign up here:
				</h1>
				<p>
					Please fill in this form to create your Treeroot account.
				</p>
				<table>
					<tr>
						<td>
							<strong>Full name:</strong>
						</td>
						<td>
							<input type="text" id="sFullname" value="" placeholder="John Doe"/>
						</td>
					</tr>
					<tr>
						<td>
							<strong>E-mail:</strong>
						</td>
						<td>
							<input type="text" id="sEmail" value="" placeholder="mail@gmail.com"/>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Username:</strong>
						</td>
						<td>
							<input type="text" id="sUsername" value="" placeholder="username..."/>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Password:</strong>
						</td>
						<td>
							<input type="password" id="sPassword" value="" placeholder="********"/>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Confirm password:</strong>
						</td>
						<td>
							<input type="password" id="sConfirm" value="" placeholder="********"/>
						</td>
					</tr>
				</table>
				<p>
					<button type="button" class="Button IconSmall fa-check" onclick="signUp()">
						Sign up!
					</button>
				</p>
			</div>
		</div>
		
	</div>
	
	<script src="Progdir:Scripts/login.js"></script>
	
	<style>
		.Centered
		{
			position: absolute;
			top: 50%;
			left: 50%;
		}
		.Centered > .Cnt
		{
			position: absolute;
			width: 500px;
			height: 520px;
			top: -260px;
			left: -250px;
			border: 1px solid white;
			border-radius: 8px;
			box-sizing: border-box;
			padding: 20px;
			text-align: center;
		}
		.Centered > .Cnt > table
		{
			margin: auto;
		}
		
		.Centered > .Cnt > table td
		{
			text-align: left;
		}
	</style>

