

	<div class="Dialog">
		<h1>
			Please respond to meeting request
		</h1>
		<h2>
			{meeting request}
		</h2>
		<p>
			<label>Date:</label><span>{date}</span>
		</p>
		<p>
			<label>Time:</label><span>{time}</span>
		</p>
		<hr/>
		<p>
			<button type="button" class="Accept">
				Accept
			</button>
			<button type="button" class="Reject">
				Reject
			</button>
			<button type="button" class="Newtime">
				Suggest new time
			</button>
			<button type="button" class="Tentative">
				Tentative
			</button>
		</p>
		<p>
			Optional message:
		</p>
		<p>
			<textarea></textarea>
		</p>
	</div>
