
	<div class="FullContent">
		<div class="VContentTop" style="bottom: 50px;">
			<div class="HContent30 HContentLeft VContent100">
				<div style="position: absolute; top: 0; left: 0; width: 100%; height: 37px">
					<div class="Padding">
						<p class="Layout"><strong>
							Available screens
						</strong></p>
					</div>
				</div>
				<div id="ScreenList" class="FullWidth BordersDefaultNegative BackgroundLists ColorLists ScrollArea" style="position: absolute; bottom: 0; top: 37px; left: 0; width: 100%">
				</div>
			</div>
			<div class="HContent70 HContentRight VContent100">
				<div class="Padding">
					<p class="Layout"><strong>
						Screen settings
					</strong></p>
					<div class="Box" style="height: 100%"></div>
				</div>
			</div>
		</div>
		<div class="VContentBottom BorderTop" style="height: 49px">
			<div class="HContent50 HContentLeft VContent100 Padding">
				<button type="button" class="IconSmall fa-plus" onclick="addScreen()">
					Add screen
				</button>
				<button type="button" class="IconSmall fa-plus" onclick="closeScreen()">
					Close screen
				</button>
			</div>
			<div class="HContent50 HContentRight VContent100 Padding TextRight">
				<button type="button" class="IconSmall fa-close">
					Close
				</button>
			</div>
		</div>
	</div>
	
	<script src="Progdir:Scripts/main.js"></script>
	<link rel="stylesheet" href="Progdir:Css/main.css"/>

