
	<link rel="stylesheet" href="Progdir:Css/welcome.css"/>
	<div id="WelcomeContainer">
		<div class="WelcomeHeading">
			<h2>
				Welcome to Friend OS
			</h2>
		</div>
		<div class="WelTabs" id="AppsPane">
			<div class="WelTab Active">Friend Office</div>
			<div class="WelTab">Friend Mail</div>
			<div class="WelTab">Friend Chat</div>
			<div class="WelTab">Friend Conference</div>
			<div class="WelTab">Photopea</div>
			<div class="WelTab">DrawIO</div>
			<div class="WelTab">Notes</div>
			<div class="WelTab">Utilities</div>
			<div class="WelPage">
				<h2>Friend Office</h2>
				<p>
					As a total office suite for working online, Friend Office
					gives you all the tools you need for authoring documents,
					spreadsheets and visual presentations.
				</p>
				<p>
					...
				</p>
			</div>
			<div class="WelPage">
				<h2>Friend Chat</h2>
				<p>
					As the central pivot point of collaboration in Friend OS,
					Friend Chat comes fully featured with real time chat,
					collaboration features, video conferencing and audio calls.
					Collaborate in groups or one-to-one. Invite friends and
					co-workers. Share files and images. You'll feel as if you
					are in a digital office, a café or at the pub!
				</p>
			</div>
		</div>
		<div class="BottomInfo">
			<div class="ImageLink"><div></div></div>
			<div class="ImageDescription">
				<h2>
					Get acquainted with Friend OS in minutes
				</h2>
				<p>
					Lipsum etc..
				</p>
				<p>
					Read more...
				</p>
			</div>
		</div>
	</div>
	<script src="Progdir:Scripts/welcome.js"></script>

