
	<link rel="stylesheet" href="Progdir:Css/welcome.css"/>
	<div id="WelcomeContainer">
		<div class="WelcomeHeading">
			<h2>
				Welcome to your Sky Computer!
			</h2>
		</div>
		<div class="WelTabsWrapper">
			<div class="WelTabs" id="AppsPane">
				<div class="WelTab"><span></span>Friend<br>Office</div>
				<div class="WelTab"><span></span>Friend Mail & Calendar</div>
				<div class="WelTab"><span></span>Friend<br>Chat</div>
				<div class="WelTab"><span></span>Friend Conference</div>
				<div class="WelTab"><span></span>Photopea</div>
				<div class="WelTab"><span></span>DrawIO</div>
				<div class="WelTab"><span></span>And much more!</div>
			</div>
		</div>
		<div class="WelPages">
			<div class="WelPage">
				<div class="TextContent">
					<h2>Your multitasking office workflow</h2>
					<p>
						As a complete office suite for working online, Friend Office
						gives you all the tools you need for authoring documents,
						spreadsheets and visual presentations.
					</p>
					<p>
						With Friend's multitasking Workspace, you may enjoy the 
						efficiency of working on multiple documents at the same time,
						side-by-side on your screen.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage">
				<div class="TextContent">
					<h2>
						Friend Mail and Calendar
					</h2>
					<p>
					
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage">
				<div class="TextContent">
					<h2>Friend Chat</h2>
					<p>
						As the central pivot point of collaboration in Friend OS,
						Friend Chat comes fully featured with real time chat,
						collaboration features, video conferencing and audio calls.
						Collaborate in groups or one-to-one. Invite friends and
						co-workers. Share files and images. You'll feel as if you
						are in a digital office, a café or at the pub!
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage">
				<div class="TextContent">
					<h2>
						Video conferencing
					</h2>
					<p>
					
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage">
				<div class="TextContent">
					<h2>
						Edit photos, design graphical layouts
					</h2>
					<p>
					
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage">
				<div class="TextContent">
					<h2>
						Design flowcharts, edit diagrams
					</h2>
					<p>
					
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage">
				<div class="TextContent">
					<h2>
						In Friend OS, there's just so much you can do!
					</h2>
					<p>
						
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
		</div>
		<div class="BottomInfo">
			<div class="ImageLink"><div></div></div>
			<div class="ImageDescription">
				<h2>
					Get acquainted with Friend OS in minutes
				</h2>
				<p>
					In this short video, you will see how easy to use Friend OS
					is for online productivity, communication and collaboration.
				</p>
				<p>
					Read more...
				</p>
			</div>
		</div>
	</div>
	<script src="Progdir:Scripts/welcome.js"></script>
	<style>
		.WelTab.Active:after
		{
			background-image: url('Progdir:Gfx/curve_tab_right.png');
		}
		.WelTab.Active:before
		{
			background-image: url('Progdir:Gfx/curve_tab_left.png');
		}
	</style>

