
	<link rel="stylesheet" href="Progdir:Css/welcome.css"/>
	
	<div id="WelcomeContainer">
		<div class="WelcomeHeading">
			<h2>
				Welcome to your Sky Computer!
			</h2>
		</div>
		<div class="WelTabsWrapper">
			<div class="WelTabs" id="AppsPane">
				<div class="WelTab"><span class="Welcome"></span>Getting<span class="Space"> </span>started</div>
				<div class="WelTab"><span class="Chat"></span>Friend<span class="Space"> </span>Chat</div>
				<div class="WelTab"><span class="Conference"></span>Friend Conference</div>
				<div class="WelTab"><span class="Office"></span>Friend<span class="Space"> </span>Office</div>
				<div class="WelTab"><span class="Games"></span>Games</div>
				<!--<div class="WelTab"><span class="Mail"></span>Friend Mail & Calendar</div>-->
				<div class="WelTab"><span class="Drawio"></span>DrawIO</div>
				<div class="WelTab"><span class="Photopea"></span>Photopea</div>
				<div class="WelTab"><span class="More"></span>And much more!</div>
			</div>
		</div>
		<div class="WelPages">
			<div class="WelPage Welcome">
				<div class="TextContent">
					<h2>Let's get you started with Friend</h2>
					<p>
						Friend is your digital backpack online. It allows you to 
						organize all of your contacts, files, apps and services in 
						one place. And the best thing is; we don't sell your data
						or push ads on you. Your Sky Computer is private.
					</p>
					<p>
						Friend is a social platform. As such, you are able to 
						interact with others in real time. Why don't you;
					</p>
					<p>
						<a class="ButtonBox" href="javascript:void(0)" onclick="Application.sendMessage( { type: 'system', command: 'invite' } )">Invite 
						a friend</a>
					</p>
				</div>
				<div class="ImageContent"></div>
				<div class="ExtendedInfo BorderTop MarginTop PaddingTop" style="clear: both">
					<div class="ImageLink"><iframe width="400" height="260" src="https://www.youtube.com/embed/ldolxyO2jRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
					<div class="ImageDescription">
						<h2>
							Get acquainted with Friend OS in minutes
						</h2>
						<p>
							In this short video, you will see how easy to use Friend OS
							is for online productivity, communication and collaboration.
						</p>
						<p class="Smaller">
							If you want to delve deeper into Friend OS, please reference
							our end-user documentation here: <a href="https://docs.friendos.com/docs/end-user-documentation/" target="_blank">Read documentation</a>.
						</p>
					</div>
				</div>
			</div>
			<div class="WelPage Chat">
				<div class="TextContent">
					<h2>Friend Chat</h2>
					<p>
						As the central pivot point of collaboration in Friend OS,
						Friend Chat comes fully featured with real time chat,
						collaboration features, video conferencing and audio calls.
						Collaborate in groups or one-to-one. Invite friends and
						co-workers, and share files or images.
					</p>
					<p>
						Friend Chat is meant to give you both the efficiency as
						well as the intimacy of being in an office, or co-working
						space, with your friends and colleagues. Communication is
						direct and ad-hoc - like in real life. We hope you will
						enjoy it.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage Conference">
				<div class="TextContent">
					<h2>
						Video conferencing
					</h2>
					<p>
						Friend Conference is our professional meeting app for
						hosting larger, pre-planned video conferences. The 
						application has several pro features, like "raise hand",
						moderation and meeting management. Additionally, it offers
						cool effects, like "change background", to make the 
						experience more - or even less - personal.
					</p>
					<p>
						Friend Conference is very simple to use. It also has a
						professional version, which gives you 2FA authentication
						features as well as multiple room management options.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage Office">
				<div class="TextContent">
					<h2>Your multitasking office workflow</h2>
					<p>
						As a complete office suite for working online, Friend Office
						gives you all the tools you need for authoring documents,
						spreadsheets and visual presentations.
					</p>
					<p>
						With Friend's multitasking Workspace, you may enjoy the 
						efficiency of working on multiple documents at the same time,
						side-by-side on your screen.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage Games">
				<div class="TextContent Games">
					<div class="Flexi">
						<div class="FlexiContent">
							<p>
								<a href="javascript:void(0)" onclick="launchApp('bulletbonanza')"><span style="background-image: url(Progdir:Gfx/game_bb.png)"></span></a>
							</p>
							<p>
								<a href="javascript:void(0)" onclick="launchApp('bulletbonanza')">Bullet Bonanza</a>
							</p>
						</div>
						<div class="FlexiContent">
							<p>
								<a href="javascript:void(0)" onclick="launchApp('CrossWordsArena')"><span style="background-image: url(Progdir:Gfx/game_crosswords.png)"></span></a>
							</p>
							<p>
								<a href="javascript:void(0)" onclick="launchApp('CrossWordsArena')">Crosswords Arena</a>
							</p>
						</div>
						<div class="FlexiContent">
							<p>
								<a href="javascript:void(0)" onclick="launchApp('Venge')"><span style="background-image: url(Progdir:Gfx/game_venge.png)"></span></a>
							</p>
							<p>
								<a href="javascript:void(0)" onclick="launchApp('Venge')">Venge</a>
							</p>
						</div>
						<div class="FlexiContent">
							<p>
								<a href="javascript:void(0)" onclick="launchApp('FlappyBird')"><span style="background-image: url(Progdir:Gfx/game_flappy.png)"></span></a>
							</p>
							<p>
								<a href="javascript:void(0)" onclick="launchApp('FlappyBird')">Flappy Bird</a>
							</p>
						</div>
						<div class="FlexiContent">
							<p>
								<a href="javascript:void(0)" onclick="launchApp('Swooop')"><span style="background-image: url(Progdir:Gfx/game_swoop.png)"></span></a>
							</p>
							<p>
								<a href="javascript:void(0)" onclick="launchApp('Swooop')">Swooop</a>
							</p>
						</div>
					</div>
				</div>
				<div class="ExtraContent">
					<h2>Get some fun into your day!</h2>
					<p>
						Friend is a great games platform, with several fun titles
						for you to try. Check the list of wonderful games!
					</p>
				</div>
			</div>
			<!--<div class="WelPage Mail">
				<div class="TextContent">
					<h2>
						Friend Mail and Calendar
					</h2>
					<p>
						The Friend Workspace gives you the entire workflow for
						communicating with others. With Friend Mail, you get 
						e-mail correspondence and calendar management in one
						app.
					</p>
					<p>
						Friend Mail is integrated with Friend storage folders,
						which allows you to manage attachment upload and download
						without placing files on your local machine.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>-->
			<div class="WelPage Drawio">
				<div class="TextContent">
					<h2>
						Design flowcharts, edit diagrams
					</h2>
					<p>
						When planning or describing technology architecture,
						projects or design solutions – or simply making charts
						for presentations or documentation – DrawIO is a powerful
						app to consider.
					</p>
					<p>
						DrawIO is integrated with Friend, and in addition to being
						able to store and open .drawio files from Friend storage
						folders - it can autosave, allowing you to concentrate
						on your work.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage Photopea">
				<div class="TextContent">
					<h2>
						Edit photos, design graphical layouts
					</h2>
					<p>
						Photopea gives you most of the features found in applications
						like PhotoShop, Sketch and The Gimp. It even supports
						popular image file formats.
					</p>
					<p>
						Photopea is integrated in Friend OS, and supports
						Friend storage folders as well as drag & drop. This means
						that you can manage and work on your projects right inside
						of the Friend Workspace.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
			<div class="WelPage More">
				<div class="TextContent">
					<h2>
						In Friend OS, there's just so much you can do!
					</h2>
					<p>
						The Friend Workspace is flushed with features and apps.
						Here are some apps you can try: 
					</p>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td valign="top">
								<ul>
									<li><strong>Notes</strong> - a simple note-taking and management</li>
									<li><strong>Author</strong> - a basic "wordpad" application</li>
									<li><strong>Friend Create</strong> - build your own apps!</li>
								</ul>
							</td>
							<td valign="top">
								<ul>
									<li><strong>Bassoon Tracker</strong> - making your own music</li>
									<li><strong>Friend Jukebox</strong> - a music player and playlist</li>
									<li><strong>Friend Shell</strong> - the command line tool for the Friend</li>
								</ul>
							</td>
						</tr>
					</table>
					<p>
						The Friend software catalog is expanded continuously. So please
						watch for community news, as we adopt and make new software available.
					</p>
				</div>
				<div class="ImageContent">
				</div>
			</div>
		</div>
		<div class="BottomInfo">
			<div class="ImageLink"><iframe width="400" height="260" src="https://www.youtube.com/embed/ldolxyO2jRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
			<div class="ImageDescription">
				<h2>
					Get acquainted with Friend OS in minutes
				</h2>
				<p>
					In this short video, you will see how easy to use Friend OS
					is for online productivity, communication and collaboration.
				</p>
				<p class="Smaller">
					If you want to delve deeper into Friend OS, please reference
					our end-user documentation here: <a href="https://docs.friendos.com/docs/end-user-documentation/" target="_blank">Read documentation</a>.
				</p>
			</div>
		</div>
	</div>
	<div id="Dontsee" onclick="nevershow()">
		<span>Stop autostarting this app.</span>
	</div>
	<script src="Progdir:Scripts/welcome.js"></script>
	<style>
		.WelTab.Active:after
		{
			background-image: url('Progdir:Gfx/curve_tab_right.png');
		}
		.WelTab.Active:before
		{
			background-image: url('Progdir:Gfx/curve_tab_left.png');
		}
		@font-face
		{
			font-family: 'AssistantBold';
			src: url('Progdir:Css/Assistant-Bold.ttf');
		}
		@font-face
		{
			font-family: 'TheSaira';
			src: url('Progdir:Css/SairaCondensed-Regular.ttf');
		}
		.WelTab > span.Conference:after
		{ background-image: url('Progdir:Gfx/icon_conference.png'); }
		.WelTab > span.Drawio:after
		{ background-image: url('Progdir:Gfx/icon_drawio.png'); }
		.WelTab > span.Photopea:after
		{ background-image: url('Progdir:Gfx/icon_photopea.png'); }
		.WelTab > span.Mail:after
		{ background-image: url('Progdir:Gfx/icon_mail.png'); }
		.WelTab > span.Games:after
		{ background-image: url('Progdir:Gfx/icon_games.png'); }
		.WelTab > span.Office:after
		{ background-image: url('Progdir:Gfx/icon_office.png'); 
		  background-size: 101%;
		}
		.WelTab > span.Chat:after
		{ background-image: url('Progdir:Gfx/icon_chat.png'); }
		.WelTab > span.More:after
		{ background-image: url('Progdir:Gfx/icon_more.jpg'); }
		.WelTab > span.Welcome:after
		{ background-image: url('Progdir:Gfx/icon_welcome.png'); }
		.WelPage.Office .ImageContent
		{ background-image: url('Progdir:Gfx/app_office.png'); }
		.WelPage.Mail .ImageContent
		{ background-image: url('Progdir:Gfx/app_mail.png'); }
		.WelPage.Photopea .ImageContent
		{ background-image: url('Progdir:Gfx/app_photopea.png'); }
		.WelPage.Drawio .ImageContent
		{ background-image: url('Progdir:Gfx/app_drawio.png'); }
		.WelPage.Conference .ImageContent
		{ background-image: url('Progdir:Gfx/app_conference.png'); }
		.WelPage.Chat .ImageContent
		{ background-image: url('Progdir:Gfx/app_chat.png'); }
		.WelPage.More .ImageContent
		{ background-image: url('Progdir:Gfx/app_more.png'); }
		.WelPage.Welcome .ImageContent
		{ background-image: url('Progdir:Gfx/app_welcome.png'); }
	</style>
	

