.PageScroll
{
	padding-right: 8px;
	box-sizing: border-box;
}

.HBox
{
	float: left;
	margin: 8px 0 8px 8px;
	width: calc(50% - 8px);
	height: 200px;
	position: relative;
	overflow: hidden;
	background: rgba(100,100,100,0.1);
}

@media (max-width: 500px)
{
	.HBox
	{
		width: calc(100% - 8px);
		float: none;
	}
}

@media (min-width: 1000px)
{
	.HBox
	{
		width: calc(33% - 8px);
	}
}

.HBox > *
{
	z-index: 2;
	position: relative;
}

.HCont:after
{
	content: " ";
	display: block;
	clear: both;
}


.HBox .TheButton
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	box-sizing: border-box;
}

.HBox .TheButton *
{
	display: inline;
}

.ProductImage .Image
{
	height: calc(100% - 51px);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
}

.ProductImage > p, .ProductImage h2
{
	width: calc(50% - 20px);
	position: relative;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.ProductImage > p.Layout
{
	box-sizing: border-box;
	font-size: 14px;
}

#SortAlphaNumeric,
#SortCategory
{
	position: relative;
	width: 100%;
	overflow: hidden;
}

#SortAlphaNumeric button,
#SortCategory button
{
	margin-bottom: 5px;
}

