

.HBox
{
	float: left;
	margin: 2px;
	width: calc(33% - 4px);
	height: 160px;
	position: relative;
	overflow: hidden;
}

.HBox > *
{
	z-index: 2;
	position: relative;
}

.HCont:after
{
	content: " ";
	display: block;
	clear: both;
}


.HBox .TheButton
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	box-sizing: border-box;
	border-radius: 0 0 5px 5px;
}

.HBox .TheButton *
{
	display: inline;
}

.ProductImage img
{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 50%;
	height: auto;
}

.ProductImage > p, .ProductImage h2
{
	width: 50%;
}

.ProductImage
{
	
}

#SortAlphaNumeric,
#SortCategory
{
	position: relative;
	width: 100%;
	overflow: hidden;
}

#SortAlphaNumeric button,
#SortCategory button
{
	margin-bottom: 5px;
}
