body
{
	overflow: hidden;
}

/* Non logged in state */

body.Inside
{
	background: #222222;
}

body #Screens
{
	transition: opacity 0.5s;
	background-image: url(../theme/loginimage.jpg);
	background-position: center center;
	background-size: cover;
}

body.Login #Screens
{
	opacity: 1;
}

body.Loading #Screens
{
	opacity: 0;
}

body.Inside #Screens
{
	opacity: 1;
	background-image: none;
}

/* Hide this in the beginning */
body #DeepestField
{
	opacity: 0;
}

/* Actiontray --------------------------------------------------------------- */

#ActionTray
{
	position: fixed;
	right: 5px;
	bottom: 5px;
}

#ActionTray input
{
	position: absolute;
	right: 0;
	height: 17px;
	line-height: 17px;
	padding: 3px 8px;
	bottom: -3px;
	width: 110px;
	border: 0;
	opacity: 0.7;
	background: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#ActionTray input:focus
{
	opacity: 1;
}

#Tray
{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 0px;
    height: 32px;
    z-index: 999
}

#Tray > div
{
    width: 32px;
    height: 32px;
    float: right;
    color: white;
    text-align: center;
    cursor: hand;
    cursor: pointer;
    line-height: 32px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
#Tray > div:hover
{
    color: #ffee00;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}

.SpeechResponse
{
	position: absolute;
	top: 40%;
	left: 5%;
	width: 90%;
	transition: opacity 0.5s;
}

.SpeechResponse > .Response
{
	min-height: 60px;
	font-size: 30px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	border-radius: 20px;
	padding: 20px;
}

/* Voice overlay handsfree mode --------------------------------------------- */

#Handsfree
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: rgba(255,255,255,0.5);*/
    background: rgba(255,255,255,0.0);
    text-align: center;
    z-index: 9999999;
}
#Handsfree div > button
{
	position: absolute;
	top: -100000px;
    /*visibility: visible;
    position: absolute;
    top: 25%;
    height: 50%;
    left: 25%;
    width: 50%;
    border: 0;
    background-color: transparent;
    padding: 0;
    background-image: url(../gfx/system/VoiceIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
    outline: none;*/
}
#Handsfree div > button:active, 
#Handsfree div > button:focus
{
    border: 0;
    outline: 0;
}
#Handsfree div > button > button
{
    display: none;
}

#Handsfree input
{
    position: absolute;
    top: -10000px;
}

@-webkit-keyframes micblink
{
  0%   { color: #ffdd00; }
  50% { color: #ff4444; }
  100%   { color: #ffdd00; }
}

#Handsfree.listening + #Screens #Tray > .Microphone:before
{
	color: #ff4444;
	transition: color 0.2s;
	-webkit-animation: micblink 2s infinite;
	-moz-animation:    micblink 2s infinite;
	-o-animation:      micblink 2s infinite; 
	animation:         micblink 2s infinite;
}

/* Desklets ----------------------------------------------------------------- */

.Desklet
{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: rgba(0,0,0,0.5);
	-webkit-transform: rotateZ(0deg);   
   -moz-transform: rotateZ(0deg);   
   -o-transform: rotateZ(0deg);   
   -ms-transform: rotateZ(0deg);   
 	transform: rotateZ(0deg);   
}
.Desklet .Launcher
{
	float: left;
	margin: 4px 0 0px 4px;
	cursor: hand;
	cursor: pointer;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.25s;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 0 0 rgba(128,128,128,0);
}
.Desklet .Launcher + .Launcher
{

}

.Desklet .Launcher:hover
{
	opacity: 0.7;
	box-shadow: 0px 0px 20px rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}

#DoorsScreen
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #3f3f3f;
	overflow: hidden;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

#DoorsScreen > .ScreenContent
{
	position: absolute;
	top: 32px !important;
	width: 100%;
	bottom: 0px;
	overflow: auto;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.Screen
{
	-webkit-transform: rotateZ(0deg);
   -moz-transform: rotateZ(0deg);
   -o-transform: rotateZ(0deg);
   -ms-transform: rotateZ(0deg);
 	transform: rotateZ(0deg);
}

.Screen > .TitleBar
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 32px;
	background: white;
	z-index: 2147483647;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
	background-image: url(../gfx/theme/logo_20px.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 30px;
}

.Screen > .TitleBar > .Left *
{
	float: left;
	margin: 0 5px 0 0;
}

.Screen > .TitleBar > .Left > .Extra
{
	float: right;
}

.Screen > .TitleBar > .Left
{
	padding: 8px 35px 6px 5px;
	margin-left: 3px;
	border-left: 1px solid #f0f0f0;
	height: 32px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.Screen > .TitleBar > .Right
{
	float: right;
}

.Screen > .TitleBar > .Right > .Clock
{
	position: absolute;
	width: 50px;
	height: 32px;
	right: 33px;
	top: 0;
	line-height: 32px;
	text-align: center;	
}

.Screen > .TitleBar .ScreenList
{
	width: 32px;
	height: 32px;
	border-left: 1px solid #f0f0f0;
	position: absolute;
	right: 0;
	top: 0;
}

.Screen > .TitleBar .ScreenList > img
{
	position: absolute;
	top: 4px;
	left: 4px;
}

.Screen > .TitleBar .ScreenList:Active img
{
	opacity: 0.5;
	filter:opacity(alpha=50);
}

.Frameloader, .Imageloader
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
}

.Imageloader
{
	height: auto;
}

/* -------------------------------------------------------------------------- *\

Icon styles for the workbench
Just so that we can keep the outputted HTML smaller by using CSS classes :)

\* -------------------------------------------------------------------------- */

.File a
{
	color: #202020;
	/*text-shadow: 0 1px 0 #000;*/
}

#Doors .File a
{
	color: #FFF;
	text-shadow: 0 1px 0 #000;	
}

.File
{
	cursor: pointer;
	float: left;
	margin: 0;
	overflow: visible;
	position: relative;
	width: 96px;
	height: 80px;
	padding: 2px;
	margin: 20px 0 0 10px;
}

.File.Selected
{
	background: none;
}

.File .Icon
{
	height: 56px;
	width: 56px;
	position: relative;
	z-index: 2;
	margin: auto;
}

.File .Icon > div
{
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

.File.Selected
{
	/*
	opacity: 0.7;
	filter:alpha(opacity=70);
	why do we want to make them transparent?
	*/
}

.File.Selected .Title
{
	background-color: #404040;
	background-color: rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.8);
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: white;
	z-index: 1;
}

.File .Title
{
	float: left;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: 100%;
	line-height: 135px;
	white-space: nowrap;
	font-weight: normal;
}

/* Specific icons */

.File > .Icon > div
{
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.File .Icon .File
{
	float: none;
}

.File .Icon .File
{
	background: url(../gfx/icons/64x64/mimetypes/unknown.png);
	background-size: contain;
}

.File .Icon .Drive
{
	background: url(../gfx/icons/64x64/devices/drive-harddisk.png);
	background-size: contain;
}

.File .Icon .Directory
{
	background: url(../gfx/icons/64x64/places/folder.png);
	background-size: contain;
}

.File .Icon .Directory.Upload
{
	background: url(../gfx/icons/64x64/places/folder-downloads.png);
	background-size: contain;
}

.File .Icon .NetworkDirectory
{
	background: url(../gfx/icons/64x64/places/folder-network.png);
	background-size: contain;	
}

.File .Icon .Arena
{
	background: url(../gfx/icons/64x64/apps/kjournal.png);
	background-size: contain;
}

.File .Icon .System
{
	background: url(../gfx/icons/64x64/devices/computer.png);
	background-size: contain;
}


.File .Icon .Home
{
	background: url(../gfx/icons/64x64/places/user-home.png);
	background-size: contain;
}

.File .Icon .Application
{
	background: url(../gfx/icons/64x64/mimetypes/application-x-desktop.png);
	background-size: contain;
}

.File .Icon .Trashcan
{
	background: url(../gfx/icons/64x64/status/user-trash-full.png);
	background-size: contain;
}

.File .Icon .Ram
{
	background: url(../gfx/icons/64x64/devices/media-flash.png);
	background-size: contain;
}

.File .Icon .Custom
{
	background-size: contain;
}

.File .Icon .Door
{
	background: url(../gfx/icons/64x64/devices/drive-harddisk.png);
	background-size: contain;
}

.File .Icon .article
{
	background: url(../gfx/icons/64x64/apps/knewsticker.png);
	background-size: contain;
}

.File .Icon .TypeJPG, .File .Icon .TypeJPEG, .File .Icon .TypePNG, 
.File .Icon .TypeGIF
{
	background: url(../gfx/icons/64x64/mimetypes/image-x-generic.png);
	background-size: contain;
}

.File .Icon .TypeDOC
{
	background: url(../gfx/icons/64x64/mimetypes/application-msword.png);
	background-size: contain;
}

.File .Icon .TypePDF
{
	background: url(../gfx/icons/64x64/mimetypes/application-pdf.png);
	background-size: contain;
}

.File .Icon .TypeTXT
{
	background: url(../gfx/icons/64x64/mimetypes/text-plain.png);
	background-size: contain;
}

.File .Icon .TypeRUN
{
	background: url(../gfx/icons/64x64/mimetypes/application-x-executable-script.png);
	background-size: contain;
}

.File .Icon .TypeMP3,
.File .Icon .TypeOGG,
.File .Icon .TypeWAV
{
	background: url(../gfx/icons/64x64/mimetypes/audio-x-generic.png);
	background-size: contain;
}

.File .Icon .TypeHTML
{
	background: url(../gfx/icons/64x64/mimetypes/text-html.png);
	background-size: contain;
}

.File .Icon .TypeJS, .File .Icon .TypeJSX
{
	background: url(../gfx/icons/64x64/mimetypes/application-x-javascript.png);
	background-size: contain;
}

.File .Icon .TypeAVI
{
	background: url(../gfx/icons/64x64/mimetypes/video-x-generic.png);
	background-size: contain;
}

.File .Icon .TypeMPG, .File .Icon .TypeMPEG
{
	background: url(../gfx/icons/64x64/mimetypes/video-x-generic.png);
	background-size: contain;
}

.File .Icon .TypeMOV, .File .Icon .TypeMP4
{
	background: url(../gfx/icons/64x64/mimetypes/video-x-generic.png);
	background-size: contain;
}

.File .Icon .Application.System_Tools
{
	background: url(../gfx/icons/64x64/categories/applications-utilities.png);
	background-size: contain;
}

.File .Icon .Application.System_Prefs
{
	background: url(../gfx/icons/64x64/categories/preferences-system.png);
	background-size: contain;
}

.File .Icon .Application.System_Plugins
{
	background: url(../gfx/icons/64x64/categories/preferences-other.png);
	background-size: contain;
}

.File .Icon .Application.System_Docs
{
	background: url(../gfx/icons/64x64/categories/system-help.png);
	background-size: contain;
}

.File .Icon .Application.System_Modules
{
	background: url(../gfx/icons/64x64/categories/applications-system.png);
	background-size: contain;
}

.File .Icon .Application.System_Applications
{
	background: url(../gfx/icons/64x64/categories/applications-other.png);
	background-size: contain;
}

.Launcher .File, 
.Launcher .File div 
{
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Special case for the main doors screen */
#DoorsScreen > .ScreenContent > .Scroller > div > .File > .Title
{
	color: white;
	text-shadow: 0px 1px 1px black;
}

/* Progress bars ------------------------------------------------------------ */
.Frame .Groove + .Bar
{
	background-image: url(../gfx/system/progressbar.gif);
	background-repeat: repeat-x;
	background-size: auto;
	background-position: 0 0;
	height: 16px;
}

/* Listview directory view -------------------------------------------------- */

div.Listview
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.Listview > .Headers
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: #cccccc;
}

div.Listview > .Headers > .Header
{
	float: left;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 6px;
	font-weight: bold;
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-right: 1px solid #555555;
	border-bottom: 1px solid #555555;
	cursor: hand;
	cursor: pointer;
}

div.Listview > .Headers > .Header:active
{
	border-top: 1px solid #555555;
	border-left: 1px solid #555555;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	background: rgba(0,0,0,0.1);
}

div.Listview > .Icons
{
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100%;
	bottom: 30px;
}

div.Listview > .Icons > .Scroller
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

div.Listview > .Icons > .Scroller > .Row
{
	position: absolute;
	height: 30px;
	width: 100%;
	clear: both;
}

div.Listview > .Icons > .Scroller > .Row > .Column
{
	float: left;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 6px;
	font-weight: normal;
	border-left: 1px solid #efefef;
	border-right: 1px solid #555555;
	cursor: hand;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 30px;
}

div.Listview > .Icons > .Scroller > .Row.Odd .Column
{
	background: #e0e0e0;
}

div.Listview > .Icons > .Scroller > .Row:hover > .Column
{
	background: #a0a0a0;
}

div.Listview > .Footer
{
	position: absolute;
	bottom: 0;
	height: 30px;
	left: 0;
	right: 0;
	border-top: 1px solid #efefef;
	border-left: 1px solid #efefef;
	border-right: 1px solid #555555;
	border-bottom: 1px solid #555555;
	background: #cccccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 6px;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}

html #Statusbar
{
	position: absolute;
	height: 30px;
	bottom: 0px;
	left: 5px;
	right: 5px;
	background: transparent;
	opacity: 1;
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
}

#Statusbar .Task
{
	position: relative;
	float: left;
	display: block;
	height: 30px;
	box-sizing: border-box;
	margin: 0 5px 0 5px;
	bottom: 0px;
	padding: 7px 8px 7px 38px;
	background-color: #878787;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor: hand;
	cursor: pointer;
	transition-property: bottom, opacity, box-shadow, background;
	transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-size: 25px 25px;
	background-position: 8px 3px;
	background-image: url(/webclient/gfx/icons/128x128/categories/applications-utilities.png);
	background-repeat: no-repeat;
}

#Taskbar[full=full] .Task
{
	max-width: 50px;
}

#Statusbar .Task.Active
{
	background-color: #4A9DC2;
}

#Statusbar .Task.Hidden
{
	opacity: 0.5;
	bottom: -5px;
}

#Statusbar .Task:hover
{
	box-shadow: 0px 0px 10px 0px rgba(255,245,100,0.5);
	opacity: 1;
}

/* Screens */

#Screens
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
}

#Screens > div
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #2F669F;
}

#Screens .View
{
	position: absolute;
}

#Screens .View > .Content > iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	outline: none;
}

/* Regions */

#RegionSelector
{
	-webkit-transform: rotateZ(0deg);
   -moz-transform: rotateZ(0deg);
   -o-transform: rotateZ(0deg);
   -ms-transform: rotateZ(0deg);
 	transform: rotateZ(0deg);
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.1);
	position: absolute;
	z-index: 0;
}

/* Mouse pointer */

#MousePointer
{
	-webkit-transform: rotateZ(0deg);
   -moz-transform: rotateZ(0deg);
   -o-transform: rotateZ(0deg);
   -ms-transform: rotateZ(0deg);
 	transform: rotateZ(0deg);
}

/* Deepest field ------------------------------------------------------------ */

/* Loggedin state */
.Inside #DeepestField
{
	position: absolute;
	top: 30px;
	left: 60px;
	bottom: 60px;
	right: 60px;
	background: #404040;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	z-index: 0;
}

.Inside #DeepestField > div
{
	position: absolute;
	top: 20px; left: 20px;
	right: 20px; bottom: 20px;
}

#DeepestField > div > #TasksHeader, #DeepestField > div > #ShellHeader
{
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	width: 49%;
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

#DeepestField > div > #ShellHeader
{
	left: 51%;
}

#DeepestField > div > #Tasks, #DeepestField > div > #ShellOutput
{
	position: absolute;
	top: 29px;
	left: 0;
	width: 49%;
	height: 50%;
	font-size: 18px;
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	box-sizing: border-box;
	background: rgba(0,0,0,0.8);
	padding: 10px;
}

#DeepestField > div > #ShellOutput
{
	left: 51%;
	font-family: monospace, courier, courier new;
	font-size: 13px;
	overflow: auto;
}


#DeepestField .AppSandbox
{
	float: left;
	margin: 0 20px 20px 0;
	width: 48px;
	height: 48px;
	position: relative;
	z-index: 1;
	background: black;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#DeepestField .AppSandbox > .Close
{
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background-color: #333333;
	background-position: center;
	background-size: contain;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	transition: background 0.3s;
	cursor: hand;
	cursor: pointer;
}

#DeepestField .AppSandbox > iframe
{
	visibility: hidden;
	top: 0px;
	width: 1px;
	height: 1px;
}

#DeepestField .AppSandbox > .Close:hover
{
	background-color: #cc4433;
}

#DeepestField .AppSandbox > .Taskname
{
	position: absolute;
	bottom: -22px;
	font-size: 11px;
	left: -10px;
	right: -10px;
	height: 20px;
	text-align: center;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.Inside > input
{
	visibility: hidden;
	position: absolute;
	top: -100px;
}

.InputHeight
{
	padding: 0;
	margin: 0;
	line-height: 30px;
	height: 30px;
}

