/* Base theme */

:root
{
    --fui-background: #ECF0F1; /* --fui-default-background? */
    --fui-background-dim: #ECF0F188; 
    --fui-color: #333333;
    --fui-color-emphasized: #000000;
    --fui-background-foreground: white;
    --fui-background-foreground-dim: #ffffff88;
    --fui-border-foreground: #DDDDDD;
    
    
    --fui-list-background: #d1d5d5;
    --fui-list-item-background: #ecf0f1;
    --fui-list-item-background-alternate: #d1d5d5;
    --fui-list-item-color: #1f2527;
    --fui-list-item-color-alternate: #2f3537;
    --fui-list-item-background-hover: #696a6b;
    --fui-list-item-color-hover: #ecf0f1;
    
    --fui-list-button-background: #cfcfcf;
    --fui-list-button-background-hover: #909090;
    --fui-list-button-color-hover: #ffffff;
    --fui-list-button-color: #000000;
    --fui-list-button-color-hover: #f0f0f0;

    --fui-menu-background: #20374D;
    --fui-menu-color: white;
    --fui-padding-large: 20px;
    --fui-padding-normal: 10px;
    --fui-padding-row: 5px;
    
    --fui-button-background: #E3E7E8;
    --fui-button-color: #202020;
    --fui-button-background-hover: #a84cd3;
    --fui-button-color-hover: #e0e0e0;
    
    --fui-canvas-background: #b1b2b3;
    
    --fui-list-hover-background: #efefef;
    --fui-module-background: #20374d;
    --fui-module-background-darker: #1c3145;
    --fui-module-background-hover: #39658b;
    --fui-module-background-active: #20374d; 
    --fui-module-color: white;
    --fui-module-color-active: #1a344c;
    
    --fui-border-normal: 1px solid #dddddd;
    
    --fui-checkbox-checked: #22b060;
    --fui-checkbox: #b0b0b0;
    --fui-checkbox-button: #ffffff;
    
    --fui-border-color-negative: #ffffff;
    --fui-border-color: #afafaf;
    --fui-border-radius-normal: 5px;
    --fui-border-radius-small: 3px;
    --fui-box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    
    --fui-alert-border-color: red;
    
    --fui-palette-chan01: #20374D;
    --fui-palette-chan02: #058ED9;
    --fui-palette-chan03: #d7c2ad;
    --fui-palette-chan04: #FF82A9;
    --fui-palette-chan05: #b9fc97;
    
    --fui-palette-chan01-dim: #20374D88;
    --fui-palette-chan02-dim: #058ED988;
    --fui-palette-chan03-dim: #d7c2ad88;
    --fui-palette-chan04-dim: #FF82A988;
    --fui-palette-chan05-dim: #b9fc9788;
    
    --fui-palette-chan01-dimmer: #20374D33;
    --fui-palette-chan02-dimmer: #058ED933;
    --fui-palette-chan03-dimmer: #d7c2ad33;
    --fui-palette-chan04-dimmer: #FF82A933;
    --fui-palette-chan05-dimmer: #b9fc9733;
    
    --font-size-small: 12px;
    --font-size-normal: 15px;
    --font-size-large: 18px;
    --font-size-x-large: 22px;
}

/* Check boxes */

.FUICheckbox
{
    position: relative;
    width: 40px;
    height: 18px;
    background-color: var(--fui-checkbox);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.FUICheckbox.FUIChecked
{
    background-color: var(--fui-checkbox-checked);
}

.FUICheckbox .FUIGroove
{
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: transparent;
    overflow: hidden;
    border-radius: 5px;
}

.FUICheckbox .FUIGroove .FUIButton
{
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
    transition: left,border-radius 0.25s,0.25s;
    background-color: var(--fui-checkbox-button);
    border-radius: 5px;
}

.FUICheckbox.FUIChecked .FUIGroove .FUIButton
{
    left: 50%;
    border-radius: 5px;
}

/* Radio boxes */

.FUIRadiobox
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    gap: 5px;
}

.FUIRadiobox > .FUIRadioElement > .FUIRadioToggle
{
    cursor: pointer;
}

.FUIRadiobox > .FUIRadioElement > .FUIRadioToggle:after
{
    content: " ";
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid var(--fui-border-color);
    background-color: var(--fui-checkbox-button);
    margin-left: 5px;
    vertical-align: middle;
}

.FUIRadiobox > .FUIRadioElement.FUISelected > .FUIRadioToggle:after
{
    background-color: var(--fui-menu-background);
}

/* Groups */

.FUIGroup
{
    display: flex;
}

.FUIGroup.FUIRows
{
    flex-direction: column;
}

.FUIGroup.FUIColumns
{
    flex-direction: row;
}

.FUIGroup > .FUIRow
{
    margin-bottom: var(--fui-padding-row);
    min-height: 25px;
}

.FUIGroup > .FUIColumn
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 25px;
    min-width: 0;
}

/* Picture */

.FUIPicture
{
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
}

/* Listview */

.FUIListview .FUIListviewHeader 
{
	border-radius: var(--fui-border-radius-small) var(--fui-border-radius-small) 0 0;
	background-color: var(--fui-module-background);
	color: var(--fui-module-color);
	padding: var(--fui-padding-normal);
}

.FUIListviewHeader > *
{
    display: inline-block;
}

.FUIListviewHeader > div
{
    line-height: 34px;
}

.FUIListviewHeader .HeaderButton
{
    text-align: center;
    width: 18px;
    height: 24px;
    float: left;
    display: block;
    margin: 0 0 0 5px;
}

.FUIListviewToolbar
{
    float : right;
}

.FUIListviewToolbar > * 
{
    display: inline-block;
}

.FUIListviewToolbar .HeaderButton
{
    float : right;
}

.FUIListview .FUIListviewHeader h2
{
	margin: 0;
	padding: 0;
}

.FUIListview .FUIListviewHeaders
{
	font-weight: bold;
	background-color: var(--fui-module-background);
	color: var(--fui-module-color);
}

.FUIListview .FUIListviewHeaders .HRow,
.FUIListview .FUIListviewContent .HRow, .FUIListview .FUIListviewContent .HRow > div
{
	max-height: 29px;
	overflow: hidden;
}

.FUIListview .FUIListviewHeaders .HRow > div
{
	padding: var(--fui-padding-row) var(--fui-padding-normal) var(--fui-padding-row) var(--fui-padding-normal);
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}

.FUIListview .FUIListviewContent
{
	background-color: var(--fui-background-foreground);
	color: var(--fui-color);
	padding-bottom: var(--fui-padding-row);
	border-radius: 0 0 var(--fui-border-radius-small) var(--fui-border-radius-small);
}

.FUIListview .FUIListviewContent .HRow > div
{
	padding: var(--fui-padding-row) var(--fui-padding-normal) var(--fui-padding-row) var(--fui-padding-normal);
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}

.FUIListview .FUIListviewContent .HRow > div.FUIListviewOnclick
{
	cursor: pointer;
}
.FUIListview .FUIListviewContent .HRow > div.FUIListviewOnclick:hover
{
	color: var(--fui-color-emphasized);
}

.FUIListview .FUIListviewContent .EditRow
{
    background-color: transparent;
    color: var(--fui-color);
    padding: 0;
}

.FUIListview .FUIListviewContent .EditRow.Yourself
{
    font-weight: bold;
}

.FUIListview .FUIListviewContent .EditRow:hover
{
    background-color: var(--fui-list-hover-background);
}

/* Button */

.FUIButtonElement
{
	background-color: var(--fui-list-button-background);
	color: var(--fui-list-button-color);
	border-radius: var(--fui-border-radius-small);
	padding: var(--fui-padding-row);
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

.FUIButtonElement.Clickable:hover
{
	background-color: var(--fui-list-button-background-hover);
    color: var(--fui-list-button-color-hover);
}

.FUIButtonElement:before
{
    margin: 0 4px 0 0;
}

/* String */

.FUIStringElement
{
	background-color: var(--fui-list-button-background);
	border: 1px solid var(--fui-border-color);
	color: var(--fui-list-button-color);
	border-radius: var(--fui-border-radius-small);
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 25px;
}

.FUIStringElement:before
{
    margin: 0 4px 0 0;
}

.FUIStringElement input
{
	background: none;
	border: 0;
	width: 100%;
	height: 100%;
	padding: var(--fui-padding-row);
	resize: none;
	padding: var(--fui-padding-row);
	cursor: text;
}

/* Textarea */

.FUITextareaContainer
{
	height: 100%;
}

.FUITextareaElement
{
	height: 100%;
	background-color: var(--fui-list-button-background);
	border: 1px solid var(--fui-border-color);
	color: var(--fui-list-button-color);
	border-radius: var(--fui-border-radius-small);
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

.FUITextareaElement:before
{
    margin: 0 4px 0 0;
}

.FUITextareaElement textarea
{
	background: none;
	border: 0;
	width: 100%;
	height: 100%;
	padding: var(--fui-padding-row);
	resize: none;
	cursor: text;
}


