html, body
{
	position: relative;
}

/* Main screen */

#Screens
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#Screens > div.Screen > .TitleBar
{
	overflow: hidden;
	display: block;
	height: 0;
	transition: height 0.25s;
}

#Screens > div.Screen + div.Screen > .TitleBar,
#Screens > div.Screen[moved=moved] > .TitleBar
{
	pointer-events: none;
	height: 32px;
}

#Screens > div.Screen > .TitleBar .Left .Extra
{
	display: none;
}

#Screens > div.Screen > .ScreenContent
{
	top: 0px !important;
	position: absolute;
	transition: top 0.25s;
}

/* Sub screens */
#Screens > div.Screen + div.Screen
{
	padding-top: 32px;
}
#Screens > div.Screen + div.Screen .View.Active[maximized=true]
{
	top: 32px !important;
	height: calc(100% - 64px) !important;
	min-height: calc(100% - 64px) !important;
}
/* End sub screens */

#Screens > div.Screen + div.Screen > .ScreenContent,
#Screens > div.Screen[moved=moved] > .ScreenContent
{
	top: 32px !important;
}

#Screens > div.Screen
{
	padding-top: 0;
	transition: padding-top 0.25s;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#Screens > div.Screen[moved=moved]
{
	padding-top: 32px;
}

#Statusbar { display:none; }

#DoorsScreen > .offline
{
	font-size: 32px;
	opacity: 0.7;
}

.Offline .Screen .Widget { border-top:5px solid #F00; }

#DoorsScreen #Statusbar
{
	display: none;
}

#DoorsScreen > .ScreenContent > .Scroller
{
	bottom: 0px;
	position: absolute !important;
	height: 105px;
	left: 0;
	right: 80px;
}

#Screens .View
{
	position: relative;
	width: auto !important;
	left: 0 !important;
	top: auto !important;
	height: 35px;
	width: 100% !important;
	max-width:100%;
	clear: both;
	float: left;
	overflow: hidden;
	transition: opacity,top 0.2s,0.2s;
	-moz-transition: opacity,top 0.2s,0.2s;
	-webkit-transition: no opacity,top 0.2s,0.2s;
}

/* Popup dialog boxes lil bit larger */
#Screens .View > .Content > div.Dialog
{
	font-size: 24px;
}

#Screens .View.Active
{
	overflow: auto;
	min-height: 175px; /* calc(100% - 200px); */
}

#Screens .View.Active .PopupMenu
{
	left: 10px;
	top: 35px;
	right: 10px;
	box-shadow: 0px 0px 1px 1px white;
	height: 126px;
	border-radius: 2px;
	overflow: auto;
	border: 0;
}

html .View.HasPopupMenu > .Title > div > span
{
	width: auto;
}

#Screens .View.Active[maximized=true]
{
	position: absolute;
	top: 0 !important; 
	left: 0 !important; 
	width: 100% !important; 
	height: 100% !important;
	min-height: 100% !important;
	z-index: 99999999 !important;
}

#Screens .View.Active[maximized=true] .PopupMenu
{
	height: 80vh;
}

#Screens .View.Active .BottomBar
{
	display: block;
}

.View > .Title > div > .Depth
{
	display: none;
}

html .View > .Title > div > .Zoom
{
	margin-right: -9px;
}

#Screens .File
{
	width: 56px;
}

#Screens .Listview .File
{
	width: 100%;
}

#Screens .File.Selected  .Title
{
    box-shadow: none;
    color: black;
    background-color: transparent;
}
/* Desklet */

.Desklet:before
{
	content:"\f0c9";
	font-family: fontawesome;
	font-size: 40px;
	display: block;
	width: 56px;
	height: 56px;
	line-height: 56px;
	background: rgba(0,0,0,0.5);
	margin: 12px 0 15px 15px;
	color: #ffffff;
	border-radius: 4px;
	position: absolute;
	top: -80px;
	left: -10px;
	text-align: center;
	transition: top, left, bottom, right, width, height 0.1s,0s,0.1s,0s,0s,0s;

}

.Desklet
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 64px;
	top: 100%;
	height: auto;
	margin:0px;
	transition: top, left, bottom, right, width, height 0.1s,0s,0.1s,0s,0s,0s;
	/*-moz-transition: top, left, bottom, right, width,height 0.5s,0.5s,0.5s,0.5s,0.5s,0.5s;
	-webkit-transition: top, left, bottom, right, width,height 0.5s,0.5s,0.5s,0.5s,0.5s,0.5s;*/

}

.Desklet .Launcher
{
	overflow:hidden;
	float:left; 
	margin:5px;
}
.Desklet .Launcher + .Launcher { margin:5px; }

.Desklet.Open
{
	top: 76px;
	bottom: 10px;
	z-index: 9999999;
	background: rgba(0,0,0,0.8);
	transition: top, left, bottom, right, width, height 0.1s,0s,0.1s,0s,0s,0s;
}

/* make it loook like a close button now.... */
.Desklet.Open:before
{
	position: absolute;
	top: -70px !important;
	left:-15px !important;
	height: 56px;
	background: rgba(0,0,0,0.8);
	bottom: auto !important;
	/*content: "\f00d";*/
}

.Desklet.Open:after
{
	position: absolute;
	top: -70px !important;
	height: 56px;
	bottom: auto !important;
	content: "\f00d";
	font-family: fontawesome;
	font-size: 40px;
	display: block;
	width: 56px;
	line-height: 56px;
	background: rgba(0,0,0,0.8);
	margin: 12px 0 15px 15px;
	color: #ffffff;
	border-radius: 4px;
	position: absolute;
	text-align: center;
	right:0px;
	transition: top, left, bottom, right, width, height 0.1s,0s,0.1s,0s,0s,0s;

}

/* Icons in general */

body[mobile=mobile] .File .Title
{
	text-align: center;
	width: 91px;
	font-weight: normal;
	white-space: normal;
}

/* Partition icons */

#DoorsScreen > .ScreenContent > .Scroller:before
{
	content:"\f07c";
	font-family: fontawesome;
	font-size: 40px;
	display: block;
	width: 56px;
	height: 56px;
	line-height: 56px;
	background: rgba(0,0,0,0.5);
	margin: 0;
	color: #ffffff;
	border-radius: 4px;
	position: absolute;
	top: -68px;
	left: 15px;
	text-align: center;
}

#DoorsScreen > .ScreenContent > .Scroller
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 64px;
	top: 100%;
	height: 0;
	background: rgba(0,0,0,0.5);
	border-radius: 4px;
	transition: top, left, bottom, right, width, height 0.1s,0s,0.1s,0s,0s,0s;
	box-sizing: border-box;
}

#DoorsScreen > .ScreenContent > .Scroller.Open
{
	z-index: 9999999;
	background: rgba(0,0,0,0.8);
	padding: 10px 4px;
}

#DoorsScreen > .ScreenContent > .Scroller.Open:before
{
	position: absolute;
	top: -58px !important;
	left:0;
	height: 56px;
	bottom: auto !important;
	background: rgba(0,0,0,0.8);
}
#DoorsScreen > .ScreenContent > .Scroller.Open:after
{
	position: absolute;
	top: -58px !important;
	right:0;
	bottom: auto !important;
	content: "\f00d";
	font-family: fontawesome;
	font-size: 40px;
	display: block;
	width: 56px;
	height: 56px;
	line-height: 56px;
	background: rgba(0,0,0,0.8);
	margin: 0;
	color: #ffffff;
	border-radius: 4px;
	position: absolute;
	text-align: center;	
	
}

/* Login */

body.Login > .View
{
	position: relative !important;
	top: calc(50% - 141px) !important;
	left: calc(50% - 148px) !important;
}

#Screens .View[minimized=minimized]
{
	display: none;
}

body[mobile=mobile] .View .Title > div > .Minimize
{
	display: none;
}

html body[mobile=mobile] .View > .Title > div > .Zoom
{
	border-right: 0;
}

/* mobile styles...  */
#Screens .View .BottomBar, #Screens .View .Resize
{
	display: none;
}
#Screens .View.Active .BottomBar, #Screens .View.Active .Resize
{
	display: block;
}

/* Status bar */

html #Statusbar
{
	z-index: 1 !important;
}

/* Toolbar */

html body[mobile=mobile] .View .DirectoryToolbar .Makedir
{
	display: none;
}

body[mobile=mobile] #DeepestField > div > #NetconnectionsHeader, 
body[mobile=mobile] #DeepestField > div > #Netconnections
{
	display: none;
}


