html, body
{
	position: relative;
}

/* Preload images */
body.Inside > img
{
	visibility: hidden;
	pointer-events: none;
}

/* Main screen */

#Screens
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#Screens > div.Screen > .TitleBar
{
	overflow: hidden;
	display: block;
	height: 0;
}

body:not(.ViewMaximized) #Screens > div.Screen > .TitleBar,
body.ViewMaximized.AppsShowing #Screens > div.Screen > .TitleBar
{
	padding-left: 0;
	height: 40px;
	background-color: #34495E;
}

#Screens > div.Screen > .TitleBar:after
{
	display: none;
}

body:not(.ViewMaximized) #Screens > div.Screen > .TitleBar > .Left,
body.ViewMaximized.AppsShowing #Screens > div.Screen > .TitleBar > .Left
{
	height: 40px;
	left: 10px;
	line-height: 42px;
	font-size: 1em;
}

body:not(.ViewMaximized) #Screens > div.Screen > .TitleBar > .Left > .Info:before
{
	display: inline-block;
	content: " ";
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	margin: 0 8px 0 0;
	background-image: url(/iconthemes/friendup15/ScreenLogo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

body:not(.ViewMaximized) #Screens > div.Screen > .TitleBar > .Left > .Info
{
	margin-left: 10px;
	color: white;
}

body #Screens > div.Screen > .TitleBar > .Right
{
	display: none;
}


#Screens .Screen .ScreenContent
{
	background-size: cover !important;
}

body #Screens > #DoorsScreen.Screen > .ScreenContent
{
	transition: transform 0.3s;
}

#Screens > div.Screen + div.Screen > .TitleBar,
#Screens > div.Screen[moved=moved] > .TitleBar
{
	pointer-events: none;
	height: 40px;
}

#Screens > div.Screen > .TitleBar .Left .Extra
{
	display: none;
}

#Screens > div.Screen > .ScreenContent
{
	top: 40px;
	position: absolute;
}

#Screens > .Screen + div.Screen > .ScreenContent {
    top: 0;
    height: 100% !important;
}

body:not(.HasMenu).ViewMaximized #Screens > div.Screen > .ScreenContent
{
	top: 0 !important;
	height: 100% !important;
}

/* Sub screens */
#Screens > div.Screen + div.Screen
{
	padding-top: 40px;
}
#Screens > div.Screen + div.Screen .View.Active[maximized=true]
{
	top: 40px !important;
	height: calc(100% - 64px) !important;
	min-height: calc(100% - 64px) !important;
}
/* End sub screens */

#Screens > div.Screen + div.Screen > .ScreenContent,
#Screens > div.Screen[moved=moved] > .ScreenContent
{
	width: 100%;
}

#Screens > div.Screen
{
	padding-top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#Screens > div.Screen[moved=moved],
#Screens > div.Screen.HasWidget
{
	padding-top: 40px;
}
body.WindowMenu #Screens > div.Screen
{
	padding-top: 0;
}

/* Calendar should always be on top */
body:not(.WidgetSlideDown) #Screens > div.Screen.HasWidget #CalendarWidget
{
	top: 0 !important;
}

.Calendar.MonthName:before
{
	content: "\f0c9";
	margin: 0 10px 0 0;
	display: inline-block;
	font-family: fontawesome;
}

.Calendar .Navigation
{
	display: none;
}

body.WidgetSlideDown .Calendar .Navigation
{
	display: block;
}

.WidgetSlideDown .Calendar.MonthName:before
{
	content: "\f073";
}

.ViewMaximized #CalendarWidget
{
	height: 0 !important;
	overflow: hidden !important;
	min-height: 0;
}

/* Top navigation for mobile */

html body #DoorsScreen:after
{
	content: " ";
	display: block;
	height: 40px;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	background-color: #34495E;
	z-index: 2147483646;
}

html body .Screen .MobileTopNavigation
{
	opacity: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	width: 40px;
	height: 40px;
	z-index: 2147483647;
	background-color: rgba(255,255,255,0);
	transition: background-color 0.25s;
	border-radius: 10px;
}

html body .Screen .MobileTopNavigation:active
{
	background-color: rgba(255,255,255,0.5);
}

html body .Screen .MobileTopNavigation:after
{
	display: block;
	content: "\f096";
	font-size: 16px;
	font-family: fontawesome;
	text-align: center;
	line-height: 40px;
}

html body .Screen .MobileAppMenu
{
	opacity: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px;
	z-index: 2147483647;
	background-repeat: no-repeat;
}

html body.AppsShowing .Screen .MobileAppMenu:after
{
	content: "\f107";
}

html body .Screen .MobileAppMenu:after
{
	display: block;
	color: white;
	content: "\f00a";
	font-size: 16px;
	font-family: fontawesome;
	text-align: center;
	line-height: 40px;
}


/* Mobile menu -------------------------------------------------------------- */

.AppsShowingTitle
{
	background: #34495E;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	padding-left: 35px;
	color: white;
	transform: translateX(0);
	transition: transform 0.25s;
	font-weight: bold;
}

.AppsShowing .ViewContainer.Active .ViewIcon,
.AppsShowing .TitleBar .Left .Info,
.AppsShowing #WorkspaceMenu
{
	display: none;
}

.AppsShowingTitle:before
{
	font-weight: normal;
	content: "\f00a";
	font-family: fontawesome;
	font-size: 1em;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	color: white;
}

.AppsShowingTitle.Opened
{
	transform: translateX(-100%);
}

[mobile] #WorkspaceMenu
{
	position: absolute;
	right: auto;
	top: 0;
	left: 100%;
	z-index: 2147483646;
	background-color: #34495e;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 1;
	pointer-events: all;
	transform: translateX(-40px);
	transition: opacity,transform 0.25s;
}

[mobile] #WorkspaceMenu:not(.Open) > div
{
	display: none;
}

[mobile] #WorkspaceMenu.Open
{
	height: calc(100% + 5px);
	width: 70%;
	transform: translateX(-100%);
	overflow: visible;
	box-sizing: border-box;
	padding-top: 40px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

html [mobile] #WorkspaceMenu.Open ul
{
	overflow: auto;
	background: #303030;
	display: block !important;
	color: white;
	position: fixed;
	left: 0;
	transform: translateX(100%);
	top: 40px;
	width: 100%;
	height: calc(100% - 40px);
	z-index: 10;
	padding: 0;
	margin: 0;
	border-left: 1px solid rgba(0,0,0,0.5);
	transition: transform 0.25s;
	box-shadow: none;
}

html [mobile] #WorkspaceMenu.Open .Menu > ul > li
{
	margin: 0;
	padding: 8px 20px;
	color: white;
}

html [mobile] #WorkspaceMenu.Open .Menu.HasSubMenu:after
{
	display: inline-block;
	margin-left: 10px;
	font-family: fontawesome;
	content: "\f105";
}

html [mobile] #WorkspaceMenu > div.MenuBack
{
	width: 40px;
	height: 40px;
	top: 0;
	left: 0px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	color: white;
	font-family: fontawesome;
}

html [mobile] #WorkspaceMenu > div.MenuBack:after
{
	display: block;
	content: "\f104";
}

html [mobile] #WorkspaceMenu.Open .Menu.Open > ul
{
	transform: translateX(0%);
	border-left: 0;
}

html #WorkspaceMenu .Menu
{
	padding: 8px 20px;
}

[mobile] #DoorsScreen .ScreenContent
{
	transition: transform 0.3s;
}

.ViewMaximized[mobile] #DoorsScreen > .ScreenContent > .Scroller
{
	display: none;
}

[mobile].WorkspaceMenuOpen #DoorsScreen .ScreenContent
{
	transform: translate(0px,0px) translateZ(-25px);
}

[mobile] #WorkspaceMenu.Open > div
{
	display: block;
	float: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}

[mobile] #WorkspaceMenu.Open:after
{
	display: block;
	content: " ";
	position: fixed;
	left: -45%;
	width: 45%;
	height: 100%;
	top: 0;
}

[mobile] #WorkspaceMenu:before
{
	font-family: fontawesome;
	content: "\f142";
	text-align: center;
	position: fixed;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 0;
	right: 0;
}

[mobile] #WorkspaceMenu.Open:before
{
	content: "\f00d";
}

/*[mobile]:not(.ViewMaximized) #WorkspaceMenu
{
	opacity: 0;
	pointer-events: none;
}*/

/* Calendar no events when dragging screen or showing window menu */
#Screens > div.Screen[moved=moved] #CalendarWidget,
html body.WindowMenu .Widget
{
	display: none;
	pointer-events: none !important;
}

#Statusbar { display:none; }

#DoorsScreen > .offline
{
	display: none;
}

.Offline .Screen .Widget { border-top: 5px solid #F00; }

body:not(.HasMenu) #Screens > div.Screen[moved=moved], 
body:not(.HasMenu) #Screens > div.Screen.HasWidget
{
	padding-top: 0;
}

#DoorsScreen #Statusbar
{
	display: none;
}

#DoorsScreen > .ScreenContent > .Scroller
{
	bottom: 0px;
	position: absolute !important;
	height: 105px;
	left: 0;
	right: 80px;
}

body:not([tablet]) #Screens .View:last-child
{
	z-index: 1 !important;
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}

body:not([tablet]) #Screens .ViewContainer
{
	width: 100%;
	height: 100%;
}

body:not([tablet]) .DirectoryToolbar > .ToggleGroup
{
	display: none;
}

html body .View > .Title > div > span
{
	height: 40px;
}

/* Child view navigation */
.ViewContainer > .MobileBack
{
	transition: left 0.3s;
	display: none;
}
.ViewContainer[childview].Active > .ViewIcon
{
	display: none;
}
.ViewContainer[childview].Active > .MobileBack 
{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -36px;
    left: 0px;
    text-align: center;
    z-index: 2147483647 !important;
    pointer-events: all;
}

.ViewContainer[childview].Active > .MobileBack:before
{
	font-family: fontawesome;
	display: inline-block;
	line-height: 32px;
	content: "\f104";
	font-weight: bold;
}

.ViewContainer[childview] > .MobileBack 
{
    left: -32px;
}

body[mobile]:not([tablet]) #Screens .ViewContainer:not(.Active) > .ViewIcon.Dragging
{
	background-color: rgba(255,255,255,0.4);
}

@keyframes jiggle
{
	0% { transform: rotateZ(5deg); }
	50% { transform: rotateZ(-5deg); }
	100% { transform: rotateZ(5deg); }
}
@-webkit-keyframes jiggle
{
	0% { transform: rotateZ(5deg); }
	50% { transform: rotateZ(-5deg); }
	100% { transform: rotateZ(5deg); }
}


body[mobile]:not([tablet]) #Screens .ViewContainer:not(.Active) > .ViewIcon.Remove
{
	animation: jiggle 0.2s infinite;
}

html body[mobile] .ViewContainer:not(.DelayedDeactivation) .View:not(.Active) > div:not(.Title)
{
	display: none;
}

body.WindowMenu #Screens .View
{
	width: calc(50% - 20px) !important;
}

[mobile] #Screens .View
{
	transition: transform 0.25s;
}

/* Popup dialog boxes lil bit larger */
#Screens .View > .Content > div.Dialog
{
	font-size: 24px;
}

#Screens .View > .Content
{
	bottom: 0;
}

#Screens .View.Active
{
	overflow: auto;
	min-height: 175px; /* calc(100% - 200px); */
}

#Screens .View.Active[maximized=true]
{
	position: absolute;
	top: 0 !important; 
	left: 0 !important; 
	width: 100% !important; 
	height: 100% !important;
	min-height: 100% !important;
	z-index: 99999999 !important;
}

.ViewContainer .ViewIcon 
{
	transform: rotateZ(0deg);
	opacity: 1;
	transition: opacity 0.25s;
}

body .ViewContainer .View
{
	will-change: transform, content;
}

body .ViewContainer .View .Content
{
	will-change: content;
	transform: translateZ(0);
}

body .ViewContainer .View.Active
{
	transition: transform 0.25s !important;
}

/*body .ViewContainer.Activating .View .Content
{
	transition: opacity 0.25s;
	opacity: 0;
	pointer-events: none;
}

body .ViewContainer.Activating .View.DoneActivating .Content
{
	opacity: 1;
	pointer-events: all;
}*/

body.ViewMaximized .ViewContainer[childview]:not(.DelayedDeactivation) .View.Activating,
body.ViewMaximized #Screens .ViewContainer[childview]:not(.DelayedDeactivation) .View.Activating,
body #Screens .ViewContainer[childview]:not(.DelayedDeactivation) .View.Opening,
body #Screens .ViewContainer[childview] .View.DelayedDeactivation
{
	transform: translateX(100%) !important;
	left: 100% !important;
	overflow: hidden;
}
body.ViewMaximized .ViewContainer:not(.DelayedDeactivation) .View.Activating,
body.ViewMaximized #Screens .ViewContainer:not(.DelayedDeactivation) .View.Activating,
body #Screens .ViewContainer:not(.DelayedDeactivation) .View.Opening
{
	transform: translateX(-100%) !important;
	left: -100% !important;
	overflow: hidden;
}
body.ViewMaximized .ViewContainer .View.Activated
{
	transform: translateX(0%) !important;
}

.ViewContainer.Closing .View
{
	opacity: 1 !important;
	overflow: hidden;
}
.ViewContainer.Closing .View .Title
{
	transition: opacity 0.25s;
}
.ViewContainer.OnWorkspace .View .Title
{
	opacity: 1;
}
.ViewContainer.Closing.OnWorkspace .View .Title
{
	opacity: 0;
}

.ViewContainer.Closing:not(.Active) .View .Title
{
	display: none;
}

body #Screens .ViewContainer.DelayedDeactivation .View
{
	pointer-events: none;
}

.ViewContainer.OnWorkspace.DelayedDeactivation .View,
{
	display: none;
}

.WindowActivating .ViewContainer.OnWorkspace .View
{
	opacity: 0;
	pointer-events: none;
}

.ViewContainer.OnWorkspace .View .Content,
.WindowActivating .ViewContainer.OnWorkspace .View .Title,
.ViewContainer.OnWorkspace .View .MobileFileBrowser,
.ViewContainer.OnWorkspace .View .DirectoryToolbar
{
	display: none !important;
}
.ViewContainer.OnWorkspace .View .Title
{
	background: transparent;
}


.ViewContainer.Closing:not([childview]):not(.OnWorkspace) .View
{
	transform: translateX(100%) !important;
}

#Screens .ViewContainer:not(.Active):not(.DelayedDeactivation)
{
	z-index: 0 !important;
}

body:not([sharedapp]) #Screens .View.Active .Thumbnail
{
	background-color: transparent;
	transition: background 0.3s;
}
body:not([sharedapp]) #Screens .View.Active.Opening .Thumbnail,
body:not([sharedapp]) #Screens .View.Active.Opened .Thumbnail,
body:not([sharedapp]) #Screens .View.Active.Redrawing .Thumbnail
{
	background-image: none !important;
	background-color: #202020;
}

body #Screens .View:not(.Active)
{
	max-height: 35px;
}

body.ViewMaximized .ViewContainer:not(.Active):not(.DelayedDeactivation),
body.AppsShowing .ViewContainer,
body.AppsShowing .ViewContainer .ViewIcon,
body .ViewContainer[childview] .ViewIcon,
body .ViewContainer.Closing:not(.Active) .ViewIcon,
body .ViewContainer.DelayedDeactivation .ViewIcon
{
	opacity: 0 !important;
}

body.ViewMaximized .ViewContainer.Active .ViewIcon 
{
	z-index: 2147483647 !important;
	position: absolute;
	display: block;
	top: -30px;
	left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1;
}

#Screens .View.Active .BottomBar
{
	display: block;
}

.View > .Title > div > .Depth
{
	display: none;
}

html .View > .Title > div > .Zoom
{
	margin-right: -9px;
}

#Screens .File
{
	width: 56px;
}

/* Icons for mobile */
body:not([tablet])[mobile=mobile] #Screens div:not(.Icon) > .File
{
	width: 88px;
}
body:not([tablet])[mobile=mobile] .IconWindow .File > .Icon
{
	left: 0;
}
body:not([tablet])[mobile=mobile] #Screens div:not(.Icon) > .File > .Title
{
	left: 0;
}

/* Done icons for mobile */

#Screens .Listview .File
{
	width: 100%;
}

#Screens .File.Selected  .Title
{
    box-shadow: none;
    color: black;
    background-color: transparent;
}
/* Desklet */

body[mobile=mobile] .Desklet.Open.Opened
{
	overflow: hidden;
}

.Desklet
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 64px;
	top: 100%;
	height: auto;
	margin:0px;
	transform: translateY(0%);
	transition: top, left, bottom, right, width, height 0.1s,0s,0.1s,0s,0s,0s;

}

html .Desklet .Launcher
{
	overflow: hidden;
	float: left; 
	margin: 5px;
	position: relative;
	background-size: contain !important;
}
.Desklet .Launcher + .Launcher { margin: 5px; }

.Desklet.Open
{
	top: 100% !important;
	left: 12px !important;
	height: calc(100% - 124px) !important;
	width: calc(100% - 24px) !important;
	z-index: 9999999;
	position: fixed;
	background: rgba(0,0,0,0.5);
	transform: translateY(0%);
	transition: top,transform 0.25s !important;
}

.Desklet .Launcher span
{
	display: none;
}
[mobile=mobile] .Desklet .Launcher span
{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	left: 5px;
	width: calc(100% - 5px);
	top: 56px;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.Desklet.Open.Opened
{
	transform: translateY(calc(-100% - 49px));
}

.Desklet.Open .Launcher
{
	width: 25% !important;
	overflow: visible;
	box-sizing: border-box;
	margin: 20px 0 20px 0 !important;
}

.AppsShowing .View
{
	display: none;
	pointer-events: none;
}

/* Icons in general */

body[mobile=mobile] .File .Title
{
	text-align: center;
	width: 91px;
	font-weight: normal;
	white-space: normal;
}

/* Partition icons */

html body[mobile=mobile] #DoorsScreen > .ScreenContent, 
html body[mobile=mobile]:not(.HasMenu).ViewMaximized #Screens > div.Screen > .ScreenContent
{
	height: calc(100% - 80px) !important;
}

#DoorsScreen > .ScreenContent > .Scroller
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 64px;
	top: 100%;
	height: 0;
	background: rgba(0,0,0,0.5);
	border-radius: 4px;
	transition: none;
	box-sizing: border-box;
}

#DoorsScreen > .ScreenContent > .Scroller.Open
{
	z-index: 9999999;
	background: rgba(0,0,0,0.8);
	padding: 10px 4px;
}

/* Login */

body.Login > .View
{
	position: relative !important;
	top: calc(50% - 141px) !important;
	left: calc(50% - 148px) !important;
}

#Screens .View[minimized=minimized]
{
	display: none;
}

body[mobile=mobile] .View .Title > div > .Minimize,
body[mobile=mobile] .View .Title > div > .Close,
body[mobile=mobile] .View .Title > div > .MobileClose
{
	display: none;
}

body[mobile=mobile] .ViewIcon.Dragging.Remove + .View .Title > div > .Close,
body[mobile=mobile] .ViewIcon.Dragging.Remove + .View .Title > div > .MobileClose
{
	display: block;
}

html body[mobile=mobile] .View > .Title > div > .Zoom
{
	border-right: 0;
}

/* mobile styles...  */

body:not([tablet]) #Screens .View.Hidden
{
	display: none;
}

body:not([tablet]) #Screens .View .BottomBar, 
body:not([tablet]) #Screens .View .Resize
{
	display: none;
}
body #Screens .View.Active .BottomBar, #Screens .View.Active .Resize
{
	display: block;
}

html #Screens .View > .Content > iframe
{
	transition: none;
}

/* Status bar */

html #Statusbar
{
	z-index: 1 !important;
}

/* Toolbar */

html body[mobile=mobile] .View .DirectoryToolbar .Makedir
{
	display: none;
}

body[mobile=mobile] #DeepestField > div > #NetconnectionsHeader, 
body[mobile=mobile] #DeepestField > div > #Netconnections
{
	display: none;
}

/* Deepest field TODO: Fix */

#DeepestField > div > #Identity *
{
	max-width: 100px;
} 
#DeepestField > div > #FNetHeader, 
#DeepestField > div > #FNetContent 
{ 
	display: none; 
}

/* Mobile notifications ----------------------------------------------------- */
#MobileNotifications
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 2147483647;
}

#MobileNotifications .MobileNotification
{
	opacity: 0;
	display: block;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 5px;
	margin: 5px 5px 5px 5px;
	transition: opacity 0.25s;
	pointer-events: none;
}

#MobileNotifications .MobileNotification .Application
{
	font-weight: bold;
	line-height: 20px;
}

#MobileNotifications .MobileNotification .Application:after
{
	display: block;
	content: " ";
	clear: both;
}

#MobileNotifications .MobileNotification .Application img
{
	float: left;
	margin: 0 10px 0 0;
	width: 20px;
	height: auto;
	vertical-align: middle;
}

#MobileNotifications .MobileNotification.Showing
{
	opacity: 0.95;
	pointer-events: all;
}

#MobileNotifications .MobileNotification .Title
{
	font-weight: bold;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#MobileNotifications .MobileNotification .Text
{
	position: relative;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* File uploads ------------------------------------------------------------- */

[mobile] button.FloatRight.IconSmall.fa-upload 
{
	margin: auto;
	float: none;
	display: block;
}


