#WorkbenchMenu
{
	display: none;
}

#Screens .View .BottomBar, #Screens .View .Resize
{
	display: block;
}

#DoorsScreen > .ScreenContent
{
	overflow: hidden;
}


body #Thanks
{
	opacity: 1;
	transition: opacity 0.5s;
}

body[windowcount] #Thanks
{
	opacity: 0;
}
