/* Welcome graphic ---------------------------------------------------------- */

body > .WelcomeGraphic
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity,background-position 0.75s,0.45s;
	opacity: 0;
	background-image: url(/graphics/welcome.jpg);
	background-size: auto;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center 54%;
	z-index: 2147483647;
	visibility: visible !important;
	display: block !important;
}

body > .WelcomeGraphic.Animate
{
	opacity: 1;
	background-position: center 50%;
}

body > .WelcomeGraphic.Animate.Done
{
	opacity: 0;
}
