/* Welcome graphic ---------------------------------------------------------- */

body > .WelcomeGraphic
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity,background-position 0.75s,0.45s;
	opacity: 0;
	background-image: url(/graphics/welcome.jpg);
	background-size: auto;
	background-color: #023368;
	background-repeat: no-repeat;
	background-position: center 54%;
	z-index: 2147483647;
	visibility: visible !important;
	display: block !important;
}

body > .WelcomeGraphic.Animate
{
	opacity: 1;
	background-position: center 50%;
}

body > .WelcomeGraphic.Animate.Done
{
	opacity: 0;
}

html > body
{
    border: 0 !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	transition: background-color 0.25s;
}

body:not(.Offline) #OfflineMessage
{
	/*display: none;*/
}

body:before
{
	content: " ";
	display: block;
	width: 0px;
	height: 0px;
	background: #222222;
	opacity: 0;
	transition: opacity 0.25s;
	position: fixed;	
}

body.ThemeRefreshing:before
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2147483646;
	opacity: 1;
}

