.Pages
{
	display: block;
	position: relative;
}
.TabActive, .Tab
{
	display: block;
	float: left;
	padding: $PaddingTabs;
	position: relative;
	margin: $MarginTabs;
	font-weight: $FontWeightTabs;
	border-radius: $BorderRadiusTabs;
	-moz-border-radius: $BorderRadiusTabs;
	-webkit-border-radius: $BorderRadiusTabs;
	cursor: pointer;
	cursor: hand;
	border: $BorderPageActive;
	border-bottom: 0;
}
.Tab img, .TabActive img
{
	position: relative;
	margin: 0;
	top: 4px;
}
.Tab with .TabGradients
{
	background-color: #c7c7c7;
}
.Tab with .TabBorders
{
}
.TabActive with .TabActiveBorders
{
	position: relative;
	z-index: 2;
}
.TabActive with .TabActiveGradients
{
	background-color: $ColorBgTabActive;
}
.Page
{
	position: absolute;
	left: -10000px;
	top: -10000px;
}
.PageActive
{
	clear: both;
	position: relative;
	left: auto;
	top: -1px;
	display: block;
	border: $BorderPageActive;
	background: $ColorBgPageActive;
	padding: 5px;
}

/* Vertical tabs ------------------------------------------------------------ */

.VertTab
{
	box-sizing: border-box;
	padding: 10px;
	background: #f8f8f8;
	color: #040404;
	cursor: hand; cursor: pointer;
}
.VertTab:hover
{
	background: white;
}
.VertTab.Active
{
	background: #fefefe;
	color: black;
	font-weight: bold;
}
.VertTab + .VertTab
{
	border-top: 1px solid #c0c0c0;
}

.VertPage
{
	display: none;
}

.VertPage.Active
{
	display: block;
}

