<div id="Form" class="Padding ScrollArea SmoothScrolling">
	<div class="List">
		<div class="HRow sw1">
			<div class="HContent30 FloatLeft">
				<label for="Firstname">{i18n_firstname}</label>
			</div>
			<div class="HContent70 FloatLeft">
				<input type="text" id="Firstname" value="{inpFirstname}"/>
			</div>
		</div>
		<div class="HRow sw2">
			<div class="HContent30 FloatLeft">
				<label for="Lastname">{i18n_lastname}</label>
			</div>
			<div class="HContent70 FloatLeft">
				<input type="text" id="Lastname" value="{inpLastname}"/>
			</div>
		</div>
	</div>
</div>
<div id="BottomBar">
	<button type="button">
		{i18n_save}
	</button>
	<button type="button">
		{i18n_cancel}
	</button>
</div>
