
	<div class="FullContent">
		<div class="VContentTop" style="bottom: 50px;">
			<div class="HContent30 HContentLeft VContent100">
				<div style="position: absolute; top: 0; left: 0; width: 100%; height: 37px">
					<div class="Padding">
						<p class="Layout"><strong>
							Available screens:
						</strong></p>
					</div>
				</div>
				<div id="ScreenList" class="FullWidth BordersDefaultNegative BackgroundLists ColorLists ScrollArea" style="position: absolute; bottom: 0; top: 37px; left: 0; width: 100%">
				</div>
			</div>
			<div class="HContent70 HContentRight VContent100">
				<div class="Padding">
					<p class="Layout"><strong>
						Screen information:
					</strong></p>
					<div class="Box" style="height: 100%" id="ScreenInfo">
					<form>
						<div class="HRow">
							<div class="FloatLeft HContent40">
								<p class="Layout">
									<strong>Screen id:</strong>
								</p>
							</div>
							<div class="FloatLeft HContent60">
								<p class="Layout">
									<input type="text" class="FullWidth" id="screen_id" placeholder="id_of_screen"/>
								</p>
							</div>
						</div>
						<div class="HRow">
							<div class="FloatLeft HContent40">
								<p class="Layout">
									<strong>Flags:</strong>
								</p>
							</div>
							<div class="FloatLeft HContent60">
								<div id="ScreenFlags"></div>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
		<div class="VContentBottom BorderTop" style="height: 49px">
			<div class="HContent50 HContentLeft VContent100 Padding">
				<button type="button" class="IconSmall fa-plus" onclick="addScreen()">
					Add screen
				</button>
				<button type="button" class="IconSmall fa-plus" onclick="closeScreen()">
					Close screen
				</button>
			</div>
			<div class="HContent50 HContentRight VContent100 Padding TextRight">
				<button type="button" class="IconSmall fa-close" id="CloseBtn" onclick="Application.sendMessage( { command: 'quit' } );">
					Close
				</button>
			</div>
		</div>
	</div>
	
	<script src="Progdir:Scripts/main.js"></script>
	<link rel="stylesheet" href="Progdir:Css/main.css"/>

