
	<div class="VContentTop ScrollArea" style="bottom: 50px">
		<div class="Padding">
			<h3>
				{locale}:
			</h3>
			<div class="Box Padding MarginBottom">
				<p class="Layout"><strong>{locale_language}</strong></p>
				<p>
					<select id="languages">
						<option>{loading_languages}...</option>
					</select>
				</p>
			</div>
			<h3>
				{speech_settings}:
			</h3>
			<div class="Box Padding MarginBottom">
				<p class="Layout"><strong>{preferred_speech}</strong></p>
				<p class="Layout">{speech_advice}</p>
				<p>
					<select id="voices">
						<option>{loading_voices}...</option>
					</select>
				</p>
				<p class="Layout"><strong>{alternative_speech}</strong></p>
				<p class="Layout">{fallback_advice}</p>
				<p>
					<select id="voices_alternate">
						<option>{loading_voices}...</option>
					</select>
				</p>
			</div>
		</div>
	</div>
	<div class="VContentBottom BackgroundToolbar BorderTop" style="height: 50px">
		<div class="Padding">
			<button type="button" class="Button IconSmall fa-check" onclick="saveSettings()">
				{save}
			</button>
			<button type="button" class="Button IconSmall fa-close" onclick="quitApp()">
				{cancel}
			</button>
		</div>
	</div>
	<script src="Progdir:Scripts/guilogic.js"></script>
