<!DOCTYPE html>
<html>
	<head>
		<title>{subject}</title>
	</head>
	<body style="font-size: 17px; background: #f0f0f0; color: #303030; padding: 40px">
		<h2 style="font-size: 24px">
			Here is your Friend account confirmation code
		</h2>
		<p>
			You will soon have your Friend account. But first, you need to complete
			the confirmation process. Please enter this code into the confirmation
			input field in your browser.
		</p>
		<p>
			Copy and paste this code: <strong>{code}</strong>
		</p>
		<p>
			<em><strong>-The Friend team</strong></em>
		</p>
		<hr style="border: 0; border-top: 1px solid #c0c0c0; margin: 10px 0"/>
		<p>
			<a style="color: #34495E; text-decoration: none" href="https://friendup.cloud">FriendUP.cloud - Front page</a> | <a style="color: #34495E; text-decoration: none" href="https://friendup.tech">FriendUP.tech - Developer's site</a> | <a style="color: #34495E; text-decoration: none" href="{privacylink}">Privacy policy</a>
		</p>
	</body>
</html>
