<!DOCTYPE html>
<html>
	<head>
		<title>{subject}</title>
	</head>
	<body style="font-size: 17px; background: #f0f0f0; color: #303030; padding: 40px">
		<h2 style="font-size: 24px">
			Welcome to the Friend Platform!
		</h2>
		<p>
			You have now successfully registered a new account for Friend, the
			first Blockchain ready cloud computer that runs in your browser.
		</p>
		<p>
			Please log in with your e-mail address:
		</p>
		<p>
			<strong>{email}</strong>
		</p>
		<p>
			at this access node address:
		</p>
		<p>
			<a style="color: #34495E; text-decoration: none" href="{address}">{address}</a>
		</p>
		<p>
			We appreciate your interest in our platform. Please submit any issues or feature requests to our Github page here:
		</p>
		<p>
			<a style="color: #34495E; text-decoration: none" href="{github}">{github}</a>
		</p>
		<p>
			We hope that you have a great time using the Friend Workspace, and
			we will work hard on making it the best online platform for collaborating,
			working and gaming on any device.
		</p>
		<p>
			<em><strong>-The Friend team</strong></em>
		</p>
		<hr style="border: 0; border-top: 1px solid #c0c0c0; margin: 10px 0"/>
		<p>
			<a style="color: #34495E; text-decoration: none" href="https://friendup.cloud">FriendUP.cloud - Front page</a> | <a style="color: #34495E; text-decoration: none" href="https://friendup.tech">FriendUP.tech - Developer's site</a> | <a style="color: #34495E; text-decoration: none" href="{privacylink}">Privacy policy</a>
		</p>
	</body>
</html>
