	
	
		<h1>Welcome</h1>
		<p>Our first beta version of the Friend Unifying Platform has a very simple and easy to use interface. We will explain the main principles in the next few slides.</p>
		
		<h1>Window bar</h1>
		<p>Our window bar has 3 buttons on the top.</p>
		<ul>
			<li>The <i>Close</i> button on the top left</li>
			<li>The <i>maximize/un-maximize</i> and the <i>send to foreground/background</i> buttons on the right</li> 
		</ul>
		<p>Double clicking the window header will set the window to the foreground. You can also use the header to drag windows across the screen.</p>
		<img src="welcome01.jpg" />
		

		<h1>Clicks</h1>
		<p>We use simple clicks, double clicks and righthand clicks - just like most other user interfaces.</p>
		<p>Our dock works with single clicks</p>
		<p>Our touch interface uses simple clicks. We must admit that there a a lot of features that are not quite there yet in this initial beta.</p>
		<p>As we code on desktops this is where we had our focus. <b>We are gonna change that!</b></p>
		<p>We admit it right here: our interface on a tablet sucks as a lot of the mobile optimsations are not implemented yet.</p>
			
		<h1>Enjoy</h1>
		<p>As this is a very early beta we hope you enjoy it and give us constructive feedback at <a href="mailto:feedback@friendos.com">feedback@friendos.com</a>.</p>
		
