<div class="ContentFull Padding ScrollArea" style="height: calc(100% - 50px">
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_cal_evt_title}:</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<input class="FullWidth InputHeight" value="" placeholder="{i18n_cal_evt_title_what}..." id="calTitle"/>
		</div>
	</div>
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_cal_evt_typec}:</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<select id="calTypeSelect" onchange="ge('calType' ).value = this.value; Workspace.pollCalendarEventGui();">
				<option value="event">{i18n_cal_evt_type_event}</option>
				<option value="meeting">{i18n_cal_evt_type_meeting}</option>
				<!--<option value="todo">{i18n_cal_evt_type_todo}</option>
				<option value="note">{i18n_cal_evt_type_note}</option>-->
			</select>
			<input type="hidden" id="calType" value="event"/>
		</div>
	</div>
	<div id="calTypeGui"></div>
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_date}</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<input type="date" class="InputHeight FullWidth" id="calDateField" value="{date}"/>
		</div>
	</div>
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_date_to}</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<input type="date" class="InputHeight FullWidth" id="calDateTo" value="{dateTo}"/>
		</div>
	</div>
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_cal_evt_time_from}:</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<input type="time" class="InputHeight" size="5" placeholder="08:00" value="08:00" id="calTimeFrom"/>
		</div>
	</div>
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_cal_evt_time_to}:</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<input type="time" class="InputHeight" size="5" placeholder="16:00" value="16:00" id="calTimeTo"/>
		</div>
	</div>
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_cal_evt_addday}:</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<input type="checkbox" id="calTimeAllDay"/>
		</div>
	</div>
	<div class="HRow MarginBottom">
		<div class="HContent30 FloatLeft">
			<p class="InputHeight"><strong>{i18n_cal_evt_type}:</strong></p>
		</div>
		<div class="HContent70 FloatLeft">
			<select class="InputHeight" id="calType">
				<option value="built-in">{i18n_cal_private_calendar}</option>
			</select>
		</div>
	</div>
	<div class="HRow">
		<div class="HContent100 FloatLeft">
			<p class="InputHeight"><strong>{i18n_cal_evt_description}:</strong></p>
		</div>
	</div>
	<div class="HRow">
		<div class="HContent100 FloatLeft">
			<textarea class="FullWidth" style="height: 120px" id="calDescription"></textarea>
		</div>
	</div>
</div>
<div class="Padding BorderTop BackgroundDefault" style="height: 50px; top: calc(100% - 50px); width: 100%; left: 0; position: absolute;">
	<div class="HRow">
		<div class="HContent100 FloatLeft">
			<p class="InputHeight FloatRight"><button type="button" class="Button IconSmall fa-remove" onclick="CloseView()"> {i18n_cancel}</button></p>
			<p class="InputHeight"><button type="button" class="Button IconSmall fa-calendar-plus-o" onclick="Workspace.addCalendarEvent()"> {i18n_cal_btn_edit}</button></p>
		</div>
	</div>
	<input type="hidden" value="{date}" id="calDateField"/>
</div>
