
<div class="ColorPickerGUI ContentFull">
	<div class="VContentTop DiaColors" style="bottom: 50px">
		<canvas class="ContentFull ColorPickerCanvas"></div>
	</div>

	<div class="VContentBottom Padding BorderTop" style="height: 50px">
		<input type="text" class="Button TextCenter FloatLeft HexCode HContent30" value=""/>
		<button class="IconSmall fa-remove FloatRight Button Cancel MarginLeft">
			{i18n_close}
		</button>
		<button class="IconSmall fa-check FloatRight Button Accept">
			{i18n_accept}
		</button>
	</div>
</div>

