
	<div class="Dialog">
		<div class="VContentTop BackgroundDefault Padding ScrollArea" style="bottom: 50px">
			{string}
		</div>
		<div class="Padding VContentBottom BorderTop ColorToolbar BackgroundToolbar" style="height: 50px">
			{thirdbutton}
			<div style="text-align: right">
				<button type="button" id="ok" class="Button fa-check IconSmall">
					{okbutton}
				</button>
				<button type="button" id="cancel" class="Button fa-remove IconSmall">
					{cancelbutton}
				</button>
			</div>
		</div>
	</div>
