
	<div class="Padding SmoothScrolling">
		
		<div>
			<h1>
				End User License Agreement
			</h1>
			
			<p>
				This End-User License Agreement (EULA) is a legal agreement between you (either an individual or a single entity) and Friend Software Labs AS of Friend Unifying Platform (FriendUP), which includes the computer software and associated media, printed materials, and “online” or electronic documentation (“SOFTWARE PRODUCT”).
			</p>
			<p>
				By utilizing, viewing, or otherwise using the SOFTWARE PRODUCT, you agree to be bounded by the terms of this EULA.
			</p>
			<p>
				If you do not agree to the terms of this EULA, do not use the SOFTWARE PRODUCT.
			</p>
			
			<h2>
				Terms of use
			</h2>
			
			<ol>
				<li>You are allowed to use this software as is, through your personal user account. You are not allowed to share your account with others, unless we explicity grant you the permission to share it.</li>
				<li>At such time as when your account has been suspended, you must destroy all copies of documentation, associated media, printed materials and software sourcecode you might have obtained, either directly or indirectly.</li>
				<li>You are not allowed to copy any documentation, associated media, printed materials or software sourcecode related to Friend Unifying Platform.</li>
				<li>You understand that this is beta quality software. Therefore, we can not be held accountable for any bugs or errors in the sourcecode leading to either loss of data or malfunctioning features.</li>
			</ol>
		</div>
			
	</div>

