
	<div class="EulaText">
		
		<div>
			<h1>
				Friend Sky
				Code of Conduct
			</h1>
			<p>
				<strong>Preamble</strong>
			</p>
			<p>
				Friend Sky is an online community and collaboration service that is hosting different and unique users from all over the world. It is the first Sky Computing network that is built using the Friend platform. To enable friendly interactions and a truly vibrant community, we have authored this document to set some basic standards.
			</p>
			<p>
				This Code of Conduct is shared by all contributors and users who engage with the Friend Sky community in any of the collaborative services. By breaking the Code of Conduct, Friend Sky staff may issue a warning and in a worst case scenario block your account.
			</p>
			<p>
				<strong>Overview</strong>
			</p>
			<p>
				This Code of Conduct presents a summary of the shared values and “common sense” thinking in our community. The basic social ingredients that hold our project together include:
			</p>
			<ul>
				<li>Be friendly</li>
				<li>Be respectful</li>
				<li>Be friendly</li>
			</ul>
			<p>
				Being friendly is in the name of Friend. We strive to create a community where people feel welcome and where they are appreciated by others. Make sure to give people a chance. Do not answer messages too harshly or confront other users with personal attacks. In Friend Sky, we will not accept any form of personal harassment.
			</p>
			<p>
				<strong>Be respectful</strong>
			</p>
			<p>
				The community found on Friend Sky is diverse and from many different places all over the world. Be mindful of your language and appreciate that people may interpret your messages differently based on their unique cultural context.
			</p>

			<br/><br/>
		
			<h1>
				Friend Sky End User License Agreement
			</h1>
			
			<p>
				This End-User License Agreement (EULA) is a legal agreement between you (either an individual or a single entity) and Friend Software Labs AS delivering the Friend Sky service (Friend OS), which includes the computer software and associated media, printed materials, and “online” or electronic documentation (“SOFTWARE PRODUCT”).
			</p>
			<p>
				By utilizing, viewing, or otherwise using the SOFTWARE PRODUCT, you agree to be bounded by the terms of this EULA.
			</p>
			<p>
				If you do not agree to the terms of this EULA, do not use the SOFTWARE PRODUCT.
			</p>
			
			<h2>
				Terms of use
			</h2>
			
			<ol>
				<li>You are allowed to use this software as is, through your personal user account. You are not allowed to share your account with others, unless we explicity grant you the permission to share it.</li>
				<li>At such time as when your account has been suspended, you must destroy all copies of documentation, associated media, printed materials and software sourcecode you might have obtained, either directly or indirectly.</li>
				<li>You are not allowed to copy any documentation, associated media, printed materials or software sourcecode related to Friend OS.</li>
				<li>You understand that this is beta quality software. Therefore, we can not be held accountable for any bugs or errors in the sourcecode leading to either loss of data or malfunctioning features.</li>
			</ol>
		</div>
			
	</div>
	<div class="EulaInfo">
		<div>
			<button type="button" class="Button IconSmall fa-cross" onclick="document.location.href='http://duckduckgo.com';">
				DECLINE
			</button>
			
			<button type="button" class="Button IconSmall fa-accept" onclick="ScreenOverlay.acceptEula(true)">
				ACCEPT
			</button>
		</div>
	</div>
	
