
	<div class="VContentTop Toolbarbox FileDialog"></div>
	<div class="ContentFull Sidebar BorderRight Padding BackgroundHeavier ScrollArea ScrollBarSmall FileDialog"></div>
	<div class="ContentFull List-view FileDialog">
		<div class="ContentFull WindowBackground ContentBox" name="ContentBox" style="top: 0px; bottom: 45px; overflow: auto; height: calc(100% - 45px)"></div>
		<div class="VContentBottom ToolbarBackground BorderTop" style="height: 45px">
			<div class="PaddingMedium">
				<div class="HRow">
					<div class="HContent45 FloatLeft">
						<input type="text" name="filename" class="FullWidth IconHeightSmall"/>
					</div>
					<div class="HContent3 FloatLeft">&nbsp;</div>
					<div class="HContent25 FloatLeft">
						<button type="button" name="cancel" class="FullWidth IconSmall fa-times-circle ButtonCancel">
							{file_abort}
						</button>
					</div>
					<div class="HContent2 FloatLeft">&nbsp;</div>
					<div class="HContent25 FloatLeft">
						<button type="button" name="save" class="FullWidth IconSmall fa-check-circle ButtonOk">
							{file_save}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

