
	<div class="ContentFull Sidebar BackgroundNegative Negative BorderRight"></div>
	<div class="ContentFull List-view">
		<div class="ContentFull ToolbarBackground BorderBottom" style="height: 50px">
			<div class="Padding" name="left">
				<div class="HContent10 FloatLeft">
					<button type="button" name="prev" class="HContent95 IconSmall fa-toggle-left"></button>
					<div class="Hcontent5 FloatLeft"></div>
				</div>
				<div class="HContent10 FloatLeft">
					<button type="button" name="up" class="HContent95 IconSmall fa-toggle-up"></button>
					<div class="Hcontent5 FloatLeft"></div>
				</div>
				<div class="HContent10 FloatLeft">
					<button type="button" name="refresh" class="HContent95 IconSmall fa-refresh"></button>
					<div class="Hcontent5 FloatLeft"></div>
				</div>
				<div class="HContent60 FloatLeft">
					<input type="text" name="Path" value="Mountlist:" class="HContent95 IconHeightSmall" spellcheck="" />
					<div class="Hcontent5 FloatLeft"></div>
				</div>
				<div class="HContent10 FloatLeft">
					<button class="FullWidth IconSmall fa-book" type="button" name="bookmarks"></button>
				</div>
			</div>
		</div>
		<div class="ContentFull WindowBackground List" name="ContentBox" style="top: 51px; bottom: 51px; overflow: auto; height: auto"></div>
		<div class="VContentBottom ToolbarBackground BorderTop" style="height: 50px">
			<div class="Padding">
				<button type="button" name="cancel" class="FloatRight IconSmall fa-times-circle">
					{file_abort}
				</button>
				<button type="button" name="open" class="IconSmall fa-check-circle">
					{file_load}
				</button>
			</div>
		</div>
	</div>

