
	<div class="FullContent">
		<div class="ProgressBar Padding">
			<div class="Frame FullWidth">
				<div class="Relative FullWidth">
					<div class="Groove FullWidth BackgroundHeavier Rounded"></div>
					<div class="Bar FullWidth Rounded"></div>
					<div class="Progress"></div>
				</div>
			</div>
			<div class="FrameInfo FullWidth MarginBottom">
				<div class="InfoContents FullWidth Ellipsis">
					&nbsp;
				</div>
			</div>
			<button class="IconSmall fa-remove FileCancelButton">
				{cancel}
			</button>
			<div class="Info"></div>
		</div>
	</div>

