
	<div class="VContentTop Toolbarbox FileDialog"></div>
	<div class="ContentFull Sidebar BorderRight Padding BackgroundHeavier ScrollArea ScrollBarSmall FileDialog"></div>
	<div class="ContentFull List-view FileDialog">
		<div class="ContentFull WindowBackground ContentBox" name="ContentBox" style="top: 0px; bottom: 50px; overflow: auto; height: calc(100% - 50px)"></div>
		<div class="VContentBottom ToolbarBackground BorderTop" style="height: 50px">
			<div class="PaddingMedium">
				
				<div class="HRow">
					<div class="HContent45 FloatLeft">
						&nbsp;
					</div>
					<div class="HContent3 FloatLeft">&nbsp;</div>
					<div class="HContent25 FloatLeft">
						<button type="button" name="cancel" class="FullWidth NoMargins FloatRight IconSmall fa-times-circle ButtonCancel">
							{file_abort}
						</button>
					</div>
					<div class="HContent2 FloatLeft">&nbsp;</div>
					<div class="HContent25 FloatLeft">
						<button type="button" name="open" class="FullWidth FloatRight IconSmall fa-check-circle ButtonOk">
							{file_load}
						</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>

