
	<div class="ContentFull">
		<div class="VContentTop ScrollArea BorderBottom" style="bottom: 50px">
			<div class="Padding">
			</div>
		</div>
		<div class="VContentBottom ToolbarBackground" style="height: 50px">
			<div class="Padding">
				<button class="Button IconSmall fa-plus FloatRight" type="button" name="addbookmark">
					{Add}
				</button>
				<button class="Button IconSmall fa-close" type="button" name="close">
					{Cancel}
				</button>
				<button class="Button IconSmall fa-check" type="button" name="select">
					{Select}
				</button>
			</div>
		</div>
	</div>
