
	<div class="ContentFull">
		<div class="VContentTop ScrollArea BorderBottom" style="bottom: 50px">
			<div class="BackgroundLists BookmarkArea">
			</div>
		</div>
		<div class="VContentBottom ToolbarBackground" style="height: 50px">
			<div class="Padding">
				<button class="Button IconSmall fa-close FloatRight" type="button" name="close">
					{Close}
				</button>
				<button class="Button IconSmall fa-check" type="button" name="select">
					{Select}
				</button>
				<button class="Button IconSmall fa-plus" type="button" name="addbookmark">
					{Add}
				</button>
				<button class="Button IconSmall fa-plus" type="button" name="removebookmark">
					{Remove}
				</button>
			</div>
		</div>
	</div>

