
	<div class="ContentFull Sidebar BorderRight Padding BackgroundHeavier"></div>
	<div class="ContentFull List-view">
		<div class="ContentFull WindowBackground Contentbox" name="ContentBox" style="top: 0px; bottom: 51px; overflow: auto; height: calc(100% - 51px)"></div>
		<div class="VContentBottom ToolbarBackground BorderTop" style="height: 50px">
			<div class="Padding">
				<button type="button" name="cancel" class="FloatRight IconSmall fa-times-circle">
					{file_abort}
				</button>
				<button type="button" name="open" class="IconSmall fa-check-circle">
					{file_load}
				</button>
			</div>
		</div>
	</div>

