<div class="ContentFull ScrollArea">
	<div class="BorderTop Padding">
	    <h2 style="margin-bottom: 20px">
	        {i18n_upload_file_to_storage}
	    </h2>
		<form method="post" id="fileUpload" target="uploadFrame" enctype="multipart/form-data" action="/system.library/file/upload">
			<input type="hidden" name="sessionid"/>
			<input type="hidden" name="module" value="files"/>
			<input type="hidden" name="command" value="uploadfile"/>
			<div class="HRow MarginBottom">
				<div class="HContent66 FloatLeft"><input class="InputHeight FullWidth" type="text" name="path" value="Home:"/></div>
				<div class="HContent33 FloatLeft">
					<div class="HContent5 FloatLeft">&nbsp;</div>
					<div class="HContent95 FloatLeft">
						<button class="InputHeight NoPadding Button FullWidth IconSmall fa-search" type="button" onclick="Doors.findUploadPath()">&nbsp;{i18n_change_up_path}</button>
					</div>
				</div>
			</div>
			<div class="HRow">
				<div class="FileUpload MousePointer">
					<input type="file" id="uploadFileField" class="FullWidth" name="file" multiple="multiple" />
					<div class="UploadButton">
						<button class="Button IconSmall fa-cloud-upload">
							{i18n_select_local_files}
						</button>
					</div>
				</div>
				<div id="uploadFileFileDisplay"></div>
			</div>
		</form>
	</div>
	<div class="HRow BorderTop Padding UploadFeedbackContainer">
		<div class="FloatLeft MarginRight" id="uploadFeedback"></div>
		<button type="button" class="FloatRight IconSmall fa-upload" onclick="Workspace.uploadFile('fileUpload')">
			&nbsp;{i18n_upload_the_file}
		</button>
		<div class="ProgressReport">
			<div class="Progress">
			</div>
		</div>
	</div>
	<iframe id="fileUploadFrame" style="visibility: hidden; top: -800px; position: absolute; width: 1px; height: 1px" name="uploadFrame"></iframe>
</div>
