<html>
	<head>
		<title>FriendUP - System under heavy load</title>
		<link rel="stylesheet" href="/webclient/css/friendup.css"/>
	</head>
	<body class="Inside">
		<div>
		
			<img src="/webclient/gfx/system/logo_480.png" style="width: 100%; height: auto">
			<br/>
			<br/>
			
			<h1>
				The system is currently experiencing heavy load.
			</h1>
	
			<p>
				Your FriendUP system is currently under heavy load. Please try again
				in a couple of minutes.
			</p>
			<p>
				If the problem persists, please e-mail us at: <a href="mailto:info@friendos.com">info@friendos.com</a>
			</p>
			<p>
				Remember to visit our web site at:
			</p>
			<p>
				<strong><a href="https://friendos.com/">friendos.com</a></strong>
			</p>
		</div>
	
		<style>
			h1 span { display:block; padding:0 0 6px 0; }
			body > div
			{
				width: 500px;
				max-width:calc(100% - 20px);
				height: 460px;
				box-sizing: border-box;
				margin: 100px auto;
				background: white;
				color: #111111;
				border-radius: 10px;
				text-align: left;
				padding: 40px;
				font-size: 18px;
			}
			body { visibility: visible; }
		</style>
	</body>
</html>

