<div class="ContentFull" id="element_{uniqueId}">
	<div class="VContentTop ScrollArea Padding" style="height: calc(100% - 50px)">
		<div class="HRow">
			<div class="HContent30 FloatLeft">
				<p class="InputHeight">
					<strong>{i18n_shared_with}:</strong>
				</p>
			</div>
			<div class="HContent70 FloatLeft">
				<div class="InputHeight">
					<input type="text" id="dropdownfield_{uniqueId}" value="" placeholder="{i18n_find_workgroup_user}" class="InputHeight FullWidth"/>
					<div class="Relative">
						<div id="dropdown_{uniqueId}" class="Dropdown SmoothScrolling"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="HRow">
			<div class="List MarginTop" id="sharedList_{uniqueId}">
			</div>
		</div>
	</div>
	<div class="VContentBottom BorderTop Padding BackgroundDefault">
		<button type="button" name="apply_sharing" class="IconSmall fa-share-alt-square" onclick="Workspace.saveFileShareInfo('{uniqueId}')">
			{i18n_apply_sharing_settings}
		</button>
	</div>
</div>
