/* Groups */

.Collections
{
	padding-top: 20px;
	text-align: left;
	box-sizing: border-box;
}

.Collections input[type=radio] { opacity: 0; }

.Collections + p
{
	text-align: center;
}

.Collections:after
{
	content: " ";
	display: block;
	clear: both;
}

.Collections > .Collection
{
	position: relative;
	width: 50%;
	height: 78px;
	display: block;
	float: left;
	margin: 0 0 10px 0;
	text-align: left;
	padding: 4px;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.25s;
	box-sizing: border-box;
	border-radius: 3px;
	max-height: 78px;
	overflow: hidden;
}

.Collections > .Collection.Selected
{
	background-color: rgba(0,0,0,0.25);
	color: white;
}

.Collections > .Collection > .Name
{
	font-size: 110%;
	font-weight: bold;
}

.Collections > .Collection > .Image
{
	width: 70px;
	height: 70px;
	background-color: #06609A;
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.25);
	float: left;
	box-sizing: border-box;
	margin: 0 10px 20px 0;
}

.Collections > .Collection > .Image:after
{
	position: absolute;
	top: 10px;
	width: 57px;
	left: 10px;
	height: 60px;
	line-height: 57px;
	font-size: 22px;
	font-family: fontawesome;
	content: "\f0c0";
	color: white;
	text-align: Center;
}

.Collections > .Collection > .Image.None:after
{
	content: "\f10c";
}


