
		<div class="VContentTop">
			<div class="HRow">
				<div class="HContent100 FloatLeft Padding">
					<h2>Session interrupted</h2>	
					<p class="Layout">
						You have been logged out because another
						user session was initialized with your
						username and password.
					</p>
					<p>
						<button type="button" onclick="Workspace.login( Workspace.loginUsername, Workspace.loginPassword );">
							Renew your session
						</button>
						<button type="button" onclick="document.location.reload()">
							Log out
						</button>
					</p>
				</div>
			</div>
		</div>

