<html>
	<head><title>Password reset confirmation</title></head>
	<body>
		<div style="font-family: Raleway, Helvetica,Arial,sans-serif; word-break: break-word; padding:32px;">
			<h1>Hi {user},</h1>
			<p>a password reset has been requested for your account "<i>{username}</i>". If you did not request a new password please ignore this mail.</p>
			<p>If you want your password to be reset please follow this link:</p>
			<p><a href="{passwordreseturl}" target="_blank">Reset password!</a></p>
			<p>If you cannot click the link please copy and paste this text into your browser:</p>
			<p>{passwordreseturl}</p>
			<p>This email is system generated and cannot be replied to!</p>
			<p>&nbsp;</p><p>&nbsp;</p>
		</div>
	</body>
</html>