<div class="ContentFull LayoutButtonbarBottom">
	<div class="VContentTop Padding">
		<div class="HContent40 FloatLeft">
			<p class="InputHeight Layout">
				<strong>{i18n_name}:</strong>
			</p>
		</div>
		<div class="HContent60 FloatLeft">
			<div class="HContent5"><div></div></div>
			<div class="HContent95 FloatLeft">
				<p class="InputHeight Layout">
					<input type="text" name="Dirname" class="FullWidth" value=""/>
				</p>
			</div>
		</div>
	</div>
	<div class="VContentBottom BackgroundDefault Padding BorderTop">
		<div class="HContent100">
			<button class="Button IconSmall fa-remove FloatRight" onclick="CloseView()">
				{i18n_cancel}
			</button>
			<button class="Button IconSmall fa-check FloatLeft makedir">
				{menu_new_directory}
			</button>
		</div>
	</div>
</div>
