<div class="Padding">
	<h1>
		Our privacy policy
	</h1>

	<p>
		When using our services, you're trusting us with your information. We work hard to make sure that your information remains safe and are proactively taking measures to make sure that your privacy is maintained.
	</p>
	<p>
		We do not share any information with third parties. We only record anonymous information through Google Analytics for statistical use - helping us to improve our technology and service.
	</p>
	<p>
		Your data stored on our servers will be made available to you upon request, and can be deleted, upon your request, at any time.
	</p>
	<p>
		<em>Hogne Titlestad, COO, Friend Software Corporation</em>
	</p>
</div>
