
	<div class="Padding">
		<p class="Layout">
			<strong>{run_command}:</strong>
		</p>
		<div class="HRow">
			<div class="HContent65 FloatLeft">
				<input type="text" class="InputHeight FullWidth" style="padding-left: 5px; padding-right: 5px;" id="WorkspaceRunCommand" onkeydown="var wh = event.which ? event.which : event.keyCode; if( wh == 13 && ge('WorkspaceRunCommand').value.trim() != '' ){ Workspace.launch(ge('WorkspaceRunCommand').value, function(){ Workspace.hideLauncher(); } ); Workspace.lastExecuted = ge('WorkspaceRunCommand').value; } else { Workspace.hideLauncherError(); }"/>
			</div>
			<div class="HContent35 FloatLeft">
				<div class="HContent10 FloatLeft">
					&nbsp;
				</div>
				<div class="HContent90 FloatLeft">
					<button class="FullWidth InputHeight IconSmall fa-check" style="padding: 0 5px 0 5px" onclick="if( ge('WorkspaceRunCommand').value.trim() != '' ) { Workspace.launch(ge('WorkspaceRunCommand').value, function(){ Workspace.hideLauncher(); } ); Workspace.lastExecuted = ge('WorkspaceRunCommand').value; }">
						{execute}
					</button>
				</div>
			</div>
		</div>
		<div id="launch_error"></div>
	</div>

	
