
	<div class="Leadin PaddingLeft PaddingRight" style="position: absolute; top: 0; left: 0; width: 100%; height: 90px">
		<div class="HRow">
			<div class="HContent80 FloatLeft">
				<p><strong>Security confirmation</strong></p>
				<p>You just dropped files. Do you want to share these with this application?</p>
			</div>
			<div class="HContent20 FloatLeft">
				<p><button>OK</button></p>
			</div>
		</div>
	</div>
	<div class="Iconlist Negative SmoothScrolling" style="overflow: auto; position: absolute; top: 90px; left: 0; width: 100%; height: calc(100% - 90px);">
		
	</div>
