
	<div class="Absolute">
		<div class="Padding">
			<h3>
				{i18n_share_with_users_or_groups}
			</h3>
		</div>
		<div class="Padding Workgroups_and_users SmoothScrolling">
			{workgroups}
		</div>
		<div class="Padding BottomBar BorderTop TextRight">
			<div class="SearchBar IconSmall fa-search">
				<input type="text" class="SearchBarInput" placeholder="{i18n_find_users_groups}"/>
			</div>
			<button type="button" class="IconSmall fa-check DoShare">
				{i18n_ok}
			</button>
			<button type="button" class="IconSmall fa-remove CancelSharing">
				{i18n_cancel}
			</button>
		</div>
	</div>
	

