
	<div style="position: absolute; top: 0; left: 0; width: 30%; height: 100%; overflow: auto; background: #cccccc">
	
		<div class="Padding">
			<h2>
				Index:
			</h2>
			<ol>
				<li><a href="#introduction">Introduction</a></li>
				<li><a href="#technical">Technical setup</a></li>
				<li><a href="#gettingstarted">Getting started</a></li>
			</ol>
		</div>
	
	</div>
	
	<div style="position: absolute; top: 0; left: 30%; width: 70%; height: 100%; overflow: auto">

		<div class="Padding BorderBottom">
		
			<h1>
				Voice Command in FriendUP (under review)
			</h1>
		</div>
		<div class="Padding" style="text-align: justify">
			
			<h2>
				<a name="introduction"></a>
				Introduction
			</h2>
			<p>
				In FriendUP, you can use the microphone on your computer, phone,
				TV or tablet to control the whole system. This is possible, because
				the whole of Friend is based on language. Everything you can 
				do in a Command Line Interface (CLI), you can do using proper
				spoken language through your sound input device. This opens up
				a whole new world of usability.
			</p>
			<p>
				In this document, we will go through the most common scenarios
				where the voice command function is useful. We will start on a
				simple level, then advance you to the more complex scenarios
				later on.
			</p>
			<p>
				In the most basic use, Friend takes commands, consisting of one,
				two or three words in combination. In the more advanced use, you
				also utilize contexts and sessions. We will get back to these later,
				but rest assured, with Friend, you have got the whole system at
				the mercy of your lips.
			</p>
			<h2>
				<a name="technical"></a>
				Technical setup
			</h2>
			<p>
				Before we get started, there are some important technical factors
				to consider. First; the only web browsers that support voice
				recognition at this time is Google Chrome and Samsung Internet.
				While this covers all platforms, it might not apply to your own
				default browser. While FriendUP supports Safari in most use cases,
				Apple does not approve of third party web applications having
				access to any microphone input.
			</p>
			<p>
				In other words, for FriendUP to work with voice, please use
				Samsung Internet or Google Chrome for now.
			</p>
			<p>
				Another factor is your microphone and speaker setup. In FriendUP,
				we use voice synthesis to guide you with voice. But as we are
				continuously listening on your microphone to get your voice input,
				your speakers might be picked up instead of your voice. To prevent
				this, please either wear a headset, or turn the volume on your
				speakers down. Additionally, make sure your microphone input is
				moderated, so that the volume is not too high, not too low.
			</p>
			<p>
				Once you have found a setup where the speakers have a low volume,
				or are unheard by your microphone, you should be ready to get
				started.
			</p>
			<h2>
				<a name="gettingstarted"></a>
				Getting started
			</h2>
			<p>
				Controlling FriendUP through voice is like a game of words. To 
				make your voice commands intelligible to Friend, we have created
				some rules you need to follow. We have been flexible in how we
				interpret your voice, so you always have two or three ways of 
				accomplishing the same thing. This makes it a bit more comforable
				for you, if the voice recognition technology has a problem with
				understanding your pronounciation.
			</p>
			<p>
				When starting out, look for the microphone icon on the bottom
				right part of your screen. Click on it to activate the voice
				recognition. You will be alerted that the voice recognition is
				active.
			</p>
			<p>
				The first thing you might do, is to access the <strong>volumes</strong> on your
				desktop (or the volumes hidden away in your volume dock, on mobile).
			</p>
			<p>
				Open the system volume like this:
			</p>
			<p>
				<strong>open volume system</strong>
			</p>
			<p>
				Friend also can reach the volume by count. Considering you have
				two volume icons, Home: and then System:, the System volume would
				be volume two. In this case, you can say:
			</p>
			<p>
				<strong>open volume two</strong> or <strong>open second volume</strong>
			</p>
			<p>
				When you have done this, assuming the voice recognition works,
				you the System: directory will open in a window in front of you.
				You can now access the files and directories listed. To open
				the <strong>Functions</strong> directory, say:
			</p>
			<p>
				<strong>open third directory</strong> or <strong>open directory three</strong> or <strong>open directory functions</strong>
			</p>
			<p>
				This will open the <strong>Functions</strong> directory in a new window,
				activated in front of you.
			</p>
			<p>
				Now we have a list of functions in front of you. We use some basic
				parsing to match with the filenames (because the voice recognition
				might not know exactly what you are saying, letter by letter).
				Say:
			</p>
			<p>
				<strong>open file two</strong> or <strong>open second file</strong>
			</p>
			<p>
				Most probably, the file name is unintelligible to the voice 
				recognition software. But you could try:
			</p>
			<p>
				<strong>open file screen open</strong> (which we try to combine to "screenopen")
			</p>
			<p>
				By now, a new unnamed screen should open. And you might want to 
				switch back to the Workspace screen. Do this by saying:
			</p>
			<p>
				<strong>screen switch</strong> or <strong>screen swap</strong>
			</p>
			<p>
				You can also switch back to the opened screen by saying:
			</p>
			<p>
				<strong>screen switch</strong> or <strong>screen swap</strong> (once again)
			</p>
			<p>
				Now you can close the screen by saying:
			</p>
			<p>
				<strong>screen close</strong>
			</p>
			<p>
				Now you know how to open volumes, directories and files. This will
				get you very far, as you now also know how to execute Dormant 
				functions in for example Artisan, the programming application. 
				Let us open this application. (Make sure you ran it once before,
				because you need to install and/or activate the application
				prior to using it.)
			</p>
			<p>
				With FriendUP, we understood that application names might be 
				difficult to understand for the voice recognition software. You
				might have names like Shoutcast, or k3b, which will be next to
				impossible to match with any dictionary. Because of this, we have
				pre programmed some aliases that the voice recognition software
				will understand. So to open up Artisan, the programming application,
				you say:
			</p>
			<p>
				<strong>open programming application</strong> or <strong>run programming application</strong>
			</p>
			<p>
				This runs the application, and the name of the application will
				be spoken by the speech synthesis software. After this, an application
				volume icon will appear on your Workspace. Open this by the
				correct sort order number.
			</p>
			<p>
				<strong>open volume one</strong> or <strong>open first volume</strong>
			</p>
			<p>
				This opens up the Artisan Dormant volume window. Here you can access
				the Artisan functions. Then say:
			</p>
			<p>
				<strong>open directory functions</strong>
			</p>
			<p>
				Now, in the <strong>Functions</strong> directory, you will get
				a lot of dormant functions listed. You can scroll down to see
				all of them.
			</p>
			<p>
				<strong>scroll down</strong>
			</p>
			<p>
				<strong>scroll down</strong>
			</p>
			<p>
				<strong>scroll down</strong>
			</p>
			<p>
				You should now see the <strong>Insert</strong> function. This
				one we want to use to put some text into Artisan. Say:
			</p>
			<p>
				<strong>open file insert</strong>
			</p>
			<p>
				The speech synthesis will now ask you for arguments, as the
				<strong>Insert</strong> function is executable. Say:
			</p>
			<p>
				<strong>just saying that the weather could be better</strong>
			</p>
			<p>
				Now, the text should be put into Artisan. The synthetic voice
				will ask if you want to do more, or just stop. Say:
			</p>
			<p>
				<strong>stop</strong>
			</p>
			<p>
				Now the synthetic voice will tell you that the speech recognition
				has gone back into standard mode. Say:
			</p>
			<p>
				<strong>switch windows</strong>
			</p>
			<p>
				You can say this until Artisan is the window in the foreground.
				When you are happy with the results, say:
			</p>
			<p>
				<strong>close windows</strong>
			</p>
			<p>
				This will close all open windows and leave you with a clean
				<strong>Workspace</strong>. Please look at the Voice Regocnition
				specification for all the voice commands.
			</p>
		</div>
	</div>

	

