
	<div style="position: absolute; top: 0; left: 0; width: 30%; height: 100%; overflow: auto; background: #cccccc">
	
		<div class="Padding">
			<h2>
				Contents:
			</h2>
			<ol>
				<li><a href="#introduction">Introduction</a></li>
				<li><a href="#gettingstarted">Getting started</a></li>
			</ol>
			<h2>
				Command index:
			</h2>
			<ol>
				<li><a href="#cmd_break">break</a></li>
				<li><a href="#cmd_cd">cd</a></li>
				<li><a href="#cmd_dir">dir</a></li>
				<li><a href="#cmd_echo">echo</a></li>
				<li><a href="#cmd_status">status</a></li>
			</ol>
		</div>
	
	</div>
	
	<div style="position: absolute; top: 0; left: 30%; width: 70%; height: 100%; overflow: auto">

		<div class="Padding BorderBottom">
		
			<h1>
				Friend DOS
			</h1>
		</div>
		<div class="Padding" style="text-align: justify">
			
			<h2>
				<a name="introduction"></a>
				Introduction
			</h2>
			<p>
				Every Workspace should allow you to use it using written language
				alone. Not because you would prefer it, but because it gives everyone
				options on how to use their system. Consider people with reduced
				eyesight or other disabilities.
			</p>
			<p>
				Friend DOS (Friend Disk Operating System), is inspired by many
				similar systems. It allows you to navigate through your Workspace
				using commands and arguments. Additionally, it allows you to
				navigate through your applications. This way, you are able to 
				access more advanced features than ever before.
			</p>
			<p>
				The DOS is often accessed through what we call a <strong>Shell</strong>.
				It allows you to type in DOS commands that control the file system as
				well as OS structures. In FriendUP, you can have as many Shell sessions
				as you want, opening a CLI window on the Workspace. Additionally,
				you can access the DOS commands through your applications, using
				the Shell javascript class.
			</p>
			<p>
				For advanced users, simple typed commands might not be enough.
				Because of this, we have provided you with a powerful DOS scripting language.
				With this scripting language, you can access most of the OS
				structures using a shell, or using the Shell javascript class.
			</p>
			<h2>
				<a name="gettingstarted"></a>
				Getting started
			</h2>
			<p>
				To get started, open a new Shell by either starting the application
				using your dock, or by selecting "New shell" from the Workspace
				menu. This will bring up a new Shell where you can enter your
				first Friend DOS commands.
			</p>
			<p>
				In a shell, you start out on the command prompt. This is where 
				you input your commands. When opening a new shell session, it will
				look like this:
			</p>
			<p>
				<strong>System:></strong>
			</p>
			<p>
				This indicates that your current location is the root directory
				of the System: volume. Here you can change directory. Normally,
				in a standard FriendUP setup, you also have a Home: volume.
				Start by changing to this location:
			</p>
			<p>
				<strong>cd Home:</strong>
			</p>
			<p>
				After writing this, you can hit enter. This will let you enter
				the Home: volume. After this, change back to the System: volume.
			</p>
			<p>
				<strong>cd System:</strong>
			</p>
			<p>
				Now being back at the System: volume, you should do a directory
				listing to show all the files and directories that are found
				at the root directory.
			</p>
			<p>
				<strong>dir</strong>
			</p>
			<p>
				You will now have a directory listing. You will see the standard
				directory output.
			</p>
			<p>
				Settings/ &nbsp; Devices/ &nbsp; Documentation/<br>
				Tools/ &nbsp; Libraries/ &nbsp; Functions/<br>
				Modules/ &nbsp; Software/
			</p>
			<h2>
				<a name="cmd_break"></a>
				break
			</h2>
			<p>
				The command "break" lets you terminate processes running in the
				FriendUP Workspace. "break" requires a process number to function.
				This process number is a acquired with "status".
			</p>
			<h2>
				<a name="cmd_cd"></a>
				cd
			</h2>
			<p>
				"cd" stands for "change directory". It allows you to navigate
				through the DOS environment, changing from volumes to directories.
			</p>
		</div>
	</div>

	

