
	<h1>
		<span>Thank you for using</span><img src="/themes/jeanie/gfx/jeanie_color.png" style="width: 100%; height: auto">
	</h1>
	
	<p>
		You have been using Jeanie. 
		We sincerely hope it was a useful and great experience. 
	</p>
	<p>
		Remember to visit our website at:
	</p>
	<p>
		<strong><a href="https://jeanie.app/">jeanie.app</a></strong>
	</p>
	
	<style>
		h1 span { display:block; padding:0 0 6px 0; }
		.ThankYou
		{
			width: 500px;
			max-width:calc(100% - 20px);
			height: 460px;
			box-sizing: border-box;
			margin: 100px auto;
			background: white;
			color: #111111;
			border-radius: 10px;
			text-align: left;
			padding: 40px;
			font-size: 18px;
		}
	</style>

