
	<h1>
		<span>Thank you for using</span><img src="/webclient/gfx/system/logo_480_dark.png" style="width: 100%; height: auto">
	</h1>
	
	<p>
		You have been using FriendOS. We sincerely hope it
		was a useful and great experience. Please get in touch with us to help
		us improve this service.
	</p>
	<p>
		Please e-mail us at: <a href="mailto:info@friendup.cloud">info@friendup.cloud</a>
	</p>
	<p>
		Remember to visit our web site at:
	</p>
	<p>
		<strong><a href="https://friendup.cloud/">friendup.cloud</a></strong>
	</p>
	
	<style>
		h1 span { display:block; padding:0 0 6px 0; }
		.ThankYou
		{
			width: 500px;
			max-width:calc(100% - 20px);
			height: 460px;
			box-sizing: border-box;
			margin: 100px auto;
			background: white;
			color: #111111;
			border-radius: 10px;
			text-align: left;
			padding: 40px;
			font-size: 18px;
		}
	</style>

