
	<script src="Progdir:Scripts/ckeditor5/ckeditor.js"></script>
	<script src="System:js/gui/filebrowser.js"></script>

	<div class="ContentFull EditorContentArea">
	    <div id="NotesToolbar" class="BorderBottom Padding BackgroundDefault">
	        <!--<div class="FloatRight">
    	        <button type="button" class="IconButton IconSmall fa-search" onclick="Application.showSearch()"></button>
    	    </div>-->
	        <button type="button" class="IconButton IconSmall fa-folder" onclick="Application.addFolder()"></button>
	        <button type="button" class="IconButton IconSmall fa-file-text" onclick="Application.addNote()"></button>
	        <!--<div id="NotesSearch" class="Padding">
	            <input type="text" value="" placeholder="{i18n_find_keywords}"/>
	        </div>-->
	    </div>
		<div id="LeftBar" class="BorderRight Padding">
		</div>
		<div id="FileBar" class="BorderRight">
		</div>
		<div id="RightBar">
			<div id="Editor">
			</div>
		</div>
		<div class="Padding TextCenter" id="Status">
		</div>
	</div>
	
	<div class="Printable" id="Printable"></div>
	
	<script src="Progdir:Scripts/maingui.js"></script>
	<link rel="stylesheet" href="Progdir:Css/editor.css"/>
	
	<style id="DesignCss"></style>
