

	<div class="FullContent LayoutButtonbarBottom">
		<div class="VContentTop ScrollArea">
			<div id="Styles">
			</div>
		</div>
		<div class="VContentBottom Padding BorderTop">
			<button class="FloatRight IconSmall fa-remove" onclick="CloseView()">
				{i18n_cancel}
			</button>
			<button class="IconSmall fa-check" onclick="ApplyStyle()">
				{i18n_apply}
			</button>
		</div>
	</div>
	<link rel="stylesheet" href="Progdir:Css/gui_colorpicker.css"/>
	<script src="Progdir:Scripts/colorpicker.js"></script>
	<script src="Progdir:Scripts/style_editor.js"></script>
	<style>
		.HRow .HRow
		{
			margin: 0 0 4px 0;
		}
		.HRow .HRow select, .HRow .HRow input
		{
			height: 25px;
		}
		.HRow > div
		{
			line-height: 25px;
		}
		.Depth1
		{
			padding: 15px;
			box-sizing: border-box;
		}
		.ColorBox
		{
			line-height: 22px;
			box-sizing: border-box;
			width: 100%;
			height: 24px;
			background-color: black;
		}
		
		/* Color picker popup */
		
		.AuthFullscreenDialog
		{
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.3);
		}
		
		.AuthDiaBox
		{
			position: absolute;
			top: calc(50% - 125px);
			left: 25%;
			width: 50%;
			height: 250px;
		}
		
		#DiaColors
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 50px);
		}
		
		#HexCode
		{
			width: 80px;
		}
		
		#DiaButtonsBottom
		{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50px;
		}
		
	</style>
