html
{
	height: 100%;
}

html > body
{
	min-height: 100%;
	height: auto;
}

#Status
{
	position: absolute;
	bottom: 2px;
	right: 10px;
	text-align: right;
	color: black;
}
#Status * { padding: 0; margin: 0; }

/* Custom toolbar */

#AuthorToolbar
{
	position: absolute;
	top: 0;
	left: 0;
	height: 96px;
	right: 0;
}

.HRow > .ToolButton
{
	float: left;
	display: flex;
}

.ToolbarInner
{
	padding-right: 54px;
}


.ToolbarInner select, .ToolbarInner button, .ToolbarInner .ToolButtonLabel,
.ToolbarInner .ToolButton
{
	margin-bottom: 2px;
}

/* Top */
#cke_1_top
{
	display: none;
}

.cke_chrome
{
	border: 0;
	box-shadow: none;
}

/* Bottom status bar */
#cke_1_bottom
{
	position: absolute !important;
	top: auto;
	bottom: 0;
	width: 100%;
	height: 41px;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}	

/* Document contents */
#cke_1_contents
{
	position: absolute !important;
	top: 97px;
	width: 100% !important;
	height: auto !important;
	bottom: 41px;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	background-color: white;
	border: 0;
}

/* Remove resizer */
#cke_1_resizer
{
	display: none;
}

/* Bottom status bar text */
a.cke_path_item, span.cke_path_empty
{
	padding: 15px 4px;
}

/* Speech input */

.Speech
{
	/* Remove for now */
	display: none;
	/* Done remove */
	
	position: absolute;
	right: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	cursor: hand;
	cursor: pointer;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	background: white;
}

.Speech input
{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 0;
	background: transparent;
	outline: none;
	z-index: 1;
	position: absolute;
}

.Button, .ToolSelect, .ToolButtonLabel
{
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 10px 0 0 5px;
	display: block !important;
	box-sizing: border-box;
	outline: none;
}

.ToolButtonLabel
{
	cursor: default;
}

.Button em, .ToolSelect em
{
	/*text-align: center;*/
	display: none;
}

.ToolDivider
{
	float: left;
	border-left: 1px solid rgba(255,255,255,0.8);
	border-right: 1px solid rgba(0,0,0,0.15);
	width: auto;
	height: 34px;
	position: relative;
	margin: 10px 0 0 5px;
}

/* Responsive design -------------------------------------------------------- */

@media (max-width: 660px)
{
	.Divider4 + .ToolButton + br
	{
		display: none;
	}
	#zoom, #zoomd
	{
		display: none !important;
	}
}

@media (max-width: 556px)
{
	#AuthorToolbar
	{
		height: 55px;
		overflow: hidden;
	}
	#cke_1_contents
	{
		top: 55px;
	}
}

/*
For now, we don't use this, we don't have enough tools...
@media (max-width: 400px)
{
	.Divider4 + .ToolButton + br
	{
		display: none;
	}
	#AuthorToolbar
	{
		height: 185px;
	}
	#cke_1_contents
	{
		top: 185px;
	}
}*/

#AuthorToolbar.Hidden
{
	height: 0;
	overflow: hidden;
}

#cke_1_contents.Hidden
{
	top: 0;
}

.cke_wysiwyg_frame, .cke_wysiwyg_div
{
	background: #444444;
}

/* Mobile */

[mobile] .ToolbarInner > div > *:first-child
{
	margin-left: 0;
}

[mobile] .ToolbarInner
{
	padding: 0 10px;
}

[mobile] #MobileMenu
{
	width: 32px;
	height: 32px;
	overflow: hidden;
	float: right;
	transition: width 0.25s;
}

[mobile] #MobileMenu.Open 
{
    position: fixed;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    overflow: auto;
}

[mobile] #MobileMenu.Open:before
{
	content: "\f00d";
	float: right;
	clear: both;
}

[mobile] #MobileMenu .ToolMenuElement
{
	display: block;
	clear: both;
	text-align: left;
}

[mobile] #MobileMenu .ToolMenuElement span
{
	width: 50%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}
[mobile] #MobileMenu .ToolMenuElement span + *
{
	width: 50%;
	position: relative;
	display: inline-block;
}

[mobile] #MobileMenu .ToolDivider
{
	display: none;
}

