@font-face {
    font-family: 'lato';
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot');
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff') format('woff'),
         url('/webclient/theme/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/webclient/theme/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: fontawesome;
	src: url(/webclient/theme/fonts/FontAwesome.otf);
}

@append url(System:css/core.css);
@append url(System:css/lists.css);
@append url(System:css/windows.css);
@append url(System:css/icons.css);
@append url(System:css/tabs.css);
@append url(System:css/workspace.css);
@append url(System:css/font-awesome.min.css);

@declaration
{
	/* Colors */
	$ColorBackground:        #2b2b2b;
	$ColorDefault:           #2b2b2b;
	$ColorText:              #e4e4e4;
	$ColorButton:            #eeeeee;
	$ColorBgButton:          #3a3a3a;
	$ColorButtonHover:       #ffffff;
	$ColorBgButtonHover:     #4a4a4a;
	$ColorSelect:            #e4e4e4;
	$ColorBgSelect:          #202020;
	$ColorSelectHover:       #404040;
	$ColorBgSelectHover:     #101010;
	$ColorBgTdListTable:     #101010;
	$ColorLists:             #e0e0e0;
	$ColorListsAlternate:    #efefef;
	$ColorBgListSw1:         #202020;
	$ColorBgListSw2:         #2b2b2b;
	$ColorBgListSwHover:     #505050;
	$ColorListSw1:           #efefef;
	$ColorListSw2:           #e4e4e4;
	$ColorTdListSw1:         #e0e0e0;
	$ColorTdListSw2:         #efefef;
	$ColorBgThListSw1:       #202020;
	$ColorBgThListSw2:       #2b2b2b;
	$ColorThListSw1:         #efefef;
	$ColorThListSw2:         #e4e4e4;
	$ColorNegativeListSw1:   #ffffff;
	$ColorNegativeListSw2:   #f8f8f8;
	$ColorBgNegativeListSw1: #1d4061;
	$ColorBgNegativeListSw2: #163552;
	$ColorBgTabActive:       #202020;
	$ColorBgPageActive:      #202020;
	$ColorBox:               #e4e4e4;
	$ColorBgBox:             #202020;
	$ColorLightBorder:       #303030;
	$ColorDialogButtons:     #0f0f0f;
	$ColorDialogHeader:      #0f0f0f;
	$ColorPositive:          #000000;
	$ColorNegative:          #ffffff;
	$ColorBgPositive:        #eeeeee;
	$ColorBgNegative:        #111111;
	$ColorBgHighlight:       #818181;
	$ColorHighlight:         #e0e0e0;
	$ColorSelect:            #0f0f0f;
	$ColorBorder:            rgba(0,0,0,0.2);
	$ColorInput:             #e4e4e4;
	$ColorBgInput:           #0f0f0f;
	$ColorBgRecessed:        #666666;
	$ColorRecessed:          #0f0f0f;
	$ColorOverlayBg:         rgba(0,0,0,0.7);
	$ColorLEDOn:             #87ca33;
	$ColorLEDAvailable:      #4fb3e6;
	$ColorLEDWarning:        #f5f141;
	$ColorLEDNotify:         #f4a01f;
	$ColorLEDNotifyFrom:     #f4a01f;
	$ColorLEDNotifyTo:       #ffd055;
	$ColorLEDAlert:          #ff5308;
	$ColorLEDOff:            #444444;
	$ColorLEDText:           #e4e4e4;

	/* Special colors */
	$ColorBgStError:         #990000;
	$ColorStError:           #ff6666;
	$ColorBgStGreenLight:    #A4D472;
	$ColorStGreenLight:      #222200;
	$ColorBgStBlueLight:     #448FDA;
	$ColorStBlueLight:       #e4e4e4;
	$ColorBgStGrayLight:     #BFBFBF;
	$ColorStGrayLight:       #e4e4e4;

	/* Context colors */
	$ColorAccept:              #000000;
	$ColorAcceptBg:            #92b376;
	$ColorAcceptButton:        #e0e0e0;
	$ColorAcceptButtonBg:      #519039;
	$ColorAcceptButtonHover:   #ffffff;
	$ColorAcceptButtonHoverBg: #97d137;
	$ColorDanger:              #000000;
	$ColorDangerBg:            #b37676;
	$ColorDangerButton:        #e0e0e0;
	$ColorDangerButtonBg:      #983b25;
	$ColorDangerButtonHover:   #ffffff;
	$ColorDangerButtonHoverBg: #ef653b;
	$ColorAvailable:           #000000;
	$ColorAvailableBg:         #94c6e0;
	$ColorAction:              #000000;
	$ColorActionBg:            #c362ff;
	$ColorWarning:             #000000;
	$ColorWarningBg:           #fdff87;
	$ColorNotify:              #000000;
	$ColorNotifyBg:            #ff9d4a;

	$ColorIconBlinkStart:      white;
	$ColorIconBlinkEnd:        grey;

	/* Font sizes */
	$FontSizeButton:         14px;
	$FontSizeDefault:        14px;

	/* Font weights */
	$FontWeightButton:       normal;
	$FontWeightThList:       normal;
	$FontWeightTabs:         normal;
	$FontWeightButtonActive: bold;

	/* Default face */
	$FontFaceNormal:         lato, sans serif;

	/* Font transforms */
	$FontTransformThList:    uppercase;

	/* Text shadow */
	$TxtShdThList:           1px 1px 1px white;
	$TxtShdTdList:           none;
	$TxtShdPositive:         1px 1px 1px black;
	$TxtShdNegative:         1px 1px 1px white;

	/* Margins */
	$MarginButton:           0 4px 0 0;
	$MarginButtonTd:         0;
	$MarginVerticalRuler:    0 8px 0 0;
	$MarginTabs:             0 5px 0 0;
	$MarginBox:              0;
	$MarginWindowTop:        35px;
	$MarginWindowTopVBars:   34px;
	$MarginWindowLeft:       3px;
	$MarginWindowRight:      3px;
	$MarginWindowBottom:     0px;

	/* Padding */
	$PaddingSelect:          4px 5px 5px 5px;
	$PaddingButton:          5px;
	$PaddingButtonTd:        5px;
	$PaddingListsTh:         8px 4px;
	$PaddingListsTd:         8px 4px;
	$PaddingInput:           2px 5px;
	$PaddingTabs:            8px 10px 8px 10px;
	$PaddingBox:             10px;

	/* Tables */
	$TblListsBorderCollapse: collapse;
	$TblListsBorderSpacing:  0px;

	/* Borders */
	$ButtonBorderRadius:     3px;
	$BorderBox:              1px solid #e0e0e0;
	$BorderInput:            1px solid #111111;
	$BorderBoxRadius:        2px;
	$WinBorderTopActive:     1.4px solid #333333;
	$WinBorderLeftActive:    1px solid #222222;
	$WinBorderRightActive:   1px solid #222222;
	$WinBorderBottomActive:  1.4px solid #050505;
	$WinBorderTopBlur:       1px solid #333333;
	$WinBorderLeftBlur:      1px solid #222222;
	$WinBorderRightBlur:     1px solid #222222;
	$WinBorderBottomBlur:    1.4px solid #050505;
	$WinBottomBarHeight:     17px;
	$WinContentBottom:       17px;
	$BorderRadiusTabs:       3px 3px 0 0;
	$BorderPageActive:       none;
	$BorderRuler:            1px solid #202020;

	$BorderDefaultTop:       1px solid rgba(255,255,255,0.1);
	$BorderDefaultLeft:      1px solid rgba(255,255,255,0.1);
	$BorderDefaultRight:     1px solid rgba(0,0,0,0.1);
	$BorderDefaultBottom:    1px solid rgba(0,0,0,0.1);

	/* Box shadow */
	$BoxShadowButton:        0px 2px 2px rgba(0,0,0,0.2);
	$BoxShadowRecessed:      inset 0px 1px 3px rgba(0,0,0,0.2);
	$BoxShadowElevated:      0px 1px 3px rgba(0,0,0,0.2);
	$BorderRecessed:         none;
	$BorderElevated:         1px solid rgba(0,0,0,0.1);

	/* Window gadgets */
	$WinGadResizeImg:        url(/themes/friendup_twilight/gfx/win_resizewin_passive.png);
	$WinGadResizeImgA:       url(/themes/friendup_twilight/gfx/win_resizewin_passive.png);
	$WinGadZoomImg:          url(/themes/friendup_twilight/gfx/win_maximize_passive.png);
	$WinGadZoomImgA:         url(/themes/friendup_twilight/gfx/win_maximize_passive.png);
	$WinGadCloseImg:         url(/themes/friendup_twilight/gfx/win_close_passive.png);
	$WinGadCloseImgA:        url(/themes/friendup_twilight/gfx/win_close_passive.png;
	$WinGadDepthImg:         url(/themes/friendup_twilight/gfx/win_depth_passive.png);
	$WinGadDepthImgA:        url(/themes/friendup_twilight/gfx/win_depth_passive.png);
	$WinGadMinimizeImg:      transparent;
	$WinGadMinimizeImgA:     transparent;
	$WinGadResizeColActive:  transparent;
	$WinGadResizeCol:        transparent;
	$WinFrameBgBlur:         #202020;
	$WinFrameBgDarkBlur:     #101010;
	$WinFrameBgActive:       #303030;
	$WinFrameBgDarkActive:   #202020;

	/* Gui image elements */
	$GuiImgWinTitle:         url(/themes/friendup_twilight/gfx/window_topgradient_inactive.png);
	$GuiImgWinTitleActive:   url(/themes/friendup_twilight/gfx/window_topgradient.png);
	$GuiImgWinLoading:       #222222 url(/themes/friendup_twilight/gfx/loading.gif) no-repeat center center;

	/* Icon set */
	$IconSmallArrowUp:       url(/webclient/gfx/icons/16x16/actions/arrow-up.png);
	$IconSmallArrowDown:     url(/webclient/gfx/icons/16x16/actions/arrow-down.png);
	$IconSmallArrowLeft:     url(/webclient/gfx/icons/16x16/actions/arrow-left.png);
	$IconSmallArrowRight:    url(/webclient/gfx/icons/16x16/actions/arrow-right.png);

	$IconSmallSave:          url(/webclient/gfx/icons/16x16/actions/dialog-ok.png);
	$IconSmallUse:           url(/webclient/gfx/icons/16x16/actions/dialog-ok-apply.png);
	$IconSmallCancel:        url(/webclient/gfx/icons/16x16/actions/dialog-cancel.png);

	$IconSmallListAdd:       url(/webclient/gfx/icons/16x16/actions/list-add.png);
	$IconSmallListRemove:    url(/webclient/gfx/icons/16x16/actions/list-remove.png);

	/* Other */
	$LineHeightInput:        14px;
}

/* VIRTUAL ELEMENTS --------------------------------------------------------- */
/* Where the windows can move */
.ScreenContentMargins
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* DONE VIRTUAL ELEMENTS ---------------------------------------------------- */

html body
{
	color: #e4e4e4;
	font-size: 15px;
}

html body[mobile=mobile]
{
	font-size: 16px;
}

html .Screen > .TitleBar > .Left *
{
	margin: -1px 5px 0 0;
	color: white;
}

@keyframes offlineFade
{
	0% { color: #ff0000; }
	50% { color: #ffee00; }
	100% { color: #ff0000; }
}
html .Screen > .TitleBar > .Left .Extra .Offline
{
	animation: offlineFade 2s infinite;
}

html .Screen > .TitleBar > .Left .Extra .Offline
{
	background-image: url(/themes/friendup_twilight/gfx/offline_16px.png);
}

.BordersDefault
{
	border-top: 1px solid #101010;
	border-bottom: 1px solid #101010;
	border-left: 1px solid #101010;
	border-right: 1px solid #101010;
}

.BordersDefaultNegative
{
	border-top: 1px solid #101010;
	border-left: 1px solid #101010;
	border-right: 1px solid #101010;
	border-bottom: 1px solid #101010;
}

.BorderTop
{
	border-top: 1px solid $ColorBorder;
}

.BorderBottom
{
	border-bottom: 1px solid $ColorBorder;
}

.BorderLeft
{
	border-left: 1px solid $ColorBorder;
}

.BorderRight
{
	border-right: 1px solid $ColorBorder;
}

.BordersDefaultButton
{
	border-top: 1px solid #101010;
	border-bottom: 1px solid #101010;
	border-left: 1px solid #101010;
	border-right: 1px solid #101010;
}

.BordersDefaultButtonHover
{
	border-top: 1px solid #101010;
	border-bottom: 1px solid #101010;
	border-left: 1px solid #101010;
	border-right: 1px solid #101010;
}

.BordersDefaultButtonActive
{
	border-top: 1px solid #101010;
	border-bottom: 1px solid #101010;
	border-left: 1px solid #101010;
	border-right: 1px solid #101010;
}

.ButtonGradients
{
	background: #222222;
}

.ButtonGradientsHover
{
	background: #3a3a3a;
}

.BordersDefaultButtonActive
{
	background: #3a3a3a;
}

.Selected
{
	background-color: $ColorBgSelect;
	color:            $ColorSelect;
}

html .File.Selected .Title
{
	background-color: rgba(200,200,200,0.1);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    color: #e4e4e4;
}

.ScreenContent > div > div > .File.Selected .Title
{
	background: rgba(0,0,0,0.3);
	color: #0f0f0f;
}

.ToolbarBackground
{
	background-color: $ColorBgBox;
}

.WindowBackground
{
	background-color: $ColorBackground;
}

.WindowBackgroundActive
{
	background-color: $ColorBackground;
}

.WindowContentBorders
{
	border-left: 3px solid rgba(0,0,0,0.1);
	border-right: 3px solid rgba(0,0,0,0.1);
	border-bottom: 3px solid rgba(0,0,0,0.1);
}

.WindowContentBordersActive
{
	border-left: 3px solid rgba(0,0,0,0.1);
	border-right: 3px solid rgba(0,0,0,0.1);
	border-bottom: 3px solid rgba(0,0,0,0.1);
}

.TabBorders
{
	border-top: 1px solid rgba(255,255,255,0.1);
	border-left: 1px solid rgba(255,255,255,0.1);
	border-right: 1px solid rgba(255,255,255,0.1);
	border-bottom: 0;
}

.TabActiveBorders
{
	border-top: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.1);
	border-right: 1px solid rgba(255,255,255,0.1);
	border-bottom: 0;
}

.TabGradients
{
	background: #202020;
}

.TabActiveGradients
{
	background: #3a3a3a;
}

/* Buttons */

html button, html .Button
{
	background-image: none;
	bacckground-color: $ColorBgButton;
	font-size: 15px;
}

button:hover, .Button:hover
{
	background-position: bottom left;
}


/* Dialog boxes */

.Dialog
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $ColorBackground;
}

.Dialog > .DialogHeader with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 50px;
	border-bottom: $BorderRuler;
	color: $ColorDialogHeader;
}

.Dialog > .DialogContent, .Dialog > .DialogContentMiddle,
.Dialog > .DialogContentBottom
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow: auto;
}

.Dialog > .DialogContentMiddle
{
	top: 50px;
}

.Dialog > .DialogContentBottom
{
	bottom: 0px;
	top: 50px;
}

.Dialog > .DialogButtons with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 50px;
	border-top: $BorderRuler;
	color: $ColorDialogButtons;
}

.Dialog .DialogMargin
{
	padding: $PaddingBox;
	box-sizing: border-box;
}

.Padding
{
	padding: $PaddingBox;
	box-sizing: border-box;
}

.PaddingTop
{
	padding-top: $PaddingBox;
	box-sizing: border-box;
}

.PaddingLeft
{
	padding-left: $PaddingBox;
	box-sizing: border-box;
}

.PaddingRight
{
	padding-right: $PaddingBox;
	box-sizing: border-box;
}

.PaddingBottom
{
	padding-bottom: $PaddingBox;
	box-sizing: border-box;
}

.FontLarge
{
	font-weight: normal;
	font-size: 28px;
}

.FontMedium
{
	font-weight: normal;
	font-size: 20px;
}

.IconSmall:before { font-family: FontAwesome; font-size: 16px; vertical-align: top; }
.IconMedium:before { font-family: FontAwesome; font-size: 24px; vertical-align: top; }
.IconLarge:before { font-family: FontAwesome; font-size: 32px; vertical-align: top; }
.IconHeightSmall { height: 28px; padding: 4px; box-sizing: border-box; }
.IconHeightMedium { height: 36px; padding: 4px; box-sizing: border-box; }
.IconHeightLarge { height: 44px; padding: 4px; box-sizing: border-box; }

/* Menu stuff --------------------------------------------------------------- */

html [mobile=mobile].ViewMaximized.HasMenu #WorkspaceMenu,
html [mobile=mobile].WidgetSlideDown.HasMenu #WorkspaceMenu
{
	background: #282828;
}
html [mobile=mobile].ViewMaximized.HasMenu #WorkspaceMenu .Menu,
html [mobile=mobile].ViewMaximized.HasMenu #WorkspaceMenu > div:first-line,
html [mobile=mobile].WidgetSlideDown.HasMenu #WorkspaceMenu .Menu,
html [mobile=mobile].WidgetSlideDown.HasMenu #WorkspaceMenu > div:first-line
{
	background: #282828;
	color: white;
	margin: 0px 1px 0 4px;
	line-height: 32px;
}
html [mobile=mobile].ViewMaximized.HasMenu #WorkspaceMenu > div:first-line,
html [mobile=mobile].WidgetSlideDown.HasMenu #WorkspaceMenu > div:first-line
{
	background: none;
}

/* Extra styling just for this theme ---------------------------------------- */

.View
{
	border-bottom: 1px solid rgb(30,30,30);
	border-radius: 7px 7px 4px 4px;
	-moz-border-radius: 7px 7px 4px 4px;
	-webkit-border-radius: 7px 7px 4px 4px;
	box-shadow: 0px 1px 16px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 1px 16px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 1px 16px rgba(0,0,0,0.6);
}

body[mobile=mobile] #Screens .View
{
	transition: none !important;
	-webkit-transition: none !important;
	transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-duration: 0s !important;
	-webkit-transition-duration: 0s !important;
}

.View.Active
{
	border-bottom: 1px solid rgb(30,30,30);
}

.View.Active:active
{
	border-radius: 7px 7px 4px 4px;
	-moz-border-radius: 7px 7px 4px 4px;
	-webkit-border-radius: 7px 7px 4px 4px;
	box-shadow: 0px 1px 16px rgb(17, 43, 67);
	-moz-box-shadow: 0px 1px 16px rgb(17, 43, 67);
	-webkit-box-shadow: 0px 1px 16px rgb(17, 43, 67);
}

html .View.Active > .Title,
html .View > .Title
{
	text-shadow: 1px 1px 1px rgb(0,0,0);
	border-bottom: 1px solid #191919;
}

.View.Active > .Title > div > .Close:hover,
.View.Active > .Title > div > .Close
{
	background-image: url(/themes/friendup/gfx/win_close_active.png);
}

.View.Active > .Title > div > .MobileClose
{
	position: absolute;
	top: 0;
	right: 3px;
	width: 33px;
	height: 33px;
	border-left: 1px solid rgba(0,0,0,0.1);
}
.View.Active > .Title > div > .MobileClose:after
{
	content: " ";
	display: block;
	position: absolute;
	height: 33px;
	left: 0px;
	width: 1px;
	top: 0;
	background: rgba(255,255,255,0.1);
}

/* Mobile glypths */
body:not([tablet])[mobile=mobile] .View > .Title > div > .Close
{
	background-image: none;
}
.View.Active > .Title > div > .MobileClose:before,
body:not([tablet])[mobile=mobile] .View > .Title > div > .Close:before
{
	content: "\f00d";
	font-family: fontawesome;
	font-size: 18px;
	position: absolute;
	top: 0; left: 0; width: 33px; height: 33px;
	text-align: center;
	line-height: 33px;
	font-weight: normal;
}

/* Mobile glypths */
body:not([tablet])[mobile=mobile] .View.Active > .Title > div > .Close
{
	background-image: none;
}
body:not([tablet])[mobile=mobile] .View.Active > .Title > div > .Close:before
{
	content: "\f104";
	font-family: fontawesome;
	font-size: 18px;
	position: absolute;
	top: 0; left: 0; width: 33px; height: 33px;
	text-align: center;
	line-height: 33px;
}

/* Window menu */
body.WindowMenu #Screens .View.Active[maximized=true],
body.WindowMenu #Screens .View.Active,
body.WindowMenu #Screens .View
{
	position: relative;
	top: auto !important;
	left: auto !important;
	width: calc(50% - 20px) !important;
	height: 100px !important;
	min-height: 100px !important;
	margin: 15px 0 0 13px;
	clear: none;
	background: #3a3a3a;
	overflow: hidden;
}
body.WindowMenu #Screens .View .Zoom,
body.WindowMenu #Screens .View .Depth,
body.WindowMenu #Screens .View .Minimize,
body.WindowMenu #Screens .View .Resize,
body.WindowMenu #Screens .View span:after,
body.WindowMenu #Screens .View.Active .BottomBar,
body.WindowMenu #Screens .View.Active .Resize,
body.WindowMenu #Screens .View.Active .RightBar,
body.WindowMenu #Screens .View.Active .LeftBar
{
	display: none;
}
body.WindowMenu #Screens .View .Close
{
	position: absolute;
	left: auto;
	right: -8px;
	top: 9px;
	background-image: url(/themes/friendup_twilight/gfx/win_close_active.png);
}
body.WindowMenu #Screens .View span
{
	left: 4px;
	width: calc(100% - 38px);
	text-overflow: ellipsis;
}
body.WindowMenu #Screens .View .Content,
body.WindowMenu #Screens .View .DirectoryToolbar,
body.WindowMenu #Screens .View .VolumeGauge
{
	display: none;
}
body.WindowMenu #Screens .View:before
{
	content: " ";
	position: absolute;
	z-index: 100;
	top: 30px; left: 0; width: 100%; height: calc(100% - 3px);
	background: rgba(0,0,0,0.5);
}
body.WindowMenu .Widget, body.WindowMenu #Statusbar,
body.WindowMenu .Desklet, body.WindowMenu .Screen .ScreenContent .Scroller:before
{
	opacity: 0;
	pointer-events: none;
}

html .Desklet
{
	background: rgba(0,0,0,0.8);
}

.Desklet.HasWindowlist
{
	border-radius: 0;
}

/* Window menu done */

.View > .LeftBar
{
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
}

.View > .RightBar, .View > .Resize
{
	border-radius: 0 0 3px;
	-moz-border-radius: 0 0 3px;
	-webkit-border-radius: 0 0 3px;
}


table.List > tbody > tr.sw1 > td
{
	border-top: 1px solid #101010;
	border-bottom: 1px solid #101010;
}
table.List > tbody > tr.sw2 > td
{
	border-top: 1px solid #202020;
	border-bottom: 1px solid #202020;
}

table.List > tbody > tr.sw1 > th,
table.List > tbody > tr > th
{
	border-top: 1px solid #101010;
	border-bottom: 1px solid #101010;
}
table.List > tbody > tr.sw2 > th
{
	border-top: 1px solid #202020;
	border-bottom: 1px solid #202020;
}

html .VolumeGauge
{
	background: #151515
	-webkit-box-shadow: inset 0px 0px 15px rgba(0,0,0,0.6);
	box-shadow: inset 0px 0px 15px rgba(0,0,0,0.6);
}

html .Active .VolumeGauge
{
	background: #282828;
}

html .VolumeGauge > .Inner
{
	background-color: #151515;
	border: 2px solid rgba(0,0,0,0.35);
	box-shadow: none;
	left: 0;
	right: 0;
	bottom: 0;
}

.View > .Content:before
{
	content: " ";
	display: block;
	position: absolute;
	height: 1px;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 2147483647;
}

html .View.Active > .Resize
{
    background-color: transparent;
}

html .View > .Content
{
	background: #101010;
}

html .View.Active .Content
{
	background: #282828;
}

.View > .Resize
{
    background-image: url(/themes/friendup_twilight/gfx/win_resizewin_passive.png);
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-position: 1px 4px;
    cursor: hand;
    cursor: pointer;
    right: 0px;
    bottom: 0px;
    width: 21px !important;
    height: 16px !important;
}

.Screen > .TitleBar .ScreenList > img
{
    display: none;
}

html .Screen > .TitleBar .ScreenList
{
	background-image: url(/iconthemes/friendup/24/tray/screen.png);
	background-repeat: no-repeat;
	background-position: center;
	border-left: 1px solid rgba(0,0,0,0.1);
}

html .Screen > .TitleBar
{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, #282828 0%, #393939 10%, #282828 100%);
	background: -webkit-linear-gradient(top, #282828 0%, #393939 10%, #282828 100%);
	background: linear-gradient(to bottom, #282828 0%, #393939 10%, #282828 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#393939',GradientType=0 ); /* IE6-9 */
	color: white;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.5);
}

html .Screen > .TitleBar:after
{
	content: " ";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 24px;
	height: 24px;

	background: url(/themes/friendup_twilight/gfx/friend_logo_24px.png);
}

html .Screen > .TitleBar .Left
{
	border-left: 1px solid rgba(0,0,0,0.1);
}

html #WorkspaceMenu
{
	background: transparent;
}

html #WorkspaceMenu .Open ul > li
{
	background: none;
}
html [mobile=mobile] #WorkspaceMenu .Open ul > li
{
	color: white;
}

html #WorkspaceMenu .Open > ul
{
	background: rgba(255,255,255,0.9);
	border-radius: 0 0 5px 5px;
}

html #WorkspaceMenu li:last-child
{
	border-radius: 0 0 5px 5px;
	border-radius: 0 0 4.2px 4.2px;
}

html #WorkspaceMenu ul ul li:first-child
{
	border-radius: 5px 5px 0 0;
	border-radius: 4.2px 4.2px 0 0;
}

html #WorkspaceMenu ul ul li:only-child
{
	border-radius: 5px;
	border-radius: 4.2px;
}

html #WorkspaceMenu .Open ul > li ul
{
	border-radius: 5px;
}

html #WorkspaceMenu .Menu
{
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

html #WorkspaceMenu .Menu:hover
{
	background-color: rgba(0,0,0,0.6);
}

html #WorkspaceMenu .Open ul > li:hover,
html #WorkspaceMenu .Open ul > li.Open
{
	background: rgba(0,0,0,0.6);
}

[mobile=mobile] .Screen #CalendarWidget .MonthName
{
	background: black;
}
[mobile=mobile] .Screen #CalendarWidget
{
	border-radius: 0;
}

html .View > .RightBar
{
	border-radius: 0 0 5px 0;
}

html .View > .LeftBar
{
	border-radius: 0 0 0 5px;
}

html .View > .Title > div > .Close:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 34px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

html .View > .Title > div > .Close
{
	border-right: 1px solid rgba(0,0,0,0.1);
}

html .View > .Title > div > .Zoom
{
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.1);
}

html body[focusmode=clicktofront] .View > .Title > div > .Zoom
{
	margin: -10px -7px 0 0;
}

html .View > .Title > div > .Zoom:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 0px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

.View.Active > .Title > div > .Zoom:hover,
.View.Active > .Title > div > .Zoom
{
	background-image: url(/themes/friendup_twilight/gfx/win_maximize_active.png);
}

html .View > .Title > div > .Minimize
{
	border-left: 1px solid rgba(255,255,255,0.1);
	display: block;
	background-image: url(/themes/friendup_twilight/gfx/win_minimize_passive.png);
	margin: -10px 10px 0px -9px;
}

.View.Active > .Title > div > .Minimize:hover,
.View.Active > .Title > div > .Minimize
{
	background-image: url(/themes/friendup_twilight/gfx/win_minimize_active.png);
}

html body[focusmode=clicktofront] .View > .Title > div > .Minimize
{
	margin: -10px -9px 0px 7px;
}

html body[focusmode=clicktofront] .View > .Title > div > .Zoom
{
	border-right: 1px solid rgba(0,0,0,0.1);
}

html .View > .Title > div > .Depth
{
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.1);
}

html .View > .Title > div > .Depth:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 0px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

.View.Active > .Title > div > .Depth:hover,
.View.Active > .Title > div > .Depth
{
	background-image: url(/themes/friendup_twilight/gfx/win_depth_active.png);
}

body[focusmode=clicktofront] .View .Depth
{
	display: none;
}

html .View > .Title > div > span
{
	width: calc(100% - 142px);
	max-width: 100%;
}

html body[mobile=mobile] .View > .Title > div > span
{
	width: calc(100% - 75px);
}

html #Statusbar .Task
{
	border-radius: 3px;
	height: 27px;
	padding: 5px 8px 7px 38px;
	background-size: 22px 22px;
}

html #Statusbar .Task:hover
{
	-webkit-filter: brightness(125%);
	filter: brightness(125%);
	-moz-filter: brightness(125%);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

html #Statusbar .Task.Active,
html #DockWindowList .Task.Active
{
	background-color: #326da4;
}

html .PageActive
{
	border-top: 2px solid #3a3a3a;
	border-radius: 3px 3px 0 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

html .Tab:before, html .TabActive:before
{
	margin-right: 4px;
}

html .Tab
{
	background-color: #313131;
}

html .TabActive
{
	font-weight: bold;
	color: white;
    background-color: #3a3a3a;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5)
}

html .Pages > .Tab, html .Pages > .TabActive
{
	z-index: 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    margin: 5px 0 0 5px;
}

/* Some links --------------------------------------------------------------- */

a
{
	text-decoration: none;
}

a, a:visited
{
	color: #115A9E;
}

a:active, a:hover
{
	color: #26537D;
}

/* Directory views ---------------------------------------------------------- */

html .DirectoryToolbar
{
	background-color: #151515;
}

html .Active > .DirectoryToolbar
{
	background-color: #2b2b2b;
}

.DirectoryToolbar button
{
	color: #eeeeee;
}

html .ToolDivider
{
	border-left: 1px solid rgba(255,255,255,0.15);
	border-right: 1px solid rgba(0,0,0,0.15);
}

/* Toolbar icons ------------------------------------------------------------ */

.Toolbar .IconSmall
{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	position: relative;
}

.Toolbar .IconSmall:after
{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(0);
	-webkit-filter: invert(0);
	transition: filter,webkit-filter 0.5s;
}

.Toolbar .IconSmall:hover:after
{
	filter: invert(1);
	-webkit-filter: invert(1);
}

.Toolbar .ToolbarArrowMove.IconSmall:after
{
	background-image: url(/themes/friendup_twilight/gfx/icons/Custom/toolbar_arrow_move_white.png);
}

.Toolbar .ToolbarPointer.IconSmall:after
{
	background-image: url(/themes/friendup_twilight/gfx/icons/Custom/toolbar_pointer_white.png);
}

.Toolbar .ToolbarMagnifier.IconSmall:after
{
	background-image: url(/themes/friendup_twilight/gfx/icons/Custom/toolbar_magnifier_white.png);
}

.Toolbar .ToolbarZoomOut.IconSmall:after
{
	background-image: url(/themes/friendup_twilight/gfx/icons/Custom/toolbar_zoom_out.png);
}

.Toolbar .ToolbarZoomIn.IconSmall:after
{
	background-image: url(/themes/friendup_twilight/gfx/icons/Custom/toolbar_zoom_in.png);
}

.Toolbar .ToolbarZoom1to1.IconSmall:after
{
	background-image: url(/themes/friendup_twilight/gfx/icons/Custom/toolbar_zoom_1.png);
}

.Toolbar .ToolbarEdit.IconSmall:after
{
	background-image: url(/themes/friendup_twilight/gfx/icons/Custom/toolbar_page_edit.png);
}

/* Boxes */

html .Box, html .BoxBlue
{
	border: 1px solid rgba(0,0,0,0.3);
}

html #RegionSelector
{
	background: rgba(47,102,153,0.2);
	border: 1px solid rgba(47,102,153,0.2);
}

/* File icons --------------------------------------------------------------- */

html .File
{
	width: 104px;
}

html .File .Icon
{
	width: 80px;
	height: auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=-2, Color='#888')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=-2, Color='#888')";
	-webkit-filter: drop-shadow(4px -2px 3px rgba(0,0,0,0.1));
	filter: drop-shadow(4px -2px 3px rgba(0,0,0,0.2));
}

@media (max-width: 320px)
{
	html body .File .Icon
	{
		width: 72px;
	}
	html body .File .Icon > div
	{
		height: 72px;
	}
}

html body[mobile=mobile] .File .Icon
{
	filter: none;
	-ms-filter: none;
	-webkit-filter: none;
}

html .File .Icon > div
{
	height: 80px;
}

html .File a
{
	color: #ababab;
}

html .File .Icon *
{
	background-size: 80px;
}

html .File .Icon .File
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/iconthemes/friendup/80/file_unknown.png);
}

html .File .Icon .Drive
{
	background-image: url(/iconthemes/friendup/80/disk_gray.png);
}

html .File .Icon .Directory
{
	/*background-image: url(/themes/friendup/gfx/icons/directory.png);*/
	background-image: url(/iconthemes/friendup/80/drawer.png);
}

html .File .Icon .DirectoryBrown
{
	/*background-image: url(/themes/friendup/gfx/icons/directory.png);*/
	background-image: url(/iconthemes/friendup/80/drawer_brown.png);
}

html .File.Selected .Icon .DirectoryBrown
{
	background-image: url(/iconthemes/friendup/80/drawer_brown_open.png);
}

html .File .Icon .Directory.Upload
{
	/*background-image: url(/themes/friendup/gfx/icons/directory.png);*/
	background-image: url(/iconthemes/friendup/80/drawer.png); /* TODO: Fix this */
}

html .File .Icon .NetworkDirectory
{
	/*background-image: url(/themes/friendup/gfx/icons/network.png);*/
	background-image: url(/iconthemes/friendup/80/drawer.png); /* TODO: Fix this */
}

html .File.Selected .Icon .Directory,
html .File.Selected .Icon .Directory.Upload,
html .File.Selected .Icon .NetworkDirectory
{
	background-image: url(/iconthemes/friendup/80/drawer_open.png);
}


html .File .Icon .Arena
{
	background-image: url(/iconthemes/friendup/80/doc_unknown.png); /* TODO: Fix this */
}

html .File .Icon .System
{
	/*background-image: url(/themes/friendup/gfx/icons/disk_system.png);*/
	background-image: url(/iconthemes/friendup/80/disk_system.png);
}


html .File .Icon .Home
{
	/*background-image: url(/themes/friendup/gfx/icons/disk_home.png);*/
	background-image: url(/iconthemes/friendup/80/disk_home.png);
}

html .File .Icon .Application
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_executable.png);*/
	background-image: url(/iconthemes/friendup/80/doc_script.png);
}

html .File .Icon .Trashcan
{
	background-image: url(/iconthemes/friendup/80/trash.png);
}

html .File .Icon .Ram
{
	background-image: url(/webclient/gfx/icons/64x64/devices/media-flash.png); /* TODO: Fix this one */
}

html .File .Icon .Door
{
	height: 56px;
	background-image: url(/iconthemes/friendup/80/disk_gray.png);
}

html .File .Icon .SystemDisk
{
	background-image: url(/iconthemes/friendup/80/disk_system.png);
}

html .File .Icon .Door.Assign
{
	background-image: url(/iconthemes/friendup/80/disk_bookmark_blue.png);
}

html .File .Icon .article
{
	background-image: url(/iconthemes/friendup/80/doc_unknown.png); /* TODO: Fix this */
}

html .File .Icon .TypeJPG
{
	background-image: url(/iconthemes/friendup/80/images_jpg.png);
}

html .File .Icon .TypeJPEG
{
	background-image: url(/iconthemes/friendup/80/images_jpg.png);
}

html .File .Icon .TypePNG
{
	background-image: url(/iconthemes/friendup/80/images_png.png);
}

html .File .Icon .TypeGIF
{
	background-image: url(/iconthemes/friendup/80/images_gif.png);
}

html .File .Icon .TypeBMP
{
	background-image: url(/iconthemes/friendup/80/images_bmp.png);
}

html .File .Icon .TypeDOC
{
	background-image: url(/iconthemes/friendup/80/doc_doc.png);
}

html .File .Icon .TypeODT
{
	background-image: url(/iconthemes/friendup/80/doc_odt.png);
}

html .File .Icon .TypeABW
{
	background-image: url(/iconthemes/friendup/80/doc_abw.png);
}

html .File .Icon .TypeDOCX
{
	background-image: url(/iconthemes/friendup/80/doc_docx.png);
}

html .File .Icon .TypePDF
{
	background-image: url(/iconthemes/friendup/80/doc_pdf.png);
}

html .File .Icon .TypeSVG
{
	background-image: url(/iconthemes/friendup/80/images_svg.png);
}

html .File .Icon .TypeGoogleDocs
{
	background-image: url(/iconthemes/friendup/80/doc_gdoc.png);
}

html .File .Icon .TypeWebUrl
{
	background-image: url(/iconthemes/friendup/80/doc_url.png);
}

html .File .Icon .TypeTXT
{
	background-image: url(/iconthemes/friendup/80/doc_txt.png);
}

html .File .Icon .TypeRUN
{
	background-image: url(/iconthemes/friendup/80/doc_shellscript.png);
}

html .File .Icon .TypeMP3
{
	background-image: url(/iconthemes/friendup/80/audio_mp3.png);
}

html .File .Icon .TypeOGG
{
	background-image: url(/iconthemes/friendup/80/audio_ogg.png);
}

html .File .Icon .TypeWAV
{
	background-image: url(/iconthemes/friendup/80/audio_wav.png);
}

html .File .Icon .TypeFLAC
{
	background-image: url(/iconthemes/friendup/80/audio_flac.png);
}

html .File .Icon .TypeHTML
{
	background-image: url(/iconthemes/friendup/80/doc_html.png);
}

html .File .Icon .TypeFPkg
{
	background-image: url(/iconthemes/friendup/80/archive_fpkg.png);
}

html .File .Icon .TApplication
{
	background-image: url(/iconthemes/friendup/80/treeapplication.png);
}

html .File .Icon .TypeZip
{
	background-image: url(/iconthemes/friendup/80/archive_zip.png);
}

html .File .Icon .TypeJS
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_js.png);
}

html .File .Icon .TypeJSX
{
	background-image: url(/iconthemes/friendup/80/doc_script.png);
}

html .File .Icon .TypePHP
{
	background-image: url(/iconthemes/friendup/80/doc_php.png);
}

html .File .Icon .TypeAVI
{
	background-image: url(/iconthemes/friendup/80/video_avi.png);
}

html .File .Icon .TypeFLV
{
	background-image: url(/iconthemes/friendup/80/video_flv.png);
}

html .File .Icon .TypeMOV
{
	background-image: url(/iconthemes/friendup/80/video_mov.png);
}

html .File .Icon .TypeWEBM
{
	background-image: url(/iconthemes/friendup/80/video_webm.png);
}

html .File .Icon .TypeOGV
{
	background-image: url(/iconthemes/friendup/80/video_ogv.png);
}

html .File .Icon .TypeMPG, html .File .Icon .TypeMPEG
{
	background-image: url(/iconthemes/friendup/80/video_mpg.png);
}

html .File .Icon .TypeMOV, html .File .Icon .TypeMP4
{
	background-image: url(/iconthemes/friendup/80/video_mp4.png);
}

html .File .Icon .Devs_Drawer_DOSDrivers,
html .File .Icon .Devs_Drawer_Cores,
html .File .Icon .Devs_Drawer_Sessions
{
	background-image: url(/iconthemes/friendup/80/drawer_gray.png);
}

html .File .Icon .FriendCore
{
	background-image: url(/iconthemes/friendup/80/friendcore.png);
}

html .File .Icon .DeviceSession
{
	background-image: url(/iconthemes/friendup/80/usersession.png);
}

html .File.Selected .Icon .Devs_Drawer_DOSDrivers
{
	background-image: url(/iconthemes/friendup/80/drawer_gray_open.png);
}

html .File .Icon .DOSDriver
{
	background-image: url(/iconthemes/friendup/80/dosdriver.png);
}

html .File .Icon .MetaFile
{
	background-image: url(/iconthemes/friendup/80/file_meta.png);
}

html .File .Icon .Module
{
	background-image: url(/iconthemes/friendup/80/module.png);
}

html .File .Icon .System_Dormant_Function
{
	background-image: url(/iconthemes/friendup/80/doc_script.png);
}

html .File .Icon .System_File_Meta
{
	background-image: url(/iconthemes/friendup/80/file_meta.png);
}

html .File .Icon .System_Library
{
	background-image: url(/iconthemes/friendup/80/library.png);
}

/* System icons */

html .File .Icon .System_Repositories
{
	background-image: url(/iconthemes/friendup/80/drawer_small_globe.png);
}

html .File.Selected .Icon .System_Repositories
{
	background-image: url(/iconthemes/friendup/80/drawer_small_globe_open.png);
}

html .File .Icon .System_Settings
{
	background-image: url(/iconthemes/friendup/80/drawer_small_system.png);
}

html .File.Selected .Icon .System_Settings
{
	background-image: url(/iconthemes/friendup/80/drawer_small_system_open.png);
}

html .File .Icon .System_Documentation
{
	background-image: url(/iconthemes/friendup/80/drawer_small_documentation.png);
}

html .File.Selected .Icon .System_Documentation
{
	background-image: url(/iconthemes/friendup/80/drawer_small_documentation_open.png);
}

html .File .Icon .System_Modules
{
	background-image: url(/iconthemes/friendup/80/drawer_small_modules.png);
}

html .File.Selected .Icon .System_Modules
{
	background-image: url(/iconthemes/friendup/80/drawer_small_modules_open.png);
}

html .File .Icon .System_Software
{
	background-image: url(/iconthemes/friendup/80/drawer_small_software.png);
}

html .File.Selected .Icon .System_Software
{
	background-image: url(/iconthemes/friendup/80/drawer_small_software_open.png);
}

html .File .Icon .System_Functions
{
	background-image: url(/iconthemes/friendup/80/drawer_small_functions.png);
}

html .File.Selected .Icon .System_Functions
{
	background-image: url(/iconthemes/friendup/80/drawer_small_functions_open.png);
}

html .File .Icon .System_Devices
{
	background-image: url(/iconthemes/friendup/80/drawer_small_devices.png);
}
html .File.Selected .Icon .System_Devices
{
	background-image: url(/iconthemes/friendup/80/drawer_small_devices_open.png);
}

html .File .Icon .System_Libraries
{
	background-image: url(/iconthemes/friendup/80/drawer_small_libraries.png);
}

html .File.Selected .Icon .System_Libraries
{
	background-image: url(/iconthemes/friendup/80/drawer_small_libraries_open.png);
}

html .File .Icon .System_Trashcan
{
	background-image: url(/iconthemes/friendup/80/trash.png);
}

html .File .Icon .System_Trashcan_Full
{
	background-image: url(/iconthemes/friendup/80/trash.png); /* TODO: Fix this */
}

.Launcher.View
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/View_Dock.png); /* TODO: Fix this */
}

/* Preference apps */

html .File .Icon .Prefs_Wallpaper
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Wallpaper.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Screens
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Screens.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Security
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Security.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Software
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Software.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Dock
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Dock.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Startup
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Startup.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Users
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Users.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Account
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Account.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Mimetypes
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Mimetypes.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_DiskCatalog
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/DiskCatalog.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Language
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Language.png); /* TODO: Fix this */
}

html .File .Icon .Prefs_Looknfeel
{
	background-image: url(/themes/friendup/gfx/icons/Custom/apps/Looknfeel.png); /* TODO: Fix this */
}

html .File .Icon .Tool_ApplicationManager
{
	background-image: url(/iconthemes/friendup/80/apps/application_manager.png);
}

html .File .Icon .Tool_SystemDiagnostics
{
	background-image: url(/iconthemes/friendup/80/apps/system_diagnostic.png);
}

/* Input elements ----------------------------------------------------------- */

input[type=text], input[type=range], input[type=number], input[type=date],
input[type=datetime-local], input[type=password], textarea
{
	border-radius: 4px;
}
html input, html textarea, html select
{
	font-size: 15px;
}

html #DoorsScreen .Left > .VirtualWorkspaces > div:not(.Active):hover > span
{
	color: black;
}

/* Mouse pointers ----------------------------------------------------------- */

body
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_blue.png) 7 3, auto;
}

html .MousePointer,
html .File, html button, html .Button, html .Desklet .Launcher, html #Tray > div,
html #Statusbar .Task,
html .View > .Title > div > .Zoom,
html .View > .Title > div > .Depth,
html .View > .Title > div > .Close,
html .View > .Resize,
html .View > .Title,
html .View > .Title *,
html .View > .Title > div > span,
html .View > .Title > div > span:hover,
html select,
html .List > div,
html .Tab, html .TabActive, html .VertTab,
html .ToolButton, html .ToolSelect, html .ToolButtonLabel,
html #WorkspaceMenu .Menu, html #WorkspaceMenu .Open, html #WorkspaceMenu .Menu:hover,
html input[type=checkbox], html input[type=radio], html input[type=image]
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_green.png) 7 3, auto;
}

html .MouseCrosshair
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_crosshair.png) 15 15, auto;
}

html .MouseCursor,
html input, html textarea
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_text.png) 15 15, auto;
}

html .MouseMove,
html .View > .Title:active, html .View:active > .Title,
html .View:active, html .View[moving=moving], html .View[moving=moving] *,
html .View > .MoveOverlay, html .Screen > .MoveOverlay
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_grab.png) 7 3, auto;
}

html .MouseRestricted,
html body #WorkspaceMenu .Menu li.Disabled,
html body #WorkspaceMenu .Menu li.Disabled:hover,
html body #WorkspaceMenu .Menu li.Disabled *
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_red.png) 7 3, auto;
}

html .MouseDefault
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_blue.png) 7 3, auto;
}

html body.Busy, html body.Busy *
{
	cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0001.png);
	animation: busyPointer 1000ms infinite;
	-webkit-animation: busyPointer 1000ms infinite;
}

@keyframes busyPointer
{
	0%     { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0001.png) 0 0, auto; }
	2.85%  { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0002.png) 0 0, auto; }
	5.70%  { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0003.png) 0 0, auto; }
	8.55%  { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0004.png) 0 0, auto; }
	11.40% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0005.png) 0 0, auto; }
	14.25% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0006.png) 0 0, auto; }
	17.10% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0007.png) 0 0, auto; }
	19.95% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0008.png) 0 0, auto; }
	22.80% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0009.png) 0 0, auto; }
	25.65% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0010.png) 0 0, auto; }
	28.50% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0011.png) 0 0, auto; }
	31.35% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0012.png) 0 0, auto; }
	34.20% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0013.png) 0 0, auto; }
	37.05% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0014.png) 0 0, auto; }
	39.90% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0015.png) 0 0, auto; }
	42.75% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0016.png) 0 0, auto; }
	45.60% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0017.png) 0 0, auto; }
	48.45% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0018.png) 0 0, auto; }
	51.30% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0019.png) 0 0, auto; }
	54.15% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0020.png) 0 0, auto; }
	57.00% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0021.png) 0 0, auto; }
	59.85% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0022.png) 0 0, auto; }
	62.70% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0023.png) 0 0, auto; }
	65.55% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0024.png) 0 0, auto; }
	68.40% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0025.png) 0 0, auto; }
	71.25% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0026.png) 0 0, auto; }
	74.10% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0027.png) 0 0, auto; }
	76.95% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0028.png) 0 0, auto; }
	79.80% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0029.png) 0 0, auto; }
	82.65% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0030.png) 0 0, auto; }
	85.50% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0031.png) 0 0, auto; }
	88.35% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0032.png) 0 0, auto; }
	91.20% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0033.png) 0 0, auto; }
	94.05% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0034.png) 0 0, auto; }
	96.90% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0035.png) 0 0, auto; }
	100%   { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0035.png) 0 0, auto; }
}
@-webkit-keyframes busyPointer
{
	0%     { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0001.png) 0 0, auto; }
	2.85%  { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0002.png) 0 0, auto; }
	5.70%  { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0003.png) 0 0, auto; }
	8.55%  { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0004.png) 0 0, auto; }
	11.40% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0005.png) 0 0, auto; }
	14.25% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0006.png) 0 0, auto; }
	17.10% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0007.png) 0 0, auto; }
	19.95% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0008.png) 0 0, auto; }
	22.80% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0009.png) 0 0, auto; }
	25.65% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0010.png) 0 0, auto; }
	28.50% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0011.png) 0 0, auto; }
	31.35% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0012.png) 0 0, auto; }
	34.20% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0013.png) 0 0, auto; }
	37.05% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0014.png) 0 0, auto; }
	39.90% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0015.png) 0 0, auto; }
	42.75% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0016.png) 0 0, auto; }
	45.60% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0017.png) 0 0, auto; }
	48.45% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0018.png) 0 0, auto; }
	51.30% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0019.png) 0 0, auto; }
	54.15% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0020.png) 0 0, auto; }
	57.00% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0021.png) 0 0, auto; }
	59.85% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0022.png) 0 0, auto; }
	62.70% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0023.png) 0 0, auto; }
	65.55% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0024.png) 0 0, auto; }
	68.40% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0025.png) 0 0, auto; }
	71.25% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0026.png) 0 0, auto; }
	74.10% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0027.png) 0 0, auto; }
	76.95% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0028.png) 0 0, auto; }
	79.80% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0029.png) 0 0, auto; }
	82.65% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0030.png) 0 0, auto; }
	85.50% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0031.png) 0 0, auto; }
	88.35% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0032.png) 0 0, auto; }
	91.20% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0033.png) 0 0, auto; }
	94.05% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0034.png) 0 0, auto; }
	96.90% { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0035.png) 0 0, auto; }
	100%   { cursor: url(/themes/friendup/gfx/icons/Custom/busyanim/busy0035.png) 0 0, auto; }
}

/* Icon fix */
html #Screens .File.Selected  .Title
{
	color: white;
}

/* Deepest field */

#DeepestField #UserProfilePicture > p.Fullname
{
	color: white;
	text-shadow: 0px 1px 1px black;
}

/* Mobile window management - special styles for different view modes ------- */
body .View[maximized=true],
body .View[maximized=true] > .Title,
body .View.Active[maximized=true] > .Title,
body:not([tablet])[mobile=mobile] .View,
body:not([tablet])[mobile=mobile] .View > .Title,
body:not([tablet])[mobile=mobile] .View.Active > .Title
{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: #222222;
}
html body:not([tablet])[mobile=mobile] .View > .Title > div > span
{
	left: 8px;
	width: calc(100% - 8px);
}
body:not([tablet])[mobile=mobile] .View.Active > .Title > div > span
{
	left: 40px;
	width: calc(100% - 75px);
}

body:not([tablet])[mobile=mobile] #Screens .View .BottomBar, 
body:not([tablet])[mobile=mobile] #Screens .View .Resize,
body:not([tablet])[mobile=mobile] #Screens .View .Zoom, 
body:not([tablet])[mobile=mobile] #Screens .View .Depth,
body:not([tablet])[mobile=mobile] #Screens .View .Minimize, 
body:not([tablet])[mobile=mobile] #Screens .View .Depth,
body:not([tablet])[mobile=mobile] #Screens .View .Zoom,
body:not([tablet])[mobile=mobile] #Screens .View .Minimize
{
	visibility: hidden;
	pointer-events: none;
}
body:not([tablet])[mobile=mobile] #Screens .View.Active .Close,
body:not([tablet])[mobile=mobile].WindowMenu #Screens .View .Close,
body:not([tablet])[mobile=mobile] #Screens .View.Active .Depth,
body:not([tablet])[mobile=mobile] #Screens .View.Active .Zoom,
body:not([tablet])[mobile=mobile] #Screens .View.Active .Minimize
{
	visibility: visible;
	pointer-events: all;
}

body:not([tablet])[mobile=mobile] #Screens .View:not(.Active) .Close
{
	left: auto;
	right: 0;
	position: absolute;
	visibility: visible;
	pointer-events: all;
	top: 0;
	z-index: 10;
	margin: 0;
}
body:not([tablet])[mobile=mobile] #Screens .View:not(.Active) .Close:after
{
	display: none;
}

body:not([tablet])[mobile=mobile] #Screens .View.Active .BottomBar, 
body:not([tablet])[mobile=mobile] #Screens .View.Active .Resize
{
	display: block;
}
/* Done mobile window management -------------------------------------------- */

/* Mobile menu */

html body[mobile=mobile] > .MobileMenu.Visible,
html [mobile=mobile].ViewMaximized.HasMenu #WorkspaceMenu div.Open > ul
{
	background: #222222;
	color: white;
}
[mobile=mobile].ViewMaximized.HasMenu #WorkspaceMenu .Open ul > li + li
{
	color: white;
}

@media (max-device-width: 768px)
{
	::-webkit-scrollbar
	{
		width: 4px;
		height: 4px;
	}
}
