
	<div id="Overview" class="ContentFull Thecontainer">
		<div class="VContentBottom MarginBottom" style="top: 0px">
			<div class="PaddingLeft PaddingRight VContentTop" style="bottom: 1px">
				<div id="Search"><div class="IconSmall fa-search MousePointer" id="SearchBox" onclick="this.classList.contains( 'fa-search' ) ? searcher() : clearSearch();"></div><input type="text" value="" id="Searcher" placeholder="Find stuff..." onkeydown="searcher(event)"/></div>
				<div id="Software"></div>
			</div>
		</div>
	</div>
	<div id="Details" class="BackgroundDefault ContentFull">
		<div class="VContentTop" style="bottom: 50px">
			<div class="VContentTop Padding" style="height: 50px">
				<div class="FloatRight" id="DetailControl">
					{buttons}
					<div id="ExtraButtons" class="FloatRight">
					</div>
				</div>
				<h1 id="ProductTitle">
				</h1>
			</div>
			<div class="VContentBottom BorderTop Padding" style="top: 50px">
				<div id="DtlShortDescription"></div>
				<!--<div id="DtlScreenshot"></div>-->
				<div id="DtlReadme"></div>
				<div id="DtlResources"></div>
			</div>
		</div>
		<div class="VContentBottom BorderTop Padding BackgroundDefault" style="height: 50px">
			<button type="button" class="Button Red FloatRight IconSmall fa-remove" onclick="overview()">
				Close
			</button>
		</div>
	</div>
	<script src="Progdir:Scripts/functions.js"></script>
	<script src="Progdir:Scripts/main.js"></script>
	<link rel="stylesheet" href="Progdir:Css/main.css"/>


