<div class="ContentFull LayoutButtonbarBottom">
	<div class="VContentTop Padding ScrollArea">
		<h1>
			{i18n_register_as_merchant}
		</h1>

		<p>
			<strong>{i18n_company_or_name}</strong>
		</p>
		<p>
			<input type="text" size="33"/>
		</p>
		<p>
			<strong>{i18n_country}</strong>
		</p>
		<p>
			<select id="Country">
				<option>Global</option>
				<option></option>
				<option>Afghanistan</option>
				<option>Albania</option>
				<option>Algeria</option>
				<option>Andorra</option>
				<option>Angola</option>
				<option>Antigua and Barbuda</option>
				<option>Argentina</option>
				<option>Armenia</option>
				<option>Aruba</option>
				<option>Australia</option>
				<option>Austria</option>
				<option>Azerbaijan</option>
				<option>Bahamas, The</option>
				<option>Bahrain</option>
				<option>Bangladesh</option>
				<option>Barbados</option>
				<option>Belarus</option>
				<option>Belgium</option>
				<option>Belize</option>
				<option>Benin</option>
				<option>Bhutan</option>
				<option>Bolivia</option>
				<option>Bosnia and Herzegovina</option>
				<option>Botswana</option>
				<option>Brazil</option>
				<option>Brunei</option>
				<option>Bulgaria</option>
				<option>Burkina Faso</option>
				<option>Burma</option>
				<option>Burundi</option>
				<option>Cambodia</option>
				<option>Cameroon</option>
				<option>Canada</option>
				<option>Cabo Verde</option>
				<option>Central African Republic</option>
				<option>Chad</option>
				<option>Chile</option>
				<option>China</option>
				<option>Colombia</option>
				<option>Comoros</option>
				<option>Congo, Democratic Republic of the</option>
				<option>Congo, Republic of the</option>
				<option>Costa Rica</option>
				<option>Cote d'Ivoire</option>
				<option>Croatia</option>
				<option>Cuba</option>
				<option>Curacao</option>
				<option>Cyprus</option>
				<option>Czechia</option>
				<option>Denmark</option>
				<option>Djibouti</option>
				<option>Dominica</option>
				<option>Dominican Republic</option>
				<option>East Timor (see Timor-Leste)</option>
				<option>Ecuador</option>
				<option>Egypt</option>
				<option>El Salvador</option>
				<option>Equatorial Guinea</option>
				<option>Eritrea</option>
				<option>Estonia</option>
				<option>Ethiopia</option>
				<option>Fiji</option>
				<option>Finland</option>
				<option>France</option>
				<option>Gabon</option>
				<option>Gambia, The</option>
				<option>Georgia</option>
				<option>Germany</option>
				<option>Ghana</option>
				<option>Greece</option>
				<option>Grenada</option>
				<option>Guatemala</option>
				<option>Guinea</option>
				<option>Guinea-Bissau</option>
				<option>Guyana</option>
				<option>Haiti</option>
				<option>Holy See</option>
				<option>Honduras</option>
				<option>Hong Kong</option>
				<option>Hungary</option>
				<option>Iceland</option>
				<option>India</option>
				<option>Indonesia</option>
				<option>Iran</option>
				<option>Iraq</option>
				<option>Ireland</option>
				<option>Israel</option>
				<option>Italy</option>
				<option>Jamaica</option>
				<option>Japan</option>
				<option>Jordan</option>
				<option>Kazakhstan</option>
				<option>Kenya</option>
				<option>Kiribati</option>
				<option>Korea, North</option>
				<option>Korea, South</option>
				<option>Kosovo</option>
				<option>Kuwait</option>
				<option>Kyrgyzstan</option>
				<option>Laos</option>
				<option>Latvia</option>
				<option>Lebanon</option>
				<option>Lesotho</option>
				<option>Liberia</option>
				<option>Libya</option>
				<option>Liechtenstein</option>
				<option>Lithuania</option>
				<option>Luxembourg</option>
				<option>Macau</option>
				<option>Macedonia</option>
				<option>Madagascar</option>
				<option>Malawi</option>
				<option>Malaysia</option>
				<option>Maldives</option>
				<option>Mali</option>
				<option>Malta</option>
				<option>Marshall Islands</option>
				<option>Mauritania</option>
				<option>Mauritius</option>
				<option>Mexico</option>
				<option>Micronesia</option>
				<option>Moldova</option>
				<option>Monaco</option>
				<option>Mongolia</option>
				<option>Montenegro</option>
				<option>Morocco</option>
				<option>Mozambique</option>
				<option>Namibia</option>
				<option>Nauru</option>
				<option>Nepal</option>
				<option>Netherlands</option>
				<option>New Zealand</option>
				<option>Nicaragua</option>
				<option>Niger</option>
				<option>Nigeria</option>
				<option>North Korea</option>
				<option>Norway</option>
				<option>Oman</option>
				<option>Pakistan</option>
				<option>Palau</option>
				<option>Palestinian Territories</option>
				<option>Panama</option>
				<option>Papua New Guinea</option>
				<option>Paraguay</option>
				<option>Peru</option>
				<option>Philippines</option>
				<option>Poland</option>
				<option>Portugal</option>
				<option>Qatar</option>
				<option>Romania</option>
				<option>Russia</option>
				<option>Rwanda</option>
				<option>Saint Kitts and Nevis</option>
				<option>Saint Lucia</option>
				<option>Saint Vincent and the Grenadines</option>
				<option>Samoa</option>
				<option>San Marino</option>
				<option>Sao Tome and Principe</option>
				<option>Saudi Arabia</option>
				<option>Senegal</option>
				<option>Serbia</option>
				<option>Seychelles</option>
				<option>Sierra Leone</option>
				<option>Singapore</option>
				<option>Sint Maarten</option>
				<option>Slovakia</option>
				<option>Slovenia</option>
				<option>Solomon Islands</option>
				<option>Somalia</option>
				<option>South Africa</option>
				<option>South Korea</option>
				<option>South Sudan</option>
				<option>Spain</option>
				<option>Sri Lanka</option>
				<option>Sudan</option>
				<option>Suriname</option>
				<option>Swaziland</option>
				<option>Sweden</option>
				<option>Switzerland</option>
				<option>Syria</option>
				<option>Taiwan</option>
				<option>Tajikistan</option>
				<option>Tanzania</option>
				<option>Thailand</option>
				<option>Timor-Leste</option>
				<option>Togo</option>
				<option>Tonga</option>
				<option>Trinidad and Tobago</option>
				<option>Tunisia</option>
				<option>Turkey</option>
				<option>Turkmenistan</option>
				<option>Tuvalu</option>
				<option>Uganda</option>
				<option>Ukraine</option>
				<option>United Arab Emirates</option>
				<option>United Kingdom</option>
				<option>Uruguay</option>
				<option>Uzbekistan</option>
				<option>Vanuatu</option>
				<option>Venezuela</option>
				<option>Vietnam</option>
				<option>Yemen</option>
				<option>Zambia</option>
				<option>Zimbabwe</option>
			</select>
		</p>
		<p>
			<strong>{i18n_description_of}</strong>
		</p>
		<p>
			<textarea class="FullWidth" style="height: 120px"></textarea>
		</p>
		<p>
			<strong>{i18n_categories}</strong>
		</p>
		<p>
			<select multiple="multiple" size="5">
				<option value="administration">Administration and servers</option>
				<option value="business">Business software</option>
				<option value="educational">Educational software</option>
				<option value="games">Games and entertainment</option>
				<option value="graphics">Graphics software</option>
				<option value="internet">Internet and networking</option>
				<option value="multimedia">Multimedia software</option>
				<option value="office">Office software</option>
				<option value="services">Online services</option>
				<option value="programming">Programming software</option>
				<option value="scientific">Scientific</option>
				<option value="system">System software</option>
				<option value="system_prefs">System / preferences</option>
			</select>
		</p>
	</div>
	<div class="VContentBottom Padding BackgroundDefault BorderTop">
		<button type="button" class="Button Green IconSmall fa-check-circle FloatLeft">
			{i18n_register}
		</button>
		<button type="button" class="Button Red IconSmall fa-remove FloatRight">
			{i18n_cancel}
		</button>
	</div>
</div>

