@font-face {
    font-family: 'assistant';
    src: url('/themes/friendup12/fonts/Assistant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'assistant';
    src: url('/themes/friendup12/fonts/Assistant-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face
{
	font-family: fontawesome;
	src: url(/webclient/theme/fonts/FontAwesome.otf);
}

@append url(System:css/core.css);
@append url(System:css/lists.css);
@append url(System:css/windows.css);
@append url(System:css/icons.css);
@append url(System:css/tabs.css);
@append url(System:css/workspace.css);
@append url(System:css/font-awesome.min.css);

@declaration
{
	/* Colors */
	$ColorBackground:        #efefef;
	$ColorDefault:           #efefef;
	$ColorText:              #000000;
	$ColorButton:            #ffffff;
	$ColorBgButton:          #3B81C2;
	$ColorButtonHover:       #ffffff;
	$ColorBgButtonHover:     #5EC6ED;
	$ColorSelect:            #000000;
	$ColorBgSelect:          #D0D0D0;
	$ColorSelectHover:       #404040;
	$ColorBgSelectHover:     #f8f8f8;
	$ColorBgTdListTable:     #f8f8f8;
	$ColorLists:             #3f3f3f;
	$ColorListsAlternate:    #303030;
	$ColorBgListSw1:         #f4f4f4;
	$ColorBgListSw2:         #f8f8f8;
	$ColorBgListSwHover:     #C1D4E5;
	$ColorListSw1:           #000000;
	$ColorListSw2:           #030303;
	$ColorTdListSw1:         #000000;
	$ColorTdListSw2:         #030303;
	$ColorBgThListSw1:       #e4e4e4;
	$ColorBgThListSw2:       #ededed;
	$ColorThListSw1:         #000000;
	$ColorThListSw2:         #000000;
	$ColorBgTabActive:       #fdfdfd;
	$ColorBgPageActive:      #fdfdfd;
	$ColorBox:               #000000;
	$ColorBgBox:             #fdfdfd;
	$ColorLightBorder:       #cfcfcf;
	$ColorDialogButtons:     #ffffff;
	$ColorDialogHeader:      #ffffff;
	$ColorPositive:          #000000;
	$ColorNegative:          #ffffff;
	$ColorBgPositive:        #cfcfcf;
	$ColorBgNegative:        #3f3f3f;
	$ColorBgHighlight:       #818181;
	$ColorHighlight:         #e0e0e0;
	$ColorSelect:            #ffffff;
	$ColorBorder:            #e0e0e0;
	$ColorInput:             #000000;
	$ColorBgInput:           #ffffff;
	$ColorBgRecessed:        #666666;
	$ColorRecessed:          #ffffff;
	$ColorOverlayBg:         rgba(239,239,239,0.7);
	$ColorLEDOn:             #87ca33;
	$ColorLEDWarning:        #f5f141;
	$ColorLEDNotify:         #f4a01f;
	$ColorLEDNotifyFrom:     #f4a01f;
	$ColorLEDNotifyTo:       #ffd055;
	$ColorLEDAlert:          #ff5308;
	$ColorLEDOff:            #e2e2e2;
	$ColorLEDText:           #000000;

	/* Special colors */
	$ColorBgStError:         #990000;
	$ColorStError:           #ff6666;
	$ColorBgStGreenLight:    #A4D472;
	$ColorStGreenLight:      #222200;
	$ColorBgStBlueLight:     #448FDA;
	$ColorStBlueLight:       #000000;
	$ColorBgStGrayLight:     #BFBFBF;
	$ColorStGrayLight:       #000000;

	/* Context colors */
	$ColorAccept:              #000000;
	$ColorAcceptBg:            #92b376;
	$ColorAcceptButton:        #e0e0e0;
	$ColorAcceptButtonBg:      #519039;
	$ColorAcceptButtonHover:   #ffffff;
	$ColorAcceptButtonHoverBg: #97d137;
	$ColorDanger:              #000000;
	$ColorDangerBg:            #b37676;
	$ColorDangerButton:        #e0e0e0;
	$ColorDangerButtonBg:      #983b25;
	$ColorDangerButtonHover:   #ffffff;
	$ColorDangerButtonHoverBg: #ef653b;
	$ColorAvailable:           #000000;
	$ColorAvailableBg:         #94c6e0;
	$ColorAction:              #000000;
	$ColorActionBg:            purple;
	$ColorWarning:             #000000;
	$ColorWarningBg:           #e6e660;
	$ColorNotify:              #000000;
	$ColorNotifyBg:            orange;

	$ColorIconBlinkStart:      black;
	$ColorIconBlinkEnd:        grey;


	/* Font sizes */
	$FontSizeButton:         14px;
	$FontSizeDefault:        14px;

	/* Font weights */
	$FontWeightButton:       normal;
	$FontWeightThList:       normal;
	$FontWeightTabs:         normal;
	$FontWeightButtonActive: bold;

	/* Default face */
	$FontFaceNormal:         assistant, sans serif;

	/* Font transforms */
	$FontTransformThList:    uppercase;

	/* Text shadow */
	$TxtShdThList:           1px 1px 1px white;
	$TxtShdTdList:           none;
	$TxtShdPositive:         1px 1px 1px black;
	$TxtShdNegative:         1px 1px 1px white;

	/* Margins */
	$MarginButton:           0 4px 0 0;
	$MarginButtonTd:         0;
	$MarginVerticalRuler:    0 8px 0 0;
	$MarginTabs:             0 5px 0 0;
	$MarginBox:              0;
	$MarginWindowTop:        35px;
	$MarginWindowTopVBars:   34px;
	$MarginWindowLeft:       3px;
	$MarginWindowRight:      3px;
	$MarginWindowBottom:     0px;

	/* Padding */
	$PaddingSelect:          4px 5px 5px 5px;
	$PaddingButton:          5px;
	$PaddingButtonTd:        5px;
	$PaddingListsTh:         8px 4px;
	$PaddingListsTd:         8px 4px;
	$PaddingInput:           2px 5px;
	$PaddingTabs:            8px 10px 8px 10px;
	$PaddingBox:             10px;

	/* Tables */
	$TblListsBorderCollapse: collapse;
	$TblListsBorderSpacing:  0px;

	/* Borders */
	$ButtonBorderRadius:     3px;
	$BorderBox:              1px solid #e0e0e0;
	$BorderInput:            1px solid #c0c0c0;
	$BorderBoxRadius:        2px;
	$WinBorderTopActive:     1.4px solid #5EC6ED;
	$WinBorderLeftActive:    1px solid #2F6699;
	$WinBorderRightActive:   1px solid #2F6699;
	$WinBorderBottomActive:  1.4px solid #2F6699;
	$WinBorderTopBlur:       1px solid #afafaf;
	$WinBorderLeftBlur:      1px solid #808080;
	$WinBorderRightBlur:     1px solid #808080;
	$WinBorderBottomBlur:    1.4px solid #707070;
	$WinBottomBarHeight:     17px;
	$WinContentBottom:       17px;
	$BorderRadiusTabs:       3px 3px 0 0;
	$BorderPageActive:       none;
	$BorderRuler:            1px solid #e0e0e0;

	$BorderDefaultTop:       1px solid rgba(255,255,255,0.5);
	$BorderDefaultLeft:      1px solid rgba(255,255,255,0.5);
	$BorderDefaultRight:     1px solid rgba(0,0,0,0.5);
	$BorderDefaultBottom:    1px solid rgba(0,0,0,0.5);

	/* Box shadow */
	$BoxShadowButton:        0px 2px 2px rgba(0,0,0,0.2);
	$BoxShadowRecessed:      inset 0px 1px 3px rgba(0,0,0,0.2);
	$BoxShadowElevated:      0px 1px 3px rgba(0,0,0,0.2);
	$BorderRecessed:         none;
	$BorderElevated:         1px solid rgba(0,0,0,0.1);

	/* Window gadgets */
	$WinGadResizeImg:        url(/themes/friendup/gfx/win_resizewin_passive.png);
	$WinGadResizeImgA:       url(/themes/friendup/gfx/win_resizewin_active.png);
	$WinGadZoomImg:          url(/themes/friendup/gfx/win_maximize_passive.png);
	$WinGadZoomImgA:         url(/themes/friendup/gfx/win_maximize_active.png);
	$WinGadCloseImg:         url(/themes/friendup/gfx/win_close_passive.png);
	$WinGadCloseImgA:        url(/themes/friendup/gfx/win_close_active.png;
	$WinGadDepthImg:         url(/themes/friendup/gfx/win_depth_passive.png);
	$WinGadDepthImgA:        url(/themes/friendup/gfx/win_depth_active.png);
	$WinGadMinimizeImg:      transparent;
	$WinGadMinimizeImgA:     transparent;
	$WinGadResizeColActive:  #3B81C2;
	$WinGadResizeCol:        #808080;
	$WinFrameBgBlur:         #808080;
	$WinFrameBgDarkBlur:     #606060;
	$WinFrameBgActive:       #3B81C2;
	$WinFrameBgDarkActive:   #2D618B;

	/* Gui image elements */
	$GuiImgWinTitle:         url(/webclient/gfx/system/window_topgradient_off.png);
	$GuiImgWinTitleActive:   url(/webclient/gfx/system/window_topgradient.png);
	$GuiImgWinLoading:       #505050 url(/webclient/gfx/system/busycube.gif) no-repeat center center;

	/* Icon set */
	$IconSmallArrowUp:       url(/webclient/gfx/icons/16x16/actions/arrow-up.png);
	$IconSmallArrowDown:     url(/webclient/gfx/icons/16x16/actions/arrow-down.png);
	$IconSmallArrowLeft:     url(/webclient/gfx/icons/16x16/actions/arrow-left.png);
	$IconSmallArrowRight:    url(/webclient/gfx/icons/16x16/actions/arrow-right.png);

	$IconSmallSave:          url(/webclient/gfx/icons/16x16/actions/dialog-ok.png);
	$IconSmallUse:           url(/webclient/gfx/icons/16x16/actions/dialog-ok-apply.png);
	$IconSmallCancel:        url(/webclient/gfx/icons/16x16/actions/dialog-cancel.png);

	$IconSmallListAdd:       url(/webclient/gfx/icons/16x16/actions/list-add.png);
	$IconSmallListRemove:    url(/webclient/gfx/icons/16x16/actions/list-remove.png);

	/* Other */
	$LineHeightInput:        14px;
}

/* VIRTUAL ELEMENTS --------------------------------------------------------- */
/* Where the windows can move */
.ScreenContentMargins
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* DONE VIRTUAL ELEMENTS ---------------------------------------------------- */

.BordersDefault
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultNegative
{
	border-top: 1px solid #909090;
	border-left: 1px solid #909090;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}

.BorderTop
{
	border-top: 1px solid $ColorBorder;
}

.BorderBottom
{
	border-bottom: 1px solid $ColorBorder;
}

.BorderLeft
{
	border-left: 1px solid $ColorBorder;
}

.BorderRight
{
	border-right: 1px solid $ColorBorder;
}

.BordersDefaultButton
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultButtonHover
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.BordersDefaultButtonActive
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.ButtonGradients
{
	background: #e8e8e8;
	background: -moz-linear-gradient(top, #e8e8e8 0%, #cecece 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#cecece));
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -o-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -ms-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: linear-gradient(to bottom, #e8e8e8 0%,#cecece 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#cecece',GradientType=0 );
}

.ButtonGradientsHover
{
	background: #3B81C2;
	background: -moz-linear-gradient(top, #59A3C4 0%, #3B81C2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#3B81C2));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#3B81C2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#3B81C2',GradientType=0 );
}

.BordersDefaultButtonActive
{
	background: #3B81C2;
	background: -moz-linear-gradient(top, #59A3C4 0%, #3B81C2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#3B81C2));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#3B81C2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#3B81C2',GradientType=0 );
}

.Selected
{
	background-color: $ColorBgSelect;
	color:            $ColorSelect;
}

.ToolbarBackground
{
	background-color: $ColorBgBox;
}

.WindowBackground
{
	background-color: $ColorBackground;
}

.WindowBackgroundActive
{
	background-color: $ColorBackground;
}

.WindowContentBorders
{
	border-left: 3px solid #808080;
	border-right: 3px solid #808080;
	border-bottom: 3px solid #808080;
}

.WindowContentBordersActive
{
	border-left: 3px solid #2F6699;
	border-right: 3px solid #2F6699;
	border-bottom: 3px solid #2F6699;
}

.TabBorders
{
	border-top: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 0;
}

.TabActiveBorders
{
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 0;
}

.TabGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #DEDEDE),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
}

.TabActiveGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #9BD6F2),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #FDFDFD)
	);
	background-image: -o-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -moz-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -webkit-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -ms-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: linear-gradient(to bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
}

/* Buttons */

button, .Button
{
	background-image: url(/webclient/gfx/system/window_topgradient.png);
	background-repeat: repeat-x;
	background-position: top left;
}

button:hover, .Button:hover
{
	background-position: bottom left;
}


/* Dialog boxes */

.Dialog
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $ColorBackground;
}

.Dialog > .DialogHeader with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 39px;
	border-bottom: $BorderRuler;
	color: $ColorDialogHeader;
}

.Dialog > .DialogContent, .Dialog > .DialogContentMiddle,
.Dialog > .DialogContentBottom
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	overflow: auto;
}

.Dialog > .DialogContentMiddle
{
	top: 40px;
}

.Dialog > .DialogContentBottom
{
	bottom: 0px;
	top: 40px;
}

.Dialog > .DialogButtons with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 39px;
	border-top: $BorderRuler;
	color: $ColorDialogButtons;
}

.Dialog > .DialogButtons > button
{
	margin: 6px 0 0 6px;
}

.Dialog .DialogMargin
{
	padding: $PaddingBox;
}

.Padding
{
	padding: $PaddingBox;
	box-sizing: border-box;
}

.PaddingTop
{
	padding-top: $PaddingBox;
	box-sizing: border-box;
}

.PaddingLeft
{
	padding-left: $PaddingBox;
	box-sizing: border-box;
}

.PaddingRight
{
	padding-right: $PaddingBox;
	box-sizing: border-box;
}

.PaddingBottom
{
	padding-bottom: $PaddingBox;
	box-sizing: border-box;
}

.FontLarge
{
	font-weight: normal;
	font-size: 28px;
}

.FontMedium
{
	font-weight: normal;
	font-size: 20px;
}

.IconSmall:before { font-family: FontAwesome; font-size: 16px; vertical-align: top; }
.IconMedium:before { font-family: FontAwesome; font-size: 24px; vertical-align: top; }
.IconLarge:before { font-family: FontAwesome; font-size: 32px; vertical-align: top; }
.IconHeightSmall { height: 28px; padding: 4px; box-sizing: border-box; }
.IconHeightMedium { height: 36px; padding: 4px; box-sizing: border-box; }
.IconHeightLarge { height: 44px; padding: 4px; box-sizing: border-box; }

/* Extra styling just for this theme ---------------------------------------- */

.View
{
	border-bottom: 1px solid #707070;
	border-radius: 3px 3px 4px 4px;
	-moz-border-radius: 3px 3px 4px 4px;
	-webkit-border-radius: 3px 3px 4px 4px;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
}

.View.Active
{
	border-bottom: 1px solid #2F6699;
	height: 100% !important; /* --- Probably just a hack for borderless theme to cover the whole iframe --- */
}

html .View > .Title
{
	height: 3px !important;
	background-image: none;
	background-color: #3B81C2;
	border-top: 0;
}

html .View > .LeftBar, html .View > .RightBar,
html .View > .Content
{
	top: 3px;
}

html .View > .LeftBar
{
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
}

.View > .RightBar, .View > .Resize
{
	border-radius: 0 0 3px;
	-moz-border-radius: 0 0 3px;
	-webkit-border-radius: 0 0 3px;
}


table.List > tbody > tr.sw1 > td
{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
}
table.List > tbody > tr.sw2 > td
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d8d8d8;
}

table.List > tbody > tr.sw1 > th,
table.List > tbody > tr > th
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #d8d8d8;
}
table.List > tbody > tr.sw2 > th
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d0d0d0;
}

.View > .Content:before
{
	content: " ";
	display: block;
	position: absolute;
	height: 1px;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 2147483647;
}

html .View.Active > .Resize
{
    background-color: transparent;
}

.View > .Resize
{
    background-image: url(/themes/friendup/gfx/win_resizewin_passive.png);
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-position: 1px 4px;
    cursor: hand;
    cursor: pointer;
    right: 0px;
    bottom: 0px;
    width: 21px !important;
    height: 16px !important;
}

.Screen
{
	background: transparent !important;
}

.Screen > .TitleBar .ScreenList > img
{
    display: none;
}

html .Screen > .TitleBar .ScreenList
{
	background-image: url(/themes/friendup12/gfx/screen_switch.png);
	background-repeat: no-repeat;
	background-position: center;
	border-left: 1px solid rgba(0,0,0,0.1);
}


html .Screen > .TitleBar
{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
html .Screen > .TitleBar:after
{
	content: " ";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 24px;
	height: 20px;
	background: url(/themes/friendup/gfx/logo_20px.png);
}

html .ScreenContent, html #DoorsScreen > .ScreenContent
{
	top: 0px !important;
}

html #WorkspaceMenu
{
	background: transparent;
}

html #WorkspaceMenu .Open ul > li
{
	background: none;
}

html #WorkspaceMenu .Open > ul
{
	background: rgba(255,255,255,0.9);
}

html #WorkspaceMenu .Open ul > li:hover,
html #WorkspaceMenu .Open ul > li.Open
{
	background: rgba(0,0,0,0.6);
}

html .View > .RightBar
{
	border-radius: 0 0 5px 0;
}

html .View > .LeftBar
{
	border-radius: 0 0 0 5px;
}

html .View > .Title > div > .Close:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 34px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

html .View > .Title > div > .Close
{
	border-right: 1px solid rgba(0,0,0,0.1);
}

html .View > .Title > div > .Zoom
{
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.1);
}

html .View > .Title > div > .Zoom:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 0px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

.View.Active > .Title > div > .Zoom:hover,
.View.Active > .Title > div > .Zoom
{
	background-image: url(/themes/friendup/gfx/win_maximize_active.png);
}

html .View > .Title > div > .Depth
{
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.1);
}

html .View
{
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	max-height: 100% !important;
	height: 100% !important;
	overflow: hidden;
	box-sizing: border-box;
}

html .View > .Title > div > .Depth:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 0px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

.View.Active > .Title > div > .Depth:hover,
.View.Active > .Title > div > .Depth
{
	background-image: url(/themes/friendup/gfx/win_depth_active.png);
}

html .View > .Title > div > span
{
	width: calc(100% - 112px);
	max-width: 100%;
}


html #Statusbar .Task
{
	border-radius: 3px;
	height: 27px;
	padding: 5px 8px 7px 38px;
	background-size: 22px 22px;
}

html #Statusbar .Task:hover
{
	-webkit-filter: brightness(125%);
	filter: brightness(125%);
	-moz-filter: brightness(125%);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

html #Statusbar .Task.Active
{
	background-color: #3B81C2;
	height: 27px;
}

html .PageActive
{
	border-top: 2px solid #3B81C2;
	border-radius: 3px 3px 0 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

html .Tab:before, html .TabActive:before
{
	margin-right: 4px;
}

html .Tab
{
	background-color: rgb(230, 230, 230);
}

html .TabActive
{
	font-weight: bold;
	color: white;
    background-color: #3B81C2;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5)
}

html .Pages > .Tab, html .Pages > .TabActive
{
	z-index: 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    margin: 5px 0 0 5px;
}

/* Some links --------------------------------------------------------------- */

a
{
	text-decoration: none;
}

a, a:visited
{
	color: #115A9E;
}

a:active, a:hover
{
	color: #26537D;
}

/* Toolbar icons ------------------------------------------------------------ */

.Toolbar .IconSmall
{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	position: relative;
}

.Toolbar .IconSmall:after
{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(0);
	-webkit-filter: invert(0);
	transition: filter,webkit-filter 0.5s;
}

.Toolbar .IconSmall:hover:after
{
	filter: invert(1);
	-webkit-filter: invert(1);
}

.Toolbar .ToolbarArrowMove.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_arrow_move_white.png);
}

.Toolbar .ToolbarPointer.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_pointer_white.png);
}

.Toolbar .ToolbarMagnifier.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_magnifier_white.png);
}

/* File icons --------------------------------------------------------------- */

html .File .Icon
{
	width: 64px;
	height: auto;
}

html .File .Icon > div
{
	height: 64px;
}

html .File a
{
	color: #404040;
}

html .File .Icon *
{
	background-size: 64px;
}

html .File .Icon .File
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/unknown.png);
}

html .File .Icon .Drive
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-removable-media.png);
}

html .File .Icon .Directory
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder.png);
}

html .File .Icon .DirectoryBrown
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-orange.png);
}

html .File .Icon .Directory.Upload
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-tar.png);
}

html .File .Icon .NetworkDirectory
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-network.png);
}

html .File .Icon .System
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}


html .File .Icon .Home
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}

html .File .Icon .Application
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-executable.png);
}

html .File .Icon .Trashcan
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-network.png);
}

html .File .Icon .Ram
{
	background-image: url(/webclient/gfx/icons/64x64/devices/media-flash.png);
}

html .File .Icon .Door
{
	height: 64px;
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}

html .File .Icon .SystemDisk
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}

html .File .Icon .Door.Assign
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-bookmark.png);
}

html .File .Icon .article
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-rtf.png);
}

html .File .Icon .TypeJPG, html .File .Icon .TypeJPEG, html .File .Icon .TypePNG,
html .File .Icon .TypeGIF
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/image-x-adobe-dng.png);
}

html .File .Icon .TypeDOC
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypeODT
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypeABW
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypeDOCX
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypePDF
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-pdf.png);
}

html .File .Icon .TypeTXT
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/text-x-changelog.png);
}

html .File .Icon .TypeRUN
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-executable-script.png);
}

html .File .Icon .TypeMP3
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeOGG
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeWAV
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeFLAC
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeHTML
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-xhtml+xml.png);
}

html .File .Icon .TypeZip
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-rar.png);
}

html .File .Icon .TypeJS
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-javascript.png);
}

html .File .Icon .TypeJSX
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-javascript.png);
}

html .File .Icon .TypeAVI
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeFLV
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeMOV
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeWEBM
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeMPG, html .File .Icon .TypeMPEG
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeMOV, html .File .Icon .TypeMP4
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .System_Dormant_Function
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-object.png);
}

html .File .Icon .System_File_Meta
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-sxw.png);
}

html .File .Icon .System_Library
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-shellscript.png);
}

/* System icons */

html .File .Icon .System_Repositories
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-development.png);
}

html .File .Icon .System_Settings
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-yellow.png);
}

html .File .Icon .System_Documentation
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-green.png);
}

html .File .Icon .System_Modules
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-grey.png);
}

html .File .Icon .System_Software
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-cyan.png);
}

html .File .Icon .System_Functions
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-brown.png);
}

html .File .Icon .System_Devices
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-black.png);
}

html .File .Icon .System_Libraries
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-violet.png);
}
