Source: friendup
Section: devel
Priority: optional
Maintainer: Pawel Stefanski <ps@friendup.cloud>
Build-Depends: build-essential, debhelper (>= 9), libsqlite3-dev, libsmbclient-dev, libssh2-1-dev, libssh-dev, libaio-dev, phpmyadmin, build-essential, libmatheval-dev, libmagic-dev, libgd-dev, rsync, libxml2-dev, php-readline, cmake, ssh, curl, python, php, php-cli, php-gd, php-imap, php-mysql, php-curl, php-readline, default-libmysqlclient-dev, dbconfig-mysql | dbconfig-no-thanks

Package: friendup
Architecture: any
Depends: libcomerr2,
         libbsd0,
         libcap2,
         libexpat1,
         libffi6,
         libfontconfig1,
         libfreetype6,
         libgcc-6-dev,
         libgcc1,
         libgcrypt20,
         libgd3,
         libgmp10,
         libgnutls30,
         libgpg-error0,
         libgssapi-krb5-2,
         libhogweed4,
         libicu57,
         libidn11,
         libjbig0,
         libjpeg62-turbo,
         libk5crypto3,
         libkeyutils1,
         libkrb5-3,
         libkrb5support0,
         libldap-2.4-2,
         libldb1,
         liblz4-1,
         liblzma5,
         libmagic1,
         libmariadbclient18,
         libnettle6,
         libp11-kit0,
         libpcre3,
         libpng16-16,
         libsasl2-2,
         libselinux1,
         libsmbclient,
         libsqlite3-0,
         libssh-4,
         libssl1.0.2,
         libstdc++6,
         libtalloc2,
         libtasn1-6,
         libtdb1,
         libtevent0,
         libtiff5,
         libwbclient0,
         libwebp6,
         libx11-6,
         libxau6,
         libxcb1,
         libxdmcp6,
         libxml2,
         libxpm4,
         samba-libs,
         zlib1g,
         php-cli,
         php-curl,
         php-gd,
         php-mbstring,
         php-mcrypt,
         php-mysql,
         php-tcpdf,
         php-xml,
         php-zip
Description: Friend Unifying Platform
 Private cloud solution. More details: https://friendup.cloud
