<!DOCTYPE html>
<html>
	<title>Friend UP</title>
	<head>
		<script onload="" src="/webclient/js/apps/api.js"></script>
		<meta id="oauth2_redirect_uri" name="oauth2_redirect_uri" content="{oauth2_redirect_uri}">
		<meta id="google-signin-client_id" name="google-signin-client_id" content="{google-signin-client_id}">
	</head>
	<body class="Loading" onload="loginNow()">
		<link rel="stylesheet" href="/webclient/css/extraLoginCSS.css"/>
		<style>
			#LoginElement button
			{
				height: 35px;
				background-color: #3e7eb6;
				color: white;
			}
			#LoginElement #verifyButton, #LoginElement #expiryButton  
			{
				float: right;
				width: 140px;
				cursor: pointer;
			}
			#LoginElement #expiryButton
			{
				float: none;
				margin: 0 auto;
			}
			#LoginElement button.google
			{
				height: 45px;
				box-sizing: border-box;
				padding: 0;
				background-color: white;
				color: #95A5A6;
				border: 1px solid #BDC3C7;
				white-space: nowrap;
			}
			#LoginElement button.google:hover 
			{
				cursor: pointer;
			}
			#LoginElement button.google svg
			{
				margin-bottom: -4px;
				padding-right: 8px;
			}
			#LoginElement h1, #LoginElement label, #LoginElement button
			{
				text-transform: none;
				font-weight: bold;
			}
			#LoginElement #forgotPassword
			{
				font-size: 15px;
				line-height: 35px;
			}
			#LoginElement .forgotPassword p, #LoginElement #invalidLogin p
			{
				margin: 0;
			}
			#LoginElement #invalidLogin p > span
			{
				padding: 0 0 6px 0;
			}
			#LoginElement #invalidVerification 
			{
				color: #F00;
				padding-top: 6px;
			}
			#LoginElement a, a:hover
			{
				color: #3e7eb6 !important;
				font-weight: bold !important;
			}
			#LoginElement hr
			{
				border: 0;
				border-top: 1px solid #BDC3C7;
				margin-top: 18px;
				margin-bottom: 18px;
				height: 0;
			}
		</style>
		<div id="LoginElement" style="visibility:hidden">
			<div class="VContentTop">
				<div class="Logo">
					Friend OS
				</div>
				<div id="LoginMode">
					<h1>
						Sign in to your Workspace
					</h1>
					<div class="Box">
						<form method="post" onsubmit="return false">
							<div class="HRow">
								<label id="UsernameLabel" for="Username">Username</label>
								<p>
									<input type="username" id="Username" class="FullWidth" onkeydown="Application.checkKeys(event)" autocapitalize="none" autocorrect="none" tabindex="1" />
								</p>
							</div>
							<div class="HRow MarginTop HideForPass">
								<label id="PasswordLabel" for="Password">Password</label>
								<p>
									<input type="password" id="Password" class="FullWidth" onkeydown="Application.checkKeys(event)"  tabindex="2" />
								</p>
							</div>
							<div class="HRow MarginTop">
								<div class="HContent50 InputHeight FloatLeft forgotPassword">
									<p>
										<a id="forgotPassword" style="cursor:pointer;" onclick="Application.forgotPassword()" tabindex="-1000">Forgot password ?</a>
									</p>
								</div>
								<div class="HContent50 InputHeight FloatLeft">
									<button id="loginButton" class="IconSmall fa-unlock" tabindex="4" onclick="Application.doLogin()">
										Sign in
									</button>
								</div>
							</div>
							<div class="HRow MarginTop">
								<div class="HContent100">
									<div id="invalidLogin" class="Padding"><p>&nbsp;</p></div>
								</div>
							</div>
						</form>
						<hr/>
						<div class="HRow MarginTop">
							<div class="HContent100">
								<button class="IconSmall fa-unlock google" tabindex="4" onclick="loginGoogle()">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
										<g>
											<path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
											<path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
											<path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
											<path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
											<path fill="none" d="M0 0h48v48H0z"></path>
										</g>
									</svg>
		    						<span class="buttonText">Sign in with Google</span>
								</button>
							</div>
						</div>
						<hr/>
						<div class="HRow MarginTop BorderTop HideForPass" style="text-align:center">
							Don't have an account? <a href="{friend_register_uri}">Sign Up</a>
						</div>
					</div>
				</div>
				<div id="VerifyMode" style="display:none">
					<h1>
						Set up your password
					</h1>
					<div class="Box">
						<form method="post" onsubmit="return false">
							<div class="HRow" id="VerificationContainer" style="display:none">
								<label id="VerificationLabel" for="Verification">Verification Code</label>
								<p>
									<input type="text" id="Verification" class="FullWidth" autocapitalize="none" autocorrect="none" tabindex="1" />
								</p>
							</div>
							<div class="HRow MarginTop">
								<label id="NewPasswordLabel" for="NewPassword">Password</label>
								<p>
									<input type="password" id="NewPassword" class="FullWidth" tabindex="2" />
								</p>
							</div>
							<div class="HRow MarginTop">
								<label id="ConfirmPasswordLabel" for="ConfirmPassword">Confirm password</label>
								<p>
									<input type="password" id="ConfirmPassword" class="FullWidth" tabindex="3" />
								</p>
							</div>
							<div class="HRow MarginTop">
								<div class="HContent100 InputHeight FloatLeft">
									<button id="verifyButton" class="IconSmall fa-unlock" tabindex="4" onclick="verifyCode()">
										Save and sign in
									</button>
								</div>
							</div>
							<div class="HRow MarginTop">
								<div class="HContent100">
									<div id="invalidVerification" class="Padding"><p>&nbsp;</p></div>
								</div>
							</div>
						</form>
						<hr/>
						<div class="HRow MarginTop BorderTop HideForPass" style="text-align:center">
							Already have an account? <a href="../loginprompt">Sign in</a>
						</div>
					</div>
				</div>
				<div id="ExpiryMode" style="display:none">
					<h1>
						Verification code has expired
					</h1>
					<p>
						&nbsp;
					</p>
					<div class="Box">
						<div class="HRow">
							<p>
								Please try signing up again.
							</p>
							<p>
								&nbsp;
							</p>
						</div>
						<div class="HRow MarginTop" style="text-align:center">
							<button id="expiryButton" class="IconSmall fa-unlock" tabindex="1" onclick="document.location = '{friend_register_uri}';">
								Sign up
							</button>
						</div>
					</div>
				</div>
				<input type="hidden" id="publickey" value="{publickey}"/>
			</div>
		</div>
		<script type="text/javascript">
			Application = {
				tempKeys: genRandomKeys(),
				showLog: false,
				inviteUser: false,
				inviteHash: false,
				failedAttempt: false,
				passwordRecoveryMode: false,
				init: function( data )
				{
				},
				doLogin: function( e )
				{
					
					if( Trim( ge( 'Username' ).value ) == '' )
					{
						ge( 'Username' ).focus();
						ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = 'Enter your username.';
						return;
					}
					
					/*
						In password recivery mode we do stuff a bit differently...
					*/
					if( this.passwordRecoveryMode )
					{
						ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = '';
						parent.Friend.User.ResetPassword( Trim( ge( 'Username' ).value ), function( result ){
							Application.forgotPassword();
							if( ge( 'Username' ).value.indexOf( '@' ) > 1 ) 
								ge( 'Username' ).value = '';
							ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = ( result == 'ok' ? 'Please check your inbox.' : 'Could not reset password.' );
						} );
						return;
					}
					
					if( Trim( ge( 'Password' ).value ) == '' )
					{
						ge( 'Password' ).focus();
						ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = 'Enter your password.';
						return;
					}
					
					// Don't do it many times while working!
					if( this.busy ) return;
					this.busy = true;
					
					if( this.failedAttempt )
					{
						ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = 'Logging in...';
					}
					
					// Track user's login
					if( typeof ga == 'function' && ge( 'Username' ).value ) ga( 'send', 'event', 'userloginattempt', Trim( ge( 'Username' ).value ) );
					parent.Friend.User.Init();
					let us = Trim( ge( 'Username' ).value );
					let pw = Trim( ge( 'Password' ).value );
					parent.Friend.User.Login( us, pw, false, function( result, answer )
					{
						Application.busy = false;
						
						let tmp = null;
						if( answer )
						{
							// Try to parse response answer
							try
							{
								tmp = JSON.parse( answer );
							}
							catch( e )
							{
								console.log( 'Answer was not in json format: ', answer );
							}
							if( tmp && tmp.response )
							{
								//check for block....
								if( tmp.response.indexOf( 'account blocked until:' ) > -1 )
								{
									let ts = tmp.response.replace( 'account blocked until:', '' );
									if( parseInt( ts ) > 0 )
									{
										Application.errorMessage = 'Account blocked (try again after ' + new Date( ts * 1000 ).toLocaleString() + ')';
										showLoginError();
										switchForm();
										return;
									}
								}
							}
						}
						
						if( result == false )
						{
							showLoginError();
							switchForm();
						}
						else if( result == 0 )
						{
							setTimeout( showLoginError, 1000 );
						}
						// Success!
						else
						{
							//track users login..
							if( typeof ga == 'function' && us )
							{
								ga( 'send', 'event', 'userloginsuccess', us );	
							}
							parent.Workspace.showDesktop();
						}
					}, e, { hashedPassword: ge( 'Password' ).hashed ? true : false, inviteHash: Application.inviteHash } );
				},
				// Login overwrite ...
				loginExternal: function( mode, params, callback )
				{
					
					let enc = parent.Workspace.encryption;
					
					var self = this;
					
					if( !enc.keys.server )
					{
						enc.keys.server = ( ge( 'publickey' ) && ge( 'publickey' ).value ? { publickey: ge( 'publickey' ).value } : false );
					}
					
					if( !enc.keys.server.publickey )
					{
						console.log( 'Server Key Missing:', enc.keys.server );
						return;
					}
					
					if( mode && params && params[ 'id_token' ] && params[ 'id_token_content' ] )
					{
						
						// TODO: Find a unique secret that doesn't have to be shared with the server for a better password and or keypairs ...
						
						var m = new cAjax();
						
						switch( mode )
						{
							
							// 1: Validate Google Identity ...
							
							case 'identity':
								
								m.open( 'POST', '/loginprompt/' + mode + '/' + self.tempKeys.publickey, true );
								
								if( Application.showLog ) console.log( 
								{
									'access_token' : params[ 'access_token' ], 
									'nounce'       : params[ 'id_token_content' ][ 'payload' ][ 'nonce' ] 
								} );
								
								m.addVar( 'encrypted', enc.encryptRSA( JSON.stringify( 
								{
									'access_token' : params[ 'access_token' ], 
									'nounce'       : params[ 'id_token_content' ][ 'payload' ][ 'nonce' ] 
								} ), 
								enc.keys.server.publickey ) );
								
								break;
							
							// 2: Create Friend Account ...
							
							case 'account':
								
								m.open( 'POST', '/loginprompt/' + mode + '/' + enc.keys.client.publickey, true );
								
								if( Application.showLog ) console.log( 
								{
									'username' : enc.decrypt( parent.Workspace.storedCredentials.username ), 
									'password' : enc.decrypt( parent.Workspace.storedCredentials.password ), 
									'nounce'   : params[ 'id_token_content' ][ 'payload' ][ 'nonce' ], 
									'i_hash'   : params[ 'id_token_content' ][ 'payload' ][ 'picture' ].split('https://lh3.googleusercontent.com/').join('')
								} );
								
								m.addVar( 'encrypted', enc.encryptRSA( JSON.stringify( 
								{
									'username' : enc.decrypt( parent.Workspace.storedCredentials.username ), 
									'password' : enc.decrypt( parent.Workspace.storedCredentials.password ),  
									'nounce'   : params[ 'id_token_content' ][ 'payload' ][ 'nonce'   ], 
									'i_hash'   : params[ 'id_token_content' ][ 'payload' ][ 'picture' ].split('https://lh3.googleusercontent.com/').join('')
								} ), 
								enc.keys.server.publickey ) );
								
								break;
							
							// 3: Verify Friend Login ...
							
							// TODO: Add invite hash to the verification stage to add relation on success ...
							
							case 'verification':
								
								m.open( 'POST', '/loginprompt/' + mode + '/SHA256' + Sha256.hash( enc.keys.client.publickey ), true );
								
								if( Application.showLog ) console.log( 
								{
									'username' : enc.decrypt( parent.Workspace.storedCredentials.username ), 
									'nounce'   : params[ 'id_token_content' ][ 'payload' ][ 'nonce' ]
								} );
								
								m.addVar( 'encrypted', enc.encryptRSA( JSON.stringify( 
								{
									'username' : enc.decrypt( parent.Workspace.storedCredentials.username ), 
									'nounce'   : params[ 'id_token_content' ][ 'payload' ][ 'nonce' ]
								} ), 
								enc.keys.server.publickey ) );
								
								break;
							
						}
						
						m.addVar( 'deviceid', parent.Workspace.deviceid );
						
						m.onload = function()
						{
							
							var json = null; var serveranswer = null;
							
							if( this.responseText() )
							{
								
								var res = this.responseText().split( '<!--separate-->' );
								
								if( res && res[ 0 ] && res[ 1 ] )
								{
									
									if( res[ 2 ] )
									{
										try
										{
											
											switch( res[ 1 ] )
											{
												
												case 'identity':
													
													serveranswer = enc.decrypt( res[ 2 ], self.tempKeys.privatekey );
													
													break;
												
												default:
													
													serveranswer = enc.decrypt( res[ 2 ] );
													
													break;
												
											}
											
											serveranswer = ( serveranswer ? serveranswer : res[ 2 ] );
											
											json = JSON.parse( serveranswer );
										}
										catch( e ) 
										{
											console.log( e );
										}
									
										// We got a real error
										if( json == null )
										{
											if( callback && typeof( callback ) == 'function' ) callback( false );
										}
									}
									
									if( Application.showLog ) console.log( { json: json, serveranswer: serveranswer, raw: this.responseText() } );
									
									switch( res[ 1 ] )
									{
										
										// 1: ok identity check ...
										
										case 'identity':
											
											if( res[ 0 ] == 'ok' )
											{
												
												if( json )
												{
													
													if( json.token )
													{
														var username = md5( 'GOOGLE' + params[ 'id_token_content' ][ 'payload' ][ 'sub' ] );
														var password = ( 'HASHED' + Sha256.hash( '{"token":'+json.token+',"sub":'+params[ 'id_token_content' ][ 'payload' ][ 'sub' ]+'}' ) );
														
														enc.setKeys( username, password );
														
														parent.Workspace.storedCredentials = {
															username: enc.encrypt( username, enc.getKeys().publickey ),
															password: enc.encrypt( password, enc.getKeys().publickey )
														};
														
														// This is needed for Friend.User.ReLogin()
														parent.Workspace.loginPassword = parent.Workspace.storedCredentials.password;
														parent.Workspace.loginHashed = true;
													}
													
													if( json.mode )
													{
														switch( json.mode )
														{
														
															case 'account':
																
																return self.loginExternal( 'account', params, callback );
															
																break;
														
														}
													}
												}
												
												return self.loginExternal( 'verification', params, callback );
											}
											else
											{
												parent.Friend.User.SetUserConnectionState( 'offline' );
												
												if( callback && typeof( callback ) == 'function' ) return callback( false, serveranswer );
											}
											
											return;
										
										// 2: ok account creation ...
										
										case 'account':
												
											if( res[ 0 ] == 'ok' )
											{
												self.loginExternal( 'verification', params, callback );
											}
											else
											{
												parent.Friend.User.SetUserConnectionState( 'offline' );
												
												if( callback && typeof( callback ) == 'function' ) return callback( false, serveranswer );
											}
											
											return;
										
										// 3: ok verification ...
										
										case 'verification':
											
											if( res[ 0 ] == 'ok' && json && json.username && json.sessionid )
											{
												
												// TODO: When all is ok set keys based on correct data and then init workspace ...
												
												parent.Workspace.sessionId     = json.sessionid;
												parent.Workspace.loginUsername = json.username;
												parent.Workspace.loginUserId   = json.userid;
												parent.Workspace.loginid       = json.loginid;
												parent.Workspace.userLevel     = json.level;
												parent.Workspace.fullName      = json.fullname;
												
												// If we have inviteHash, verify and add relationship between the inviter and the invitee.
												if( self.inviteHash ) json.inviteHash = self.inviteHash;
												
												// We are now online!
												parent.Friend.User.SetUserConnectionState( 'online' );
												
												if( !parent.Workspace.userWorkspaceInitialized )
												{
													return parent.Workspace.initUserWorkspace( 
														json, ( callback && typeof( callback ) == 'function' ? callback( true, serveranswer ) : false ), event 
													);
												}
												else
												{
													if( typeof( callback ) == 'function' ) return callback( true, serveranswer );
													// Make sure we didn't lose websocket!
												}
												
											}
											else
											{
												parent.Friend.User.SetUserConnectionState( 'offline' );
												
												if( callback && typeof( callback ) == 'function' ) return callback( false, serveranswer );
											}
											
											break;
										
										// if nothing expected run default ...
										
										default:
											
											parent.Friend.User.SetUserConnectionState( 'offline' );
											
											if( callback && typeof( callback ) == 'function' ) return callback( false, serveranswer );
											
											break;
										
									}
								}
							}
							
							if( Application.showLog ) console.log( this.responseText() );
							
							if( callback && typeof( callback ) == 'function' ) callback( false );
							
						}
						m.send();
						
					}
					
					return 0;
					
				},
				checkKeys: function( e )
				{
					var k = e.which ? e.which : e.keyCode;
					if( k == 13 )
					{
						this.doLogin( e );
					}
				},
				receiveMessage: function( msg )
				{	
					// TODO: Remove if not in any use ...
					if( msg.command && msg.command == 'error' )
					{
						showLoginError();
					}
					else if( msg.cmd && msg.cmd == 'login' )
					{
						ge( 'Username' ).value = msg.username;
						ge( 'Password' ).value = msg.password;
						
						Application.loginUser( msg );
					}
				},
				loginUser: function( msg )
				{
					if( msg && parent && parent.Workspace && parent.Friend && parent.Friend.User )
					{
						parent.Friend.User.Init();
						parent.Workspace.setLogoutURL( msg.logouturl );
						
						this.doLogin(  );
					}
					else
					{
						showLoginError( 'Could not login' );
					}
				},
				forgotPassword : function()
				{
					ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = '';
					if( Application.passwordRecoveryMode )
					{
						Application.passwordRecoveryMode = false;
						ge( 'loginButton' ).classList.remove( 'FloatRight' );
						ge( 'loginButton' ).innerHTML = 'Sign in';
						ge( 'UsernameLabel' ).innerHTML = 'Username';
						ge( 'forgotPassword' ).innerHTML = 'Forgot password ?';
						document.querySelectorAll( '.HideForPass' ).forEach( function( thisNode ){
							thisNode.style.display = thisNode.dataset.oldDisplay;
						} );	
						ge('loginButton').classList.remove( 'Forgot' );
						return;
					}
					
					Application.passwordRecoveryMode = true;
					document.querySelectorAll( '.HideForPass' ).forEach( function( thisNode ){
						thisNode.dataset.oldDisplay = thisNode.style.display;
						thisNode.style.display = 'none';
					} );	
					ge( 'loginButton' ).classList.add( 'FloatRight' );
					ge( 'loginButton' ).innerHTML = ' &nbsp; Request new password';
					ge( 'loginButton' ).classList.add( 'Forgot' );
					ge( 'UsernameLabel' ).innerHTML = 'Username / e-mail:';
					ge( 'forgotPassword' ).innerHTML = 'Return to login form';
				}
			};
			
			function getRandomString( length ) 
			{
				var randomChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
				var result = '';
				for ( var i = 0; i < length; i++ ) {
					result += randomChars.charAt(Math.floor(Math.random() * randomChars.length));
				}
				return result;
			}
			
			function timezoneConvert( timestamp, timezone, debug )
			{
				var date1 = null; var date2 = null; var tz1 = null; var tz2 = null;
				
				if( !timestamp )
				{
					var timestamp = new Date().getTime();
				}
				
				if( timestamp )
				{
					if( timestamp.toString().length < 13 )
					{
						timestamp = timestamp.toString() + '100';
					}
					
					if( timezone )
					{
						date1 = new Date( Number( timestamp ) ).toLocaleString( 'en-GB', { timeZone: timezone } );
						
						tz1   = new Date( date1 ).getTimezoneOffset();
					}
					
					date2 = new Date( Number( timestamp ) ).toLocaleString( 'en-GB' );
					
					tz2   = new Date( date2 ).getTimezoneOffset();
					
					if( date1 )
					{
						var Y = date1.split(',')[0].trim().split('/')[2];
						var m = date1.split(',')[0].trim().split('/')[1];
						var d = date1.split(',')[0].trim().split('/')[0];
						
						var H = date1.split(',')[1].trim().split(':')[0];
						var i = date1.split(',')[1].trim().split(':')[1];
						
						if( debug ) console.log( 'timezoneConvert', [ date1, tz1, timezone, Y+'-'+m+'-'+d+' '+H+':'+i ] );
						
						// Year, Month, Day, Hour, Minute
						return new Date( Y, m, d, H, i ).getTime();
					}
					else if( date2 )
					{
						var Y = date2.split(',')[0].trim().split('/')[2];
						var m = date2.split(',')[0].trim().split('/')[1];
						var d = date2.split(',')[0].trim().split('/')[0];
						
						var H = date2.split(',')[1].trim().split(':')[0];
						var i = date2.split(',')[1].trim().split(':')[1];
						
						if( debug ) console.log( 'timezoneConvert', [ date2, tz2, Y+'-'+m+'-'+d+' '+H+':'+i ] );
						
						// Year, Month, Day, Hour, Minute
						return new Date( Y, m, d, H, i ).getTime();
					}
				}
				
				return 0;
			}
			
			function externalAuth( callback )
			{
				
				// TODO: Look at how to do this without iframes ... perhaps can avoid popups ...
				
				if( location.href && location.href.indexOf( 'localhost' ) < 0 && Application.testmode == true )
				{
					return oauth2SignIn( callback );
				}
				else
				{
					return oauth2Window( callback );
				}
				
			}
			
			function oauth2Window( callback )
			{
				var CLIENT_ID    = document.getElementById( 'google-signin-client_id' ).getAttribute( 'content' );
				var REDIRECT_URI = document.getElementById( 'oauth2_redirect_uri'     ).getAttribute( 'content' );
				
				var SCOPES = [ 'profile', 'email' ];
				
				var winw  = Math.min( 600, screen.availWidth );
				var winh = Math.min( 750, screen.availHeight );
				
				var lpos = Math.floor( ( screen.availWidth - winw ) / 2  );
				var tpos  = Math.floor( ( screen.availHeight - winh ) / 2  );
				
				// Google's OAuth 2.0 endpoint for requesting an access token
				var oauth2 = 'https://accounts.google.com/o/oauth2/v2/auth';
				
				var vars = '';
				
				// Parameters to pass to OAuth 2.0 endpoint.
				vars += '?redirect_uri=' + REDIRECT_URI;
				vars += '&client_id=' + CLIENT_ID;
				vars += '&nonce=' + getRandomString( 20 );
				vars += '&scope=' + SCOPES.join( ' ' );
				vars += '&response_type=token id_token';
				
				loginwindow = window.open( oauth2 + vars, 'authwindow', 'resizable=1,width=' + winw + ',height=' + winh + ',top=' + tpos + ',left=' + lpos );
				
				window.addEventListener( 'message', function( msg ) 
				{
					
					if( msg && msg.data.url )
					{
						var params = {}; var args = false;
						
						if( Application.showLog ) console.log( 'oauth msg: ', msg.data.url );
						
						if( msg.data.url.split( '#' )[1] )
						{
						    args = msg.data.url.split( '#' )[1].split( '&' );
						}
						else if( msg.data.url.split( '?' )[1] )
						{
						    args = msg.data.url.split( '?' )[1].split( '&' );
						}
						
					    if( args && args.length > 0 )
					    {
					        for( var key in args )
					        {
					            if( args[key] && args[key].split( '=' )[1] )
					            {
					                params[ args[key].split( '=' )[0] ] = args[key].split( '=' )[1];
					            }
					        }
					    }
						
						if( loginwindow ) loginwindow.close();
						
						// TODO: If code do another step ...
						// https://auth0.com/docs/protocols/protocol-oauth2
						
						if( params && params[ 'id_token' ] && params[ 'access_token' ] )
						{
					   		
				   			var data = decodeIDToken( params );
				   			
				   			if( data )
				   			{
				   				if( Application.showLog ) 
				   				{
				   					console.log( 'params: ', params );
				   					console.log( { 
				   						id      : params[ 'id_token_content' ][ 'payload' ][ 'sub'     ],
				   						name    : params[ 'id_token_content' ][ 'payload' ][ 'name'    ],
				   						email   : params[ 'id_token_content' ][ 'payload' ][ 'email'   ],
				   						locale  : params[ 'id_token_content' ][ 'payload' ][ 'locale'  ],
				   						picture : params[ 'id_token_content' ][ 'payload' ][ 'picture' ]
				   					} );
				   				}
				   				
				   				if( callback && typeof( callback ) == 'function' ) return callback( data );
				   			}
					   		
						}
						
						return params;
						
					}
		
				} );
				
			}
			
			function oauth2SignIn( callback )
			{
				console.log( 'init: oauth2SignIn( callback )' );
				
				var CLIENT_ID    = document.getElementById( 'google-signin-client_id' ).getAttribute( 'content' );
				var REDIRECT_URI = location.href;
				
				var SCOPES = [ 'profile', 'email' ];
				
				// Google's OAuth 2.0 endpoint for requesting an access token
				var oauth2 = 'https://accounts.google.com/o/oauth2/v2/auth';
				
				// Create element to open OAuth 2.0 endpoint in new window.
				var form = document.createElement( 'form' );
				form.setAttribute( 'method', 'GET' ); // Send as a GET request.
				form.setAttribute( 'action', oauth2 );
				
				// Parameters to pass to OAuth 2.0 endpoint.
				var params = {
					'client_id'              : CLIENT_ID,
					'nonce'                  : getRandomString( 20 ),
					'redirect_uri'           : REDIRECT_URI,
					'response_type'          : 'token id_token'
				};
				
				// Add form parameters as hidden input values.
				for ( var p in params ) 
				{
					var input = document.createElement( 'input' );
					input.setAttribute( 'type', 'hidden' );
					input.setAttribute( 'name', p );
					input.setAttribute( 'value', params[p] );
					form.appendChild( input );
				}
				
				// Add form to page and submit it to open the OAuth 2.0 endpoint.
				document.body.appendChild(form);
				form.submit();
			}
			
			function decodeIDToken( params )
			{
				if ( params && params[ 'id_token' ] )
				{
					var parts = params[ 'id_token' ].split( '.' );
					
					if( parts.length == 3 )
					{
						var data = { 'base64': parts };
						
						for( var a in parts )
						{
							if( a <= 1 && parts[a] )
							{
								try
								{
									var decoded = atob( parts[a] );
									
									if( decoded )
									{
										var obj = JSON.parse( decoded );
										
										if( obj )
										{
											data[ a == 0 ? 'header' : 'payload' ] = obj;
										}
									}
								}
								catch {  }
							}
							else if( a == 2 )
							{
								data[ 'signature' ] = parts[a];
							}
						}
						
						params[ 'id_token_content' ] = data;
						
					}
					
				}
				
				return params;
			}
				
			function genRandomKeys()
			{
				var res = false;
				
				if( parent.Workspace && parent.Workspace.encryption )
				{
					res = parent.Workspace.encryption.generateKeys();
				}
				
				return res;
			}
			
			function loginGoogle( e )
			{
				
				var self = Application;
				
				externalAuth( function( params )
				{
					
					// Don't do it many times while working!
					if( self.busy ) return;
					self.busy = true;
					
					// Track user's login
					if( typeof ga == 'function' && params && params[ 'id_token_content' ] && params[ 'id_token_content' ][ 'sub' ] ) 
					{
						ga( 'send', 'event', 'userloginattempt', md5( 'GOOGLE' + params[ 'id_token_content' ][ 'sub' ] ) );
					}
					
					parent.Friend.User.Init();
					
					self.loginExternal( 'identity', params, function( result, answer )
					{
						
						self.busy = false;
						
						let tmp = null;
						if( answer )
						{
							// Try to parse response answer
							try
							{
								tmp = JSON.parse( answer );
							}
							catch( e )
							{
								console.log( 'Answer was not in json format: ', answer );
							}
							if( tmp && tmp.response )
							{
								//check for block....
								if( tmp.response.indexOf( 'Account blocked until:' ) > -1 )
								{
									let ts = tmp.response.replace( 'Account blocked until:', '' );
									if( parseInt( ts ) > 0 )
									{
										Application.errorMessage = 'Account blocked (try again after ' + new Date( ts * 1000 ).toLocaleString() + ')';
										showLoginError();  
										return;
									}
								}
								if( !tmp.code )
								{
									showLoginError( tmp.response );
									return;
								}
							}
							else if( tmp && tmp.error )
							{
								if( tmp.error.response )
								{
									showLoginError( tmp.error.response );
								}
								else
								{
									showLoginError( tmp.error );
								}
								return;
							}
						}
						
						if( result == false )
						{
							showLoginError();
						}
						else if( result == 0 )
						{
							setTimeout( showLoginError, 1000 );
						}
						// Success!
						else
						{
							//track users login..
							if( typeof ga == 'function' && params && params[ 'id_token_content' ] && params[ 'id_token_content' ][ 'sub' ] )
							{
								ga( 'send', 'event', 'userloginsuccess', md5( 'GOOGLE' + params[ 'id_token_content' ][ 'sub' ] ) );	
							}
							parent.Workspace.showDesktop();
						}
						
					} );
					
				} );
			}
			
			function signupForm(  )
			{
				// TODO: Add support for redirecting top layer window by adding support for flag 'allow-top-navigation' on the iframe.
				window.top.location.href = '/register';
			}
			
			function switchForm( form )
			{
				if( Application.inviteUser && ge( 'LoginMode' ) && ge( 'LoginMode' ).getElementsByTagName( 'h1' )[0] )
				{
					ge( 'LoginMode' ).getElementsByTagName( 'h1' )[0].innerHTML = 'Sign in and connect to ' + Application.inviteUser;
				}
				
				if( ge( 'VerifyMode' ) && ge( 'LoginMode'  ) )
				{
					if( form && form == 'verify' )
					{
						ge( 'LoginMode'  ).style.display = 'none';
						ge( 'VerifyMode' ).style.display = 'block';
						ge( 'ExpiryMode' ).style.display = 'none';
					}
					else if( form && form == 'expiry' )
					{
						ge( 'LoginMode'  ).style.display = 'none';
						ge( 'VerifyMode' ).style.display = 'none';
						ge( 'ExpiryMode' ).style.display = 'block';
					}
					else if( form && form == 'invite' )
					{
						return true;
					}
					else
					{
						ge( 'LoginMode'  ).style.display = 'block';
						ge( 'VerifyMode' ).style.display = 'none';
						ge( 'ExpiryMode' ).style.display = 'none';
					}
				}
				
				return true;
			}
			
			function inviteForm(  )
			{
				if( document.location.href && document.location.href.indexOf( 'invite=' ) >= 0 )
				{
					var invite = ( window.location.href.match( '[?&]invite=([^&]+)' ) && window.location.href.match( '[?&]invite=([^&]+)' )[1] ? window.location.href.match( '[?&]invite=([^&]+)' )[1] : '' );
					
					var json = false; var decoded = false;
					
					if( invite )
					{
						if( invite.indexOf( 'BASE64' ) >= 0 )
						{
							try
							{
								decoded = atob( invite.split( 'BASE64' )[1] );
								
								if( decoded )
								{
									json = JSON.parse( decoded );
								}
							}
							catch {  }
							
							invite = invite.split( 'BASE64' )[0];
						}
						
						//console.log( json ? json : invite );
						
						if( json )
						{
							if( json.user )
							{
								Application.inviteUser = json.user;
							}
							if( json.hash )
							{
								Application.inviteHash = json.hash;
							}
						}
						else
						{
							Application.inviteHash = invite;
						}
					}
					else
					{
						//console.log( 'Invite not found..' );
					}
					
					return switchForm( 'invite' );
				}
			}
			
			function verifyForm(  )
			{
				if( document.location.href && document.location.href.indexOf( 'verify=' ) >= 0 )
				{
					let verify = ( window.location.href.match( '[?&]verify=([^&]+)' ) && window.location.href.match( '[?&]verify=([^&]+)' )[1] ? window.location.href.match( '[?&]verify=([^&]+)' )[1] : '' );
					
					let json = false; let decoded = false;
					
					if( verify )
					{
						try
						{
							decoded = atob( verify );
							
							if( decoded )
							{
								json = JSON.parse( decoded );
							}
						}
						catch {  }
						
						if( json )
						{
							if( json.expiry ) console.log( [ json, ( timezoneConvert( json.expiry, json.timezone, true ) + ' < ' + timezoneConvert( null, json.timezone, true ) ) ] );
							
							if( json.user )
							{
								Application.inviteUser = json.user;
							}
							if( json.invite )
							{
								Application.inviteHash = json.invite;
							}
							if( json.code && ge( 'Verification' ) )
							{
								ge( 'Verification' ).value = json.code;
							}
							if( json.password && ge( 'NewPassword' ) && ge( 'ConfirmPassword' ) )
							{
								ge( 'NewPassword'     ).value = json.password;
								ge( 'ConfirmPassword' ).value = json.password;
							}
							if( json.expiry && timezoneConvert( json.expiry, json.timezone ) < timezoneConvert( null, json.timezone ) )
							{
								return switchForm( 'expiry' );
							}
						}
						else
						{
							//console.log( decoded );
						}
					}
					
					return switchForm( 'verify' );
				}
			}
			
			function verifyCode(  )
			{
				
				let enc = parent.Workspace.encryption;
				
				if( !enc.keys.server )
				{
					enc.keys.server = ( ge( 'publickey' ) && ge( 'publickey' ).value ? { publickey: ge( 'publickey' ).value } : false );
				}
				
				if( !enc.keys.server.publickey )
				{
					console.log( 'Server Key Missing:', enc.keys.server );
					return;
				}
				
				let vcode = Trim( ge( 'Verification'    ).value );
				let newpw = Trim( ge( 'NewPassword'     ).value );
				let confm = Trim( ge( 'ConfirmPassword' ).value );
				
				if( !vcode )
				{
					document.getElementById( 'VerificationContainer' ).style.display = 'block';
					document.getElementById( 'Verification' ).focus();
					return showLoginError( 'Verification Code is missing, try again ...', 'invalidVerification' );
				}
				if( !newpw )
				{
					document.getElementById( 'NewPassword' ).focus();
					return showLoginError( 'Password is missing, try again ...', 'invalidVerification' );
				}
				if( newpw != confm )
				{
					document.getElementById( 'ConfirmPassword' ).focus();
					return showLoginError( 'Password doesn\'t match, try again ...', 'invalidVerification' );
				}
				
				if( vcode.length < 60 )
				{
					vcode = Sha256.hash( vcode );
				}
				
				if( newpw.substring( 0, 6 ) != 'HASHED' )
				{
					newpw = ( 'HASHED' + Sha256.hash( newpw ) );
				}
				
				var m = new cAjax();
				
				m.open( 'POST', '/verify/v2/' + enc.encryptRSA( JSON.stringify( 
				{
					'code'     : vcode, 
					'password' : newpw 
				} ), 
				enc.keys.server.publickey ), true );
				
				if( Application.showLog ) console.log( 
				{
					'code'     : vcode, 
					'password' : newpw 
				} );
				
				m.onload = function()
				{
					
					var json = null; var serveranswer = null;
					
					if( this.responseText() )
					{
						var res = this.responseText().split( '<!--separate-->' );
						
						if( res && res[ 0 ] && res[ 1 ] )
						{
							try
							{
								serveranswer = res[ 1 ];
								
								json = JSON.parse( serveranswer );
							}
							catch( e ) 
							{
								console.log( e );
							}
							
							// We got a real error
							if( json == null )
							{
								document.getElementById( 'VerificationContainer' ).style.display = 'block';
								
								return showLoginError( 'Something went wrong ...', 'invalidVerification' );
							}
							
							if( Application.showLog ) console.log( { json: json, serveranswer: serveranswer, raw: this.responseText() } );
							
							if( res[ 0 ] == 'ok' )
							{
								// Login ...
								
								if( json && json.data && json.data.username )
								{
									if( ge( 'Username' ) && ge( 'Password' ) && ge( 'NewPassword' ) && ge( 'NewPassword' ).value )
									{
										ge( 'Username' ).value = json.data.username;
										ge( 'Password' ).value = ge( 'NewPassword' ).value;
										
										return Application.doLogin(  );
									}
								}
								
								document.getElementById( 'VerificationContainer' ).style.display = 'block';
								
								return showLoginError( 'Something went wrong ...', 'invalidVerification' );
							}
							else
							{
								// Errors ...
								
								document.getElementById( 'VerificationContainer' ).style.display = 'block';
								
								if( json && json.message && json.code == 10 )
								{
									return switchForm( 'expiry' );
								}
								else if( json && json.message )
								{
									return showLoginError( json.message, 'invalidVerification' );
								}
								else
								{
									return showLoginError( 'Could not verify', 'invalidVerification' );
								}
							}
							
						}
					}
					
					if( Application.showLog ) console.log( this.responseText() );
					
					document.getElementById( 'VerificationContainer' ).style.display = 'block';
					
					return showLoginError( 'Something went wrong ...', 'invalidVerification' );
					
				}
				m.send();
				
			}
			
			function showLoginError( msg, id )
			{
				parent.Workspace.loginPrompt.setFlag( 'height', 263 );
				ge( id ? id : 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = ( 
					Application.errorMessage ? Application.errorMessage : ( 
						msg ? msg : 'Invalid credentials. Please check your input.'
					) 
				);
				Application.failedAttempt = true;
				Application.busy = false;
				ge( 'LoginElement' ).style.visibility = 'visible';
			}
			
			// Focus the username field
			function loginNow( e )
			{
				if( typeof( GetCookie ) == 'undefined' ) return setTimeout( loginNow, 50 );
				
				Application.applicationId = 'loginprompt';
				
				if( document.location.href && document.location.href.indexOf( 'verify=' ) >= 0 )
				{
					verifyForm();
				}
				if( document.location.href && document.location.href.indexOf( 'invite=' ) >= 0 )
				{
					inviteForm();
				}
				
				if( parent.GetUrlVar( 'username' ) )
				{
					ge( 'Username' ).value = parent.GetUrlVar( 'username' );
					ge( 'Password' ).value = parent.GetUrlVar( 'password' );
					ge( 'Password' ).hashed = true;
					Application.doLogin( e );
				}
				
				document.getElementById('LoginElement').style.visibility = 'visible';
				document.getElementById('Username').focus();
			}
			
		</script>
	</body>
</html>
