
	<div class="ContentFull Padding ScrollArea">
		<div class="HRow MarginBottom">
			<div class="HContent40 FloatLeft Ellipsis">
				{i18n_hostname}:
			</div>
			<div class="HContent60 FloatLeft">
				<input type="text" id="Hostname" class="InputHeight FullWidth" placeholder="My home"/>
			</div>
		</div>
		<div class="HRow MarginBottom">
			<div class="HContent40 FloatLeft Ellipsis">
				{i18n_localpath}:
			</div>
			<div class="HContent60 FloatLeft">
				<input type="text" id="Localpath" class="InputHeight FullWidth" placeholder="Home:Mysite/"/>
			</div>
		</div>
		<div class="HRow">
			<div class="HContent40 FloatLeft Ellipsis">
				&nbsp;
			</div>
			<div class="HContent60 FloatLeft">
				<button type="button" class="Button IconSmall fa-check" onclick="toggleHosting()" id="ToggleButton">
					{i18n_start_hosting}
				</button>
			</div>
		</div>
		<div class="HRow">
			<div class="HContent40 FloatLeft Ellipsis">
				&nbsp;
			</div>
			<div class="HContent60 FloatLeft">
				<button type="button" class="Button IconSmall fa-check" onclick="connect()" id="ToggleButton">
					{i18n_connect}
				</button>
			</div>
		</div>
	</div>

	<script src="Progdir:Scripts/main.js"></script>

