
	<link rel="stylesheet" href="Progdir:Stylesheets/main.css"/>
	<script src="Progdir:Scripts/mainwindow.js"></script>
	
	<div class="ContentFull">
		<div class="Padding VContentTop" style="bottom: 51px">
			<div class="Selector" id="UserList">
			</div>
			<div id="PageTabs">
				<div class="Tab fa-user IconSmall" id="tabDisks">
					{i18n_storage_disks}
				</div>
				<div class="Tab fa-cloud IconSmall" id="tabCatalog">
					{i18n_software_disks}
				</div>
				<div class="Page" id="pageMountlist">
					<div class="PageScroll">
						<div class="Padding" id="Disks">
				
						</div>
					</div>
				</div>
				<div class="Page" id="pageCatalog">
					<div class="PageScroll">
						<div class="Padding" id="Catalog">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="VContentBottom BorderTop Padding BackgroundDefault" style="height: 50px" id="BottomPart">
			<button class="IconSmall fa-cog" type="button" onclick="Application.sendMessage( { command: 'newconnection' } )">
				{i18n_new_connection}
			</button>	
		</div>
	</div>
	
	<script>
		InitTabs( 'PageTabs' );
	</script>
	<style>
		.Disk .Image
		{
			background-image: url(Progdir:Gfx/disk.png);
		}
	</style>
	
