
.FUIInvitedialog.FUIGroupsettings > .Dia
{
	left: calc(50% - 400px);
	width: 800px;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form 
{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    padding: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Section > p
{
	margin: 0 0 15px 0;
}

.Section .Flex
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
	gap: 5px;
	margin: 0 0 20px 0;
}

.Flex div > span 
{
    margin: 0px 0 4px 0;
    display: block;
}

.Section > p.AvatarBox
{
	margin: 0 auto 15px auto;
}

.IconButton:before { font-family: fontawesome; }

.FUIInvitedialog > .Dia > .Title:after
{
	content: " ";
	display: block;
	height: 1px;
	width: 100%;
	border: 0;
	margin: 5px 0 5px 0;
	background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.1),rgba(0,0,0,0));
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form > .Flow
{
	position: relative;
    gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form input,
.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form textarea
{
	width: 100%;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .AvatarBox
{
	width: 128px;
	margin: 0 0 15px 0;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form div.AvatarBox
{
    width: 100%;
    background: var(--BackgroundHeavier);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .AvatarBox p
{
    text-align: center;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .AvatarPreview
{
	display: block;
	margin: auto;
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	width: 128px;
	height: 128px;
	border: 2px solid var(--fui-border-foreground);
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .Upload,
.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .Create
{
	display: inline-block;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .Upload:before
{
	content: "\f0ee";
	font-family: FontAwesome;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .Create:before
{
	content: "\f2b4";
	font-family: FontAwesome;
}

.FUIInvitedialog.FUIGroupsettings > .Dia .TheForm > .Form .Section 
{
    flex: 1;
}
