html > body:not(.Inside):not(.Loading)
{
	background-color: #fefefe !important;
}

#WelcomeContainer
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #ffffff 0%, #f0f0f0 100%);
}

.WelcomeHeading
{
	box-sizing: border-box;
	padding: 0 20px;
}

.WelcomeHeading h2
{
	font-size: 72px;
	margin: 4px 0 10px 0;
	color: #01AE5C;
	font-family: 'TheSaira';
}

.BottomInfo
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 260px;
	padding: 20px;
}

.BottomInfo .ImageLink, .ExtendedInfo .ImageLink
{
	width: 400px;
	height: 260px;
	background: #a0a0a0;
	position: relative;
	float: left;
	margin: 0 20px 0 0;
	overflow: hidden;
	border-radius: 3px;
}

.BottomInfo .ImageLink > iframe, .ExtendedInfo .ImageLink > iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.BottomInfo .ImageDescription, .ExtendedInfo .ImageDescription
{
	width: calc(100% - 440px);
	margin: 0;
	height: 260px;
	overflow: hidden;
	position: relative;
	float: left;
	font-size: 150%;
	box-sizing: border-box;
	padding: 10px 20px 10px 0px;
}

.BottomInfo .ImageDescription .Smaller, .ExtendedInfo .ImageDescription .Smaller
{
	font-size: 75%;
}



.BottomInfo .ImageDescription h2, .ExtendedInfo .ImageDescription h2
{
	color: #0e2656;
}

.WelTabs, .WelPages, .WelTabsWrapper
{
	position: absolute;
	white-space: nowrap;
	text-overflow: hidden;
	overflow: hidden;
	position: absolute;
	display: flex;
	top: 120px;
	left: 20px;
	height: 140px;
	width: calc(100% - 40px);
	box-sizing: border-box;
}

.WelTabsWrapper
{
	overflow-x: hidden;
}

#Dontsee
{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 2px 8px;
	border-radius: 8px;
	background-color: #01AE5C;
	color: white;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.25s;
	pointer-events: none;
}

#Dontsee.Showing
{
	opacity: 1;
	pointer-events: all;
}


.WelTabs
{
	top: 0;
	left: 0;
	width: 100%;
}

.WelTabs
{ 
	padding-bottom: 0; 
	z-index: 2;
	overflow: visible; 
}
.WelPages 
{
	padding-top: 0; 
	z-index: 1; 
	top: 240px; 
	height: calc(100% - 540px); 
}

.WelTab
{
	border: 1px solid #909090;
	border-radius: 8px 8px 0 0;
	border-bottom: 1px solid;
	box-sizing: border-box;
	padding: 10px 20px;
	display: inline-block;
	min-width: 133px;
	max-width: 140px;
	height: 121px;
	text-align: center;
	margin: 0 0 0 -1px;
	background: white;
	text-transform: uppercase;
	white-space: pre-wrap;
	position: relative;
	cursor: pointer;
	font-family: AssistantBold;
}

.WelTab:first-child
{
	margin-left: 0;
}


.WelTab > span
{
	display: block;
	width: 56px;
	height: 56px;
	background: linear-gradient(0deg, #202020 0%, #606060 100%);
	border-radius: 100%;
	margin: 0 auto 7px auto;
	overflow: hidden;
	position: relative;
}

.WelTab > span:after
{
	content: " ";
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border-radius: 100%;
	background-size: contain;
}

.WelTab.Active
{
	border: 1px solid #2f2f2f;
	border-radius: 8px 8px 0 0;
	border-bottom: 0;
	overflow: visible;
	z-index: 5;
}

.WelTab.Active:after
{
	content: " ";
	position: absolute;
	bottom: 0;
	right: -11px;
	width: 11px;
	height: 11px;
}

.WelTab.Active:before
{
	content: " ";
	position: absolute;
	bottom: 0;
	left: -11px;
	width: 11px;
	height: 11px;
}

.WelTab.Active:first-child:before
{
	display: none;
}

.WelPage
{
	display: none;
	padding: 20px;
	clear: both;
	border: 1px solid #2f2f2f;
	border-radius: 0 0 8px 8px;
	box-sizing: border-box;
	white-space: normal;
	background-color: white;
}

.WelPage.Active
{
	display: block;
	min-width: 100%;
}

.WelPage .TextContent
{
	width: calc(100% - 304px);
	float: left;
	box-sizing: border-box;
	padding-right: 20px;
	font-size: 16px;
}

.WelPage .ImageContent
{
	width: 304px;
	min-height: 170px;
	background-color: #c0c0c0;
	float: right;
	position: relative;
	border-radius: 3px;
}

.WelPage .TextContent.Games
{
	width: calc(100% - 394px);
}

.WelPage .ExtraContent
{
	width: 394px;
	min-height: 170px;
	background-color: #efefef;
	box-sizing: border-box;
	padding: 20px;
	float: right;
	position: relative;
	border-radius: 3px;
}

.WelPage table ul
{
	margin: 0;
	font-size: 80%;
}

.WelTab span.Space
{
	clear: both;
	display: block;
	position: relative;
	width: 5px;
	background: transparent;
	height: 0px;
	overflow: hidden;
	margin: 0;
}

@media (max-width: 460px)
{
	html .ExtendedInfo
	{
		display: none !important;
	}
	
	html .WelcomeHeading
	{
		display: none;
	}
	html .WelTabsWrapper
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
	}
	html .WelPages
	{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: calc(100% - 50px);
	}
	html .BottomInfo
	{
		display: none;
	}
	html .WelTab.Active:after
	{
		display: none;
	}
	html .WelTab span.Space
	{
		clear: none;
		display: inline-block;
		position: relative;
		width: 5px !important;
		height: 5px !important;
		background: transparent;
		margin: 0 !important;
		overflow: hidden;
	}
	html .WelTabs > .WelTab.Active
	{
		position: absolute;
		border: 0;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: 50px;
		text-align: left;
	}
	html .WelTabs > .WelTab.Active > span
	{
		display: inline-block;
		width: 32px;
		height: 32px;
		vertical-align: middle;
		margin: 0 10px 0 0;
	}
	html .WelTabs > .WelTab:not(.Active)
	{
		text-align: left;
		border: 0;
		position: relative;
		width: 100%;
		max-width: 100%;
		height: 50px;
		display: none;
	}
	html .WelPage
	{
		border: 0;
	}
	html .WelPage .TextContent
	{
		width: 100%;
		padding-right: 0;
	}
	html .WelPage .ImageContent
	{
		width: 100%;
		float: none;
		text-align: center;
		clear: both;
		background-size: cover;
	}
	
}
@media (max-height: 743px)
{
	.ExtendedInfo
	{
		display: block;
	}
	.ImageContent
	{
		margin-bottom: 10px;
	}
	.BottomInfo
	{
		display: none;
	}
	.WelPages
	{
		min-height: calc(100% - 260px);
	}
	.WelPage.Active
	{
		overflow: auto;
		padding-bottom: 20px;
	}
}
@media (min-height: 744px)
{
	.ExtendedInfo
	{
		display: none;
	}
	.BottomInfo
	{
		display: block;
	}
}

.Flexi
{
	display: flex;
	gap: 15px;
}

.FlexiContent
{
	flex: 1;
}

.FlexiContent p
{
	text-align: center;
}

.FlexiContent span
{
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	border: 2px solid #002239;
}

a.ButtonBox
{
	display: block;
	background-color: #2980B9;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 15px;
	text-align: center;
	
}

@media (min-width: 640px)
{
	a.ButtonBox
	{
		display: inline-block;
	}
}


