<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Friend OS - Your password was changed</title>
		<style>
		
			/* Tags */
		
			@font-face
			{
				font-family: Assistant;
				src: url(themes/friendup12/fonts/Assistant-Regular.ttf);
			}
		
			body
			{
				background-color: #ffffff;
				color: #111111;
				font-family: Assistant, arial, sans serif;
				font-size: 15px;
			}
		
			h1
			{
				font-size: 20px;
				color: #444444;
			}
			
			#Center
			{
				max-width: 1024px;
				display: block;
				margin: auto;
				padding: 20px 0 20px 0;
			}
		
		</style>
	</head>
	<body>
		<div id="Center">
			<h1>
				Your password was changed
			</h1>
			<p>
				You successfully changed your password. Please check your email
				to retrieve your new password.
			</p>
		</div>
	</body>
</html>
