:root
{
	/* Colors */
	--ColorBackground:        #f9f9f9;
	--ColorDefault:           #2B2B2B;
	--ColorText:              #333333;
	--ColorButton:            #f0f0f0;
	--ColorBgButton:          #20374d;
	--ColorBgButtonAlt:       #20374D;
	--ColorButtonHover:       #ffffff;
	--ColorBgButtonHover:     #39658b;
	--ColorSelect:            #333333;
	--ColorBgSelect:          #e0e0e0;
	--ColorSelectHover:       #404040;
	--ColorBgSelectHover:     #e8e8e8;
	--ColorBgTdListTable:     #f8f8f8;
	--ColorLists:             #3f3f3f;
	--ColorListsAlternate:    #303030;
	--ColorBgListSw1:         #f4f4f4;
	--ColorBgListSw2:         #e8e8e8;
	--ColorBgListSwHover:     #C1D4E5;
	--ColorListSw1:           #333333;
	--ColorListSw2:           #030303;
	--ColorTdListSw1:         #333333;
	--ColorTdListSw2:         #030303;
	--ColorBgThListSw1:       #fefefe;
	--ColorBgThListSw2:       #f5f5f5;
	--ColorThListSw1:         #333333;
	--ColorThListSw2:         #333333;
	--ColorNegativeListSw1:   #f0f0f0;
	--ColorNegativeListSw2:   #f8f8f8;
	--ColorBgNegativeListSw1: #282828;
	--ColorBgNegativeListSw2: #1f1f1f;
	--ColorBgTabActive:       rgba(255,255,255,0.3);
	--ColorBgPageActive:      rgba(255,255,255,0.3);
	--ColorBox:               #333333;
	--ColorBgBox:             #fdfdfd;
	--ColorLightBorder:       #cfcfcf;
	--ColorDialogButtons:     #f0f0f0;
	--ColorDialogHeader:      #f0f0f0;
	--ColorPositive:          #333333;
	--ColorNegative:          #f0f0f0;
	--ColorNegativeAlt:       #20374D;
	--ColorBgPositive:        #cfcfcf;
	--ColorBgPositiveAlt:     #f0f0f0;
	--ColorBgNegative:        #3f3f3f;
	--ColorBgNegativeAlt:     #20374D;
	--ColorBgHighlight:       #818181;
	--ColorHighlight:         #e0e0e0;
	--ColorSelect:            #f0f0f0;
	--ColorBorder:            rgba(0,0,0,0.05);
	--ColorInput:             #333333;
	--ColorBgInput:           #f0f0f0;
	--ColorBgRecessed:        #666666;
	--ColorRecessed:          #f0f0f0;
	--ColorOverlayBg:         rgba(239,239,239,0.7);
	--ColorLEDOn:             #0AC25A;
	--ColorLEDAvailable:      #0F85D1;
	--ColorLEDWarning:        #F9D543;
	--ColorLEDNotify:         #F39C12;
	--ColorLEDNotifyFrom:     #F39C12;
	--ColorLEDNotifyTo:       #FFC66D;
	--ColorLEDAlert:          #D35400;
	--ColorLEDOff:            #ECF0F1;
	--ColorLEDText:           #ffffff;
	--BackgroundHeavy:        rgba(0,0,0,0.01);
	--BackgroundHeavier:      rgba(0,0,0,0.1);
	--BackgroundHeaviest:     rgba(0,0,0,0.25);

	/* Special colors */
	--ColorBgStError:         #A01507;
	--ColorStError:           #ffc66d;
	--ColorBgStGreenLight:    #51D88C;
	--ColorStGreenLight:      #0C2032;
	--ColorBgStBlue:          #07507f;
	--ColorStBlue:            #000011;
	--ColorBgStBlueLight:     #3498DB;
	--ColorStBlueLight:       #0C2032;
	--ColorBgStBlueDark:      #0C2032;
	--ColorStBlueDark:        #3498DB;
	--ColorBgStGrayLight:     #BDC3C7;
	--ColorStGrayLight:       #0C2032;

	/* Context colors */
	--ColorAccept:                 #ECF0F1;
	--ColorAcceptBg:               #0B9A49;
	--ColorAcceptButton:           #ECF0F1;
	--ColorAcceptButtonBg:         #519039;
	--ColorAcceptButtonHover:      #FFFFFF;
	--ColorAcceptButtonHoverBg:    #97d137;
	--ColorDanger:                 #FFE26C;
	--ColorDangerBg:               #C92918;
	--ColorDangerButton:           #FFE26C;
	--ColorDangerButtonBg:         #C92918;
	--ColorDangerButtonHover:      #FFFFFF;
	--ColorDangerButtonHoverBg:    #E74C3C;
	--ColorAvailable:              #F7F7F7;
	--ColorAvailableBg:            #0F85D1;
	--ColorAvailableButton:        #e0e0e0;
	--ColorAvailableButtonBg:      #0F85d1;
	--ColorAvailableButtonHover:   #FFFFFF;
	--ColorAvailableButtonHoverBg: #58ADE3;
	--ColorAction:                 #f7f7f7;
	--ColorActionBg:               #8E44AD;
	--ColorWarning:                #720B00;
	--ColorWarningBg:              #F9D543;
	--ColorNotify:                 #0C2032;
	--ColorNotifyBg:               #E67E22;

	--ColorIconBlinkStart:      #444444;
	--ColorIconBlinkEnd:        grey;
	
	/* Font sizes */
	--FontSizeButton:         15px;
	--FontSizeDefault:        15px;
	
	/* Font weights */
	--FontWeightButton:       normal;
	--FontWeightThList:       normal;
	--FontWeightTabs:         normal;
	--FontWeightButtonActive: bold;

	/* Default face */
	--FontFaceNormal:         MavenPro, sans serif;

	/* Font transforms */
	--FontTransformThList:    uppercase;

	/* Text shadow */
	--TxtShdThList:           1px 1px 1px white;
	--TxtShdTdList:           none;
	--TxtShdPositive:         1px 1px 1px #444444;
	--TxtShdNegative:         1px 1px 1px white;

	/* Margins */
	--MarginButton:           0 4px 0 0;
	--MarginButtonTd:         0;
	--MarginVerticalRuler:    0 8px 0 0;
	--MarginTabs:             0 5px 0 0;
	--MarginBox:              0;
	--MarginWindowTop:        40px;
	--MarginWindowTopVBars:   34px;
	--MarginWindowLeft:       0px;
	--MarginWindowRight:      0px;
	--MarginWindowBottom:     0px;

	/* Padding */
	--PaddingSelect:          4px 5px 5px 5px;
	--PaddingButton:          5px;
	--PaddingButtonTd:        5px;
	--PaddingListsTh:         8px 4px;
	--PaddingListsTd:         8px 4px;
	--PaddingInput:           2px 5px;
	--PaddingTabs:            8px 10px 8px 10px;
	--PaddingBox:             10px;
	--PaddingBoxLarger:       15px;

	/* Tables */
	--TblListsBorderCollapse: collapse;
	--TblListsBorderSpacing:  0px;

	/* Borders */
	--ButtonBorderRadius:     10px;
	--BorderBox:              1px solid rgba(255,255,255,0.1);
	--BorderInput:            1px solid #c0c0c0;
	--BorderBoxRadius:        10px;
	--WinBorderTopActive:     1.4px solid #83c3ff;
	--WinBorderLeftActive:    1px solid #1d66aa;
	--WinBorderRightActive:   1px solid #1d66aa;
	--WinBorderBottomActive:  1.4px solid #1d66aa;
	--WinBorderTopBlur:       1px solid #afafaf;
	--WinBorderLeftBlur:      1px solid #808080;
	--WinBorderRightBlur:     1px solid #808080;
	--WinBorderBottomBlur:    1.4px solid #707070;
	--WinBottomBarHeight:     17px;
	--WinContentBottom:       17px;
	--BorderRadiusTabs:       10px 10px 0 0;
	--BorderPageActive:       none;
	--BorderRuler:            1px solid rgba(255,255,255,0.1);

	--BorderDefaultTop:       1px solid rgba(255,255,255,0.1);
	--BorderDefaultLeft:      1px solid rgba(255,255,255,0.1);
	--BorderDefaultRight:     1px solid rgba(0,0,0,0.1);
	--BorderDefaultBottom:    1px solid rgba(0,0,0,0.1);

	/* Border radius */
	--BorderRadius:            10px;
	--BorderTopLeftRadius:     10px;
	--BorderTopRightRadius:    10px;
	--BorderBottomRightRadius: 10px;
	--BorderBottomLeftRadius:  10px;

	/* Box shadow */
	--BoxShadowButton:        none;
	--BoxShadowRecessed:      inset 0px 1px 3px rgba(0,0,0,0.2);
	--BoxShadowElevated:      0px 1px 3px rgba(0,0,0,0.2);
	--BorderRecessed:         none;
	--BorderElevated:         1px solid rgba(0,0,0,0.1);

	/* Window gadgets */
	--WinGadResizeImg:        url(/themes/friendup12/gfx/win_resizewin_active.png);
	--WinGadResizeImgA:       url(/themes/friendup12/gfx/win_resizewin_active.png);
	--WinGadZoomImg:          url(/themes/friendup12/gfx/win_maximize_active.png);
	--WinGadZoomImgA:         url(/themes/friendup12/gfx/win_maximize_active.png);
	--WinGadCloseImg:         url(/themes/friendup12/gfx/win_close_active.png);
	--WinGadCloseImgA:        url(/themes/friendup12/gfx/win_close_active.png);
	--WinGadDepthImg:         url(/themes/friendup12/gfx/win_depth_active.png);
	--WinGadDepthImgA:        url(/themes/friendup12/gfx/win_depth_active.png);
	--WinGadMinimizeImg:      url(/themes/friendup12/gfx/win_minimize_active.png);
	--WinGadMinimizeImgA:     url(/themes/friendup12/gfx/win_minimize_active.png);
	--WinGadResizeColActive:  #3c4f72;
	--WinGadResizeCol:        #808080;
	--WinFrameBgBlur:         #808080;
	--WinFrameBgDarkBlur:     #606060;
	--WinFrameBgActive:       #3c4f72;
	--WinFrameBgDarkActive:   #2D618B;

	/* Gui image elements */
	--GuiImgWinTitle:         url(/webclient/gfx/system/window_topgradient_off.png);
	--GuiImgWinTitleActive:   url(/themes/friendup12/gfx/window_topgradient.png);
	--GuiImgWinLoading:       #222222 url(/themes/friendup12/gfx/busy.png) no-repeat center center;

	/* Icon set */
	--IconSmallArrowUp:       url(/webclient/gfx/icons/16x16/actions/arrow-up.png);
	--IconSmallArrowDown:     url(/webclient/gfx/icons/16x16/actions/arrow-down.png);
	--IconSmallArrowLeft:     url(/webclient/gfx/icons/16x16/actions/arrow-left.png);
	--IconSmallArrowRight:    url(/webclient/gfx/icons/16x16/actions/arrow-right.png);

	--IconSmallSave:          url(/webclient/gfx/icons/16x16/actions/dialog-ok.png);
	--IconSmallUse:           url(/webclient/gfx/icons/16x16/actions/dialog-ok-apply.png);
	--IconSmallCancel:        url(/webclient/gfx/icons/16x16/actions/dialog-cancel.png);

	--IconSmallListAdd:       url(/webclient/gfx/icons/16x16/actions/list-add.png);
	--IconSmallListRemove:    url(/webclient/gfx/icons/16x16/actions/list-remove.png);

	/* Other */
	--LineHeightInput:        14px;
	
	/* FUI Overrides */
	--fui-border-foreground:  #fffef6;
}
