/* Charcoal ----------------------------------------------------------------- */

/* FUI */

:root body.Synthwave
{
    --fui-background-foreground: #081d30;
    --fui-background-foreground-dim: #081d3088;
    --fui-background: #1d0b25;
    --fui-background-dim: #1d0b2588;
    --fui-color: #e6e6e6;
    --fui-button-background: #0e767f;
    --fui-button-border-color: #0e767f;
    --fui-button-color: #cde0c0;
    --fui-menu-background: #2f123b;
    --fui-list-background: #130b23;
    --fui-list-item-background: #130b23;
    --fui-list-item-background-alternate: #150c27;
    --fui-list-item-color: #afafaf;
    --fui-list-item-color-alternate: #c9c9c9;
    --fui-module-background-darker: #281033;
    --fui-module-background: #2f123b;   
    
    --fui-tab-border-color-active: #0e767f;
	--fui-tab-background-active: #0e767f;
	--fui-tab-color-active: #cde0c0;
	--fui-tab-border-color: #2c092a;
	--fui-tab-background: #2c092a;
	--fui-tab-color: #cde0c0;
	
	--fui-view-title-active-background: #56154d;
	--fui-view-title-active-color: #cde0c0;
	--fui-view-title-background: #09384a;
	--fui-view-title-color: #cde0c0;
	
	--fui-panel-background: #2f123b;
	--fui-panel-color: #cde0c0;
	
	--fui-selection-background: #0e767f;
	--fui-selection-color: #cde0c0;
	
	--fui-input-border-color: #110a1f;
    --fui-input-background: #110a1f;
    --fui-input-color: #6aa9af;
	
	/* overrides */
	
	--ColorBgButton: #0e767f;
	--ColorButton: #cde0c0;
}

/* END FUI */

html > body.Synthwave, html > body.Synthwave *
{
    scrollbar-color: #404040 #1e1e1e !important;
}

html > body.Synthwave,
html > body.Synthwave.Inside,
html > body.Synthwave .Content .Scroller:after
{
	background: #303030;
	border-radius: 0;
}

body.Synthwave .AppsShowingTitle
{
	background: #303030;
}

html body.Synthwave #Screens > div
{
	background: #303030;
}

html body.Synthwave .File .Icon .Drive .Label
{
	filter: grayscale(1) brightness(0.4) drop-shadow(1px 2px 2px rgba(255,255,255,0.4));
}

html body.Synthwave .ToggleGroup .VolumeInfo .SizeText 
{
	color: white;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

html [mobile=mobile].Synthwave.ViewMaximized.HasMenu #WorkspaceMenu, 
html [mobile=mobile].Synthwave.ViewMaximized #WorkspaceMenu, 
html [mobile=mobile].Synthwave.WidgetSlideDown.HasMenu #WorkspaceMenu
{
	background: #303030;
}


html body.Synthwave[mobile=mobile] > #MobileMenu.Visible
{
	background: #222222;
	color: white;
}

html body.Synthwave[mobile] #WorkspaceMenu.Open ul
{
	background: #303030;
}

html body.Synthwave .Screen > .TitleBar .ScreenList
{
	color: white;
}

html body.Synthwave #DoorScreen:after,
body.Synthwave:not(.ViewMaximized) #Screens > div.Screen > .TitleBar, 
body.Synthwave.ViewMaximized.AppsShowing #Screens > div.Screen > .TitleBar,
body.Synthwave[mobile] #WorkspaceMenu,
html body.Synthwave #DoorsScreen:after
{
	background-color: var(--fui-panel-background);
	color: var(--fui-panel-color);
}


html body.Synthwave .ViewContainer[childview].Active > .MobileBack:before
{
	color: #e0e0e0;
	font-size: 1.4em;
}

[mobile].Synthwave #WorkspaceMenu.Open
{
	background: #303030;
}

html body.Synthwave .Screen > .ScreenContent
{
	background: #303030;
}

html body.Synthwave a, html body a.Synthwave:visited
{
	color: #ffbe85;
}

html [mobile=mobile].Synthwave.ViewMaximized.HasMenu #WorkspaceMenu,
html [mobile=mobile].Synthwave.WidgetSlideDown.HasMenu #WorkspaceMenu
{
	background: #303030;
}

body.Synthwave .SliderElement .SliderGroove
{
	background: rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

html body.Synthwave .Screen > .TitleBar > .Left .Extra .Offline
{
	filter: invert(1);
}

body.Synthwave input[type=text], body.Synthwave input[type=range], body.Synthwave input[type=number], body.Synthwave input[type=date],
body.Synthwave input[type=email], body.Synthwave input[type=username],
body.Synthwave input[type=datetime-local], body.Synthwave input[type=password], 
html body.Synthwave textarea, html body.Synthwave select, html body.Synthwave select:hover
{
    border-radius: 10px;
    border: 1px solid var(--fui-input-border-color);
    background: var(--fui-input-background);
    color: var(--fui-input-color);
}

html body.Synthwave:not([mobile]) .View, html body.Synthwave .View.Active
{
	box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.3);
}

html > body.Synthwave .View.Active > .Title,
html > body[mobile].Synthwave .View > .Title
{
	background-color: var(--fui-view-title-active-background);
	color: var(--fui-view-title-active-color);
}
html > body.Synthwave .View.Active > .Title > span,
html > body[mobile].Synthwave .View > .Title > span
{
	color: var(--fui-view-title-active-color);
}


html > body.Synthwave .View > .Title
{
	background-color: var(--fui-view-title-background);
	color: var(--fui-view-title-color);
}
html > body.Synthwave .View > .Title > span
{
	color: var(--fui-view-title-color);
}

html > body:not(.Inside):not(.Loading).Synthwave, html body.Synthwave .View:not([transparent]) .View > .Content,
html body.Synthwave .View > .Content,
html body.Synthwave
{
	background-color: var(--fui-background) !important;
	color: var(--fui-color);
}

html > body.Synthwave > div button, html > body.Synthwave > div .Button
{
	background-color: var(--fui-button-background);
    border: 1px solid var(--fui-button-border-color);
    color: var(--fui-button-color);
}

html > body.Synthwave > div button:hover, 
html > body.Synthwave > div .Button:hover
{
    border: 1px solid var(--ColorBgButtonHover);
}

html body.Synthwave .View .DirectoryToolbar,
html body.Synthwave .View.Active .DirectoryToolbar 
{
	background-color: var(--fui-panel-background);
	color: var(--fui-panel-color);
}

html body.Synthwave .DirectoryToolbar button.Makedir:before
{
	filter: brightness(2) grayscale(1);
}

html body.Synthwave .View .DirectoryToolbar button:not(.IconButton),
html body.Synthwave .View .DirectoryToolbar .Button:not(.IconButton)
{
	color: #e0e0e0;
	background-color: none;
}

html body.Synthwave .View .DirectoryToolbar > .ToggleGroup > button:hover:before, 
html body.Synthwave .View .DirectoryToolbar > .Group > button:hover:before, 
html body.Synthwave .View .DirectoryToolbar > button:hover:before
{
	color: white;
}


html body.Synthwave .View .DirectoryToolbar > .ToggleGroup > button:hover:before, 
html body.Synthwave .View .DirectoryToolbar > button:hover:before
{
	color: #e0e0e0;
}
html > body.Synthwave .View .DirectoryToolbar button:before, 
html > body.Synthwave .View .DirectoryToolbar button:after
{
	color: rgba(224,224,224,170);
}

html body.Synthwave .View .DirectoryToolbar > .ToggleGroup > button.Active:before
{
	color: white;
}

html body.Synthwave .BackgroundNegative,
html body.Synthwave .Box.BackgroundNegative,
html body.Synthwave .BoxBlue.BackgroundNegative
{
	background-color: #808080;
}

html body.Synthwave .Negative,
html body.Synthwave .Box.Negative,
html body.Synthwave .BoxBlue.Negative
{
	color: #ffffff;
}

html body.Synthwave .File a
{
	color: #e0e0e0;
}

html body.Synthwave .File.Selected .Title,
html body.Synthwave #Screens .File.Selected .Title
{
	color: white;
}

html body.Synthwave div .File.Selected:before
{
	background-color: var(--fui-selection-background);
	color: var(--fui-selection-color);
}

html body.Synthwave .File.Selected:before
{
	background: rgba(255,255,255,0.1);
	border-radius: 10px;
	content: " ";
	display: block;
	width: 120%;
	position: absolute;
	top: 0;
	left: -10%;
	height: 100%;
}

html body.Synthwave .File .Icon > *:after
{
	color: #303030;
}

html body.Synthwave .PageActive, html body.Synthwave .PageActive .PageScroll
{
	background-color: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.1);
}

html body.Synthwave .Tab.TabActive
{
	border: 1px solid var(--fui-tab-border-color-active); 
	background-color: var(--fui-tab-background-active);
	color: var(--fui-tab-color-active);
}

html body.Synthwave .Tab
{
	border: 1px solid var(--fui-tab-border-color); 
	background-color: var(--fui-tab-background);
	color: var(--fui-tab-color);
	margin-right: 1px;
}
html body.Synthwave .Tab:last-child
{
	margin-right: 0;
}

html body.Synthwave .BackgroundDefault,
html body.Synthwave .Dialog,
html body.Synthwave .WindowBackground, 
html body.Synthwave .Dialog > .DialogHeader, 
html body.Synthwave .Dialog > .DialogButtons,
html body.Synthwave .ToolbarBackground,
html body.Synthwave div.Listview > .Footer,
html body.Synthwave .List,
html body.Synthwave div.Listview > .Icons,
html body.Synthwave .Box, 
html body.Synthwave .BoxBlue
{
	background-color: var(--fui-panel-background);
	color: var(--fui-panel-color);
}

html body[mobile].Synthwave .Dialog,
html body[mobile].Synthwave .Dialog > .DialogHeader, 
html body[mobile].Synthwave .Dialog > .DialogButtons
{
	background-color: rgba(0,0,0,0.6);
}

html body.Synthwave .PadBorder {
	border-color : #303030;
}

html body.Synthwave .PadBackground {
	background-color : #303030;
}

html body.Synthwave .BackgroundLists
{
	background-color: #202020;
}

html body.Synthwave .BackgroundLists .sw1,
body.Synthwave .List tr.sw1, 
body.Synthwave .List div.sw1,
html body.Synthwave div.Listview > .Icons > .Scroller > .Row.Odd .Column, 
html body.Synthwave div.ColumnView .Row.Odd .Column, 
html body.Synthwave #MousePointer .Row.Odd .Column,
html body.Synthwave .ZebraList > tr, 
html body.Synthwave .ZebraList > div
{
	background-color: var(--fui-list-item-background);
	color: var(--fui-list-item-color);
}

html body.Synthwave .ZebraList > tr .PadBorder, 
html body.Synthwave .ZebraList > div .PadBorder
{
	border-color: var(--fui-list-item-background);
}

html body.Synthwave .ZebraList > tr .PadBackground, 
html body.Synthwave .ZebraList > div .PadBackground
{
	background-color: var(--fui-list-item-background);
}

html body.Synthwave .ZebraList.Interactive > tr:hover, 
html body.Synthwave .ZebraList.Interactive > div:hover
{
	background-color: var(--fui-list-item-background-alternate);
}

html body.Synthwave .ZebraList.Interactive > tr:hover .PadBorder, 
html body.Synthwave .ZebraList.Interactive > div:hover .PadBorder
{
	border-color: var(--fui-list-item-background-alternate);
}

html body.Synthwave .ZebraList.Interactive > tr:hover .PadBackground, 
html body.Synthwave .ZebraList.Interactive > div:hover .PadBackground
{
	background-color: var(--fui-list-item-background-alternate);
}

html body.Synthwave .BackgroundLists .sw2,
body.Synthwave .List tr.sw2, 
body.Synthwave .List div.sw2,
html body.Synthwave div.Listview > .Headers > .Header:nth-child(odd), 
html body.Synthwave div.Listview > .Headers > .Header:nth-child(even),
html body.Synthwave div.Listview > .Icons > .Scroller > .Row .Column, 
html body.Synthwave div.ColumnView .Row .Column, 
html body.Synthwave #MousePointer .Row .Column,
html body.Synthwave .ZebraList > tr:nth-child(odd), 
html body.Synthwave .ZebraList > div:nth-child(odd)
{
	background-color: var(--fui-list-item-background-alternate);
	color: var(--fui-list-item-color);
}

html body.Synthwave .ZebraList > tr:nth-child(odd) .PadBorder, 
html body.Synthwave .ZebraList > div:nth-child(odd) .PadBorder
{
	border-color: var(--fui-list-item-background-alternate);
}

html body.Synthwave .ZebraList > tr:nth-child(odd) .PadBackground, 
html body.Synthwave .ZebraList > div:nth-child(odd) .PadBackground
{
	background-color: var(--fui-list-item-background-alternate);
}

html body.Synthwave .ZebraList.Interactive > tr:nth-child(odd):hover, 
html body.Synthwave .ZebraList.Interactive > div:nth-child(odd):hover
{
	background-color: var(--fui-list-item-background);
}

html body.Synthwave div.Listview > .Icons > .Scroller > .Row.Selected > .Column,
html body.Synthwave #MousePointer .Row.Selected .Column
{
	background: #151515;
	color: white;
}
html body.Synthwave div.Listview > .Icons > .Scroller > .Row.Odd.Selected > .Column,
html body.Synthwave #MousePointer .Row.Odd.Selected .Column
{
	background: #101010;
	color: white;
}

html body.Synthwave .List tr.sw1.Selected, 
html body.Synthwave .List div.sw1.Selected
{
	background-color: #455155;
}
html body.Synthwave .List tr.sw2.Selected, 
html body.Synthwave .List div.sw2.Selected
{
	background-color: #3e484c;
}

html body.Synthwave .VertTab
{
	background-color: #404040;
	color: #e0e0e0;
}

html body.Synthwave .VertTab.Active
{
	background-color: #303030;
}

html body.Synthwave .Screen > .TitleBar
{
	background: #202020;
	color: #e0e0e0;
}

html body.Synthwave div #Tray > div
{
	color: white;
}

html body.Synthwave #WorkspaceMenu > ul > li,
html body.Synthwave #WorkspaceMenu .Menu,
html body.Synthwave #WorkspaceMenu .Menu:hover,
html body.Synthwave .Screen > .TitleBar > .Left *
{
	color: #e0e0e0;
}

body.Synthwave #DoorsScreen .Left > .VirtualWorkspaces > div.Active 
{
	border: 0;
}

[mobile].Synthwave .View.IconWindow .MobileFileBrowser > .FileBrowser .DiskItem > .Name,
[mobile].Synthwave .View .FileDialog .FileBrowser .DiskItem > .Name,
[mobile].Synthwave .View.IconWindow .MobileFileBrowser > .FileBrowser .FileBrowserItemImage,
[mobile].Synthwave .View .FileDialog .FileBrowser .FileBrowserItemImage
{
	color: white;
}
[mobile].Synthwave .View.IconWindow .MobileFileBrowser > .FileBrowser .DiskItem > .Name:active,
[mobile].Synthwave .View .FileDialog .FileBrowser .DiskItem > .Name:active
{
	background-color: rgba(255,255,255,0.2);
}

body.Synthwave .FileBrowserItemImage
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
	float: left;
	vertical-align: middle;
	display: block;
	margin: 1px 4px 0 0;
	filter: invert(100%);
}

body.Synthwave .Active > .FileBrowserItemImage,
{
	filter: invert(100%);
}

body.Synthwave .Frame .Progress
{
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}

/* Charcoal scheme scrollbars */

body.Synthwave::-webkit-scrollbar
body.Synthwave .View.Active ::-webkit-scrollbar
{
	background-color: rgba(0,0,0,0.6);
}

html body.Synthwave ::-webkit-scrollbar,
html body.Synthwave ::-webkit-scrollbar-track,
html body.Synthwave .View.Active ::-webkit-scrollbar-track,
.Synthwave .View.Active.IconWindow ::-webkit-scrollbar-track,
.Synthwave .View.IconWindow ::-webkit-scrollbar-track,
html body.Synthwave.activated ::-webkit-scrollbar-track,
html body.Synthwave .View.Active.IconWindow ::-webkit-scrollbar-track
{
	background-color: rgba(10,0,20,0.3) !important;
	border-color: rgba(10,0,20,0.3) !important;
}

html body.Synthwave ::-webkit-scrollbar-thumb
{
	background-color: #3E184E !important;
	border-color: #3E184E;
}

html body.Synthwave .View.Active ::-webkit-scrollbar-thumb,
html body.Synthwave.activated ::-webkit-scrollbar-thumb,
html body.Synthwave .View.Active ::-webkit-scrollbar-thumb, 
html body.Synthwave .View.Active.IconWindow ::-webkit-scrollbar-thumb
{
	background-color: #56154D !important;
	border-color: #56154D;
}

html body.Synthwave .Frame .Progress
{
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}

html body.Synthwave hr.Divider, 
body.Synthwave hr 
{
    background: linear-gradient(90deg,transparent,#4e2061,transparent);
}

