html > body:not(.Inside):not(.Loading), 
html body .View:not([transparent]) .View > .Content
{
	background-color: #e2deda !important;
}
#Login
{
	position: absolute;
	top: calc(50% - 265px);
	left: calc(50% - 215px);
	width: 430px !important;
	height: 530px !important;
	max-width: 430px !important;
	max-height: 530px !important;
	min-width: 430px !important;
	min-height: 530px !important;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.05);
}
#Login .Snap
{
	display: none;
}
