
	<div class="ContentFull">
		<div class="VContentTop Padding ScrollArea BorderRight" style="bottom: 50px; width: 50%;">
			<div id="MonitorContent"></div>
		</div>
		<div class="VContentTop Padding ScrollArea BorderRight" style="bottom: 50px; left: auto; right: 0; width: 50%;">
			<p>
				<strong>{i18n_device_control}:</strong>
			</p>
			<p>
				<select id="Devices">
					<option>{i18n_loading}...</option>
				</select>
			</p>
			<p>
				<button type="button" class="Button IconSmall fa-play" onclick="connect()">
					{i18n_connect}
				</button>
			</p>
		</div>
		<div class="VContentBottom Padding BorderTop" style="height: 50px">
			<button class="Button IconSmall fa-check">
				{i18n_close_monitor}
			</button>
		</div>
	</div>

	<link rel="stylesheet" href="Progdir:Css/iotmonitor.css"/>
	<script src="Progdir:Scripts/iotmonitor.js"></script>

