
	<div class="VContentTop BackgroundWindow TheContent">
		<div class="ContentFull" id="MainBox">
			<div class="HContentLeft BorderRight BackgroundLists LeftSide ScrollArea">
				<div id="VTabs"></div>
			</div>
			<div class="HContentRight RightSide">
				<div id="VPage1">
					<div class="Padding">
						<h2>
							{i18n_language_settings}
						</h2>
						<hr/>
						<p>
							{i18n_enable_word_wrapping}: <input type="checkbox" id="setting_wordWrap" checked="checked"/>
						</p>
						<p>
							{i18n_word_wrap_width}: <input type="text" value="80" id="setting_wordWrapWidth" size="5"/>
						</p>
					</div>
				</div>
				<div id="VPage2">
					<div class="Padding">
						<h2>
							{i18n_code_editor_theme}
						</h2>
						<hr/>
						<p>
							{i18n_choose_theme}: <select size="5" id="setting_theme">
							<option value="twilight">Twilight (dark)</option>
							<option value="cobalt">Cobalt (dark)</option>
							<option value="solarized_light">Solarized Light (light)</option>
							<option value="dawn">Dawn (light)</option>
							</select>
						</p>
					</div>
				</div>
				<!--<div id="VPage3">
					<div class="Padding">
						<h2>{i18n_interface_related}</h2>
						<hr/>
						<p>
							{i18n_open_friend_create}: <input type="checkbox" id="settings_ownScreen"/>
						</p>
						<!--<p>
							Autosave every n'th minute: <input type="text" size="5" value="5"/> <input type="checkbox"/>
						</p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<div class="VContentBottom BorderTop BackgroundToolbar TheBottom">
		<div class="Padding">
			<button type="button" class="Button IconSmall fa-save" onclick="saveSettings()">
				{i18n_save}
			</button>
			<button type="button" class="Button IconSmall fa-close FloatLeft" onclick="doCancel()">
				{i18n_cancel}
			</button>
		</div>
	</div>
	
	<link rel="stylesheet" href="Progdir:Css/prefs.css"/>
	<script src="Progdir:Scripts/prefs.js"></script>

