
<div class="DialogContainer">
	<h2>
		{i18n_please_choose_session}:
	</h2>
	<p>
		<select id="editorSessionSelect">
			<option value="standard">{i18n_standard_HTML5}</option>
			<option value="tree-html">{i18n_tree_engine_HTML5}</option>
			<option value="tree-canvas">{i18n_tree_engine_canvas}</option>
			<option value="tree-3d">{i18n_tree_engine_3D}</option>
		</select>
		<button type="button" class="IconSmall fa-play-circle-o" onclick="VisualEditor.checkSession( event )">
			{i18n_start_editing}
		</button>
	</p>
</div>
