
	<div class="OverflowHidden BorderRadius Elevated">
		
		<div class="HRow BackgroundNegative Negative PaddingLeft PaddingTop PaddingRight">
			<div class="HContent50 InputHeight FloatLeft">
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_role_profile}</strong>
				</h3>
			</div>
		</div>
	
		<div class="HRow BackgroundNegative Negative Padding">
			<div class="HContent30 FloatLeft Ellipsis">
				<div class="BackgroundPositive Positive PaddingSmall FloatLeft IconMedium fa-user-circle-o"></div>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<h2 class="ImageHeading NoMargin">
					<strong>{role_name}</strong>
				</h2>
			</div>
		</div>
	
		<div class="Box Padding" id="RoleBasicDetails">
		
			<div class="HRow MarginBottom">
				<div class="HContent30 InputHeight FloatLeft Ellipsis">
					<strong>{i18n_role_name}:</strong>
				</div>
				<div class="HContent70 FloatLeft Ellipsis">
					<input id="RoleName" type="text" class="FullWidth InputHeight" value="{role_name}"/>
				</div>
			</div>
		
			<div class="HRow MarginBottom">
				<div class="HContent30 InputHeight FloatLeft Ellipsis">
					<strong>{i18n_role_description}:</strong>
				</div>
				<div class="HContent70 FloatLeft Ellipsis">
					<textarea id="RoleDescription" class="FullWidth" style="min-height: 100px;resize: none;">{role_description}</textarea>
				</div>
			</div>
		
			<div id="RoleEditContainer">
				<div class="HRow">
					<button class="IconButton IconMedium IconToggle ButtonSmall FloatLeft Positive fa-trash" id="RoleDeleteBtn"></button>
					<div id="RoleEditButtons">
						<button class="Button IconSmall FloatRight MarginLeft" id="RoleSaveBtn">
							{i18n_save}
						</button>
						<button class="Button IconSmall FloatRight MarginLeft" id="RoleCancelBtn">
							{i18n_cancel}
						</button>
					</div>
				</div>
			</div>
		
		</div>
	
	</div>

	<div id="AdminApplicationContainer" class="MarginTop OverflowHidden BorderRadius Elevated">
		<div class="HRow BackgroundNegative Negative PaddingLeft PaddingTop PaddingRight">
			<div class="PaddingSmall HContent40 InputHeight FloatLeft">
				<button class="IconButton IconMedium ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="ApplicationEditBack"></button>
				<h3 class="NoMargin PaddingSmallLeft PaddingSmallRight FloatLeft">
					<strong>{i18n_applications}</strong>
				</h3>
			</div>
			<div class="PaddingSmall HContent45 FloatLeft Relative">
				<button class="IconButton IconMedium ButtonSmall fa-times-circle Closed" style="position:absolute;right:0;margin-top:-2px;" id="ApplicationSearchCancelBtn"></button>
				<input type="text" class="FullWidth" placeholder="{i18n_search}" style="padding-right:21px">
			</div>
			<div class="HContent15 FloatLeft Relative">
				<button class="IconButton IconMedium ButtonSmall Negative FloatRight fa-plus-circle Open" id="ApplicationEdit"></button>
			</div>
		</div>
		<div id="ApplicationGui">
			{applications}
		</div>
	</div>

	<!--<h2 class="MarginTop">
		{i18n_permissions}
	</h2>
	<div class="Box Padding">
		{permissions}
	</div>-->
	
	<div id="AdminPermissionContainer"></div>
	
