
	<h1 class="Padding BorderBottom">
		Server status
	</h1>
	<div class="HRow BorderBottom">
		<div class="HContent20 Ellipsis FloatLeft PaddingSmall PaddingLeft">
			Uptime:
		</div>
		<div class="HContent80 Ellipsis FloatLeft BorderLeft PaddingSmall">
			...
		</div>
	</div>
	<div class="HRow BorderBottom">
		<div class="HContent20 Ellipsis FloatLeft PaddingSmall">
			Host operating system:
		</div>
		<div class="HContent80 Ellipsis FloatLeft BorderLeft PaddingSmall">
			...
		</div>
	</div>
	<div class="HRow BorderBottom">
		<div class="HContent20 Ellipsis FloatLeft PaddingSmall">
			Friend version:
		</div>
		<div class="HContent80 Ellipsis FloatLeft BorderLeft PaddingSmall">
			...
		</div>
	</div>
