
<div class="ContentFull Padding" id="Top">
	<h2>
		{i18n_about_friend_create} v2.0.0
	</h2>
	<p>
		Friend is an integrated development environment (IDE) for Friend OS.
		With this application, you can develop everything from Friend GUI applications,
		widgets, command line programs and server software across many languages.
	</p>
	<p>
		Friend Create was one of the first apps developed using Friend's different
		APIs and libraries. As of version 2.0, the whole application has been
		refactored and the GUI was rewritten from scratch.
	</p>
	<p>
		Friend Create is Friend Software's offer to developers who need a simple
		but effective application for developing software. The application is 
		designed to make it easy to write apps and deploy packages onto the 
		Friend Network and the Friend Marketplace.
	</p>
	<h3>
		Author
	</h3>
	<p>
		Friend was developed and maintained by Hogne Titlestad between 2014-2019.
	</p>
</div>
<div class="BorderTop Padding TextCenter" id="Bottom">
	<button type="button" class="IconSmall fa-remove" onclick="CloseView()">
		{i18n_close}
	</button>
</div>
<style> #Top { height: calc(100% - 50px); overflow: auto; } #Bottom { height: 50px; position: absolute; left: 0; bottom: 0; width: 100%; } </style>
