
<div class="ContentFull Padding" id="Top">
	<h2>
		{i18n_about_friend_create} v2.0.0
	</h2>
	<p>
		Friend Create er et integrert utviklermiljø for Friend OS. Med dette
		programmet kan du utvikle alt fra Friend applikasjoner, widgets, 
		kommandolinje programmer og server programvare i flere språk.
	</p>
	<p>
		Friend Create var ett av de første programmene som ble utviklet med
		bruk av Friend's forskjellige APIer og biblotek. I versjon 2.0 er hele
		programmet refaktorert, og et helt nytt brukergrensesnitt er utviklet.
	</p>
	<p>
		Friend Create er Friend Software's tilbud til utviklere som trenger
		et enkelt og effektivt program for å utvikle programvare. Det er designet
		for å gjøre det enkelt å lage pakker for distribusjon i Friend Network
		og Friend Marketplace.
	</p>
	<h3>
		Forfatteren
	</h3>
	<p>
		Friend Create er utviklet av Hogne Titlestad og ble først satt sammen i
		2014.
	</p>
</div>
<div class="BorderTop Padding TextCenter" id="Bottom">
	<button type="button" class="IconSmall fa-remove" onclick="CloseView()">
		{i18n_close}
	</button>
</div>
<style> #Top { height: calc(100% - 50px); overflow: auto; } #Bottom { height: 50px; position: absolute; left: 0; bottom: 0; width: 100%; } </style>
