
		<script src="Progdir:Libraries/Ace/ace.js"></script>
		<script src="Progdir:Scripts/visual_editor.js"></script>
		<script src="Progdir:Scripts/gui_editor.js"></script>
		<script src="Progdir:Scripts/editor.js"></script>

		<link rel="stylesheet" href="Progdir:Css/editor.css"/>
		<link rel="stylesheet" href="Progdir:Css/visual_editor.css"/>
		<link rel="stylesheet" href="Progdir:Css/gui_editor.css"/>

		<div class="ContentFull">
			<div id="Toolbar" class="BorderBottom Horizontal">
				<div class="Button IconButton IconSmall fa-file" onclick="tb('new')">
					{tb_newfile}
				</div>
				<div class="Button IconButton IconSmall fa-folder-open" onclick="tb('load')">
					{tb_open}
				</div>
				<div class="Button IconButton IconSmall fa-save" onclick="tb('save')">
					{tb_save}
				</div>
				<div class="Button IconButton IconSmall fa-files-o" onclick="tb('saveas')">
					{tb_saveas}
				</div>
				<div class="Button IconButton IconSmall fa-remove" onclick="tb('close')">
					{tb_close}
				</div>
				<div class="IconButtonSpacer">
				</div>
				<div class="Button IconButton IconSmall fa-info-circle" onclick="tb('properties')">
					{tb_project}
				</div>
				<div class="IconButtonSpacer">
				</div>
				<div class="Button IconButton IconSmall  fa-search" onclick="tb('find')">
					{tb_find}
				</div>
			</div>
			
			<div id="EditorContent">
				<div class="ContentFull">
					<div id="fileslistlabel" class="Padding BorderBottom BackgroundToolbar">
						<p class="Layout"><strong id="Filelist">{i18n_files}</strong></p>
					</div>
					<div id="fileslist" class="BorderBottom">
						<div class="CodeEditor Files BackgroundDefault List">
							<div class="CodeEditorFile Selected Padding">
								Empty file
							</div>
						</div>
					</div>
					<div id="filestabs" class="Padding">
						&nbsp;
					</div>
					<div id="filestatus" style="position: absolute; top: auto; left: 0; width: 225px; bottom: 0; height: 40px" class="BackgroundDefault BorderTop">
						<div class="Padding Relative TextCenter" id="status">

						</div>
					</div>
					<div id="ResizeColumn" style="position: absolute; top: 0; left: 225px; width: 5px; bottom: 0; background: #606060; cursor: col-resize;">
					</div>
					<div id="CodeView">
						<div id="EditorTabs">
							<div class="Tab IconSmall fa-code" id="CodeEditorTab">
								Code editor
							</div>
							<div class="Tab IconSmall fa-server" id="VisualTab">
								Visual programming
							</div>
							<div class="Tab IconSmall fa-edit" id="GuiDesign">
								GUI design
							</div>
							<div class="Tab IconSmall fa-users" id="CollaborationTab">
								Collaboration
							</div>
							<div class="Page">
								<div class="CodeEditor PageScroll" id="NoScroll">
									<div class="Editor" id="editordiv" style="border: 0; outline: 0"></div>
									<div class="Statusbar BorderTop" id="statusbar">
										<div class="Padding">
											<div class="HRow">
												<div class="HContent65 FloatRight">
													<div class="HContent35 FloatRight">
														<div class="FloatLeft">&nbsp;&nbsp;{i18n_tab_width}:&nbsp;</div>
														<div class="TabWidth FloatLeft">0</div>
													</div>
													<div class="HContent25 FloatRight">
														<div class="FloatLeft">Ln&nbsp;</div>
														<div class="Ln FloatLeft">0</div>
														<div class="FloatLeft">,&nbsp;Col&nbsp;</div>
														<div class="Col FloatLeft">0</div>
													</div>
													<div class="HContent10 FloatRight">
														<div class="InsOvr">INS</div>
													</div>
												</div>
												<div class="HContent35 FloatLeft">
													<div class="HContent50 FloatLeft">
														<select class="SyntaxHighlighting FullWidth" id="Syntax">
															<option value="php">{i18n_php}</option>
															<option value="css">{i18n_css}</option>
															<option value="pl">{i18n_perl}</option>
															<option value="sql">{i18n_sql}</option>
															<option value="sh">{i18n_bash_script}</option>
															<option value="as">{i18n_actionscript}</option>
															<option value="js">{i18n_javascript}</option>
															<option value="jsx">{i18n_javascriptexe}</option>
															<option value="sol">{i18n_solidity}</option>
															<option value="json">{i18n_json}</option>
															<option value="html">{i18n_html}</option>
															<option value="c">{i18n_c_code}</option>
															<option value="d">{i18n_d_code}</option>
															<option value="ini">{i18n_ini_script}</option>
															<option value="java">{i18n_java}</option>
															<option value="txt">{i18n_plain_text}</option>
															<option value="xml">{i18n_xml}</option>
															<option value="conf">{i18n_conf}</option>
														</select>
													</div>
													<div class="HContent50 FloatLeft">
														<div class="MarginLeft" id="SpecialControls">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="Page">
								<div id="VisualPage" class="PageScroll">
								</div>
							</div>
							<div class="Page">
								<div class="PageScroll">
								</div>
							</div>
							<div class="Page">
								<div class="PageScroll">
									<div class="Padding">
										<h2>
											Collaborating users
										</h2>
										<div id="Collaborators">
											<p>You are the only one on this session.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

