<div id="Print"></div>
<script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
<span id="Launchfile" file="{launchwith}"></span>
<div class="ContentFull">
	<div id="TopPanel" class="">
		<div id="Toolbar" class="Padding">
			<button type="button" class="IconButton IconSmall fa-file-text" onclick="NewFile()" title="{i18n_new_file}"></button>
			<button type="button" class="IconButton IconSmall fa-folder-open" onclick="OpenFile()" title="{i18n_open}"></button>
			<button type="button" class="IconButton IconSmall fa-save" onclick="SaveFile( Application.currentFile )" title="{i18n_save}"></button>
			<button type="button" class="IconButton IconSmall fa-files-o" onclick="SaveFile( Application.currentFile, true )" title="{i18n_save_as}"></button>
			<button type="button" class="IconButton IconSmall fa-print" onclick="PrintFile()" title="{i18n_print}"></button>
			<button type="button" class="IconButton IconSmall fa-undo" onclick="if( Application.currentFile ) Application.currentFile.editor.undo()" title="{i18n_undo}"></button>
			<button type="button" class="IconButton IconSmall fc-package-build" onclick="Build()" title="{i18n_generate_package}"></button>
			<button type="button" class="IconButton IconSmall fc-package-install" onclick="Install()" title="{i18n_install_package}"></button>
			<button type="button" class="IconButton IconSmall fa-cube" onclick="ToggleApplicationCanvas()" title="{i18n_toggle_application_canvas}"></button>
			<button type="button" class="IconButton IconSmall fa-search" onclick="Search()" title="{i18n_search_replace}"></button>
			<span id="PlayStop">
			</span>
			<div id="CollabStatus"><span>{i18n_collaborating}</span></div>
		</div>
	</div>
	<div class="ApplicationCanvas" id="app_canvas">
		
	</div>
	<div id="SideBar">
		<div class="Tabs" id="SideBarTabs">
			<div class="Tab IconSmall fa-folder" id="tabAllFiles">{i18n_allfiles}</div>
			<div class="Tab IconSmall fa-archive" id="tabProjects">{i18n_projects}</div>
			<div class="Page">
				<div id="SB_AllFiles" class="Padding">
				</div>
			</div>
			<div class="Page">
				<div id="SB_Project">
				</div>
			</div>
		</div>
		<div id="Participants">
			<div class="header"><p>Participants:</p></div>
			<div class="body"></div>
		</div>
	</div>
	<div id="CodeArea" class="JetBrains"></div>
	<div id="StatusBar">
		<div id="MobileButtons"></div>
		<div id="StatusMessage">
		</div>
	</div>
</div>
