<link rel="stylesheet" href="Progdir:Templates/main.css"/>
<script src="Progdir:Libraries/Ace/ace.js"></script>
<script src="System:js/gui/filebrowser.js"></script>

<div class="ContentFull">
	<div id="TopPanel" class="">
		<div id="Toolbar" class="Padding">
			<button type="button" class="IconSmall fa-file-text">
			</button>
			<button type="button" class="IconSmall fa-folder-open">
				{i18n_open}
			</button>
			<button type="button" class="IconSmall fa-save">
				{i18n_save}
			</button>
			<button type="button" class="IconSmall fa-print">
				{i18n_print}
			</button>
			<button type="button" class="IconSmall fa-undo">
				{i18n_undo}
			</button>
			<div class="VDivider Large"></div>
			<button type="button" class="IconSmall fa-search">
				{i18n_search_replace}
			</button>
		</div>
	</div>
	<div id="SideBar" class="">
		<div class="Tabs" id="SideBarTabs">
			<div class="Tab IconSmall fa-folder" id="tabAllFiles">{i18n_allfiles}</div>
			<div class="Tab IconSmall fa-file" id="tabOpenFiles">{i18n_openfiles}</div>
			<div class="Tab IconSmall fa-archive" id="tabProject">{i18n_project}</div>
			<div class="Page">
				<div id="SB_AllFiles" class="Padding">
				</div>
			</div>
			<div class="Page">
				<div id="SB_OpenFiles">
			
				</div>
			</div>
			<div class="Page">
				<div id="SB_Project">
				</div>
			</div>
		</div>
	</div>
	<div id="CodeArea"></div>
</div>

<script src="Progdir:Scripts/main.js"></script>

