#TopPanel
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 120px;
}

#SideBar
{
	position: absolute;
	left: 0;
	top: 120px;
	width: 280px;
	height: calc(100% - 120px);
}

#SideBar #SB_AllFiles
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#CodeArea
{
	position: absolute;
	left: 280px;
	top: 120px;
	width: calc(100% - 280px);
	height: calc(100% - 120px);
}


