<link rel="stylesheet" href="Progdir:Templates/main.css"/>
<script src="Progdir:Libraries/Ace/ace.js"></script>
<script src="System:js/gui/filebrowser.js"></script>

<div class="ContentFull">
	<div id="TopPanel" class="BorderBottom"></div>
	<div id="SideBar" class="BorderRight">
		<div class="Tabs" id="SideBarTabs">
			<div class="Tab"></div>
			<div class="Tab"></div>
			<div class="Tab"></div>
			<div class="Page">
				<div id="SB_AllFiles">
				</div>
			</div>
			<div class="Page">
				<div id="SB_OpenFiles">
			
				</div>
			</div>
			<div class="Page">
				<div id="SB_Project">
				</div>
			</div>
	</div>
	<div id="CodeArea"></div>
</div>

<script src="Progdir:Scripts/main.js"></script>

