
<div class="ContentFull" id="All">
	<h2 class="Padding">
		{i18n_project_information}
	</h2>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>{i18n_project_name}:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<input class="FullWidth" id="project_projectname" value=""/>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>{i18n_project_author}:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<input class="FullWidth" id="project_author" value=""/>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>{i18n_project_version}:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<input size="8" id="project_version" value=""/>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>{i18n_project_category}:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<select id="project_category">
			</select>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>{i18n_project_description}:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<textarea resize="no" id="project_description" class="FullWidth" style="height: 150px"></textarea>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>{i18n_system_privileges}:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<div class="List BorderBottom" id="project_permissions"></div>
			<br/>
			<div class="HRow">
				<button class="IconButton IconSmall fa-plus">
					{i18n_add_privilege}
				</button>
				<button class="IconButton IconSmall fa-minus">
					{i18n_remove_privileges}
				</button>
			</div>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>{i18n_application_images}:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding" id="project_images"></div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Project files:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<div class="List BorderBottom" id="project_files"></div>
			<br/>
			<div class="HRow">
				<button class="IconButton IconSmall fa-plus">
					{i18n_add_file}
				</button>
				<button class="IconButton IconSmall fa-minus">
					{i18n_remove_files}
				</button>
			</div>
		</div>
	</div>
</div>
<script src="Progdir:Scripts/project_editor.js"></script>
<style> #All { overflow: auto; } </style>
