
	<div class="VContentTop TopCnt">
		<div class="ContentFull LeftSide">
			<div class="ContentFull Padding ScrollArea">
				<h2 class="BorderBottom PaddingBottom MarginBottom">
					{i18n_project_info}
				</h2>
				<p class="Layout">
					<strong>{i18n_project_name}:</strong>
				</p>
				<p class="Layout">
					<input class="FullWidth" id="tProjectName"/>
				</p>
				<p class="Layout">
					<strong>{i18n_author}:</strong>
				</p>
				<p class="Layout">
					<input class="FullWidth" id="tAuthor"/>
				</p>
				<p class="Layout">
					<strong>{i18n_version}:</strong>
				</p>
				<p class="Layout">
					<input class="FullWidth" id="tVersion"/>
				</p>
				<p class="Layout">
					<strong>{i18n_category}:</strong>
				</p>
				<p class="Layout">
					<input class="FullWidth" id="tCategory"/>
				</p>
				<p class="Layout">
					<strong>{i18n_desc}:</strong>
				</p>
				<p class="Layout">
					<textarea class="FullWidth" id="tDescription"></textarea>
				</p>
				<p class="Layout">
					<strong>{i18n_system_privileges}:</strong>
					<button type="button" class="Button IconSmall fa-legal" onclick="addPrivileges()"> {i18n_add_privileges}</button>
				</p>
				<p>
					<select size="5" class="FullWidth" id="tPermissions" ondblclick="removePrivilege()"></select>
				</p>
				<p class="Layout">
					<strong>{i18n_project_files}:</strong>
					<button type="button" class="Button IconSmall fa-folder" onclick="addFiles()"> {i18n_add_files}</button>
				</p>
				<p>
					<select size="10" class="FullWidth" id="tFiles" ondblclick="removeFile()"></select>
				</p>
			</div>
			<!-- some ones that take the product of logic -->
			<input type="hidden" id="Permissions" value=""/>
			<input type="hidden" id="Files" value=""/>
			<input type="hidden" id="Libraries" value=""/>
		</div>
		<div class="ContentFull RightSide BorderLeft">
			<div class="ContentFull Padding ScrollArea" id="Librarylist">
				<div id="ExtraTabs" class="Tabs">
					<div class="Tab IconSmall fa-shopping-cart">
						{i18n_software_install_info}
					</div>
					<div class="Tab IconSmall fa-codepen">
						{i18n_development_libraries}
					</div>
					<div class="Page">
						<p class="Layout">
							<strong>{i18n_screenshots}:</strong>
						</p>
						<div id="Screenshots" class="BorderTop MarginTop MarginBottom">
						</div>
						<p class="Layout">
							<button type="button" onclick="addScreenshot()" class="Button IconSmall fa-plus-circle">
								{i18n_add_screenshot}
							</button>
						</p>
					</div>
					<div class="Page">
						<div id="LibrariesContainer" class="HRow">
						</div>
					</div>
				</div>
				<script>
					InitTabs( 'ExtraTabs' );
				</script>
			</div>
		</div>
	</div>
	<div class="VContentBottom BottomCnt BorderTop Padding">
		<button type="button" class="Button IconSmall fa-check" onclick="saveProject()">
			{i18n_save}
		</button>
		<button type="button" class="Button IconSmall fa-close" onclick="closewin()">
			{i18n_cancel}
		</button>
	</div>


	<style>
	
		.thumb
		{
			width: 117px;
			height: 100px;
			float: left;
			margin: 10px 5px 0 0;
			border-radius: 3px;
			background-color: black;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		
		#Screenshots:after
		{
			content: " ";
			display: block;
			clear: both;
		}
	
		.TopCnt
		{
			bottom: 50px;
		}
		.BottomCnt
		{
			height: 50px;
		}
		.ContentFull.LeftSide
		{
			width: 50%;
		}
		.ContentFull.RightSide
		{
			width: 50%;
			left: 50%;
		}
		
		#tDescription
		{
			height: 100px;
		}
		
		.Package
		{
			float: left; width: 33%;
			box-sizing: border-box;
			position: relative;
			height: 125px;
			cursor: hand;
			cursor: pointer;
		}
		
		.Package:hover > .Image
		{
			background-color: #aaaaaa;
		}
	
		.Package > .Image
		{
			width: calc(100% - 5px);
			border-radius: 5px;
			height: 95px;
			border: 1px solid rgba(0,0,0,0.25);
			background-color: #444444;
			text-align: center;
			transition: background-color 0.25s;
			background-size: cover;
			background-position: center;
		}
		
		.Package > .Label
		{
			position: absolute;
			width: 100%;
			top: 100px;
			color: black;
			text-align: center;
			font-weight: bold;
		}
		
		.Package.Active > .Image
		{
			background-color: #999999;
			box-shadow: inset 0px 0px 20px red;
			border-color: red;
		}
		
		.Package.Active > .Label
		{
			color: #004466;
		}
		
	</style>

	<script src="Progdir:Scripts/project.js"></script>

