
<div class="ContentFull">
	<h2 class="Padding">
		Project information
	</h2>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Project name:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<input class="FullWidth" id="project_name" value="{project_name}"/>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Author:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<input class="FullWidth" id="project_author" value="{project_author}"/>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Version:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<input size="8" id="project_version" value="{project_version}"/>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Category:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<select id="project_category">
				{project_categories}
			</select>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Description:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			<textarea resize="no" id="project_description" class="FullWidth" style="height: 150px">{project_description}</textarea>
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>System privileges:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			{system_privileges}
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Application images:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			{application_images}
		</div>
	</div>
	<div class="BorderTop HRow">
		<div class="HContent20 FloatLeft Padding BorderRight">
			<strong>Project files:</strong>
		</div>
		<div class="HContent80 FloatLeft Padding">
			{project_files}
		</div>
	</div>
</div>

