
	<div class="ContentFull LayoutButtonbarBottom">
		<div class="VContentTop ScrollArea">
			<div class="Padding">
				<h2>
					Please select users to connect to
				</h2>
				<p>
					<strong>Select users:</strong>
				</p>
				<p>
					<select id="userList" size="10" class="FullWidth" multiple="multiple"></select>
				</p>
			</div>
		</div>
		<div class="VContentBottom Padding BackgroundDefault BorderTop">
			<button class="Button IconSmall fa-user" onclick="inviteUsers()">
				Invite user(s)
			</button>
			<button class="FloatRight Button IconSmall fa-remove" onclick="CloseView()">
				Cancel
			</button>
		</div>
	</div>
	
	<script src="Progdir:Scripts/sas_window.js"></script>
