
	<div class="ContentFull">
		<div class="VContentTop BorderBottom Padding" style="bottom: 50px">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td width="40%">
						<p class="Layout"><strong>{i18n_search_for}:</strong></p>
					</td>
					<td>
						<p class="Layout"><input type="text" id="SearchId" value="" class="FullWidth" placeholder="{i18n_keywords}..."/></p>
					</td>
				</tr>
				<tr>
					<td width="40%">
						<p class="Layout"><strong>{i18n_replace_with}:</strong></p>
					</td>
					<td>
						<p class="Layout"><input type="text" id="SearchReplace" value="" class="FullWidth" placeholder="{i18n_replacement}..."/></p>
					</td>
				</tr>
				<tr>
				    <td colspan="2">
				        <p class="Layout">
				            <input type="checkbox" id="replaceall"/> {i18n_replace_all}
				        </p>
				    </td>
				</tr>
			</table>
		</div>
		<div class="VContentBottom" style="height: 50px">
			<div class="Padding">
				<button type="button" id="searchFor" onclick="searchFor()" class="Button IconSmall fa-search">
					{i18n_search}
				</button>
				<button type="button" onclick="replaceNum(1)" class="Button IconSmall fa-replace">
					{i18n_replace}
				</button>
				<button type="button" class="Button IconSmall fa-check">
					{i18n_cancel}
				</button>
			</div>
		</div>
	</div>

	<script src="Progdir:Scripts/search.js"></script>
