
<div class="ContentFull">
	<div id="VisualArea">
	</div>
	<div id="VisualToolbar" class="Vertical BorderLeft BackgroundDefault PaddingSmall">
		<div class="Button IconButton IconSmall fa-square" title="Box element" onclick="VisualEditor.add( 'box', event )">
			
		</div>
		<div class="Button IconButton IconSmall fa-image" title="Image element" onclick="VisualEditor.add( 'image', event )">
			
		</div>
		<hr class="Divider"/>
		<div class="Button IconButton IconSmall fa-play-circle" title="Play" id="playButton" onclick="VisualEditor.play( event )">
			
		</div>
		<div class="Button IconButton IconSmall fa-stop-circle" title="Stop" onclick="VisualEditor.stop( event )">
			
		</div>
		<hr class="Divider"/>
		<div class="Button IconButton IconSmall fa-remove" title="Clear" onclick="VisualEditor.reset( event )">
		</div>
		<hr class="Divider"/>
		<div class="Button IconButton IconSmall fa-save" title="Save" onclick="VisualEditor.save( event )">
		</div>
	</div>
	<div id="VisualCodeArea" class="BorderTop BackgroundDefault">
	</div>
</div>
