

	<div class="ContentFull LayoutButtonbarBottom">
		<div class="VContentTop ScrollArea">
			<div id="Projects">
			</div>
		</div>
		<div class="VContentBottom BackgroundDefault Padding BorderTop">
			<button type="button" onclick="addProject()">
				Add project
			</button>
			<button type="button" onclick="editProjects()">
				Edit projects
			</button>
			<button type="button" onclick="deleteProjects()">
				Delete projects
			</button>
			<div id="Status">
				Ready.
			</div>
		</div>
	</div>
	
	<script src="Progdir:Scripts/main.js"></script>
	<link rel="stylesheet" href="Progdir:Styles/main.css"/>
