
<link rel="stylesheet" href="Progdir:CSS/flex.css"/>
<link rel="stylesheet" href="Progdir:CSS/common.css"/>
<link rel="stylesheet" href="Progdir:CSS/main.css"/>

<div id="broadcast" class="bar column">
	<div id="notification" class="pad-it fortify hidden">
		<div class="title">
			Server notification
		</div>
		<form id="send-notification" class="group row">
			<div class="input-wrap expand">
				<input type="text" placeholder="notice">
			</div>
			<button class="button fortify">
				<i class="fa fa-fw fa-commenting"></i>
			</button>
		</form>
	</div>
	<div id="group-chat" class="expand bar column">
		<div class="title pad-it fortify">
			Server chat
		</div>
		<div id="messages-users" class="expand bar row pad-it">
			<div class="expand flex-reset">
				<div id="message-container">
				</div>
			</div>
			<div id="users-container" class="ZebraList BorderLeft fortify">
			</div>
			<div id="session-closed" class="BackgroundDefault hidden">
				<div id="closed-content">
					Session closed. Everything is lost...
					<br>
					<br>
					<br>
					EVERYTHING
				</div>
				<div id="close-session-closed" class="center-child">
					<i class="fa fa-fw fa-close"></i>
				</div>
			</div>
		</div>
		<form id="chat-form" class="group row">
			<div class="input-wrap expand">
				<input id="chat-input" type="text" placeholder="...">
			</div>
			<button type="submit" class="button fortify">
				<i class="fa fa-fw fa-paper-plane"></i>
			</button>
		</form>
	</div>
</div>
<div id="fragments" class="hidden">

<!-- USER
id,
username,
-->
<script id="user-tmpl" type="text/html">
<div id="<%= id %>" class="user group row">
	<div class="user-state fortify">
		<i class="fa fa-fw fa-cube fa-spin"></i>
	</div>
	<div class="name expand">
		<%= username %>
	</div>
	<div class="user-remove fortify hidden">
		<i class="fa fa-fw fa-close"></i>
	</div>
</div>
</script>

<!-- MESSAGE
from,
time,
message,
-->
<script id="message-tmpl" type="text/html">
<div class="message BorderTop">
	<div class="msg-meta group row">
		<div class="msg-from expand">
			<%= from %>
		</div>
		<div class="msg-time fortify">
			<%= time %>
		</div>
	</div>
	<div class="content">
		<%= message %>
	</div>
</div>
</script>

</div> <!-- closing fragments -->

<script src="/webclient/js/gui/template.js"></script>
<script src="Progdir:Scripts/view.js"></script>
<script src="Progdir:Scripts/mainView.js"></script>

