html
{
	height: 100%;
}

html > body
{
	min-height: 100%;
	height: auto;
}

.Printable
{
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	height: 0;
}

@media print {
	.EditorContentArea
	{
		display: none;
	}
	.Printable
	{
		display: block;
		padding: 40px;
		position: relative;
		top: auto;
		height: auto;
		visibility: visible;
		color: black;
	}
	
	.Printable figure.image
	{
		width: 100%;
		margin: 10px 20px;
	}
	
	.Printable figure.image-style-side
	{
		float: right;
		max-width: 50%;
		margin: 10px 0 20px 10px;
	}
	
	.Printable figure.image img
	{
		width: 100%;
		height: auto;
	}
}

#Status
{
	position: absolute;
	bottom: 2px;
	right: 10px;
	text-align: right;
	color: black;
}
#Status * { padding: 0; margin: 0; }

#LeftBar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: calc(100% - 50px)
	box-sizing: border-box;
}

#FileBar
{
	position: absolute;
	top: 0;
	left: 250px;
	width: 250px;
	height: 100%;
	box-sizing: border-box;
}

#FileBar .NewItem
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 2;
	box-sizing: border-box;
}

.EditorContentArea .NewFolder
{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	z-index: 2;
	box-sizing: border-box;
	width: 250px;
	transition: opacity 0.25s;
}

.EditorContentArea .NewFolder.Hidden
{
	pointer-events: none;
	opacity: 0;
}

#RightBar
{
	position: absolute;
	top: 0;
	left: 500px;
	width: calc(100% - 500px);
	height: 100%;
}


/* Custom toolbar */

#AuthorToolbar
{
	position: absolute;
	top: 0;
	left: 0;
	height: 55px;
	right: 0;
	z-index: 2;
}

.HRow > .ToolButton
{
	float: left;
	display: flex;
}

.ToolbarInner
{
	padding-right: 54px;
}


.ToolbarInner select, .ToolbarInner button, .ToolbarInner .ToolButtonLabel,
.ToolbarInner .ToolButton
{
	margin-bottom: 2px;
}

/* CKE editor */

#RightBar > div.ck
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#RightBar div.ck-editor__top
{
	display: none;
}

#RightBar > div.ck > .ck.ck-editor__main
{
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	height: calc(100% - 55px);
	color: black;
}
#RightBar > div.ck > .ck.ck-editor__main > .ck-content
{
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	border: 0;
}

#RightBar > div.ck > .ck.ck-editor__main > .ck-content div
{
	background-color: transparent;
}

/* Bottom status bar text */
html > body > div a.cke_path_item, html > body > div span.cke_path_empty
{
	padding: 15px 5px 15px 10px;
	text-shadow: none;
	color: inherit;
	font-weight: normal;
	font-family: inherit;
}

/* Speech input */

.Speech
{
	/* Remove for now */
	display: none;
	/* Done remove */
	
	position: absolute;
	right: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	cursor: hand;
	cursor: pointer;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
	background: white;
}

.Speech input
{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 0;
	background: transparent;
	outline: none;
	z-index: 1;
	position: absolute;
}

.Button, .ToolSelect, .ToolButtonLabel
{
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 10px 0 0 5px;
	display: block !important;
	box-sizing: border-box;
	outline: none;
}

.ToolButtonLabel
{
	cursor: default;
}

.Button em, .ToolSelect em
{
	/*text-align: center;*/
	display: none;
}

.ToolDivider
{
	float: left;
	border-left: 1px solid rgba(255,255,255,0.15);
	border-right: 1px solid rgba(0,0,0,0.15);
	width: auto;
	height: 34px;
	position: relative;
	margin: 10px 0 0 5px;
}

[mobile] .ToolDivider
{
	display: none;
}

/* Responsive design -------------------------------------------------------- */

@media (max-width: 660px)
{
	.Divider4 + .ToolButton + br
	{
		display: none;
	}
	#zoom, #zoomd
	{
		display: none !important;
	}
}

/*
For now, we don't use this, we don't have enough tools...
@media (max-width: 400px)
{
	.Divider4 + .ToolButton + br
	{
		display: none;
	}
	#AuthorToolbar
	{
		height: 185px;
	}
	#cke_1_contents
	{
		top: 185px;
	}
}*/

#AuthorToolbar.Hidden
{
	height: 0;
	overflow: hidden;
}

#cke_1_contents.Hidden
{
	top: 0;
}

/* Mobile */

[mobile] .ToolbarInner > div > *:first-child
{
	margin-left: 0;
}

[mobile] .ToolbarInner
{
	padding: 2px 10px;
}

[mobile] .ToolbarInner .Button
{
	line-height: 18px;
}

[mobile] .ToolbarInner #ToolFormat
{
	margin-left: 10px;
}

[mobile] #MobileMenu
{
	width: 32px;
	height: 32px;
	overflow: hidden;
	float: right;
	transform: translateX(0);
	transition: transform 0.25s;
}

[mobile] #MobileMenu.Open 
{
    position: fixed;
    left: 100%;
    top: 0;
    transform: translateX(-100%);
    width: 70%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    overflow: visible;
    float: none;
    z-index: 100;
}

[mobile] #MobileMenu.Open > .MenuContents
{
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 0 10px;
}

[mobile] #MobileMenu.Open:after
{
	position: fixed;
	left: 0;
	top: 0;
	width: 40%;
	height: 100%;
	background: rgba(0,0,0,0);
	transform: translateX(-100%);
	content: " ";
	display: block;
}

[mobile] #MobileMenu:before
{
	margin-left: -2px;
}

[mobile] #MobileMenu.Open:before
{
	content: "\f00d";
	float: right;
	clear: both;
}

[mobile] #MobileMenu select
{
	margin-bottom: 8px;
}

[mobile] #MobileMenu label, [mobile] #MobileMenu select, [mobile] #MobileMenu div
{
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	clear: both;
	text-align: left;
}

[mobile] #MobileMenu .ToolDivider
{
	display: none;
}

/* Initial state */

[mobile] #RightBar
{
	left: 0;
	width: 100%;
}

[mobile] #LeftBar,
[mobile] .NewFolder
{
	left: 0;
	width: 100%;
	transform: translateX(100%);
	transition: transform 0.25s;
}

[mobile] #FileBar
{
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 50px;
	transform: translateX(100%);
	transition: transform 0.25s;
}



