

.List > div
{
	cursor: hand;
	cursor: pointer;
}

.List > div.Active
{
	font-weight: bold;
}

.Padding.VContentTop
{
	bottom: 50px;
}

@media (max-width: 400px)
{
	.ThemeList
	{
		width: 100% !important;
	}
	.ThemePreview
	{
		display: none;
	}
}
