
body
{
	margin: 0;
	padding: 0;
	font-size: 12px;
}

html > body:not(.Inside):not(.Loading)
{
	background-color: transparent !important;
}

.Terminal
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #202020df;
	color: #eeeeee;
	font-family: Monospace, Liberation mono;
	font-size: 12px;
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
	padding: 8px;
}
.Terminal .Path
{
	color: #00CFA5;
	margin: 0 5px 0 0;
	display: inline;
}

.Terminal .Password .Cli
{
	-webkit-text-security: disc;
	text-security: disc;
}

.Terminal .Cli
{
	outline: none;
	display: inline;
	position: relative;
}
.Terminal .Error, .Terminal .Output
{
	display: block;
	clear: both;
	color: #ff0022;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 5px 0 10px 0;
}
.Terminal .Output
{
	color: white;
}
.Terminal .Container
{
	color: #9fc8ef;
	font-size: 12px;
}

.Terminal .File
{
	color: #EDB85E;
	font-size: 12px;
	height: auto;
	width: auto;
	padding: auto;
	margin: auto;
	float: none;
	clear: both;
}

.Terminal.Loading div:last-child .Cli:after
{
	display: block;
	position: absolute;
	right: -10px;
	bottom: 0;
	color: white;
}

.Terminal.Loading1 div:last-child .Cli:after{ content: "/"; }
.Terminal.Loading2 div:last-child .Cli:after{ content: "-"; }
.Terminal.Loading3 div:last-child .Cli:after{ content: "\\"; }
.Terminal.Loading4 div:last-child .Cli:after{ content: "|"; }

