#TopPanel
{
	padding: 1px;
	box-sizing: border-box;
	height: 100px;
	background: #0665A2;
	position: relative;
	box-shadow: inset 0px 5px 150px rgba(0,0,0,0.1);
	box-sizing: border-box;
}

#TopPanel > h1
{
	text-align: center;
	font-size: 45px;
	color: white;
	line-height: 95px;
	font-weight: normal;
}

#GoPrevious, #GoNext
{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 34px;
	cursor: hand;
	cursor: pointer;
	z-index: 99;
	font-family: fontawesome;
	color: white;
	font-size: 2.5em;
	text-align: center;
}

.Animated
{
	transition-property: height, top, left, width;
	transition-duration: 0.25s, 0.25s, 0s, 0s;
}

.WeekContainer, .MonthContainer
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#LeftCol
{
	width: 250px;
}

#RightCol
{
	overflow: hidden;
	width: calc(100% - 250px);
}

#GoPrevious
{
	left: 20px;
}

#GoNext
{
	right: 20px;
}

#GoPrevious:after
{
	content: "\f0a8";
	display: block;
}

#GoNext:after
{
	content: "\f0a9";
	display: block;
}

#MainView
{
	top: 100px;
	bottom: 50px;
	border-top: 1px solid rgba(0,0,0,0.4);
}

#MainView.Week
{
	top: 128px;
}

#BottomPanel
{
	bottom: 0;
	height: 50px;
}


.CalendarHeaderRow
{
	padding: 0 !important;
	margin: 0 !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

.CalendarDates
{
	padding: 0 !important;
	margin: 0 !important;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #191919;
}

.WeekContainer:after, .MonthContainer:after
{
	content: " ";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0.5);
}

/* Position left column */

#Find
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
}

#UsersGroups
{
	position: absolute;
	top: 130px;
	left: 0;
	width: 100%;
	height: 130px;
	overflow: autp;
}

#Roster
{
	position: absolute;
	top: 260px;
	left: 0;
	width: 100%;
	height: calc(100% - 260px);
	overflow: auto;
}


/* End positioning on left column */

#Roster .Date.Expired, #Roster .RosterEvent.Expired
{
	opacity: 0.6;
}

#DayHeading
{
	position: absolute;
	top: 100px;
	width: calc(100% - 6px);
	height: 27px;
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#LongEvents
{
	top: 128px;
	width: calc(92% - 5px);
	left: calc(8% - 1px);
	position: absolute;
	background-color: rgba(0,0,0,0.2);
}

#LongEvents > div
{
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0.5);
}

.LongEvent.Week
{
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	left: 0;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.LongEvent.Day
{
	position: absolute;
	height: 100%;
}

.LongEvent.Week:last-child
{
	border-bottom: none;
}

.LongEvent.Day > div
{
	border-right: 1px solid rgba(0,0,0,0.6);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}

.LongEvent.Day > div.Spanned
{
	border-right: 0;
}

.LongEvent.Day:nth-child(even)
{
	background-color: rgba(0,0,0,0.2);
}

.EventRect
{
	position: absolute;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 4px;
	text-align: left;
	font-size: 0.9em;
	border-radius: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.EventRect.New
{
	background-color: rgba(23,98,81,0.8);
	color: white;
}

.EventRect.Red
{
	background-color: red;
	color: white;
}

.EventRect:before
{
	display: block;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: rgba(255,255,255,0.2);
	cursor: row-resize;
	transition: background 0.25s;
	border-radius: 2px 2px 0 0;
}

.EventRect:before:hover
{
	background: rgba(255,255,255,0.5);
}

.EventRect:after
{
	display: block;
	content: " ";
	position: absolute;
	top: calc(100% - 5px);
	left: 0;
	width: 100%;
	height: 5px;
	background: rgba(255,255,255,0.2);
	cursor: row-resize;
	transition: background 0.25s;
	border-radius: 0 0 2px 2px;
}

.EventRect:after:hover
{
	background: rgba(255,255,255,0.5);
}

/* Sizes horizontally */

.EventRect.Intersecting.Width2
{
	width: 50%;
}

.EventRect.Intersecting.Width2 + .EventRect.Intersecting.Width2
{
	left: 50%;
}

.EventRect.Intersecting.Width3
{
	width: 33.3%;
}

.EventRect.Intersecting.Width3 + .EventRect.Intersecting.Width3
{
	left: 33.3%;
}

.EventRect.Intersecting.Width3 + .EventRect.Intersecting.Width3 + .EventRect.Intersecting.Width3
{
	left: 66.6%;
}

.EventRect.Intersecting.Width4
{
	width: 25%;
}

.EventRect.Intersecting.Width4 + .EventRect.Intersecting.Width4
{
	left: 25%;
}

.EventRect.Intersecting.Width4 + .EventRect.Intersecting.Width4 + .EventRect.Intersecting.Width4
{
	left: 50%;
}

.EventRect.Intersecting.Width4 + .EventRect.Intersecting.Width4 + .EventRect.Intersecting.Width4 + .EventRect.Intersecting.Width4
{
	left: 75%;
}

/* Done sizes horizontally */

.Day
{
	width: 14.285%;
	float: left;
	display: block;
	height: 100px;
	box-sizing: border-box;
	position: relative;
}

html > body .CalendarHeaderRow > .HRow.CalendarRow > .Day.Today
{
	background: #065f99;
}

html > body .CalendarHeaderRow > .HRow.CalendarRow > .Day.Today > .Label
{
	color: white;
}

.Week .Day
{
	width: 8%;
}

.Week .Day + .Day
{
	width: 13.142%;
}

.Day.Column
{
	height: auto;
	border-right: 1px solid rgba(0,0,0,0.4);
}

.Day.Column:not(.Label):nth-child(odd)
{
	border-right: 1px solid rgba(0,0,0,0.4);
}

.Day.Column.Label:nth-child(odd)
{
	border-right: 1px solid rgba(0,0,0,0.4);
}

.Day.Column.Label:nth-child(even)
{
	border-right: 1px solid rgba(0,0,0,0.4);
}

.Day.Column:last-child
{
	border-right: 0;
}

.Day > .Number
{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	text-align: center;
	color: white;
	font-size: 16px;
}

.Day.Label
{
	height: 27px;
	line-height: 27px;
}

.Day.Label .LabelText
{
	width: 100%;
	color: white;
	font-size: 16px;
	text-align: left;
	margin-left: 15px;
}

.Week .Day.Label .LabelText
{
	text-align: center;
	margin-left: 0;
}

.CalendarRow.HRow
{
	padding: 0;
}

.HRow:nth-child(odd) .Day:nth-child(even),
.HRow:nth-child(even) .Day:nth-child(odd)
{
	background: #222222;
}
.HRow:nth-child(odd) .Day:nth-child(odd),
.HRow:nth-child(even) .Day:nth-child(even)
{
	background: #404040;
}
.HRow:nth-child(odd) .Day:nth-child(even):hover,
.HRow:nth-child(even) .Day:nth-child(odd):hover
{
	background: #323232;
}
.HRow:nth-child(odd) .Day:nth-child(odd):hover,
.HRow:nth-child(even) .Day:nth-child(even):hover
{
	background: #505050;
}

.HRow:nth-child(odd) .Day.Label:nth-child(even),
.HRow:nth-child(even) .Day.Label:nth-child(odd)
{
	background: #007E65;
}
.HRow:nth-child(odd) .Day.Label:nth-child(odd),
.HRow:nth-child(even) .Day.Label:nth-child(even)
{
	background: #006350;
}

.Day > .TimeSlot:nth-child(odd)
{
	display: block;
	background-color: rgba(0,0,0,0.2);
	padding: 4px;
}
.Day > .TimeSlot:nth-child(even)
{
	display: block;
	background-color: rgba(0,0,0,0.4);
	padding: 4px;
}

.Events
{
	position: absolute;
	top: 35px;
	left: 8px;
}

.Event
{
	width: 12px;
	height: 12px;
	border-radius: 12px;
	box-sizing: border-box;
	background-color: #f09020;
	float: right;
	margin: 0 5px 0 0;
	position: relative;
}

.Event > .Title
{
	display: block;
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 0px;
	min-width: 100px;
	background: rgba(255,255,255,0.8);
	color: black;
	border-radius: 8px;
	padding: 8px;
	white-space: no-wrap;
	box-shadow: 0px 2px rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s;
}

.Event:hover > .Title
{
	opacity: 1;
}

.Event[nth-child:0n6]
{
	clear: both;
}

.CalendarDates > .CalendarRow:last-child
{
	border-bottom: 1px solid #161616;
}

/* Sidebar */

.User .Ball
{
	content: " ";
	display: block;
	float: left;
	margin: 0 8px 8px 0;
	border-width: 4px;
	border-style: solid;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	border-radius: 50%;
}

.User:after
{
	display: block;
	content: " ";
	clear: both;
}

.User
{
	clear: both;
}

/* Buttons */

body button.IconButton.Active
{
	background: #066099 !important;
	color: white !important;	
}

/* Marker */
#nowdiv
{
	width: calc(100% - 10%);
    left: 8%;
	border-top: 2px dashed rgba(255,255,255,0.15);
	height: 1px;
	background: transparent;
	position: absolute;
	z-index: 100;
}


