
	<script src="Progdir:Scripts/logic.js"></script>

	<div class="VContentTop BorderBottom" id="TopBar">
		...
	</div>
	<div class="ContentFull" id="TopArea">
		<div class="BorderRight" id="LeftBar">
			<div class="LeftSide">
				<div class="Padding">
					<div class="FloatLeft">
						<button type="button" class="Button IconSmall fa-plus" onclick="saveProject()">
							New project
						</button>
					</div>
					<div class="FloatLeft">
						<button type="button" class="Button IconSmall fa-file-zip-o">
							Generate package
						</button>
					</div>
				</div>
			</div>
		</div>
		<div id="RightBar">
			<div class="Padding" id="Packagelist">
			</div>
		</div>
	</div>
	<div class="VContentBottom BorderTop" id="BottomBar">
	</div>
	
	<style>
		#TopBar
		{
			height: 50px;
		}
		
		#LeftBar
		{
			position: absolute;
			width: 200px;
			left: 0;
			top: 50px;
			bottom: 50px;
		}
		
		#RightBar
		{
			position: absolute;
			left: 200px;
			width: calc(100% - 200px);
			top: 50px;
			bottom: 50px;
		}
		
		#BottomBar
		{
			height: 50px;
		}
	</style>
