#EditorTabs
{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}

#EditorTabs .PageActive
{
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

#NoScroll, #CodeEditor
{
	overflow: hidden !important;
	margin: 0;
	padding: 0;
	height: 100% !important;
	border: 0;
}

#ResizeColumn
{
	border-radius: 10px;
	opacity: 0.3;
	position: absolute; 
	top: 0; 
	left: 300px; 
	width: 5px; 
	bottom: 0; 
	cursor: col-resize;
	transition: opacity 0.25s;
}

#ResizeColumn:hover
{
	opacity: 1;
}

#EditorTabs > div:first-child
{
    margin-left: 5px;
}

#Toolbar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#EditorContent
{
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
}

.Horizontal .IconButtonSpacer
{
	content: " ";
	display: inline-block;
	width: 1px;
	background: rgba(0,0,0,0.2);
	margin: 0 10px -10px 5px;
	height: 30px;
	box-sizing: border-box;
}

.FileLoaderProgress
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/themes/friendup12/gfx/loading.gif) no-repeat center center #222222;
	opacity: 0.4;
	z-index: 20;
}
#filelisttabs
{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	bottom: 40px;
	overflow: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	transition: bottom 0.25s;
}
.StatusPane #filelisttabs
{
	bottom: 240px;
}
#filelisttabs .Files > div
{
	position: relative;
}
#filelisttabs .Files > div .Icon
{
	position: absolute;
	opacity: 0;
	right: 8px;
	top: 10px;
	cursor: hand;
	cursor: pointer;
	transition: opacity 0.25s;
}
#filelisttabs .Files > div:hover .Icon
{
	opacity: 1;
}

#filestabs
{
	position: absolute;
	height: 0;
	bottom: 40px;
	overflow: hidden;
	width: 300px;
	box-sizing: border-box;
	opacity: 0;
	pointer-events: none;
	transition: height: 0.25s;
}

.StatusPane #filestabs
{
    position: absolute;
    height: 200px;
    bottom: 40px;
    left: 0;
    width: 300px;
    box-sizing: border-box;
    pointer-events: all;
    opacity: 1;
}

#filestatus
{
	position: absolute; 
	top: auto; 
	left: 0; 
	width: 300px; 
	bottom: 0; 
	height: 40px
}

#filestabs_content
{
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
}

#CodeView
{
	position: absolute;
	top: 0;
	left: 305px; right: 0;
	bottom: 0;
}

@media (max-width: 640px)
{
	#fileslist
	{
		display: none;
	}
	#CodeView
	{
		left: 0;
	}
	.Statusbar .HRow > .HContent65 *
	{
		font-size: 11px;
		line-height: 21px;
	}
}

.CodeEditor
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
.CodeEditor > .Statusbar
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 46px;
}
.CodeEditor > .Statusbar select
{
	margin: 0;
}
.CodeEditor > .Editor
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 46px;
	margin: 0;
}
.CodeEditor > .Editor > iframe
{
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
}
#SpecialControls
{
	position: relative;
	top: 0;
}

.AppPreview
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
}
.AppClose
{
	position: absolute;
	top: 4px;
	right: 4px;
	height: 24px;
	z-index: 7;
	line-height: 24px;
	padding: 0 6px 0 6px;
	background: rgba(0,0,0,0.6);
	border-radius: 3px;
	color: white;
}

/* Some modifications on the file browser ----------------------------------- */

.FileBrowser > div > p
{
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
}

.FileBrowser > div > p > strong
{
	font-weight: normal;
}

.FileBrowser div.Name.Active
{
	border-radius: 0;
}

