html body * {
	box-sizing : border-box;
}

.hidden { display : none !important; }

.title {
	font-size : 140%;
	padding   : 0.7em 0 0.4em 0;
}

.input-wrap {
	
}

.input-wrap input {
	width : 100%;
}

.pad-it {
	padding : 0.2em 0.5em;
}

#connect,
#broadcast {
	height: 100%;
}