#connect {
	
}

#group {
	
}

#users-list {
	overflow: auto;
}

.user-item {
	width: 10em;
	position: relative;
	padding-right : 1em;
}

.user-check {
}

.user-label {
	padding : 0.2em 0.5em 0.2em 0;
	border-bottom : 2px solid transparent;
}

.user-label:hover {
	border-bottom : 2px solid rgba( 0, 0, 0, 0.3 );
}
