
	<link rel="stylesheet" href="Progdir:Stylesheets/main.css"/>
	
	<script src="Progdir:Scripts/mainwindow.js"></script>
	
	<div class="ContentFull">
		
		<div class="VContentTop" style="bottom: 49px">
			
			<div class="ContentFull BackgroundLists Padding ScrollArea" id="Mountlist">
				
			</div>
			
		</div>
		<div class="VContentBottom BorderTop" style="height: 49px">
		
			<div class="ContentFull BackgroundDefault Padding">
			
				<button class="IconSmall fa-cog" type="button" onclick="Application.sendMessage( { command: 'newconnection' } )">
					Connect a new source
				</button>
				
			</div>
		
		</div>
		
	</div>
	
