.TopContainer
{
	bottom: 51px;
}

#Applications > .Box
{
	cursor: hand;
	cursor: pointer;
}

#Applications > .Box .HRow > div + div
{
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	top: 12px;
}

@media (max-width: 360px)
{
	#Applications > .Box .HRow > div + div
	{
		display: none;
	}
	#Applications > .Box .HRow > div
	{
		float: none;
		width: 100%;
	}
	#Applications img
	{
		float: none !important;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
