.Gui label
{
	font-weight: bold;
}

.Gui .Box
{
	margin: 0 0 10px 0;
}

.Gui h3
{
	margin: 0 0 10px 0;
}

.Gui .Box:last-child
{
	margin: 0;
}

.CenteredComponent
{
	text-align: center;
}

.CenteredComponent button
{
	margin: 0 5px 0 0;
	display: inline-block;
}

.CenteredComponent button:last-child
{
	margin-right: 0;
}

.AvatarRect
{
	width: 320px;
}

.PaletteRect
{
	width: 192px;
	padding-left: 20px;
	box-sizing: border-box;
}

#ClearAvatar
{
	position: absolute;
	top: 0px;
	left: calc(50% - 50px);
	width: 100px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s;
}

#AvatarArea
{
	position: relative;
	display: block;
	margin: auto auto 10px auto;
	width: 128px;
	height: 128px;
	border-radius: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
}

#AvatarArea #Avatar
{
	width: 256px;
	height: 256px;
	zoom: 0.5;
}

#UserAccImage
{
	border: 1px dashed #3B81C2;
}

@media (max-device-width: 512px)
{
	html #MainContainer
	{
		width: 100%;
	}	
	html #AppsContainer
	{
		display: none;
	}
}

