
<div class="ContentFull Dialog">
	<div class="My DialogContent">
		<!--<div class="WPatternCont BorderRight VContentTop">
			<div class="Padding">
				<p>
					<strong>{wallpaper_for}:</strong>
				</p>
				<p>
					<input type="radio" name="where" onclick="Application.mode = 'windows'; Application.showImages();" /> {windows}
				</p>
				<p>
					<input type="radio" name="where" onclick="Application.mode = 'doors'; Application.showImages();" checked="checked"/> {workbench}
				</p>
				<p class="BorderTop"></p>
				<p>
					<strong>{add_image}:</strong>
				</p>
				<p>
					{add_desc}
				</p>
				<p>
					<button type="button" class="IconSmall fa-plus" onclick="Application.addImage()">
						{add_image}
					</button>
				</p>
			</div>
		</div>-->
		<div class="WPatternCont2 VContentTop">
			<div id="Pages">
				<div class="Tab IconSmall fa-image">
					{i18n_from_collection}
				</div>
				<div class="Tab IconSmall fa-folder">
					{i18n_from_web}
				</div>
				<div class="Page">
					<div class="PageScroll Padding">
						<div class="ImageContainer" id="Images">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="Page">
					<div class="PageScroll Padding">
						<div id="Webimages">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="DialogButtons Padding">
		<button type="button" class="IconSmall fa-plus" onclick="Application.addImage()">
			{add_image}
		</button>
		<button type="button" class="FloatRight IconSmall fa-check SaveButton" onclick="Application.operationSave()">
			{save}
		</button>
		<button type="button" class="FloatRight IconSmall fa-eye UseButton" onclick="Application.operationUse()">
			{use}
		</button>
	</div>
</div>
<script>
	InitTabs( 'Pages' );
</script>
<style>
	.WPatternCont, .WPatternCont2
	{	
		float: left;
		height: 100%;
		position: relative;
		box-sizing: border-box;
		top: auto !important;
		left: auto !important;
	}
	/*.WPatternCont
	{
		width: 300px;
	}
	.WPatternCont2
	{
		width: calc(100% - 300px);
	}*/
	#Pages
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.WPatternCont2
	{
		width: 100%;
	}
	.ImageContainer:after
	{
		display: block;
		content: " ";
		clear: both;
		height: 20px;
	}
	.WPatternCont > div, .WPatternCont2 > div
	{
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.WPatternCont2 > div
	{
		left: 0px;
		padding-top: 0;
	}
	.WPImage
	{
		width: 185px; 
		height: 104px; 
		background-size: cover; 
		background-repeat: no-repeat; 
		background-position: center;
		float: left;
		display: block;
		margin: 10px 10px 15px 0;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		position: relative;
		background-color: rgba(0,0,0,0.3);
		transition: background-color 0.25s;
	}
	.WPImage.WSelected
	{
		background-color: rgba(0,0,0,0.8);
	}
	@media only screen and (min-width: 960px)
	{
		.WPImage:nth-child(3n-2)
		{
			width: calc(33% - 10px);
			margin: 5px 5px 35px 5px;
			height: 150px;
		}
		.WPImage:nth-child(3n-1)
		{
			width: calc(33% - 10px);
			margin: 5px 5px 35px 5px;
			height: 150px;
		}
		.WPImage:nth-child(3n)
		{
			width: calc(33% - 10px);
			margin: 5px 5px 35px 5px;
			height: 150px;
		}
	}
	@media only screen and (max-width: 959px)
	{
		.WPImage:nth-child(even)
		{
			width: calc(50% - 14px);
			margin: 5px 0 35px 5px;
			height: 150px;
		}
		.WPImage:nth-child(odd)
		{
			width: calc(50% - 10px);
			margin: 5px 5px 35px 5px;
			height: 150px;
		}
	}
	.WPImage > div
	{
		position: absolute;
		top: 5px;
		left: 5px;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		background-size: cover; 
		background-repeat: no-repeat; 
		background-position: center;
	}
	.WPImage > div > div
	{
		position: absolute;
		bottom: -29px;
		width: 100%;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.WPImage > div.Remove
	{
		width: 18px;
		height: 18px;
		left: auto;
		right: 10px;
		position: absolute;
		top: 10px;
		background: #000000;
		color: #ffffff;
		z-index: 2;
		margin: 0;
		border-radius: 100%;
	}
	.WPImage > div.Remove:hover
	{
		color: #000000;
		background: #ffffff;
	}
	.WPImage > div.Remove::before, .WPImage > div.Remove:before
	{
		display: block;
		text-align: center;
		line-height: 17px;
	}
	.WPImage.WSelected > div > div
	{
		font-weight: bold;
	}
	
	.WPImage.WSelected:after
	{
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		background: rgba(255,255,255,0.5);
		background-blend-mode: invert(100);
		content: " ";
	}
	
	.My.DialogContent
	{
		overflow: hidden;
	}
</style>

<script src="Progdir:Scripts/innerlogic.js"></script>

