@font-face {
    font-family: 'roboto';
    src: url('/themes/randstad/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'roboto';
    src: url('/themes/randstad/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: bold;
}
@font-face {
     font-family: 'roboto';
    src: url('/themes/randstad/fonts/Roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: oblique;
}
@font-face {
     font-family: 'roboto';
    src: url('/themes/randstad/fonts/Roboto/Roboto-MediumItalic.ttf');
    font-weight: bold;
    font-style: oblique;
}

@font-face
{
	font-family: fontawesome;
	src: url(/webclient/theme/fonts/FontAwesome.otf);
}

@append url(System:css/core.css);
@append url(System:css/lists.css);
@append url(System:css/windows.css);
@append url(System:css/icons.css);
@append url(System:css/tabs.css);
@append url(System:css/doors.css);
@append url(System:css/workspace.css);
@append url(System:css/font-awesome.min.css);

@declaration
{
	/* Colors */
	$ColorBackground:        #efefef;
	$ColorDefault:           #efefef;
	$ColorText:              #000000;
	$ColorButton:            #ffffff;
	$ColorBgButton:          #2175D9;
	$ColorButtonHover:       #ffffff;
	$ColorBgButtonHover:     #5EC6ED;
	$ColorSelect:            #000000;
	$ColorBgSelect:          #D0D0D0;
	$ColorSelectHover:       #404040;
	$ColorBgSelectHover:     #f8f8f8;
	$ColorBgTdListTable:     #f8f8f8;
	$ColorLists:             #3f3f3f;
	$ColorListsAlternate:    #303030;
	$ColorBgListSw1:         #f4f4f4;
	$ColorBgListSw2:         #f8f8f8;
	$ColorBgListSwHover:     #C1D4E5;
	$ColorListSw1:           #000000;
	$ColorListSw2:           #030303;
	$ColorTdListSw1:         #000000;
	$ColorTdListSw2:         #030303;
	$ColorBgThListSw1:       #e4e4e4;
	$ColorBgThListSw2:       #ededed;
	$ColorThListSw1:         #000000;
	$ColorThListSw2:         #000000;
	$ColorBgTabActive:       #fdfdfd;
	$ColorBgPageActive:      #fdfdfd;
	$ColorBox:               #000000;
	$ColorBgBox:             #fdfdfd;
	$ColorLightBorder:       #cfcfcf;
	$ColorDialogButtons:     #ffffff;
	$ColorDialogHeader:      #ffffff;
	$ColorPositive:          #000000;
	$ColorNegative:          #ffffff;
	$ColorBgPositive:        #cfcfcf;
	$ColorBgNegative:        #3f3f3f;
	$ColorBgHighlight:       #818181;
	$ColorHighlight:         #e0e0e0;
	$ColorSelect:            #ffffff;
	$ColorBorder:            #e0e0e0;
	$ColorInput:             #000000;
	$ColorBgInput:           #ffffff;
	$ColorBgRecessed:        #666666;
	$ColorRecessed:          #ffffff;
	$ColorOverlayBg:         rgba(239,239,239,0.7);
	$ColorLEDOn:             #87ca33;
	$ColorLEDWarning:        #f5f141;
	$ColorLEDNotify:         #f4a01f;
	$ColorLEDNotifyFrom:     #f4a01f;
	$ColorLEDNotifyTo:       #ffd055;
	$ColorLEDAlert:          #ff5308;
	$ColorLEDOff:            #e2e2e2;
	$ColorLEDText:           #000000;
	
	/* Special colors */
	$ColorBgStError:         #990000;
	$ColorStError:           #ff6666;
	$ColorBgStGreenLight:    #dddd00;
	$ColorStGreenLight:      #222200;
	$ColorBgStBlueLight:     #004488;
	$ColorStBlueLight:       #000000;
	$ColorBgGrayLight:       #888888;
	$ColorStGrayLight:       #000000;
	
	/* Font sizes */
	$FontSizeButton:         14px;
	$FontSizeDefault:        14px;

	/* Font weights */
	$FontWeightButton:       normal;
	$FontWeightThList:       normal;
	$FontWeightTabs:         normal;
	$FontWeightButtonActive: bold;
	
	/* Default face */
	$FontFaceNormal:         roboto, sans serif;
	
	/* Font transforms */
	$FontTransformThList:    uppercase;
	
	/* Text shadow */
	$TxtShdThList:           1px 1px 1px white;
	$TxtShdTdList:           none;
	$TxtShdPositive:         1px 1px 1px black;
	$TxtShdNegative:         1px 1px 1px white;
	
	/* Margins */
	$MarginButton:           0 4px 0 0;
	$MarginButtonTd:         0;
	$MarginVerticalRuler:    0 8px 0 0;
	$MarginTabs:             0 4px 0 0;
	$MarginBox:              0;
	$MarginWindowTop:        35px;
	$MarginWindowTopVBars:   34px;
	$MarginWindowLeft:       3px;
	$MarginWindowRight:      3px;
	$MarginWindowBottom:     0px;
	
	/* Padding */
	$PaddingSelect:          4px 5px 5px 5px;
	$PaddingButton:          5px;
	$PaddingButtonTd:        5px;
	$PaddingListsTh:         8px 4px;
	$PaddingListsTd:         8px 4px;
	$PaddingInput:           2px 5px;
	$PaddingTabs:            4px 7px 5px 7px;
	$PaddingBox:             10px;
	
	/* Tables */
	$TblListsBorderCollapse: collapse;
	$TblListsBorderSpacing:  0px;
	
	/* Borders */
	$ButtonBorderRadius:     3px;
	$BorderBox:              1px solid #e0e0e0;
	$BorderInput:            1px solid #c0c0c0;
	$BorderBoxRadius:        2px;
	$WinBorderTopActive:     1.4px solid #5EC6ED;
	$WinBorderLeftActive:    1px solid #2F6699;
	$WinBorderRightActive:   1px solid #2F6699;
	$WinBorderBottomActive:  1.4px solid #2F6699;
	$WinBorderTopBlur:       1px solid #afafaf;
	$WinBorderLeftBlur:      1px solid #9B9B9B;
	$WinBorderRightBlur:     1px solid #9B9B9B;
	$WinBorderBottomBlur:    1.4px solid #707070;
	$WinBottomBarHeight:     10px;
	$WinContentBottom:       18px;
	$BorderRadiusTabs:       8px 8px 0 0;
	$BorderPageActive:       1px solid #e0e0e0;
	$BorderRuler:            1px solid #e0e0e0;
	
	$BorderDefaultTop:       1px solid rgba(255,255,255,0.5);
	$BorderDefaultLeft:      1px solid rgba(255,255,255,0.5);
	$BorderDefaultRight:     1px solid rgba(0,0,0,0.5);
	$BorderDefaultBottom:    1px solid rgba(0,0,0,0.5);
	
	
	/* Box shadow */
	$BoxShadowButton:        0px 2px 2px rgba(0,0,0,0.2);
	$BoxShadowRecessed:      inset 0px 1px 3px rgba(0,0,0,0.2);
	$BoxShadowElevated:      0px 1px 3px rgba(0,0,0,0.2);
	$BorderRecessed:         none;
	$BorderElevated:         1px solid rgba(0,0,0,0.1);
	
	/* Window gadgets */
	$WinGadResizeImg:        url(../gfx/theme/default_window_resize.png);
	$WinGadResizeImgA:       url(../gfx/theme/default_window_resize.png);
	$WinGadZoomImg:          url(../gfx/system/window_zoom.png);
	$WinGadZoomImgA:         url(../gfx/system/window_zoom.png);
	$WinGadCloseImg:         url(../gfx/system/window_close.png);
	$WinGadCloseImgA:        url(../gfx/system/window_close_on.png);
	$WinGadDepthImg:         url(../gfx/system/window_depth.png);
	$WinGadDepthImgA:        url(../gfx/system/window_depth.png);
	$WinGadMinimizeImg:      url(../gfx/system/window_minimize.png);
	$WinGadMinimizeImgA:     url(../gfx/system/window_minimize.png);
	$WinGadResizeColActive:  #2175D9;
	$WinGadResizeCol:        #9B9B9B;
	$WinFrameBgBlur:         #9B9B9B;
	$WinFrameBgDarkBlur:     #606060;
	$WinFrameBgActive:       #2175D9;
	$WinFrameBgDarkActive:   #2D618B;
	
	/* Gui image elements */
	$GuiImgWinTitle:         url(../gfx/system/window_topgradient_off.png);
	$GuiImgWinTitleActive:   url(../gfx/system/window_topgradient.png);
	$GuiImgWinLoading:       #505050 url(../gfx/system/busycube.gif) no-repeat center center;
	
	/* Icon set */
	$IconSmallArrowUp:       url(../gfx/icons/16x16/actions/arrow-up.png);
	$IconSmallArrowDown:     url(../gfx/icons/16x16/actions/arrow-down.png);
	$IconSmallArrowLeft:     url(../gfx/icons/16x16/actions/arrow-left.png);
	$IconSmallArrowRight:    url(../gfx/icons/16x16/actions/arrow-right.png);
	
	$IconSmallSave:          url(../gfx/icons/16x16/actions/dialog-ok.png);
	$IconSmallUse:           url(../gfx/icons/16x16/actions/dialog-ok-apply.png);
	$IconSmallCancel:        url(../gfx/icons/16x16/actions/dialog-cancel.png);
	
	$IconSmallListAdd:       url(../gfx/icons/16x16/actions/list-add.png);
	$IconSmallListRemove:    url(../gfx/icons/16x16/actions/list-remove.png);
	
	/* Other */
	$LineHeightInput:        14px;
}

.BordersDefault
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultNegative
{
	border-top: 1px solid #909090;
	border-left: 1px solid #909090;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}

.BorderTop
{
	border-top: 1px solid $ColorBorder;
}

.BorderBottom
{
	border-bottom: 1px solid $ColorBorder;
}

.BorderLeft
{
	border-left: 1px solid $ColorBorder;
}

.BorderRight
{
	border-right: 1px solid $ColorBorder;
}

.BordersDefaultButton
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultButtonHover
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.BordersDefaultButtonActive
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.ButtonGradients
{
	background: #e8e8e8;
	background: -moz-linear-gradient(top, #e8e8e8 0%, #cecece 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#cecece));
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -o-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -ms-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: linear-gradient(to bottom, #e8e8e8 0%,#cecece 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#cecece',GradientType=0 );
}

.ButtonGradientsHover
{
	background: #2175D9;
	background: -moz-linear-gradient(top, #59A3C4 0%, #2175D9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#2175D9));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#2175D9 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#2175D9 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#2175D9 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#2175D9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#2175D9',GradientType=0 );
}

.BordersDefaultButtonActive
{
	background: #2175D9;
	background: -moz-linear-gradient(top, #59A3C4 0%, #2175D9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#2175D9));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#2175D9 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#2175D9 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#2175D9 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#2175D9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#2175D9',GradientType=0 );
}

.Selected
{
	background-color: $ColorBgSelect;
	color:            $ColorSelect;
}

.ToolbarBackground
{
	background-color: $ColorBgBox;
}

.WindowBackground
{
	background-color: $ColorBackground;	
}

.WindowBackgroundActive
{
	background-color: $ColorBackground;
}

.WindowContentBorders
{
	border-left: 3px solid #9B9B9B;
	border-right: 3px solid #9B9B9B;
	border-bottom: 3px solid #9B9B9B;
}

.WindowContentBordersActive
{
	border-left: 3px solid #2F6699;
	border-right: 3px solid #2F6699;
	border-bottom: 3px solid #2F6699;
}

.TabBorders
{
	border-top: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 0;
}

.TabActiveBorders
{
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 0;
}

.TabGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #DEDEDE),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
}

.TabActiveGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #9BD6F2),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #FDFDFD)
	);
	background-image: -o-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -moz-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -webkit-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -ms-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: linear-gradient(to bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
}

/* Buttons */

button, .Button
{
	background-image: url(/webclient/gfx/system/window_topgradient.png);
	background-repeat: repeat-x;
	background-position: top left;
}

button:hover, .Button:hover
{
	background-position: bottom left;
}


/* Dialog boxes */

.Dialog
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $ColorBackground;
}

.Dialog > .DialogHeader with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 39px;
	border-bottom: $BorderRuler;
	color: $ColorDialogHeader;
}

.Dialog > .DialogContent, .Dialog > .DialogContentMiddle,
.Dialog > .DialogContentBottom
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	overflow: auto;
}

.Dialog > .DialogContentMiddle
{
	top: 40px;
}

.Dialog > .DialogContentBottom
{
	bottom: 0px;
	top: 40px;
}

.Dialog > .DialogButtons with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 39px;
	border-top: $BorderRuler;
	color: $ColorDialogButtons;
}

.Dialog > .DialogButtons > button
{
	margin: 6px 0 0 6px;
}

.Dialog .DialogMargin
{
	padding: $PaddingBox;
}

.Padding
{
	padding: $PaddingBox;
	box-sizing: border-box;
}

.PaddingTop
{
	padding-top: $PaddingBox;
	box-sizing: border-box;
}

.PaddingLeft
{
	padding-left: $PaddingBox;
	box-sizing: border-box;
}

.PaddingRight
{
	padding-right: $PaddingBox;
	box-sizing: border-box;
}

.PaddingBottom
{
	padding-bottom: $PaddingBox;
	box-sizing: border-box;
}

.FontLarge
{
	font-weight: normal;
	font-size: 28px;
}

.FontMedium
{
	font-weight: normal;
	font-size: 20px;
}

.IconSmall:before { font-family: FontAwesome; font-size: 16px; vertical-align: top; }
.IconMedium:before { font-family: FontAwesome; font-size: 24px; vertical-align: top; }
.IconLarge:before { font-family: FontAwesome; font-size: 32px; vertical-align: top; }
.IconHeightSmall { height: 28px; padding: 4px; box-sizing: border-box; }
.IconHeightMedium { height: 36px; padding: 4px; box-sizing: border-box; }
.IconHeightLarge { height: 44px; padding: 4px; box-sizing: border-box; }

/* Extra styling just for this theme ---------------------------------------- */

.View
{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

html .View > .Title
{
	background-image: url(/themes/randstad/gfx/win_title_passive.png);
	background-repeat: repeat-x;
	border-top: 0;
	height: 34px;
}

html .View.Active > .Title
{
	background-image: url(/themes/randstad/gfx/win_title_active.png);
	background-repeat: repeat-x;
	border-top: 0;
	height: 34px;
}

html .View > .Title > div > .Close, html .View > .Title > div > .Minimize,
html .View > .Title > div > .Zoom
{
	margin: 0 !important;
	margin-right: 0 !important;
	float: none;
	border: 0;
}

html body[mobile=mobile] #Screens .View .BottomBar
{
	display: block;
}

html body[mobile=mobile] .View > .Title > div > .Minimize
{
	display: none;
}

html .View > .Title > div > .Close
{
	position: absolute;
	right: 3px;
	top: 0px;
	width: 47px;
	height: 29px;
	background-image: url(/themes/randstad/gfx/btn_close_passive.png);
}
html .View.Active > .Title > div > .Close
{
	background-image: url(/themes/randstad/gfx/btn_close_active.png);
}

html .View > .Title > div > .Zoom
{
	position: absolute;
	right: 53px;
	top: 0px;
	width: 32px;
	height: 29px;
	background-image: url(/themes/randstad/gfx/btn_maximize_passive.png);
}
html .View.Active > .Title > div > .Zoom
{
	background-image: url(/themes/randstad/gfx/btn_maximize_active.png);
}

html .View > .Title > div > .Minimize
{
	display: block;
	position: absolute;
	right: 88px;
	top: 0px;
	width: 32px;
	height: 29px;
	background-image: url(/themes/randstad/gfx/btn_minimize_passive.png);
}
html .View.Active > .Title > div > .Minimize
{
	background-image: url(/themes/randstad/gfx/btn_minimize_active.png);
}

html .View > .Title > div > .Depth { display: none; }

html .View > .Title > div > span
{
	left: 8px;
	text-shadow: none;
	color: black;
	width: auto;
	max-width: calc(100% - 134px);
}

html body[mobile=mobile] .View > .Title > div > span
{
	width: auto;
	max-width: calc(100% - 100px);
}

html .View.Active > .Title > div > span
{
	color: white;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.View.Active > .Title > div > .Close:hover
{
	background-image: url(/themes/randstad/gfx/btn_close_active.png);
}

html .View > .Title > div > .Close:active
{
	border: 0;
}

.View > .LeftBar
{
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
}

.View > .RightBar
{
	border-radius: 0 0 3px;
	-moz-border-radius: 0 0 3px;
	-webkit-border-radius: 0 0 3px;
}

html .View > .BottomBar,
html .View.Active > .BottomBar
{
	height: 10px;
	border-top: 0;
}

html .View > .Content
{
	bottom: 10px;
    top: 34px;
    border-bottom: 1px solid #7e7e7e;
}

html .View.Active > .Content
{
    border-bottom: 1px solid #1D5F9C;
}

html .View > .Resize, html .View.Active > .Resize
{
	bottom: 2px;
    position: absolute;
    width: 16px !important;
    height: 7px !important;
    background: transparent !important;
    right: 3px;
    z-index: 10;
    overflow: hidden;
}

html .View > .Resize:after, html .View.Active > .Resize:after
{
	content: " ";
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	background: rgba(0,0,0,0.5);
	left: 8px;
	top: 4px;
	transform: rotatez(45deg);
}

html .View > .Resize:hover:after, html .View.Active > .Resize:hover:after
{
	background: rgba(255,255,255,0.7);
}

html .VolumeGauge
{
	top: 34px;
	bottom: 10px !important;
}

table.List > tbody > tr.sw1 > td
{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
}
table.List > tbody > tr.sw2 > td
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d8d8d8;
}

table.List > tbody > tr.sw1 > th,
table.List > tbody > tr > th
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #d8d8d8;
}
table.List > tbody > tr.sw2 > th
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d0d0d0;
}

.View > .Content:before
{
	content: " ";
	display: block;
	position: absolute;
	height: 1px;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 2147483647;
}

.Screen > .TitleBar > .Right > .ScreenList > img
{
	visibility: hidden;
}

.Screen > .TitleBar > .Right > .ScreenList:after
{
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(/themes/randstad/gfx/screen_switch.png);
	background-repeat: no-repeat;
	background-position: center;
}
.Screen > .TitleBar > .Right:active > .ScreenList:after
{
	opacity: 0.5;
}

html .Screen > .TitleBar
{
	background-image: url(/themes/randstad/gfx/screen_logo.png);
	background-position: 5px center;
	background-size: auto;
}

html .ScreenContent
{
	background-image: url(/themes/randstad/gfx/wallpaper.jpg) !important;
	background-position: center !important;
}

html #Statusbar .Task
{
	background-color: #003399; 
}

html #Statusbar .Task.Active
{
	color: #000000;
	background-color: #F49100;
	text-shadow: none;
	font-weight: bold;
}

html button, html .Button
{
	background: #2175D9;
	position: relative;
	box-shadow: inset 0px -6px 20px rgba(0,0,20,0.5);
}

html button:hover, html .Button:hover
{
	background: #2789FF;
	position: relative;
	box-shadow: inset 0px -6px 20px rgba(0,0,20,0.5);
}

/* Some effects */
.View > .Title, .View > .BottomBar, .View > .LeftBar, .View > .RightBar 
{
    opacity: 0.95;
}

html .Screen .TitleBar
{
	box-shadow: inset 0px 8px 30px rgba(0,0,0,0.1)
}

html #WorkbenchMenu
{
	background: transparent;
}


/* Tell it like it is! ------------------------------------------------------ */
/*.Screen > .TitleBar .Info:after 
{
	letter-spacing: -1px;
	content: "Randstad";
	float: left;
	display: block;
	font-size: 14px;
	line-height: 17px;
	color: black;
	position: absolute;
	top: 8px;
	left: 39px;
}

.Screen > .TitleBar .Info
{
	overflow: hidden;
	height: 18px;
	max-width: 11ch;
	margin-left: 6.5ch !important;
	text-overflow: ellipsis;
}

html #WorkbenchMenu
{
	left: 166px !important;
}*/


/* Some links --------------------------------------------------------------- */

a
{
	text-decoration: none;
}

a, a:visited
{
	color: #115A9E;
}

a:active, a:hover
{
	color: #26537D;
}

/* Toolbar icons ------------------------------------------------------------ */

.Toolbar .IconSmall
{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	position: relative;
}

.Toolbar .IconSmall:after
{
	content: " ";
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(0);
	-webkit-filter: invert(0);
	transition: filter,webkit-filter 0.5s;
}

.Toolbar .IconSmall:hover:after
{
	filter: invert(1);
	-webkit-filter: invert(1);
}

.Toolbar .ToolbarArrowMove.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_arrow_move_white.png);
}

.Toolbar .ToolbarPointer.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_pointer_white.png);
}

.Toolbar .ToolbarMagnifier.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_magnifier_white.png);
}

/* File icons --------------------------------------------------------------- */

html .File .Icon
{
	width: 64px;
	height: auto;
}

html .File .Icon > div
{
	height: 64px;
}

html .File a
{
	color: #404040;
}

html .File .Icon *
{
	background-size: 64px;
}

html .File .Icon .File
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/unknown.png);
}

html .File .Icon .Drive
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-removable-media.png);
}

html .File .Icon .Directory
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder.png);
}

html .File .Icon .DirectoryBrown
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-orange.png);
}

html .File .Icon .Directory.Upload
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-tar.png);
}

html .File .Icon .NetworkDirectory
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-network.png);
}

html .File .Icon .System
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}


html .File .Icon .Home
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}

html .File .Icon .Application
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-executable.png);
}

html .File .Icon .Trashcan
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-network.png);
}

html .File .Icon .Ram
{
	background-image: url(/webclient/gfx/icons/64x64/devices/media-flash.png);
}

html .File .Icon .Door
{
	height: 64px;
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}

html .File .Icon .SystemDisk
{
	background-image: url(/webclient/gfx/icons/64x64/devices/drive-harddisk.png);
}

html .File .Icon .Door.Assign
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-bookmark.png);
}

html .File .Icon .article
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-rtf.png);
}

html .File .Icon .TypeJPG, html .File .Icon .TypeJPEG, html .File .Icon .TypePNG, 
html .File .Icon .TypeGIF
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/image-x-adobe-dng.png);
}

html .File .Icon .TypeDOC
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypeODT
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypeABW
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypeDOCX
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/x-office-document.png);
}

html .File .Icon .TypePDF
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-pdf.png);
}

html .File .Icon .TypeTXT
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/text-x-changelog.png);
}

html .File .Icon .TypeRUN
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-executable-script.png);
}

html .File .Icon .TypeMP3
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeOGG
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeWAV
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeFLAC
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/audio-ac3.png);
}

html .File .Icon .TypeHTML
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-xhtml+xml.png);
}

html .File .Icon .TypeZip
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-rar.png);
}

html .File .Icon .TypeJS
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-javascript.png);
}

html .File .Icon .TypeJSX
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-javascript.png);
}

html .File .Icon .TypeAVI
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeFLV
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeMOV
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeWEBM
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeMPG, html .File .Icon .TypeMPEG
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .TypeMOV, html .File .Icon .TypeMP4
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-vnd.rn-realmedia.png);
}

html .File .Icon .System_Dormant_Function
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-object.png);
}

html .File .Icon .System_File_Meta
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-sxw.png);
}

html .File .Icon .System_Library
{
	background-image: url(/webclient/gfx/icons/64x64/mimetypes/application-x-shellscript.png);
}

/* System icons */

html .File .Icon .System_Tools
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-development.png);
}

html .File .Icon .System_Settings
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-yellow.png);
}

html .File .Icon .System_Documentation
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-green.png);
}

html .File .Icon .System_Modules
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-grey.png);
}

html .File .Icon .System_Software
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-cyan.png);
}

html .File .Icon .System_Functions
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-brown.png);
}

html .File .Icon .System_Devices
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-black.png);
}

html .File .Icon .System_Libraries
{
	background-image: url(/webclient/gfx/icons/64x64/places/folder-violet.png);
}

