
	<div class="VContentTop BackgroundLists ColorLists">
		<div class="HRow Padding">
			<div class="HContent40 FloatLeft">
				<p class="Layout InputHeight">
					<strong>{i18n_command_line}:</strong>
				</p>
			</div>
			<div class="HContent60 FloatLeft">
				<p class="Layout">
					<input type="text" class="FullWidth InputHeight" id="command" value="{command}"/>
				</p>
			</div>
		</div>
	</div>
	<div class="VContentBottom Padding BorderTop BackgroundDefault">
		<button type="button" class="Button IconSmall fa-save" onclick="saveItem()">
			{i18n_save}
		</button>
	</div>
	
	<script src="Progdir:Scripts/item.js"></script>

