

	<div class="VContentTop BackgroundLists Padding ColorLists ScrollArea" id="Cont">
		
	</div>
	<div class="VContentBottom BackgroundDefault BorderTop Padding" id="Bottom">
		<button class="Button FloatLeft IconSmall fa-plus" onclick="AddItem()">
			{i18n_add_item}
		</button>
		<button class="Button FloatRight IconSmall fa-remove" onclick="Application.quit()">
			{i18n_close}
		</button>
	</div>
	
	<style>
	
		#Cont
		{
			bottom: 50px;
		}
		
		#Bottom
		{
			height: 50px;
		}
		
	</style>

	<script src="Progdir:Scripts/startup_gui.js"></script>
