@import url(/themes/friendup12/theme_compiled.css);

/* Window management controls */

html > body div .View > .Title > div > .Zoom,
html > body[focusmode=clicktofront] div .View > .Title > div > .Zoom
{
	top: 0;
	right: 10px;
	left: auto;
	margin: 0;
}

html > body div .View > .Title > div > .Minimize,
html > body[focusmode=clicktofront] div .View > .Title > div > .Minimize
{
	top: 0;
	right: 35px;
	left: auto;
	margin: 0;
}

html > body .View > .Title.NoResize > div > .Minimize,
html > body[focusmode=clicktofront] .View > .Title.NoResize > div > .Minimize
{
	top: 0;
	left: auto;
	right: 10px;
	margin: 0;
}

html > body .View.Active > .Title > div > .Close:hover, 
html > body .View.Active > .Title > div > .Close, 
html > body .View > .Title > div > .Close
{
	left: 10px
}

html .View > .Title
{
	background-color: #dedede;
}

html .View > .Title > div > span
{
	color: black;
}

html .View.Active > .Title, 
html body[mobile] .View > .Title
{
	background-color: #6688cc;
}

html .View.Active > .Title > div > span
{
	color: white;
}

.View.Active > .Title > div > .Close:hover, 
.View.Active > .Title > div > .Close, 
html .View > .Title > div > .Close
{
	background-position: 0 center;
	background-image: url(/themes/commodore/gfx/bitmap.png);
}
.View.Active > .Title > div > .Close:hover, 
.View.Active > .Title > div > .Close
{
	filter: invert(1);
}

.View.Active > .Title > div > .Zoom:hover, 
.View.Active > .Title > div > .Zoom, 
html .View > .Title > div > .Zoom,
.View.Active[maximized=true] > .Title > div > .Zoom:hover, 
.View.Active[maximized=true] > .Title > div > .Zoom
{
	background-position: -48px center;
	background-image: url(/themes/commodore/gfx/bitmap.png);
}
.View.Active > .Title > div > .Zoom:hover, 
.View.Active > .Title > div > .Zoom
{
	filter: invert(1);
}

html .View.Active > .Title > div > .Minimize:hover,
html .View > .Title > div > .Minimize:hover,
html .View > .Title > div > .Minimize, 
html body[focusmode=clicktofront] .View > .Title > div > .Minimize
{
	background-position: -22px center;
	background-image: url(/themes/commodore/gfx/bitmap.png);
}
html .View.Active > .Title > div > .Minimize
{
	filter: invert(1);
}

/* Done window management controls */

/* Screen */

html .Screen > .TitleBar:after
{
	background-image: url(/themes/commodore/gfx/logo.png);
	border-radius: 100%;
}

/* Done screen */

/* Icons */

html .File .Icon .Drive > .Label
{
	background-color: #78909c;
}

html .File .Icon .Drive
{
	filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.3));
}


/* Preference apps */

html .File:not(.Compact) .Icon > *
{
	min-height: 50px;
}

html .File:not(.Compact) .Column + .Icon > *
{
	min-height: auto;
}

html .File .Icon .Prefs_Wallpaper
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/wallpaper.svg);
}

html .File .Icon .Prefs_Screens
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/display.svg);
}

html .File .Icon .Prefs_Security
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/security-medium.svg);
}

html .File .Icon .Prefs_Software
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/apps/synaptic.svg);
}

html .File .Icon .Prefs_Dock
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/panel-applets.svg);
}

html .File .Icon .Prefs_Startup
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/startupmanager.svg);
}

html .File .Icon .Prefs_Users
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/users-admin.svg);
}

html .File .Icon .Prefs_Account
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/users-admin.svg);
}

html .File .Icon .Prefs_Mimetypes
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/gnome-desktop-item-edit.svg);
}

html .File .Icon .Prefs_DiskCatalog
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/apps/disk-manager.svg);
}

html .File .Icon .Prefs_Language
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/locale.svg);
}

html .File .Icon .Prefs_Looknfeel
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/preferences/lookswitcher.svg);
}

html .File .Icon .Tool_ApplicationManager
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/apps/disk-manager.svg);
}

html .File .Icon .Tool_SystemDiagnostics
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/apps/gtk-redshift.svg);
}

/* Custom icons */
html .File .Icon .Friend_Marketplace
{
	background-image: url(/iconthemes/friendup15/App_Marketplace.png) !important;
	height: 48px;
}

html .File .Icon .File
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/application-gnunet-directory.svg);
}

html .File .Icon .Drive
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/drive-optical.svg);
}

html .File .Icon .Directory
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
	filter: hue-rotate(297deg) saturate(0.5) brightness(1.4);
}

html .File .Icon .DirectoryBrown
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .DirectoryBrown
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .Directory.Upload
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/folder-download.svg);
}

html .File .Icon .NetworkDirectory
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/default-folder-remote.svg);
}

html .File.Selected .Icon .Directory,
html .File.Selected .Icon .Directory.Upload,
html .File.Selected .Icon .NetworkDirectory
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}


html .File .Icon .Arena
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/application-gnunet-directory.svg);
}

html .File .Icon .SystemDisk
{
	height: 48px;
	background-image: url(/iconthemes/friendup15/Disk_Master.svg);
}


html .File .Icon .Home
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-user-home.svg);
}

html .File .Icon .Application
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/application-x-plasma.svg)
}

html .File .Icon .Trashcan
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/emptytrash.svg)
}

html .File .Icon .Door
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/drive-optical.svg);
}

html .File .Icon .Door.local_fsys
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/drive-optical.svg);
}

html .File .Icon .SystemDisk
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/drive-optical.svg);
}

html .File .Icon .Door.Assign
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/drive-optical.svg);
}

html .File .Icon .article
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/application-gnunet-directory.svg);
}

html .File .Icon .TypeJPG
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/jpeg.svg);
}

html .File .Icon .TypeJPEG
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/jpeg.svg);
}

html .File .Icon .TypePNG
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/jpeg.svg);
}

html .File .Icon .TypePSD
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/jpeg.svg);
}

html .File .Icon .TypeGIF
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/jpeg.svg);
}

html .File .Icon .TypeBMP
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/jpeg.svg);
}

html .File .Icon .TypeDOC
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-text.svg);
}

html .File .Icon .TypeODT
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-text.svg);
}

html .File .Icon .TypeXLS,
html .File .Icon .TypeODS,
html .File .Icon .TypeXLSX
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/openoffice4-oasis-spreadsheet-template.svg);
}

html .File .Icon .TypePPT,
html .File .Icon .TypePPTX,
html .File .Icon .TypeODP
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-oasis-master-document.svg);
}

html .File .Icon .TypeABW
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-text.svg);
}

html .File .Icon .TypeDOCX
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-text.svg);
}

html .File .Icon .TypeJSON
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/javascript.svg);
}

html .File .Icon .TypePDF
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/pdf.svg);
}

html .File .Icon .TypeSVG
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/svg.svg);
}

html .File .Icon .TypeDRAWIO
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/svg.svg);
}

html .File .Icon .TypeEPS
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/svg.svg);
}

html .File .Icon .TypeGoogleDocs
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-text.svg);
}

html .File .Icon .TypeWebUrl
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-vcard.svg);
}

html .File .Icon .TypeTXT
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-plain.svg);
}

html .File .Icon .TypeRUN
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-script.svg);
}

html .File .Icon .TypeMP3
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-audio.svg);
}

html .File .Icon .TypeOGG
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-audio.svg);
}

html .File .Icon .TypeWAV
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-audio.svg);
}

html .File .Icon .TypeFLAC
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-audio.svg);
}

html .File .Icon .TypeHTML
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-web.svg);
}

html .File .Icon .TypeCSS
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/libreoffice-web.svg);
}

html .File .Icon .TypePLS
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/playlist.svg);
}

html .File .Icon .TypeBak
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/emblem-package.svg);
}

html .File .Icon .TApplication
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/exec.svg);
}

html .File .Icon .TypePKGLINUX
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/package.svg);
}

html .File .Icon .TypeLHA
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/package.svg);
}

html .File .Icon .TypeFPkg
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/qgis-qml.svg);
}

html .File .Icon .TypeApf
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/openofficeorg3-extension.svg);
}

html .File .Icon .TypeTGZ,
html .File .Icon .Type7Z,
html .File .Icon .TypeTAR,
html .File .Icon .TypeGZ,
html .File .Icon .TypeBZ
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/application-zip.svg);
}

html .File .Icon .TypeZip
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/application-zip.svg);
}

html .File .Icon .TypeJS
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/javascript.svg);
}

html .File .Icon .TypeJSX
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/gnome-fs-executable.svg);
}

html .File .Icon .TypePHP
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/shellscript.svg);
}

html .File .Icon .TypeAVI
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-video.svg);
}

html .File .Icon .TypeFLV
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-video.svg);
}

html .File .Icon .TypeMOV
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-video.svg);
}

html .File .Icon .TypeWEBM
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-video.svg);
}

html .File .Icon .TypeOGV
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-video.svg);
}

html .File .Icon .TypeMPG, html .File .Icon .TypeMPEG
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-video.svg);
}

html .File .Icon .TypeMOV, html .File .Icon .TypeMP4
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/media-video.svg);
}

html .File .Icon .Devs_Drawer_DOSDrivers,
html .File .Icon .Devs_Drawer_Printers,
html .File .Icon .Devs_Drawer_Cores,
html .File .Icon .Devs_Drawer_Sessions
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}


html .File .Icon .FriendCore
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/camera-web.svg);
}

html .File .Icon .DeviceSession
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/devices/tool-pointer.svg);
}

html .File.Selected .Icon .Devs_Drawer_DOSDrivers
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/folder_color_default_templates.svg);
}

html .File .Icon .DOSDriver
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-sql.svg);
}

html .File .Icon .Printer
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-changelog.svg);
}

html .File .Icon .MetaFile
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-changelog.svg);
}

html .File .Icon .Module
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-changelog.svg);
}

html .File .Icon .System_Dormant_Function
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-changelog.svg);
}

html .File .Icon .System_File_Meta
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-changelog.svg);
}

html .File .Icon .System_Library
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/mimetypes/text-x-changelog.svg);
}

/* System icons */

html .File .Icon .System_Repositories
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .System_Repositories
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Settings
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .System_Settings
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Documentation
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}


html .File.Selected .Icon .System_Documentation
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Modules
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .System_Modules
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Software
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .System_Software
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Functions
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .System_Functions
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Devices
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .System_Devices
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Libraries
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File.Selected .Icon .System_Libraries
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Trashcan
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

html .File .Icon .System_Trashcan_Full
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
}

.Launcher.View
{
	background-image: url(/themes/commodore/gfx/Vimix-Amethyst/Vimix-Amethyst/scalable/places/default-folder.svg);
	background-color: transparent;
}


