
	<div class="VContentTop BorderBottom ScrollArea Padding" id="top">
		<p class="Layout">
			<strong>{i18n_event_name}</strong>
		</p>
		<p class="Layout">
			<input type="text" class="FullWidth" id="pName" value="{title}"/>
		</p>
		<p class="Layout">
			<strong>{i18n_date}</strong>
		</p>
		<p class="Layout">
			<input type="date" class="FullWidth" id="pDate" value="{date}"/>
		</p>
		<p class="Layout">
			<strong>{i18n_date_to}</strong>
		</p>
		<p class="Layout">
			<input type="date" class="FullWidth" id="pDateTo" value="{dateTo}"/>
		</p>
		<p class="Layout">
			<form name="dateSpanType">
				<div class="FloatRight">
					<strong><label for="pTime">{i18n_timeslot}</label></strong>
					<input type="radio" name="type" id="pTime"{timeslot}/>
				</div>
				<div class="FloatRight">
					<strong><label for="pAllDay">{i18n_all_day}</label></strong>
					<input type="radio" name="type" id="pAllDay"{allday}/>
				</div>
				<div class="FloatRight">
					<strong><label for="pAllWeek">{i18n_all_week}</label></strong>
					<input type="radio" name="type" id="pAllWeek"{allweek}/>
				</div>
				<strong>{i18n_time_from}</strong>
			</form>
		</p>
		<p class="Layout">
			<input type="time" class="FullWidth" id="pTimeFrom" value="{timefrom}"/>
		</p>
		<p class="Layout">
			<strong>{i18n_time_to}</strong>
		</p>
		<p class="Layout">
			<input type="time" class="FullWidth" id="pTimeTo" value="{timeto}"/>
		</p>
		<p class="Layout">
			<strong>{i18n_leadin}</strong>
		</p>
		<p class="Layout">
			<textarea class="FullWidth" id="pDescription">{leadin}</textarea>
		</p>
	</div>
	<div class="VContentBottom Padding" id="bottom">
		<button type="button" id="SaveBtn" class="Button IconSmall fa-save">
			{i18n_save}
		</button>
	</div>
	<input type="hidden" id="pID" value="{ID}"/>
	<input type="hidden" id="parentView" value="{parentViewId}"/>
	
	<style>
		#top
		{
			bottom: 50px;
		}
		#bottom
		{
			height: 50px;
		}
		#pDescription
		{
			height: 100px;
		}
	</style>
	
	<script src="Progdir:Scripts/event.js"></script>

