
	<div class="VContentTop BorderBottom ScrollArea Padding" id="top">
		<p class="Layout">
			<strong>{i18n_event_name}</strong>
		</p>
		<p class="Layout">
			<input type="text" class="FullWidth" id="pName"/>
		</p>
		<p class="Layout">
			<strong>{i18n_date}</strong>
		</p>
		<p class="Layout">
			<input type="date" class="FullWidth" id="pDate"/>
		</p>
		<p class="Layout">
			<div class="FloatRight">
				<strong>{i18n_all_day}</strong>
				<input type="checkbox" id="pAllDay"/>
			</div>
			<strong>{i18n_time_from}</strong>
		</p>
		<p class="Layout">
			<input type="time" class="FullWidth" id="pTimeFrom"/>
		</p>
		<p class="Layout">
			<strong>{i18n_time_to}</strong>
		</p>
		<p class="Layout">
			<input type="time" class="FullWidth" id="pTimeTo"/>
		</p>
		<p class="Layout">
			<strong>{i18n_leadin}</strong>
		</p>
		<p class="Layout">
			<textarea class="FullWidth" id="pDescription"></textarea>
		</p>
	</div>
	<div class="VContentBottom Padding" id="bottom">
		<button type="button" class="Button IconSmall fa-save">
			{i18n_save}
		</button>
	</div>
	
	<style>
		#top
		{
			bottom: 50px;
		}
		#bottom
		{
			height: 50px;
		}
		#pDescription
		{
			height: 100px;
		}
	</style>
	
	<script src="Progdir:Scripts/event.js"></script>

