
	<input type="hidden" id="InpID" value="{ID}"/>
	<div class="ContentFull Padding">
		<div class="BorderBottom MarginBottom PaddingBottom">
			<div class="HRow">
				<div class="HContent30 FloatLeft">
					<strong>Name:</strong>
				</div>
				<div class="HContent70 FloatLeft">
					<input type="text" value="{name}" id="InpName"/>
				</div>
			</div>
			<div class="HRow MarginTop">
				<div class="HContent30 FloatLeft">
					<strong>Description:</strong>
				</div>
				<div class="HContent70 FloatLeft">
					<textarea class="FullWidth" id="InpDescription">{description}</textarea>
				</div>
			</div>
			<div class="HRow MarginTop">
				<div class="HContent30 FloatLeft">
					<strong>Type:</strong>
				</div>
				<div class="HContent70 FloatLeft">
					<select id="InpType">
						<!--<option value="treeroot">Treeroot</option>-->
						<option value="yetiforce">YetiForce CRM</option>
						<option value="disk">Friend disk</option>
					</select>
				</div>
			</div>
			<div class="HRow MarginTop">
				<div class="HContent30 FloatLeft">
					<strong>Server:</strong>
				</div>
				<div class="HContent70 FloatLeft">
					<input type="text" class="FullWidth" id="InpServer" value="{server}"/>
				</div>
			</div>
			<div class="HRow MarginTop">
				<div class="HContent30 FloatLeft">
					<strong>User/pass:</strong>
				</div>
				<div class="HContent30 FloatLeft">
					<input type="text" class="FullWidth" id="InpUsername" value="{username}"/>
				</div>
				<div class="HContent5 FloatLeft TextCenter">
					/
				</div>
				<div class="HContent30 FloatLeft">
					<input type="password" class="FullWidth" id="InpPassword" value="{password}"/>
				</div>
			</div>
			<div class="HRow MarginTop">
				<div class="HContent30 FloatLeft">
					<strong>API Session Hash:</strong>
				</div>
				<div class="HContent70 FloatLeft">
					<input type="text" class="FullWidth" id="ApiSession" value="{session}"/>
				</div>
			</div>
		</div>
		<div class="HRow">
			<button type="button" class="IconSmall fa-save" onclick="SaveSource()">
				{save}
			</button>
			<button type="button" class="IconSmall fa-close" onclick="CloseSource()">
				{cancel}
			</button>
		</div>
	</div>
	<script src="Progdir:Scripts/sources_gui.js"></script>
	
