<!DOCTYPE html>
<html>
	<head>
		<style>
			html { color: #f8f8f8; background: #f8f8f8; }
			html body.Loading * { visibility: hidden; }
			html body.Loading { background-color: #f8f8f8; }
			h3 { padding-bottom:12px !important; }
			#SamlFormFrame { visibility: hidden; pointer-events: none; height: 0%; width: 0%; }
		</style>
		<script src="/webclient/js/apps/api.js"></script>
		<link rel="stylesheet" href="{scriptpath}?module=ethereum&fetch=css"></script>
		<script src="{scriptpath}?module=ethereum&fetch=web3"></script>
		<script src="{scriptpath}?module=ethereum&fetch=login"></script>
	</head>
	<body class="Loading" onload="document.getElementById('LoginElement').style.visible = 'visible'; Application.init();">
		<iframe id="SamlFormFrame" src="{samlendpoint}"></iframe>
		<div id="LoginElement" style="visible: hidden">
			<div class="VContentTop">
				<div class="Box">
					<div class="HRow"><h3>{welcome}</h3></div>
					<div class="HRow">
						<div class="HContent30 FloatLeft">
							<strong>{Key}:</strong>
						</div>
						<div class="HContent70 FloatLeft">
							<input type="text" class="FullWidth" placeholder="{Your key}..."/>
						</div>
					</div>
					<div class="HRow">
						<p><br /><a href="{scriptpath}?module=fcdb">Login using Ethereum</a></p>
					</div>
					<div class="HRow">
						<div id="invalidLogin"><p></p></div>
					</div>
				</div>
			</div>
		</div>
		<style>#invalidLogin { color:#F00; }</style>
		<script>
			Application = {
				failedAttempt: false,
				uName: false,
				uPass: false,
				pHash: false,
				logoutURL: false,
				loginAttempts: 0,
				init: function( data )
				{
					//parent.Workspace.loginPrompt.setFlag( 'height', 290 );
					//console.log('set it and will try again in half a second');
					//setTimeout( 'parent.Workspace.loginPrompt.setFlag( \'height\', 290 );',500 );
				},
				doLogin: function( e )
				{
				
					console.log('execute login...');
					
				},
				checkKeys: function( e )
				{
					var k = e.which ? e.which : e.keyCode;
					if( k == 13 )
					{
						this.doLogin( e );
					}
				},
				receiveMessage: function( msg )
				{
					if( msg.cmd && msg.command == 'error' )
					{
						showLoginError();
					}
					else if( msg.cmd && msg.cmd == 'login' )
					{
						Application.uName = msg.username;
						Application.uPass = msg.password;
						Application.logoutURL = msg.logouturl;
						
					
						Application.loginUser();
					}
					console.log('msg is',msg);				
				},
				loginUser: function()
				{
					if( parent && parent.Workspace && parent.Friend && parent.Friend.User )
					{
						// Don't do it many times while working!
						if( Application.busy ) return;
						Application.busy = true;
						
						if( Application.uPass.indexOf( 'HASHED' ) >= 0 || Application.uPass.indexOf( '{S6}' ) >= 0 )
						{
							Application.pHash = true;
						}
						
						parent.Friend.User.Init();
						parent.Workspace.setLogoutURL( Application.logoutURL );
						parent.Friend.User.Login( Trim( Application.uName ), Trim( Application.uPass ), false, function( result )
						{
							if( result == false )
							{
								console.log('Could NOT logg in... why...?' +  Application.uName + ':' +  Application.uPass + ':' + result);
								showLoginError();
							}
							else if( result == 0 )
							{
								setTimeout( showLoginError, 1000 );
							}
							else
							{
								Application.busy = false;
							}
						}, false, { hashedPassword: Application.pHash ? true : false } );
					}
					else
					{
						Application.loginAttempts++;
						if( Application.loginAttempts < 10 ) setTimeout(Application.loginUser, 500 );
						else showLoginError('Could not login');
					}
				}				
			};
			

			
			function showLoginError(msg)
			{
				document.getElementById( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = (msg ? msg : 'Invalid credentials. Please check you  input.' );
				Application.failedAttempt = true;
				Application.busy = false;
			}
		</script>
	</body>
</html>
