
	<div class="ContentFull">
		<div class="Heading">
			<div class="Left">
				<h2 id="HeadingLeft" class="Padding"></h2>
			</div>
			<div class="Right">
				<div id="HeadingRight" class="Padding">
					<button class="FullWidth IconSmall fa-remove"> {i18n_exit}</button>
				</div>
			</div>
		</div>
		<div class="WColLeft Padding" id="Col1"></div>
		<div class="WColRight Padding" id="Col2"></div>
		<div class="Footer">
			<div class="Left">
				<div id="FooterLeft" class="Padding">
					<button class="FullWidth Neutral IconSmall fa-check" id="Defaults"> {i18n_optimal_defaults}</button>
				</div>
			</div>
			<div class="Right">
				<div id="FooterRight" class="Padding">
					<button class="FullWidth IconSmall Neutral fa-arrow-right"> {i18n_continue}</button>
				</div>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="Progdir:Css/wizard.css"/>
	<script src="Progdir:Scripts/wizardinside.js"></script>

