:root
{
	--terminal-background: black;
	--terminal-color: white;
}

.InputCatcher
{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: 1px;
	height: 1px;
}

.PMenu
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    color: var(--fui-menu-color);
    background: var(--fui-menu-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.PMenu > .PButtons
{
}

.PMenu > .PTabs
{
	display: flex;
}

.PMenu > .PTabs > .PTab
{
    padding: 5px 15px;
    height: 35px;
    box-sizing: border-box;
    line-height: 25px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.15s;
    position: relative;
}

.PMenu > .PTabs > .PTab.Active
{
	background-color: var(--terminal-background);
	color: var(--terminal-color);
	border-radius: 0 10px 0 0;
}

.PTab.Active:after 
{
    content: " ";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 10px;
    height: 10px;
    background: var(--terminal-background);
    display: block;
    border-radius: 100%;
    z-index: 1;
}
.PTab.Active:before
{
    content: " ";
    position: absolute;
    right: -10px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    background: var(--fui-menu-background);
    display: block;
    border-radius: 100%;
    z-index: 2;
}

.PMenu > .PTabs > .PTab + .PTab.Active
{
	border-radius: 0 10px 0 10px;
}

.PTerminalPages
{
	background-color: var(--terminal-background);
	color: var(--terminal-color);
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	height: calc(100% - 35px);
	z-index: 3;
}

.PTerminalPages .PTerminal
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.PButton
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: var(--terminal-background);
	color: var(--terminal-color);
	margin: 0 15px 0 0;
	cursor: pointer;
	transition: box-shadow 0.15s;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.PButton:hover
{
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.3);
}

.PButton.NewPrompt:before
{
	vertical-align: top;
	position: relative;
	top: 1px;
	margin: 0 0 0 0;
	content: "\f055";
	font-family: FontAwesome;
}

