/**
 * Workspace tweaks CSS file
 * @author Hogne Titlestad
 */

/* Container tweaks --------------------------------------------------------- */

body.Loading > .ViewContainer
{
	opacity: 0;
}

/* Eula --------------------------------------------------------------------- */

body > .Eula
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: #ffffff;
	color: black;
	font-size: 16px;
}

body > .Eula > div.EulaText
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 75px;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
}

body > .Eula > div.EulaText > div,
body > .Eula > div.EulaInfo > div
{
	max-width: 600px;
	margin: auto;
}

body > .Eula > div.EulaInfo
{
	position: absolute;
	bottom: 0;
	height: 75px;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

body > .Eula > div.EulaInfo button
{
	float: left;
}

body > .Eula > div.EulaInfo button + button
{
	float: right;
}

