
	<input type="hidden" value="{ID}" id="pID"/>
	<div class="ContentFull">
		<div id="Cover"></div>
		<div class="VContentTop ScrollArea TopArea">
			<div class="Padding Box" id="FormBox">
				<p class="Layout">
					<strong>Subject<span id="CommentCount"></span>:</strong>
				</p>
				<p class="Layout">
					<input type="text" class="FullWidth" id="pSubject"/>
				</p>
				<p class="Layout">
					<strong>Category:</strong>
				</p>
				<p class="Layout" id="Categories">
					Loading...
				</p>
				<p class="Layout">
					<strong>Short description:</strong>
				</p>
				<p class="Layout">
					<textarea class="FullWidth" id="pShortDesc"></textarea>
				</p>
				<p class="Layout">
					<strong>Full description:</strong>
				</p>
				<p class="Layout">
					<textarea class="FullWidth" id="pDescription"></textarea>
				</p>
				<p class="Layout">
					<strong>How to reproduce:</strong>
				</p>
				<p class="Layout">
					<textarea class="FullWidth" id="pReproduce"></textarea>
				</p>
			</div>
			<div id="Comments"></div>
		</div>
		<div class="VContentBottom BottomArea Padding BorderTop">
			<button id="AddComment" type="button" class="Button IconSmall fa-comment FloatRight" onclick="addComment()">
				Add comment
			</button>
			<button type="button" class="Button IconSmall fa-check" onclick="saveIssue()">
				Save issue
			</button>
			<button type="button" class="Button IconSmall fa-trash deleted" id="Delete" onclick="deleteIssue( ge( 'pID' ).value )">
				Delete
			</button>
		</div>
	</div>

	<style>
		.TopArea { bottom: 50px; }
		.BottomArea { height: 50px; }
		#pDescription
		{
			height: 250px;
		}
		#pReproduce
		{
			height: 200px;
		}
		#Delete.deleted
		{
			position: absolute;
			top: -1000000px;
		}
		#AddComment{ position: absolute; left: -4000px; }
	</style>
	<script src="Progdir:issue.js"></script>

