.FUIMenubox
{
	background-color : red;
	padding          : 0.5em;
}

.FUIMenuboxHead
{
	background-color : yellow;
	padding          : 0.5em;
}

.FUIMenuboxTitle
{
	background-color : green;
}

.FUIMenuboxContent
{
	background-color : blue;
	padding          : 0.5em;
}

.FUIMenuboxItems
{
	background-color : green;
}