
	<div class="ContentFull">
		<div class="VContentTop ScrollArea BorderBottom" style="bottom: 50px">
			<div class="Padding">
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td>
							<p class="Layout"><strong>Resource:</strong></p>
						</td>
						<td>
							<p class="Layout"><input type="text" class="FullWidth" id="fResource" value=""/></p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="Layout"><strong>Command:</strong></p>
						</td>
						<td>
							<p class="Layout"><input type="text" class="FullWidth" id="fCommand" value=""/></p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="Layout"><strong>Arguments:</strong></p>
						</td>
						<td>
							<p class="Layout"><input type="text" class="FullWidth" id="fArgs" value=""/></p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="VContentBottom" style="height: 50px">
			<div class="Padding">
				<button type="button" class="Button IconSmall fa-check" onclick="apply()">
					Apply
				</button>
				<button type="button" class="Button IconSmall fa-cancel" onclick="cancel()">
					Cancel
				</button>
			</div>
		</div>
	</div>
	
	<script src="Progdir:Scripts/item.js"></script>

