
	<div class="ContentFull">
		<div class="VContentTop BackgroundLists ScrollArea" style="bottom: 51px">
			<div class="Padding" id="Elements">
			</div>
		</div>
		<div class="VContentBottom BorderTop BackgroundDefault" style="height: 51px">
			<div class="Padding">
				<div style="float: right">
					<button type="button" style="margin-right: 0" id="Palette" class="IconSmall fa-cogs">
					</button>
				</div>
				<button type="button" id="Rewind" class="IconSmall fa-backward"></button>
				<button type="button" id="Play" class="IconSmall fa-play"></button>
				<button type="button" id="Pause" class="IconSmall fa-pause"></button>
				<button type="button" id="Stop" class="IconSmall fa-stop"></button>
				<button type="button" id="Forward" class="IconSmall fa-forward"></button>
			</div>
		</div>
	</div>
	
	<script src="Progdir:Scripts/main.js"></script>
	
	<style>
		#Elements > .Box
		{
			padding: 0;
			border: 0;
			background: none;
		}
		
		#Elements > .Box > div
		{
			padding: 4px 8px;
			text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
			border-radius: 3px 0 0 3px;
			background: #5A5959;
			color: #ffffff;
			box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
			height: 28px;
			box-sizing: border-box;
			line-height: 20px;
			cursor: hand;
			cursor: pointer;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		#Elements > .Box:hover
		{
			box-shadow: 0px 0px 4px rgba(255,255,255,0.6);
		}
		
		#Elements > .Box:hover > div
		{
			background: #808080;
		}
		
		#Elements > .Box > div + div
		{
			border-radius: 0 3px 3px 0;
			background: #2A5B76;
			color: #ffffff;
		}
		
		#Elements > .Box.Label > div
		{
			background: #3E87C2;
			color: #ffffff;
			font-weight: bold;
		}
		
		#Elements > .Box.Stop > div
		{
			background: #505050;
			color: #ffffff;
		}
		
		#Elements > .Box.Condition > div
		{
			background: #808080;
			color: #ffffff;
		}
		
		#Elements > .Box.Condition > div + div
		{
			background: #585858;
		}
		
		html #Elements > .Box.Active > div,
		html #Elements > .Box.Active > div + div
		{
			background: #009900;
		}
		
	</style>
	
