
	<div class="ContentFull ScrollArea">
		<div class="Padding">
			<button type="button" class="Button">
				if
			</button>
			<button type="button" class="Button">
				repeat
			</button>
			<button type="button" class="Button">
				set
			</button>
			<button type="button" class="Button">
				increase
			</button>
			<button type="button" class="Button">
				decrease
			</button>
			<button type="button" class="Button">
				add
			</button>
			<button type="button" class="Button">
				divide
			</button>
			<button type="button" class="Button">
				multiply
			</button>
			<button type="button" class="Button">
				DOS command
			</button>
			<button type="button" class="Button">
				label
			</button>
			<button type="button" class="Button">
				goto
			</button>
		</div>
	</div>
	
	<style>
		.Padding button
		{
			margin: 0 4px 4px 0;
		}
	</style>

