@font-face {
    font-family: 'lato';
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot');
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff') format('woff'),
         url('/webclient/theme/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/webclient/theme/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: fontawesome;
	src: url(/webclient/theme/fonts/FontAwesome.otf);
}

@append url(System:css/core.css);
@append url(System:css/lists.css);
@append url(System:css/windows.css);
@append url(System:css/icons.css);
@append url(System:css/tabs.css);
@append url(System:css/doors.css);
@append url(System:css/workspace.css);
@append url(System:css/font-awesome.min.css);

@declaration
{
	/* Colors */
	$ColorBackground:        #505050;
	$ColorDefault:           #505050;
	$ColorText:              #ffffff;
	$ColorButton:            #ffffff;
	$ColorBgButton:          #505050;
	$ColorButtonHover:       #ffffff;
	$ColorBgButtonHover:     #606060;
	$ColorBgTdListTable:     #202020;
	$ColorLists:             #f0f0f0;
	$ColorListsAlternate:    #e0e0e0;
	$ColorBgListSw1:         #404040;
	$ColorBgListSw2:         #303030;
	$ColorTdListSw1:         #f0f0f0;
	$ColorTdListSw2:         #e0e0e0;
	$ColorBgThListSw1:       #404040;
	$ColorBgThListSw2:       #303030;
	$ColorThListSw1:         #ffffff;
	$ColorThListSw2:         #ffffff;
	$ColorBgTabActive:       #606060;
	$ColorBgPageActive:      #505050;
	$ColorBox:               #ffffff;
	$ColorBgBox:             #606060;
	$ColorLightBorder:       #707070;
	$ColorThListSw1:         #000000;
	$ColorThListSw2:         #000000;
	$ColorBgTabActive:       #fdfdfd;
	$ColorBgPageActive:      #fdfdfd;
	$ColorBox:               #000000;
	$ColorBgBox:             #fdfdfd;
	$ColorLightBorder:       #cfcfcf;
	$ColorDialogButtons:     #ffffff;
	$ColorDialogHeader:      #ffffff;
	$ColorPositive:          #ffffff;
	$ColorNegative:          #000000;
	$ColorBgPositive:        #3f3f3f;
	$ColorBgNegative:        #efefef;
	$ColorBgSelect:          #505050; 
	$ColorBgHighlight:       #404040;
	$ColorHighlight:         #e0e0e0;
	$ColorSelect:            #ffffff;
	$ColorBorder:            #707070;
	$ColorInput:             #ffffff;
	$ColorBgInput:           #222222;
	$ColorOverlayBg:         rgba(60,60,60,0.7);
	$ColorLEDOn:             #a2da5b;
	$ColorLEDWarning:        #fffc63;
	$ColorLEDNotify:         #ffb542;
	$ColorLEDNotifyFrom:     #ffb542;
	$ColorLEDNotifyTo:       #ffd055;
	$ColorLEDAlert:          #ff6838;
	$ColorLEDOff:            #696969;
	$ColorLEDText:           #000000;
	
	/* Special colors */
	$ColorBgStError:         #990000;
	$ColorStError:           #ff6666;
	$ColorBgStGreenLight:    #A4D472;
	$ColorStGreenLight:      #222200;
	$ColorBgStBlueLight:     #448FDA;
	$ColorStBlueLight:       #000000;
	$ColorBgStGrayLight:     #BFBFBF;
	$ColorStGrayLight:       #000000;
	
	/* Font sizes */
	$FontSizeButton:         14px;
	$FontSizeDefault:        14px;

	/* Font weights */
	$FontWeightButton:       normal;
	$FontWeightThList:       normal;
	$FontWeightTabs:         normal;
	$FontWeightButtonActive: bold;
	
	/* Default face */
	$FontFaceNormal:         lato, sans serif;
	
	/* Font transforms */
	$FontTransformThList:    uppercase;
	
	/* Text shadow */
	$TxtShdThList:           1px 1px 1px white;
	$TxtShdTdList:           none;
	$TxtShdPositive:         1px 1px 1px black;
	$TxtShdNegative:         1px 1px 1px white;
	
	/* Margins */
	$MarginButton:           0 4px 0 0;
	$MarginButtonTd:         0;
	$MarginVerticalRuler:    0 8px 0 0;
	$MarginTabs:             0 2px 0 0;
	$MarginBox:              0;
	$MarginWindowTop:        35px;
	$MarginWindowTopVBars:   34px;
	$MarginWindowLeft:       3px;
	$MarginWindowRight:      3px;
	$MarginWindowBottom:     0px;
	
	/* Padding */
	$PaddingSelect:          4px 5px 5px 5px;
	$PaddingButton:          5px;
	$PaddingButtonTd:        5px;
	$PaddingListsTh:         8px 4px;
	$PaddingListsTd:         8px 4px;
	$PaddingInput:           2px 5px;
	$PaddingTabs:            4px 7px 5px 7px;
	$PaddingBox:             10px;
	
	/* Tables */
	$TblListsBorderCollapse: collapse;
	$TblListsBorderSpacing:  0px;
	
	/* Borders */
	$ButtonBorderRadius:     3px;
	$BorderBox:              1px solid #606060;
	$BorderInput:            1px solid #595959;
	$BorderBoxRadius:        2px;
	$WinBorderTopActive:     1.4px solid #5EC6ED;
	$WinBorderLeftActive:    1px solid #2F6699;
	$WinBorderRightActive:   1px solid #2F6699;
	$WinBorderBottomActive:  1.4px solid #2F6699;
	$WinBorderTopBlur:       1px solid #afafaf;
	$WinBorderLeftBlur:      1px solid #808080;
	$WinBorderRightBlur:     1px solid #808080;
	$WinBorderBottomBlur:    1.4px solid #707070;
	$WinBottomBarHeight:     17px;
	$WinContentBottom:       18px;
	$BorderRadiusTabs:       2px 2px 0 0;
	$BorderPageActive:       1px solid #707070;
	$BorderRuler:            1px solid #707070;
	
	$BorderDefaultTop:       1px solid rgba(255,255,255,0.5);
	$BorderDefaultLeft:      1px solid rgba(255,255,255,0.5);
	$BorderDefaultRight:     1px solid rgba(0,0,0,0.5);
	$BorderDefaultBottom:    1px solid rgba(0,0,0,0.5);
	
	
	/* Box shadow */
	$BoxShadowButton:        0px 2px 2px rgba(0,0,0,0.3);
	$BoxShadowRecessed:      inset 0px 1px 3px rgba(0,0,0,0.3);
	$BoxShadowElevated:      0px 1px 3px rgba(0,0,0,0.3);
	$BorderRecessed:         none;
	$BorderElevated:         1px solid rgba(0,0,0,0.2);
	
	/* Window gadgets */
	$WinGadResizeImg:        url(../gfx/theme/default_window_resize.png);
	$WinGadResizeImgA:       url(../gfx/theme/default_window_resize.png);
	$WinGadZoomImg:          url(../gfx/system/window_zoom.png);
	$WinGadZoomImgA:         url(../gfx/system/window_zoom.png);
	$WinGadCloseImg:         url(../gfx/system/window_close.png);
	$WinGadCloseImgA:        url(../gfx/system/window_close_on.png);
	$WinGadDepthImg:         url(../gfx/system/window_depth.png);
	$WinGadDepthImgA:        url(../gfx/system/window_depth.png);
	$WinGadMinimizeImg:      url(../gfx/system/window_minimize.png);
	$WinGadMinimizeImgA:     url(../gfx/system/window_minimize.png);
	$WinGadResizeColActive:  #707070;
	$WinGadResizeCol:        #808080;
	$WinFrameBgBlur:         #3f3f3f;
	$WinFrameBgDarkBlur:     #202020;
	$WinFrameBgActive:       #505050;
	$WinFrameBgDarkActive:   #3f3f3f;
	
	/* Gui image elements */
	$GuiImgWinTitle:         url(../gfx/system/window_topgradient_off.png);
	$GuiImgWinTitleActive:   url(../gfx/system/window_topgradient.png);
	$GuiImgWinLoading:       #505050 url(../gfx/system/busycube.gif) no-repeat center center;
	
	/* Icon set */
	$IconSmallArrowUp:       url(../gfx/icons/16x16/actions/arrow-up.png);
	$IconSmallArrowDown:     url(../gfx/icons/16x16/actions/arrow-down.png);
	$IconSmallArrowLeft:     url(../gfx/icons/16x16/actions/arrow-left.png);
	$IconSmallArrowRight:    url(../gfx/icons/16x16/actions/arrow-right.png);
	
	$IconSmallSave:          url(../gfx/icons/16x16/actions/dialog-ok.png);
	$IconSmallUse:           url(../gfx/icons/16x16/actions/dialog-ok-apply.png);
	$IconSmallCancel:        url(../gfx/icons/16x16/actions/dialog-cancel.png);
	
	$IconSmallListAdd:       url(../gfx/icons/16x16/actions/list-add.png);
	$IconSmallListRemove:    url(../gfx/icons/16x16/actions/list-remove.png);
	
	/* Other */
	$LineHeightInput:        14px;
}

.BordersDefault
{
	border-top: 1px solid #707070;
	border-bottom: 1px solid #303030;
	border-left: 1px solid #606060;
	border-right: 1px solid #606060;
}

.BordersDefaultNegative
{
	border-top: 1px solid #303030;
	border-left: 1px solid #606060;
	border-right: 1px solid #606060;
	border-bottom: 1px solid #707070;
}

.BorderTop
{
	border-top: 1px solid $ColorBorder;
}

.BorderBottom
{
	border-bottom: 1px solid $ColorBorder;
}

.BorderLeft
{
	border-left: 1px solid $ColorBorder;
}

.BorderRight
{
	border-right: 1px solid $ColorBorder;
}

.BordersDefaultButton
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultButtonHover
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.BordersDefaultButtonActive
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.ButtonGradients
{
	background: #e8e8e8;
	background: -moz-linear-gradient(top, #e8e8e8 0%, #cecece 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#cecece));
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -o-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -ms-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: linear-gradient(to bottom, #e8e8e8 0%,#cecece 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#cecece',GradientType=0 );
}

.ButtonGradientsHover
{
	background: #3B81C2;
	background: -moz-linear-gradient(top, #59A3C4 0%, #3B81C2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#3B81C2));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#3B81C2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#3B81C2',GradientType=0 );
}

.BordersDefaultButtonActive
{
	background: #3B81C2;
	background: -moz-linear-gradient(top, #59A3C4 0%, #3B81C2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#3B81C2));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#3B81C2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#3B81C2',GradientType=0 );
}

.Selected
{
	background-color: $ColorBgSelect;
	color:            $ColorSelect;
}

.ToolbarBackground
{
	background-color: $ColorBgBox;
}

.WindowBackground
{
	background-color: $ColorBackground;	
}

.WindowBackgroundActive
{
	background-color: $ColorBackground;
}

.WindowContentBorders
{
	border-left: 3px solid #808080;
	border-right: 3px solid #808080;
	border-bottom: 3px solid #808080;
}

.WindowContentBordersActive
{
	border-left: 3px solid #2F6699;
	border-right: 3px solid #2F6699;
	border-bottom: 3px solid #2F6699;
}

.TabBorders
{
	border-top: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 0;
}

.TabActiveBorders
{
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 0;
}

.TabGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #DEDEDE),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
}

.TabActiveGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #9BD6F2),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #FDFDFD)
	);
	background-image: -o-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -moz-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -webkit-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -ms-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: linear-gradient(to bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
}

/* Buttons */

button, .Button
{
	background-image: none;
	background-color: #444444;
}

button:hover, .Button:hover
{
	background-color: #555555;
}


/* Dialog boxes */

.Dialog
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $ColorBackground;
}

.Dialog > .DialogHeader with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 39px;
	border-bottom: $BorderRuler;
	color: $ColorDialogHeader;
}

.Dialog > .DialogContent, .Dialog > .DialogContentMiddle,
.Dialog > .DialogContentBottom
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	overflow: auto;
}

.Dialog > .DialogContentMiddle
{
	top: 40px;
}

.Dialog > .DialogContentBottom
{
	bottom: 0px;
	top: 40px;
}

.Dialog > .DialogButtons with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 39px;
	border-top: $BorderRuler;
	color: $ColorDialogButtons;
}

.Dialog > .DialogButtons > button
{
	margin: 6px 0 0 6px;
}

.Dialog .DialogMargin
{
	padding: $PaddingBox;
}

.Padding
{
	padding: $PaddingBox;
	box-sizing: border-box;
}

.PaddingTop
{
	padding-top: $PaddingBox;
	box-sizing: border-box;
}

.PaddingLeft
{
	padding-left: $PaddingBox;
	box-sizing: border-box;
}

.PaddingRight
{
	padding-right: $PaddingBox;
	box-sizing: border-box;
}

.PaddingBottom
{
	padding-bottom: $PaddingBox;
	box-sizing: border-box;
}

.FontLarge
{
	font-weight: normal;
	font-size: 28px;
}

.FontMedium
{
	font-weight: normal;
	font-size: 20px;
}

.IconSmall:before { font-family: FontAwesome; font-size: 16px; vertical-align: top; }
.IconMedium:before { font-family: FontAwesome; font-size: 24px; vertical-align: top; }
.IconLarge:before { font-family: FontAwesome; font-size: 32px; vertical-align: top; }
.IconHeightSmall { height: 28px; padding: 4px; box-sizing: border-box; }
.IconHeightMedium { height: 36px; padding: 4px; box-sizing: border-box; }
.IconHeightLarge { height: 44px; padding: 4px; box-sizing: border-box; }

/* Extra styling just for this theme ---------------------------------------- */

.View
{
	border-bottom: 1px solid #707070;
	border-radius: 3px 3px 4px 4px;
	-moz-border-radius: 3px 3px 4px 4px;
	-webkit-border-radius: 3px 3px 4px 4px;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
}

.View.Active
{
	border-bottom: 1px solid #2F6699;
}

.View.Active > .Title > div > .Close:hover
{
	background-image: $WinGadCloseImgA;
}

.View > .LeftBar
{
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
}

.View > .RightBar, .View > .Resize
{
	border-radius: 0 0 3px;
	-moz-border-radius: 0 0 3px;
	-webkit-border-radius: 0 0 3px;
}


table.List > tbody > tr.sw1 > td
{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
}
table.List > tbody > tr.sw2 > td
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d8d8d8;
}

table.List > tbody > tr.sw1 > th,
table.List > tbody > tr > th
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #d8d8d8;
}
table.List > tbody > tr.sw2 > th
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d0d0d0;
}

.View > .Content:before
{
	content: " ";
	display: block;
	position: absolute;
	height: 1px;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 2147483647;
}

/* Some links --------------------------------------------------------------- */

a
{
	text-decoration: none;
}

a, a:visited
{
	color: #115A9E;
}

a:active, a:hover
{
	color: #26537D;
}

/* Amiga dark style uniqueness! */

html .View > .Title
{
	background: #333333;
	border-top: 1px solid #606060;
	border-bottom: 1px solid #101010;
	transition: background-color,border 0.2s,0.2s;
	-webkit-transition: background-color,border 0.2s,0.2s;
}

html .View
{
	opacity: 0.7 !important;
	border-bottom: 1px solid #101010;
	transition: opacity,background-color,border 0.2s,0.2s,0.2s;
	-webkit-transition: opacity,background-color,border 0.2s,0.2s,0.2s;
}

html .View > .RightBar,
html .View > .LeftBar,
html .View > .BottomBar
{
	background: #333333;
	transition: background-color,border 0.2s,0.2s;
	-webkit-transition: background-color,border 0.2s,0.2s;
}
html .View > .Resize
{
	background-color: #333333;
	transition: background-color,border 0.2s,0.2s;
	-webkit-transition: background-color,border 0.2s,0.2s;
}
html .View > .BottomBar
{
	border-top: 1px solid #606060;
}

/* active */

html .View.Active > .Title
{
	background: #555555;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #202020;
}

html .View.Active
{
	opacity: 1 !important;
	border-bottom: 1px solid #303030;
}

html .View.Active > .RightBar,
html .View.Active > .LeftBar,
html .View.Active > .BottomBar
{
	background: #555555;
}
html .View.Active > .Resize
{
	background-color: #555555;
}
html .View.Active > .BottomBar
{
	border-top: 1px solid #808080;
}

html .View > .Content
{
	background: #303030;
	color: #ffffff;
}

html .View > .Content .File > .Title
{
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

html button, html .Button
{
	background: #444444;
	border: 1px solid #404040;
	box-shadow: inset 0px -1px 1px rgba(100,100,100,0.5);
}

html button:hover, html .Button:hover
{
	background: #555555;
	border: 1px solid #505050;
	box-shadow: inset 0px -1px 1px rgba(100,100,100,0.5);
}

/* Screens */

.Screen > .TitleBar { color: black; }


/* tasks */

html #Statusbar .Task
{
	background-color: #3a3a3a;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 3px center;
}

html #Statusbar .Task.Active
{
	background-color: #7246FF;
}

html body { color: white; }

