<html>
	<body style="background: #e0e0e0; color: black; font-family: sans serif">
		<div style="padding: 20px">
			<h2>About Wideweb</h2>
			<p>
				Wideweb is a web browser for FriendUP resources. It does not <strong>read</strong>
				urls like <strong>http://google.com/</strong> like you are used to,
				but instead reads HTML5 files on your disk drives, as well as content located
				on hosts in the <strong>Friend Network</strong>.
			</p>
			<p>
				To read more about Wideweb, please refer to the documentation.
			</p>
			<p>
				Wideweb is often times used to read documentation and help files.
				But it becomes very useful when accessing remote disk drives that
				you have connected using the <strong>Disk catalog</strong>.
			</p>
			<p>
				Enjoy a new world of networked content using Wideweb!
			</p>
		</div>
	</body>
</html>
