Source: friendup
Section: devel
Priority: optional
Maintainer: Pawel Stefanski <ps@friendup.cloud>
Build-Depends: build-essential,
               debhelper (>= 9),
               libsqlite3-dev,
               libsmbclient-dev,
               libssh-dev,
               libaio-dev,
               build-essential,
               libmagic-dev,
               libgd-dev,
               rsync,
               libxml2-dev,
               php-readline,
               cmake,
               ssh,
               curl,
               python,
               php,
               php-cli,
               php-gd,
               php-mysql,
               php-curl,
               php-readline,
               libmysqlclient-dev | default-libmysqlclient-dev,
               valgrind

Package: friendup
Architecture: any
Depends: binutils,
         libcomerr2,
         libbsd0,
         libcap2,
         libexpat1,
         libffi6,
         libfontconfig1,
         libfreetype6,
         libgcc1,
         libgcrypt20,
         libgd3,
         libgmp10,
         libgnutls30,
         libgpg-error0,
         libgssapi-krb5-2,
         libhogweed4,
         libidn11,
         libjbig0,
         libk5crypto3,
         libkeyutils1,
         libkrb5-3,
         libkrb5support0,
         libldap-2.4-2,
         libldb1,
         liblz4-1,
         liblzma5,
         libmagic1,
         libmysqlclient20,
         libnettle6,
         libp11-kit0,
         libpcre3,
         libpng12-0 | libpng16-16,
         libsasl2-2,
         libselinux1,
         libsmbclient,
         libsqlite3-0,
         libssh-4,
         libssl1.0.0,
         libstdc++6,
         libtalloc2,
         libtasn1-6,
         libtdb1,
         libtevent0,
         libtiff5,
         libwbclient0,
         libx11-6,
         libxau6,
         libxcb1,
         libxdmcp6,
         libxml2,
         libxpm4,
         samba-libs,
         zlib1g,
         php-cli,
         php-curl,
         php-gd,
         php-mbstring,
         php-mysql,
         php-tcpdf,
         php-xml,
         php-zip
Description: Friend Unifying Platform
 Private cloud solution. More details: https://friendup.cloud
