/* menu */
.menuSection a:hover {
	background-color: #e8e8e8;
}

.menuSection a {
	cursor: pointer;
}

.menuSection .menuVertical {
    /* Size and position */
	/* position: relative;*/
    /*width: 200px;*/
    margin: 0 auto;
    padding: 10px;
    height:auto;
    display:block;
    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    outline: none;

    /* Font settings */
    color: #8AA8BD;
}

.menuSection .menuVertical span.submenu {
	margin-left: 20px;
}

.menuSection .iconRight {
    float:right;
}

.appsubmenu {
	display: none;
}
/* // menu */


div {
	color: #777;
}

.imgResponsive { 
	display: block;
	width: 100%;
}

.imgIcon {
	max-height: 50px;
	max-width: 50px;
}

.storeTitle {
    color: #8AA8BD;	
	margin: 15px 0px 5px 0px;
	line-height: 10px;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #8AA8AA;
	width: 96%;
}

.storeTextColor {
    color: #8AA8BD;	
}

.FontExtraSmall {
	font-size: 10px;
}

.IconExtraSmall {
	font-size: 10px;
}

.appBoxMini {
    margin: 0 auto;
    padding: 5px;
    height:auto;
    display:block;
    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    outline: none;
}

.title {
	font-weight: 700;
}