@font-face {
    font-family: 'lato';
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot');
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff') format('woff'),
         url('/webclient/theme/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/webclient/theme/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: fontawesome;
	src: url(/webclient/theme/fonts/FontAwesome.otf);
}

@append url(css/core.css);
@append url(css/lists.css);
@append url(css/windows.css);
@append url(css/icons.css);
@append url(css/tabs.css);
@append url(css/doors.css);
@append url(css/workspace.css);
@append url(css/font-awesome.min.css);

@declaration
{
	/* Colors */
	$ColorBackground:        #efefef;
	$ColorDefault:           #efefef;
	$ColorText:              #000000;
	$ColorButton:            #ffffff;
	$ColorBgButton:          #3B81C2;
	$ColorButtonHover:       #ffffff;
	$ColorBgButtonHover:     #5EC6ED;
	$ColorSelect:            #000000;
	$ColorBgSelect:          #D0D0D0;
	$ColorSelectHover:       #404040;
	$ColorBgSelectHover:     #f8f8f8;
	$ColorBgTdListTable:     #f8f8f8;
	$ColorLists:             #3f3f3f;
	$ColorListsAlternate:    #303030;
	$ColorBgListSw1:         #f4f4f4;
	$ColorBgListSw2:         #f8f8f8;
	$ColorBgListSwHover:     #C1D4E5;
	$ColorListSw1:           #000000;
	$ColorListSw2:           #030303;
	$ColorTdListSw1:         #000000;
	$ColorTdListSw2:         #030303;
	$ColorBgThListSw1:       #e4e4e4;
	$ColorBgThListSw2:       #ededed;
	$ColorThListSw1:         #000000;
	$ColorThListSw2:         #000000;
	$ColorBgTabActive:       #fdfdfd;
	$ColorBgPageActive:      #fdfdfd;
	$ColorBox:               #000000;
	$ColorBgBox:             #fdfdfd;
	$ColorLightBorder:       #cfcfcf;
	$ColorDialogButtons:     #ffffff;
	$ColorDialogHeader:      #ffffff;
	$ColorPositive:          #000000;
	$ColorNegative:          #ffffff;
	$ColorBgPositive:        #cfcfcf;
	$ColorBgNegative:        #3f3f3f;
	$ColorBgHighlight:       #818181;
	$ColorHighlight:         #e0e0e0;
	$ColorSelect:            #ffffff;
	$ColorBorder:            #e0e0e0;
	$ColorInput:             #000000;
	$ColorBgInput:           #ffffff;
	$ColorBgRecessed:        #666666;
	$ColorRecessed:          #ffffff;
	$ColorOverlayBg:         rgba(239,239,239,0.7);
	$ColorLEDOn:             #87ca33;
	$ColorLEDAvailable:      #4fb3e6;
	$ColorLEDWarning:        #f5f141;
	$ColorLEDNotify:         #f4a01f;
	$ColorLEDNotifyFrom:     #f4a01f;
	$ColorLEDNotifyTo:       #ffd055;
	$ColorLEDAlert:          #ff5308;
	$ColorLEDOff:            #e2e2e2;
	$ColorLEDText:           #000000;
	$BackgroundHeavy:        rgba(0,0,0,0.01);
	$BackgroundHeavier:      rgba(0,0,0,0.1);
	$BackgroundHeaviest:     rgba(0,0,0,0.25);
	
	/* Special colors */
	$ColorBgStError:         #990000;
	$ColorStError:           #ff6666;
	$ColorBgStGreenLight:    #dddd00;
	$ColorStGreenLight:      #222200;
	$ColorBgStBlueLight:     #004488;
	$ColorStBlueLight:       #000000;
	$ColorBgGray:            #888888;
	$ColorGray:              #000000;
	
	/* Context colors */
	$ColorAccept:                 #000000;
	$ColorAcceptBg:               #92b376;
	$ColorAcceptButton:           #e0e0e0;
	$ColorAcceptButtonBg:         #519039;
	$ColorAcceptButtonHover:      #ffffff;
	$ColorAcceptButtonHoverBg:    #97d137;
	$ColorDanger:                 #000000;
	$ColorDangerBg:               #b37676;
	$ColorDangerButton:           #e0e0e0;
	$ColorDangerButtonBg:         #983b25;
	$ColorDangerButtonHover:      #ffffff;
	$ColorDangerButtonHoverBg:    #ef653b;
	$ColorAvailable:              #000000;
	$ColorAvailableBg:            #94c6e0;
	$ColorAvailableButton:        #e0e0e0;
	$ColorAvailableButtonBg:      #0F85d1;
	$ColorAvailableButtonHover:   #FFFFFF;
	$ColorAvailableButtonHoverBg: #58ADE3;
	$ColorAction:                 purple;
	$ColorActionBg:               transparent;
	$ColorWarning:                yellow;
	$ColorWarningBg:              transparent;
	$ColorNotify:                 orange;
	$ColorNotifyBg:               transparent;
	
	$ColorIconBlinkStart:      black;
	$ColorIconBlinkEnd:        grey;
	
	/* Font sizes */
	$FontSizeButton:         14px;
	$FontSizeDefault:        14px;

	/* Font weights */
	$FontWeightButton:       normal;
	$FontWeightThList:       normal;
	$FontWeightTabs:         normal;
	$FontWeightButtonActive: bold;
	
	/* Default face */
	$FontFaceNormal:         lato, sans serif;
	
	/* Font transforms */
	$FontTransformThList:    uppercase;
	
	/* Text shadow */
	$TxtShdThList:           1px 1px 1px white;
	$TxtShdTdList:           none;
	$TxtShdPositive:         1px 1px 1px black;
	$TxtShdNegative:         1px 1px 1px white;
	
	/* Margins */
	$MarginButton:           0 4px 0 0;
	$MarginButtonTd:         0;
	$MarginVerticalRuler:    0 8px 0 0;
	$MarginTabs:             0 4px 0 0;
	$MarginBox:              0;
	$MarginWindowTop:        35px;
	$MarginWindowTopVBars:   34px;
	$MarginWindowLeft:       3px;
	$MarginWindowRight:      3px;
	$MarginWindowBottom:     0px;
	
	/* Padding */
	$PaddingSelect:          4px 5px 5px 5px;
	$PaddingButton:          5px;
	$PaddingButtonTd:        5px;
	$PaddingListsTh:         8px 4px;
	$PaddingListsTd:         8px 4px;
	$PaddingInput:           2px 5px;
	$PaddingTabs:            4px 7px 5px 7px;
	$PaddingBox:             10px;
	
	/* Tables */
	$TblListsBorderCollapse: collapse;
	$TblListsBorderSpacing:  0px;
	
	/* Borders */
	$ButtonBorderRadius:     3px;
	$BorderBox:              1px solid #e0e0e0;
	$BorderInput:            1px solid #c0c0c0;
	$BorderBoxRadius:        2px;
	$WinBorderTopActive:     1px solid #5EC6ED;
	$WinBorderLeftActive:    1px solid #2F6699;
	$WinBorderRightActive:   1px solid #2F6699;
	$WinBorderBottomActive:  1px solid #2F6699;
	$WinBorderTopBlur:       1px solid #afafaf;
	$WinBorderLeftBlur:      1px solid #808080;
	$WinBorderRightBlur:     1px solid #808080;
	$WinBorderBottomBlur:    1px solid #707070;
	$WinBottomBarHeight:     17px;
	$WinContentBottom:       18px;
	$BorderRadiusTabs:       8px 8px 0 0;
	$BorderPageActive:       1px solid #e0e0e0;
	$BorderRuler:            1px solid #e0e0e0;
	
	$BorderDefaultTop:       1px solid rgba(255,255,255,0.5);
	$BorderDefaultLeft:      1px solid rgba(255,255,255,0.5);
	$BorderDefaultRight:     1px solid rgba(0,0,0,0.5);
	$BorderDefaultBottom:    1px solid rgba(0,0,0,0.5);
	
	
	/* Box shadow */
	$BoxShadowButton:        0px 2px 2px rgba(0,0,0,0.2);
	$BoxShadowRecessed:      inset 0px 1px 3px rgba(0,0,0,0.2);
	$BoxShadowElevated:      0px 1px 3px rgba(0,0,0,0.2);
	$BorderRecessed:         none;
	$BorderElevated:         1px solid rgba(0,0,0,0.1);
	
	/* Window gadgets */
	$WinGadResizeImg:        url(/webclient/gfx/theme/default_window_resize.png);
	$WinGadResizeImgA:       url(/webclient/gfx/theme/default_window_resize.png);
	$WinGadZoomImg:          url(/webclient/gfx/system/window_zoom.png);
	$WinGadZoomImgA:         url(/webclient/gfx/system/window_zoom.png);
	$WinGadCloseImg:         url(/webclient/gfx/system/window_close.png);
	$WinGadCloseImgA:        url(/webclient/gfx/system/window_close_on.png);
	$WinGadDepthImg:         url(/webclient/gfx/system/window_depth.png);
	$WinGadDepthImgA:        url(/webclient/gfx/system/window_depth.png);
	$WinGadMinimizeImg:      url(/webclient/gfx/system/window_minimize.png);
	$WinGadMinimizeImgA:     url(/webclient/gfx/system/window_minimize.png);
	$WinGadResizeColActive:  #3B81C2;
	$WinGadResizeCol:        #808080;
	$WinFrameBgBlur:         #808080;
	$WinFrameBgDarkBlur:     #606060;
	$WinFrameBgActive:       #3B81C2;
	$WinFrameBgDarkActive:   #2D618B;
	
	/* Gui image elements */
	$GuiImgWinTitle:         url(/webclient/gfx/system/window_topgradient_off.png);
	$GuiImgWinTitleActive:   url(/webclient/gfx/system/window_topgradient.png);
	$GuiImgWinLoading:       #505050 url(/webclient/gfx/system/busycube.gif) no-repeat center center;
	
	/* Icon set */
	$IconSmallArrowUp:       url(/webclient/gfx/icons/16x16/actions/arrow-up.png);
	$IconSmallArrowDown:     url(/webclient/gfx/icons/16x16/actions/arrow-down.png);
	$IconSmallArrowLeft:     url(/webclient/gfx/icons/16x16/actions/arrow-left.png);
	$IconSmallArrowRight:    url(/webclient/gfx/icons/16x16/actions/arrow-right.png);
	
	$IconSmallSave:          url(/webclient/gfx/icons/16x16/actions/dialog-ok.png);
	$IconSmallUse:           url(/webclient/gfx/icons/16x16/actions/dialog-ok-apply.png);
	$IconSmallCancel:        url(/webclient/gfx/icons/16x16/actions/dialog-cancel.png);
	
	$IconSmallListAdd:       url(/webclient/gfx/icons/16x16/actions/list-add.png);
	$IconSmallListRemove:    url(/webclient/gfx/icons/16x16/actions/list-remove.png);
	
	/* Other */
	$LineHeightInput:        14px;
}

.BordersDefault
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultNegative
{
	border-top: 1px solid #909090;
	border-left: 1px solid #909090;
	border-right: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
}

.BorderTop
{
	border-top: 1px solid $ColorBorder;
}

.BorderBottom
{
	border-bottom: 1px solid $ColorBorder;
}

.BorderLeft
{
	border-left: 1px solid $ColorBorder;
}

.BorderRight
{
	border-right: 1px solid $ColorBorder;
}

.BordersDefaultButton
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultButtonHover
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.BordersDefaultButtonActive
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.ButtonGradients
{
	background: #e8e8e8;
	background: -moz-linear-gradient(top, #e8e8e8 0%, #cecece 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#cecece));
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -o-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: -ms-linear-gradient(top, #e8e8e8 0%,#cecece 100%);
	background: linear-gradient(to bottom, #e8e8e8 0%,#cecece 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#cecece',GradientType=0 );
}

.ButtonGradientsHover
{
	background: #3B81C2;
	background: -moz-linear-gradient(top, #59A3C4 0%, #3B81C2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#3B81C2));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#3B81C2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#3B81C2',GradientType=0 );
}

.BordersDefaultButtonActive
{
	background: #3B81C2;
	background: -moz-linear-gradient(top, #59A3C4 0%, #3B81C2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59A3C4), color-stop(100%,#3B81C2));
	background: -webkit-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -o-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: -ms-linear-gradient(top, #59A3C4 0%,#3B81C2 100%);
	background: linear-gradient(to bottom, #59A3C4 0%,#3B81C2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59A3C4', endColorstr='#3B81C2',GradientType=0 );
}

.Selected
{
	background-color: $ColorBgSelect;
	color:            $ColorSelect;
}

.ToolbarBackground
{
	background-color: $ColorBgBox;
}

.WindowBackground
{
	background-color: $ColorBackground;	
}

.WindowBackgroundActive
{
	background-color: $ColorBackground;
}

.WindowContentBorders
{
	border-left: 3px solid #808080;
	border-right: 3px solid #808080;
	border-bottom: 3px solid #808080;
}

.WindowContentBordersActive
{
	border-left: 3px solid #2F6699;
	border-right: 3px solid #2F6699;
	border-bottom: 3px solid #2F6699;
}

.TabBorders
{
	border-top: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 0;
}

.TabActiveBorders
{
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 0;
}

.TabGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #DEDEDE),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
}

.TabActiveGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #9BD6F2),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #FDFDFD)
	);
	background-image: -o-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -moz-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -webkit-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -ms-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: linear-gradient(to bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
}

/* Buttons */

button, .Button
{
	background-image: url(/webclient/gfx/system/window_topgradient.png);
	background-repeat: repeat-x;
	background-position: top left;
}

button:hover, .Button:hover
{
	background-position: bottom left;
}


/* Dialog boxes */

.Dialog
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $ColorBackground;
}

.Dialog > .DialogHeader with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 39px;
	border-bottom: $BorderRuler;
	color: $ColorDialogHeader;
}

.Dialog > .DialogContent, .Dialog > .DialogContentMiddle,
.Dialog > .DialogContentBottom
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	overflow: auto;
}

.Dialog > .DialogContentMiddle
{
	top: 40px;
}

.Dialog > .DialogContentBottom
{
	bottom: 0px;
	top: 40px;
}

.Dialog > .DialogButtons with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 39px;
	border-top: $BorderRuler;
	color: $ColorDialogButtons;
}

.Dialog > .DialogButtons > button
{
	margin: 6px 0 0 6px;
}

.Dialog .DialogMargin
{
	padding: $PaddingBox;
}

.Padding
{
	padding: $PaddingBox;
	box-sizing: border-box;
}

.PaddingTop
{
	padding-top: $PaddingBox;
	box-sizing: border-box;
}

.PaddingLeft
{
	padding-left: $PaddingBox;
	box-sizing: border-box;
}

.PaddingRight
{
	padding-right: $PaddingBox;
	box-sizing: border-box;
}

.PaddingBottom
{
	padding-bottom: $PaddingBox;
	box-sizing: border-box;
}

.FontLarge
{
	font-weight: normal;
	font-size: 28px;
}

.FontMedium
{
	font-weight: normal;
	font-size: 20px;
}

.IconSmall:before { font-family: FontAwesome; font-size: 16px; vertical-align: top; }
.IconMedium:before { font-family: FontAwesome; font-size: 24px; vertical-align: top; }
.IconLarge:before { font-family: FontAwesome; font-size: 32px; vertical-align: top; }
.IconHeightSmall { height: 28px; padding: 4px; box-sizing: border-box; }
.IconHeightMedium { height: 36px; padding: 4px; box-sizing: border-box; }
.IconHeightLarge { height: 44px; padding: 4px; box-sizing: border-box; }

/* Extra styling just for this theme ---------------------------------------- */

.View
{
	border-bottom: 1px solid #707070;
	border-radius: 3px 3px 4px 4px;
	-moz-border-radius: 3px 3px 4px 4px;
	-webkit-border-radius: 3px 3px 4px 4px;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
}

.View.Active
{
	border-bottom: 1px solid #2F6699;
}

.View.Active > .Title > div > .Close:hover
{
	background-image: $WinGadCloseImgA;
}

.View > .LeftBar
{
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
}

.View > .RightBar, .View > .Resize
{
	border-radius: 0 0 3px;
	-moz-border-radius: 0 0 3px;
	-webkit-border-radius: 0 0 3px;
}


table.List > tbody > tr.sw1 > td
{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
}
table.List > tbody > tr.sw2 > td
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d8d8d8;
}

table.List > tbody > tr.sw1 > th,
table.List > tbody > tr > th
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #d8d8d8;
}
table.List > tbody > tr.sw2 > th
{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #d0d0d0;
}

.View > .Content:before
{
	content: " ";
	display: block;
	position: absolute;
	height: 1px;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 2147483647;
}

/* Some links --------------------------------------------------------------- */

a
{
	text-decoration: none;
}

a, a:visited
{
	color: #115A9E;
}

a:active, a:hover
{
	color: #26537D;
}
