@font-face {
    font-family: 'lato';
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot');
    src: url('/webclient/theme/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/webclient/theme/fonts/lato-regular-webfont.woff') format('woff'),
         url('/webclient/theme/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/webclient/theme/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: fontawesome;
	src: url(/webclient/theme/fonts/FontAwesome.otf);
}

@append url(System:css/core.css);
@append url(System:css/lists.css);
@append url(System:css/windows.css);
@append url(System:css/icons.css);
@append url(System:css/tabs.css);
@append url(System:css/doors.css);
@append url(System:css/workspace.css);
@append url(System:css/font-awesome.min.css);

@declaration
{
	/* Colors */
	$ColorBackground:        #12150D;
	$ColorDefault:           #B7BD69;
	$ColorText:              #B7BD69;
	$ColorButton:            #ffeeaa;
	$ColorBgButton:          #304010;
	$ColorButtonHover:       #ffeeaa;
	$ColorBgButtonHover:     #394919;
	$ColorSelect:            #ffeeaa;
	$ColorBgSelect:          #707060;
	$ColorSelectHover:       #f0f0c0;
	$ColorBgSelectHover:     #aa7700;
	$ColorBgTdListTable:     #101404;
	$ColorLists:             #B7BD69;
	$ColorListsAlternate:    #ffeeaa;
	$ColorBgListSw1:         #141707;
	$ColorBgListSw2:         #1f2509;
	$ColorBgListSwHover:     #996600;
	$ColorListSw1:           #B7BD69;
	$ColorListSw2:           #ffeeaa;
	$ColorTdListSw1:         #B7BD69;
	$ColorTdListSw2:         #ffeeaa;
	$ColorBgThListSw1:       #12150C;
	$ColorBgThListSw2:       #0f1209;
	$ColorBgTabActive:       #996600;
	$ColorBgPageActive:      #2f2f2f;
	$ColorBox:               #ffeeaa;
	$ColorBgBox:             #2f2f2f;
	$ColorLightBorder:       #0A0C08;
	$ColorDialogButtons:     #304010;
	$ColorDialogHeader:      #ffeeaa;
	$ColorPositive:          #ffeeaa;
	$ColorNegative:          #1f2509;
	$ColorBgPositive:        #141707;
	$ColorBgNegative:        #ffeeaa;
	$ColorBgHighlight:       #445511;
	$ColorHighlight:         #B7BD69;
	$ColorSelect:            #ffeeaa;
	$ColorBorder:            #0A0C08;
	$ColorInput:             #B7BD69;
	$ColorBgInput:           #0A0C08;
	$ColorBgRecessed:        #0A0C08;
	$ColorRecessed:          #B7BD69;
	$ColorOverlayBg:         rgba(30,30,30,0.7);
	$ColorLEDOn:             #a2da5b;
	$ColorLEDWarning:        #fffc63;
	$ColorLEDNotify:         #ffb542;
	$ColorLEDNotifyFrom:     #ffb542;
	$ColorLEDNotifyTo:       #ffd055;
	$ColorLEDAlert:          #ff6838;
	$ColorLEDOff:            #424242;
	$ColorLEDText:           #000000;
	
	/* Special colors */
	$ColorBgStError:         #990000;
	$ColorStError:           #ff6666;
	$ColorBgStGreenLight:    #3C5225;
	$ColorStGreenLight:      #7BCE35;
	$ColorBgStBlueLight:     #313011;
	$ColorStBlueLight:       #FFEEAA;
	$ColorBgStGrayLight:     #2F2F2F;
	$ColorStGrayLight:       #EFEFEF;
	
	/* Font sizes */
	$FontSizeButton:         14px;
	$FontSizeDefault:        14px;

	/* Font weights */
	$FontWeightButton:       normal;
	$FontWeightThList:       normal;
	$FontWeightTabs:         normal;
	$FontWeightButtonActive: bold;
	
	/* Default face */
	$FontFaceNormal:         lato, sans serif;
	
	/* Font transforms */
	$FontTransformThList:    uppercase;
	
	/* Text shadow */
	$TxtShdThList:           1px 1px 1px white;
	$TxtShdTdList:           none;
	$TxtShdPositive:         1px 1px 1px black;
	$TxtShdNegative:         1px 1px 1px white;
	
	/* Margins */
	$MarginButton:           0 4px 0 0;
	$MarginButtonTd:         0;
	$MarginVerticalRuler:    0 8px 0 0;
	$MarginTabs:             0 5px 0 0;
	$MarginBox:              0;
	$MarginWindowTop:        35px;
	$MarginWindowTopVBars:   34px;
	$MarginWindowLeft:       3px;
	$MarginWindowRight:      3px;
	$MarginWindowBottom:     0px;
	
	/* Padding */
	$PaddingSelect:          4px 5px 5px 5px;
	$PaddingButton:          5px;
	$PaddingButtonTd:        5px;
	$PaddingListsTh:         8px 4px;
	$PaddingListsTd:         8px 4px;
	$PaddingInput:           2px 5px;
	$PaddingTabs:            8px 10px 8px 10px;
	$PaddingBox:             10px;
	
	/* Tables */
	$TblListsBorderCollapse: collapse;
	$TblListsBorderSpacing:  0px;
	
	/* Borders */
	$ButtonBorderRadius:     3px;
	$BorderBox:              1px solid #0A0C08;
	$BorderInput:            1px solid #0A0C08;
	$BorderBoxRadius:        2px;
	$WinBorderTopActive:     1.4px solid #5EC6ED;
	$WinBorderLeftActive:    1px solid #2F6699;
	$WinBorderRightActive:   1px solid #2F6699;
	$WinBorderBottomActive:  1.4px solid #2F6699;
	$WinBorderTopBlur:       1px solid #afafaf;
	$WinBorderLeftBlur:      1px solid #808080;
	$WinBorderRightBlur:     1px solid #808080;
	$WinBorderBottomBlur:    1.4px solid #707070;
	$WinBottomBarHeight:     17px;
	$WinContentBottom:       18px;
	$BorderRadiusTabs:       3px 3px 0 0;
	$BorderPageActive:       none;
	$BorderRuler:            1px solid #0A0C08;
	
	$BorderDefaultTop:       1px solid rgba(255,255,255,0.3);
	$BorderDefaultLeft:      1px solid rgba(0,0,0,0.3);
	$BorderDefaultRight:     1px solid rgba(0,0,0,0.3);
	$BorderDefaultBottom:    1px solid rgba(0,0,0,0.7);
	
	/* Box shadow */
	$BoxShadowButton:        0px 2px 2px rgba(0,0,0,0.2);
	$BoxShadowRecessed:      inset 0px 1px 3px rgba(0,0,0,0.2);
	$BoxShadowElevated:      0px 1px 3px rgba(0,0,0,0.2);
	$BorderRecessed:         none;
	$BorderElevated:         1px solid rgba(0,0,0,0.1);
	
	/* Window gadgets */
	$WinGadResizeImg:        url(/themes/friendup_forest/gfx/win_resizewin_passive.png);
	$WinGadResizeImgA:       url(/themes/friendup_forest/gfx/win_resizewin_active.png);
	$WinGadZoomImg:          url(/themes/friendup_forest/gfx/win_maximize_passive.png);
	$WinGadZoomImgA:         url(/themes/friendup_forest/gfx/win_maximize_active.png);
	$WinGadCloseImg:         url(/themes/friendup_forest/gfx/win_close_passive.png);
	$WinGadCloseImgA:        url(/themes/friendup_forest/gfx/win_close_active.png;
	$WinGadDepthImg:         url(/themes/friendup_forest/gfx/win_depth_passive.png);
	$WinGadDepthImgA:        url(/themes/friendup_forest/gfx/win_depth_active.png);
	$WinGadMinimizeImg:      transparent;
	$WinGadMinimizeImgA:     transparent;
	$WinGadResizeColActive:  #3B81C2;
	$WinGadResizeCol:        #808080;
	$WinFrameBgBlur:         #808080;
	$WinFrameBgDarkBlur:     #606060;
	$WinFrameBgActive:       #3B81C2;
	$WinFrameBgDarkActive:   #2D618B;
	
	/* Gui image elements */
	$GuiImgWinTitle:         url(/webclient/gfx/system/window_topgradient_off.png);
	$GuiImgWinTitleActive:   url(/webclient/gfx/system/window_topgradient.png);
	$GuiImgWinLoading:       #505050 url(/webclient/gfx/system/busycube.gif) no-repeat center center;
	
	/* Icon set */
	$IconSmallArrowUp:       url(/webclient/gfx/icons/16x16/actions/arrow-up.png);
	$IconSmallArrowDown:     url(/webclient/gfx/icons/16x16/actions/arrow-down.png);
	$IconSmallArrowLeft:     url(/webclient/gfx/icons/16x16/actions/arrow-left.png);
	$IconSmallArrowRight:    url(/webclient/gfx/icons/16x16/actions/arrow-right.png);
	
	$IconSmallSave:          url(/webclient/gfx/icons/16x16/actions/dialog-ok.png);
	$IconSmallUse:           url(/webclient/gfx/icons/16x16/actions/dialog-ok-apply.png);
	$IconSmallCancel:        url(/webclient/gfx/icons/16x16/actions/dialog-cancel.png);
	
	$IconSmallListAdd:       url(/webclient/gfx/icons/16x16/actions/list-add.png);
	$IconSmallListRemove:    url(/webclient/gfx/icons/16x16/actions/list-remove.png);
	
	/* Other */
	$LineHeightInput:        14px;
}

body, #DeepestField, #Screens > div
{
	color: $ColorDefault;
	background: #000000;
}

a, a:visited
{
	color: #ffeeaa;
}

hr
{
	border: 0;
	height: 1px;
	background: rgba(200,200,200,0.4);
}

html .BackgroundDefault
{
	background-color: $ColorBackground;
}

.BordersDefault
{
	border-top: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	border-left: 1px solid rgba(0,0,0,0.4);
	border-right: 1px solid rgba(0,0,0,0.6);
}

.BordersDefaultNegative
{
	border-top: 1px solid rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.4);
	border-left: 1px solid rgba(255,255,255,0.4);
	border-right: 1px solid rgba(255,255,255,0.6);
}

.BorderTop
{
	border-top: 1px solid $ColorBorder;
}

.BorderBottom
{
	border-bottom: 1px solid $ColorBorder;
}

.BorderLeft
{
	border-left: 1px solid $ColorBorder;
}

.BorderRight
{
	border-right: 1px solid $ColorBorder;
}

.BordersDefaultButton
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #909090;
}

.BordersDefaultButtonHover
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.BordersDefaultButtonActive
{
	border-top: 1px solid #6EC9F2;
	border-bottom: 1px solid #335D70;
	border-left: 1px solid #6EC9F2;
	border-right: 1px solid #335D70;
}

.ButtonGradients
{
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #424242 12%, #000000 51%, #111111 60%, #2b2b2b 95%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#424242 12%,#000000 51%,#111111 60%,#2b2b2b 95%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#424242 12%,#000000 51%,#111111 60%,#2b2b2b 95%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.ButtonGradientsHover
{
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #424242 12%, #000000 51%, #111111 60%, #2b2b2b 95%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#424242 12%,#000000 51%,#111111 60%,#2b2b2b 95%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#424242 12%,#000000 51%,#111111 60%,#2b2b2b 95%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.BordersDefaultButtonActive
{
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #424242 12%, #000000 51%, #111111 60%, #2b2b2b 95%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#424242 12%,#000000 51%,#111111 60%,#2b2b2b 95%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#424242 12%,#000000 51%,#111111 60%,#2b2b2b 95%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.Selected
{
	background-color: $ColorBgSelect;
	color:            $ColorSelect;
}

.ToolbarBackground
{
	background-color: $ColorBgBox;
}

.WindowBackground
{
	background-color: $ColorBackground;	
}

.WindowBackgroundActive
{
	background-color: $ColorBackground;
}

.WindowContentBorders
{
	border-left: 3px solid #808080;
	border-right: 3px solid #808080;
	border-bottom: 3px solid #808080;
}

.WindowContentBordersActive
{
	border-left: 3px solid #2F6699;
	border-right: 3px solid #2F6699;
	border-bottom: 3px solid #2F6699;
}

.TabBorders
{
	border-top: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 0;
}

.TabActiveBorders
{
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 0;
}

.TabGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #DEDEDE),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #DEDEDE 12%, #FFFFFF 15%, #EDEDED 100%);
}

.TabActiveGradients
{
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.12, #9BD6F2),
		color-stop(0.15, #FFFFFF),
		color-stop(1, #FDFDFD)
	);
	background-image: -o-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -moz-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -webkit-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: -ms-linear-gradient(bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
	background-image: linear-gradient(to bottom, #9BD6F2 12%, #FFFFFF 15%, #FDFDFD 100%);
}

/* Buttons */

html button, html .Button
{
	border-top: 1px solid rgba(228,255,170,0.10);
	background: #414424; /* Old browsers */
	background: -moz-linear-gradient(top,  #414424 0%, #4f5b30 10%, #25270d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #414424 0%,#4f5b30 10%,#25270d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #414424 0%,#4f5b30 10%,#25270d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414424', endColorstr='#25270d',GradientType=0 ); /* IE6-9 */

}

html button:hover, html .Button:hover
{
	border-top: 1px solid rgba(228,255,170,0.10);
	background: #404227; /* Old browsers */
	background: -moz-linear-gradient(top,  #404227 0%, #5c663f 10%, #25270d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #404227 0%,#5c663f 10%,#25270d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #404227 0%,#5c663f 10%,#25270d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404227', endColorstr='#25270d',GradientType=0 ); /* IE6-9 */

}


/* Dialog boxes */

.Dialog
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $ColorBackground;
}

.Dialog > .DialogHeader with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 39px;
	border-bottom: $BorderRuler;
	color: $ColorDialogHeader;
}

.Dialog > .DialogContent, .Dialog > .DialogContentMiddle,
.Dialog > .DialogContentBottom
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	overflow: auto;
}

.Dialog > .DialogContentMiddle
{
	top: 40px;
}

.Dialog > .DialogContentBottom
{
	bottom: 0px;
	top: 40px;
}

.Dialog > .DialogButtons with .WindowBackground
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 39px;
	border-top: $BorderRuler;
	color: $ColorDialogButtons;
}

.Dialog > .DialogButtons > button
{
	margin: 6px 0 0 6px;
}

.Dialog .DialogMargin
{
	padding: $PaddingBox;
}

.Padding
{
	padding: $PaddingBox;
	box-sizing: border-box;
}

.PaddingTop
{
	padding-top: $PaddingBox;
	box-sizing: border-box;
}

.PaddingLeft
{
	padding-left: $PaddingBox;
	box-sizing: border-box;
}

.PaddingRight
{
	padding-right: $PaddingBox;
	box-sizing: border-box;
}

.PaddingBottom
{
	padding-bottom: $PaddingBox;
	box-sizing: border-box;
}

.FontLarge
{
	font-weight: normal;
	font-size: 28px;
}

.FontMedium
{
	font-weight: normal;
	font-size: 20px;
}

.IconSmall:before { font-family: FontAwesome; font-size: 16px; vertical-align: top; }
.IconMedium:before { font-family: FontAwesome; font-size: 24px; vertical-align: top; }
.IconLarge:before { font-family: FontAwesome; font-size: 32px; vertical-align: top; }
.IconHeightSmall { height: 28px; padding: 4px; box-sizing: border-box; }
.IconHeightMedium { height: 36px; padding: 4px; box-sizing: border-box; }
.IconHeightLarge { height: 44px; padding: 4px; box-sizing: border-box; }

/* Extra styling just for this theme ---------------------------------------- */

.View
{
	border-bottom: 1px solid #707070;
	border-radius: 3px 3px 4px 4px;
	-moz-border-radius: 3px 3px 4px 4px;
	-webkit-border-radius: 3px 3px 4px 4px;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
}

.View.Active
{
	border-bottom: 1px solid #2F6699;
}

html .View.Active > .Title
{
	text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
}

.View.Active > .Title > div > .Close:hover,
.View.Active > .Title > div > .Close
{
	background-image: url(/themes/friendup_forest/gfx/win_close_active.png);
}

.View > .LeftBar
{
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
}

.View > .RightBar, .View > .Resize
{
	border-radius: 0 0 3px;
	-moz-border-radius: 0 0 3px;
	-webkit-border-radius: 0 0 3px;
}

/* Tabs */

html body .Tab
{
	background: $ColorBackground;
	color: $ColorDefault;
}

html body .TabActive
{
	background: $ColorBgStBlueLight;
	color: $ColorStBlueLight;
}

html body .PageActive
{
	border-top-color: $ColorBgStBlueLight;
}

/* End tabs */

table.List > tbody > tr.sw1 > td
{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
}
table.List > tbody > tr.sw2 > td
{
	border-top: 1px solid #B7BD69;
	border-bottom: 1px solid #d8d8d8;
}

table.List > tbody > tr.sw1 > th,
table.List > tbody > tr > th
{
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #d8d8d8;
}
table.List > tbody > tr.sw2 > th
{
	border-top: 1px solid #B7BD69;
	border-bottom: 1px solid #d0d0d0;
}

.View > .Content:before
{
	content: " ";
	display: block;
	position: absolute;
	height: 1px;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 2147483647;
}

html .VolumeGauge
{
	background: none;
	border-right: 1px solid rgba(200,200,200,0.05);
	box-shadow: inset 0px 0px 16px 3px rgba(0,0,0,0.7);
}

html .VolumeGauge > .Inner
{
	background: rgba(47,46,20,0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(60,61,29,0.4);
}
html .Active .VolumeGauge > .Inner
{
	background: rgba(47,46,20,0.7);
	box-shadow: inset 0px 0px 5px 1px rgba(200,190,200,0.1);
}

html .File a
{
	color: #ffeeaa;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

html .File.Selected .Title
{
	background-color: rgba(120,90,120,0.4);
	box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.5);
}

html #DoorsScreen > .ScreenContent > .Scroller > div > .File > .Title
{
	color: #ffeeaa;
}

html .Active .VolumeGauge
{
	background: none;
	border-right: 1px solid rgba(200,200,200,0.05)
}

html .View > .Content
{
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
}

html .View.Active > .Resize 
{
    background-color: transparent;
}

.View > .Resize 
{
    background-image: url(/themes/friendup_forest/gfx/win_resizewin_passive.png);
    background-repeat: no-repeat;
    background-color: transparent !important;
    background-position: 1px 4px;
    cursor: hand;
    cursor: pointer;
    right: 0px;
    bottom: 0px;
    width: 21px !important;
    height: 16px !important;
}

.Screen > .TitleBar .ScreenList > img 
{
    display: none;
}

html .Screen > .TitleBar > .Left
{
	border-left: 1px solid rgba(0,0,0,0.2)
}

html .Screen > .TitleBar .ScreenList
{
	background-image: url(/themes/friendup_forest/gfx/screen_switch.png);
	background-repeat: no-repeat;
	background-position: center;
	border-left: 1px solid rgba(0,0,0,0.1);
}

@-webkit-keyframes hueshift
{
	from{ -webkit-filter: hue-rotate(-125deg) saturate(50%); }
	to{ -webkit-filter: hue-rotate(-135deg) saturate(60%); }
}

@keyframes hueshift
{
	from{ filter: hue-rotate(-125deg) saturate(50%); }
	to{ filter: hue-rotate(-135deg) saturate(60%); }
}

html .File .Icon, html .Desklet .Launcher
{
	filter: hue-rotate(-130deg) saturate(50%);
	animation: hueshift 4s infinite;
	-webkit-filter: hue-rotate(-130deg) saturate(50%);
	-webkit-animation: hueshift 4s infinite;
}

html .IconWindow.View > .Content
{
	background: #0D0E02;
}

html .Screen > .TitleBar
{
	background: rgba(40,55,0,0.2);
	color: #ffeeaa;
}

html .Screen > .TitleBar:after
{
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 32px;
	pointer-events: none;
	background-image: url(/themes/friendup_forest/gfx/logo_20px.png);
	background-position: 5px 6px;
	background-repeat: no-repeat;
	filter: brightness(100%); 
	-webkit-filter: brightness(100%);
}

html #WorkbenchMenu
{
	background: transparent;
}

html #WorkbenchMenu .Menu
{
	color: #ffeeaa;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

html #WorkbenchMenu .Open ul > li
{
	color: #ffeeaa;
	background: none;
}

html #WorkbenchMenu .Open > ul
{
	color: #ffeeaa;
	background: rgba(0,0,0,0.9);
}

html #WorkbenchMenu .Open ul > li:hover, 
html #WorkbenchMenu .Open ul > li.Open
{
	background: rgba(60,60,60,0.6);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

html .View > .RightBar
{
	border-radius: 0 0 5px 0;
}

html .View > .LeftBar
{
	border-radius: 0 0 0 5px;
}

html .View > .Title > div > .Close:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 34px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

html .View
{
	background: url(/themes/friendup_forest/gfx/win_titlebg_passive.jpg);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

html .View.Active
{
	background: url(/themes/friendup_forest/gfx/win_titlebg_active.jpg);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

html .View > .Title
{
	border-top: 1px solid rgba(255,244,255,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background: none;
	color: #ffeeaa;
}

html .View.Active > .Title
{
	border-top: 1px solid rgba(255,244,255,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background: none;
}

html .View > .Title > div > .Close
{
	border-right: 1px solid rgba(0,0,0,0.1);
}

html .View > .BottomBar, html .View.Active > .BottomBar
{
	border-top: 1px solid rgba(0,0,0,0.4);
}

html .View > .BottomBar, html .View.Active > .BottomBar,
html .View > .LeftBar, html .View.Active > .LeftBar,
html .View > .RightBar, html .View.Active > .RightBar
{
	background: none;
}

html .View > .Title > div > .Zoom
{
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.1);
}

html .View > .Title > div > .Zoom:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 0px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

.View.Active > .Title > div > .Zoom:hover,
.View.Active > .Title > div > .Zoom
{
	background-image: url(/themes/friendup_forest/gfx/win_maximize_active.png);
}

html .View > .Title > div > .Depth
{
	position: relative;
	border-left: 1px solid rgba(0,0,0,0.1);
}

html .View > .Title > div > .Depth:after
{
	content: " ";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 0px;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	display: block;
}

.View.Active > .Title > div > .Depth:hover,
.View.Active > .Title > div > .Depth
{
	background-image: url(/themes/friendup_forest/gfx/win_depth_active.png);
}

html .View > .Title > div > span
{
	width: calc(100% - 112px);
	max-width: 100%;
}


html #Statusbar .Task
{
	border-radius: 3px;
	height: 27px;
	padding: 5px 8px 7px 38px;
	background-color: rgba(13, 14, 2, 0.49);
	background-size: 22px 22px;
	color: #ffeeaa;
}

html #Statusbar .Task:hover
{
	-webkit-filter: brightness(125%);
	filter: brightness(125%);
	-moz-filter: brightness(125%);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

html #Statusbar .Task.Active
{
	background-color: rgba(49, 50, 19, 0.74);
	height: 27px;
}

html .PageActive
{
	border-top: 2px solid #3B81C2;
	border-radius: 3px 3px 0 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

html .Tab:before, html .TabActive:before
{
	margin-right: 4px;
}

html .Tab
{
	background-image: url(/themes/friendup_forest/gfx/win_titlebg_passive.png);
	color: #ccb08d;
}

html .TabActive
{
	font-weight: bold;
	color: #ffeeaa;
    background-image: url(/themes/friendup_forest/gfx/win_titlebg_active.png);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5)
}

html .Pages > .Tab, html .Pages > .TabActive
{
	z-index: 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    margin: 5px 0 0 5px;
}

html #DoorsScreen .ScreenContent
{
	overflow: visible;
}

html #DoorsScreen .ScreenContent:after
{
    z-index: -1;
    content: " ";
    position: absolute;
    width: 100%;
    top: -32px;
    height: calc(100% + 32px);
    left: 0;
    background: inherit;
}

html body > #MobileMenu.Visible
{
	background: rgba(17,17,17,0.67);
}

html #SessionBlock > .VContentTop
{
	background: rgba(0,0,0,0.8);
}

/* Some links --------------------------------------------------------------- */

a
{
	text-decoration: none;
}

a, a:visited
{
	color: #115A9E;
}

a:active, a:hover
{
	color: #26537D;
}

/* Toolbar icons ------------------------------------------------------------ */

.Toolbar .IconSmall
{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	position: relative;
}

.Toolbar .IconSmall:after
{
	content: " ";
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(0);
	-webkit-filter: invert(0);
	transition: filter,webkit-filter 0.5s;
}

.Toolbar .IconSmall:hover:after
{
	filter: invert(1);
	-webkit-filter: invert(1);
}

.Toolbar .ToolbarArrowMove.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_arrow_move_white.png);
}

.Toolbar .ToolbarPointer.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_pointer_white.png);
}

.Toolbar .ToolbarMagnifier.IconSmall:after
{
	background-image: url(/themes/friendup/gfx/icons/Custom/toolbar_magnifier_white.png);
}

/* File icons --------------------------------------------------------------- */

html .File .Icon
{
	width: 80px;
	height: auto;
}

html .File .Icon > div
{
	height: 80px;
}

html .File a
{
	color: #404040;
}

html .File .Icon *
{
	background-size: 80px;
}

html .File .Icon .File
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_unknown.png);
}

html .File .Icon .Drive
{
	/*background-image: url(/themes/friendup/gfx/icons/disk.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/disk.png);
}

html .File .Icon .Directory
{
	/*background-image: url(/themes/friendup/gfx/icons/directory.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_closed.png);
}

html .File .Icon .DirectoryBrown
{
	/*background-image: url(/themes/friendup/gfx/icons/directory.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_brown_closed.png);
}

html .File.Selected .Icon .DirectoryBrown
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_brown_open.png);
}

html .File .Icon .Directory.Upload
{
	/*background-image: url(/themes/friendup/gfx/icons/directory.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_closed.png);
}

html .File .Icon .NetworkDirectory
{
	/*background-image: url(/themes/friendup/gfx/icons/network.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_closed.png);
}

html .File.Selected .Icon .Directory,
html .File.Selected .Icon .Directory.Upload,
html .File.Selected .Icon .NetworkDirectory
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_open.png);
}


html .File .Icon .Arena
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_2.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_unknown.png);
}

html .File .Icon .System
{
	/*background-image: url(/themes/friendup/gfx/icons/disk_system.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/disk_system.png);
}


html .File .Icon .Home
{
	/*background-image: url(/themes/friendup/gfx/icons/disk_home.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/disk_home.png);
}

html .File .Icon .Application
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_executable.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_script.png);
}

html .File .Icon .Trashcan
{
	background-image: url(/themes/friendup/gfx/icons/directory_trash.png);
}

html .File .Icon .Ram
{
	background-image: url(/webclient/gfx/icons/64x64/devices/media-flash.png);
}

html .File .Icon .Door
{
	height: 56px;
	background-image: url(/themes/friendup/gfx/icons/Custom/disk.png);
}

html .File .Icon .SystemDisk
{
	/*background-image: url(/themes/friendup/gfx/icons/disk_system.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/disk_system.png);
}

html .File .Icon .Door.Assign
{
	background-image: url(/themes/friendup/gfx/icons/Custom/disk_assign.png);
}

html .File .Icon .article
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_text.png);
}

html .File .Icon .TypeJPG, html .File .Icon .TypeJPEG, html .File .Icon .TypePNG, 
html .File .Icon .TypeGIF
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_image.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_image.png);
}

html .File .Icon .TypeDOC
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_doc.png);
}

html .File .Icon .TypeODT
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_odt.png);
}

html .File .Icon .TypeABW
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_abw.png);
}

html .File .Icon .TypeDOCX
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_docx.png);
}

html .File .Icon .TypePDF
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_blank_1.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_pdf.png);
}

html .File .Icon .TypeTXT
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_text.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_text.png);
}

html .File .Icon .TypeRUN
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_executable.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_run.png);
}

html .File .Icon .TypeMP3
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_audio_mp3.png);
}

html .File .Icon .TypeOGG
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_audio_ogg.png);
}

html .File .Icon .TypeWAV
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_video.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_audio_wav.png);
}

html .File .Icon .TypeFLAC
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_video.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_audio_flac.png);
}

html .File .Icon .TypeHTML
{
	/*background-image: url(/themes/friendup/gfx/icons/icon_text.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_html.png);
}

html .File .Icon .TypeZip
{
	/*background-image: url(/themes/friendup/gfx/icons/archive_zip.png);*/
	background-image: url(/themes/friendup/gfx/icons/Custom/archive.png);
}

html .File .Icon .TypeJS
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_js.png);
}

html .File .Icon .TypeJSX
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_jsx.png);
}

html .File .Icon .TypeAVI
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_movie_avi.png);
}

html .File .Icon .TypeFLV
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_movie_flv.png);
}

html .File .Icon .TypeMOV
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_movie_mov.png);
}

html .File .Icon .TypeWEBM
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_movie_webm.png);
}

html .File .Icon .TypeMPG, html .File .Icon .TypeMPEG
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_movie_mpg.png);
}

html .File .Icon .TypeMOV, html .File .Icon .TypeMP4
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_movie_mp4.png);
}

html .File .Icon .System_Dormant_Function
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_script.png);
}

html .File .Icon .System_File_Meta
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_text.png);
}

html .File .Icon .System_Library
{
	background-image: url(/themes/friendup/gfx/icons/Custom/icon_library.png);
}

/* System icons */

html .File .Icon .System_Tools
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_tools_closed.png);
}

html .File.Selected .Icon .System_Tools
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_tools_open.png);
}

html .File .Icon .System_Settings
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_settings_closed.png);
}

html .File.Selected .Icon .System_Settings
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_settings_open.png);
}

html .File .Icon .System_Documentation
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_documentation_closed.png);
}

html .File.Selected .Icon .System_Documentation
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_documentation_open.png);
}

html .File .Icon .System_Modules
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_modules_closed.png);
}

html .File.Selected .Icon .System_Modules
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_modules_open.png);
}

html .File .Icon .System_Software
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_software_closed.png);
}

html .File.Selected .Icon .System_Software
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_software_open.png);
}

html .File .Icon .System_Functions
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_functions_closed.png);
}

html .File.Selected .Icon .System_Functions
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_functions_open.png);
}

html .File .Icon .System_Devices
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_devices_closed.png);
}
html .File.Selected .Icon .System_Devices
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_devices_open.png);
}

html .File .Icon .System_Libraries
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_libraries_closed.png);
}

html .File.Selected .Icon .System_Libraries
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_libraries_open.png);
}

html .File .Icon .System_Trashcan
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_trash_empty.png);
}

html .File .Icon .System_Trashcan_Full
{
	background-image: url(/themes/friendup/gfx/icons/Custom/directory_trash_full.png);
}

/* Mouse pointers ----------------------------------------------------------- */

body
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_blue.png) 7 3, auto;
}

html .MousePointer,
html .File, html button, html .Button, html .Desklet .Launcher, html #Tray > div, 
html #Statusbar .Task, 
html .View > .Title > div > .Zoom,
html .View > .Title > div > .Depth,
html .View > .Title > div > .Close,
html .View > .Resize,
html .View > .Title,
html .View > .Title *,
html .View > .Title > div > span,
html .View > .Title > div > span:hover,
html select,
html .List > div,
html .Tab, html .TabActive,
html .ToolButton, html .ToolSelect, html .ToolButtonLabel,
html #WorkbenchMenu .Menu, html #WorkbenchMenu .Open, html #WorkbenchMenu .Menu:hover,
html input[type=checkbox], html input[type=radio], html input[type=image]
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_green.png) 7 3, auto;
}

html .MouseCrosshair
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_crosshair.png) 15 15, auto;
}

html .MouseCursor,
html input, html textarea
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_text.png) 7 3, auto;
}

html .MouseMove,
html .View > .Title:active, html .View:active > .Title,
html .View:active, html .View[moving=moving], html .View[moving=moving] *,
html .View > .MoveOverlay, html .Screen > .MoveOverlay
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_grab.png) 7 3, auto !important;
}

html .MouseRestricted,
html body #WorkbenchMenu .Menu li.Disabled, 
html body #WorkbenchMenu .Menu li.Disabled:hover, 
html body #WorkbenchMenu .Menu li.Disabled *
{
	cursor: url(/themes/friendup/gfx/icons/Custom/mouse_pointer_red.png) 7 3, auto !important;
}

