<div class="ContentFull ScrollArea SmoothScrolling Padding">
    <h2>
    	The Friend Browser
    </h2>
    <p>
    	This application is built for you to be able to access important
    	sites inside of the Friend Workspace. It is not a regular web browser
    	that allows you to visit any arbitrary web site.
    </p>
    <p>
    	For more information about the Friend Browser, please contact the
    	development team at <a href="mailto:developer@friendos.com">developer@friendos.com</a>.
    </p>
</div>
