
				<div class="HRow Box">
					<div class="HContent25 FloatLeft">
						<strong id="ApplicationLabel">Name:</strong>
					</div>
					<div class="HContent5 FloatLeft">&nbsp;</div>
					<div class="HContent70 FloatLeft">
						<input type="text" class="FullWidth" id="ServiceName"/>
					</div>
				</div>
				
				<div id="CustomGUI" class="Box MarginTop">
				</div>
				
				<div id="CommandPart" class="Box MarginTop">
				</div>
				
				<div id="ServicesHost" class="Box MarginTop">
				</div>

