
	<script src="/webclient/js/io/cajax.js"></script>
	<script src="Progdir:Scripts/mygui.js"></script>

	<link rel="stylesheet" href="Progdir:Stylesheets/gui.css"/>
	<div class="ContentFull">
		<div class="VContentTop TopContainer">
			<div class="HContentLeft HContent30 VContent100 BackgroundLists Padding ScrollableY" id="Services">
			
			</div>
			<div class="HContentRight HContent70 VContent100 BackgroundDefault Padding" id="Settings">
				
			</div>
		</div>
		
	</div>
	
	<script src="Progdir:Scripts/mygui.js"></script>



