
	<div class="VContentTop BackgroundWindow TheContent">
		<div class="ContentFull">
			<div class="HContentLeft BorderRight BackgroundLists LeftSide ScrollArea">
				<div id="VTabs"></div>
			</div>
			<div class="HContentRight RightSide ScrollArea">
				<div id="VPage1">
					<div class="Padding">
						Hello
					</div>
				</div>
				<div id="VPage2">
					<div class="Padding">
						Hello 2
					</div>
				</div>
				<!--<div id="VPage3">
				</div>
				<div id="VPage4">
				</div>
				<div id="VPage5">
				</div>-->
			</div>
		</div>
	</div>
	<div class="VContentBottom BorderTop BackgroundToolbar TheBottom">
		<div class="Padding">
			<button type="button" class="Button IconSmall fa-cancel" onclick="doCancel()">
				{i18n_cancel}
			</button>
		</div>
	</div>
	
	<link rel="stylesheet" href="Progdir:Css/prefs.css"/>
	<script src="Progdir:Scripts/prefs.js"></script>

