
	<h2>
		{i18n_template_details}
	</h2>
	
	<h1 class="ImageHeading">
		{template_title}
	</h1>
	
	<div class="Box Padding">
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_template_name}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input id="TempName" type="text" class="FullWidth" value="{template_name}"/>
			</div>
		</div>
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_template_description}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<textarea id="TempDescription" class="FullWidth">{template_description}</textarea>
			</div>
		</div>
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_template_language}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<select class="InputHeight FullWidth" id="TempLanguage">
					{template_language}
				</select>
			</div>
		</div>
		
		<div id="TempEditContainer">
			<div class="HRow">
				<button class="ButtonAlt IconSmall FloatRight MarginLeft" id="TempSaveBtn">
					{i18n_save}
				</button>
				<button class="ButtonAlt IconSmall FloatRight MarginLeft" id="TempCancelBtn">
					{i18n_cancel}
				</button>
			</div>
		</div>
		
	</div>
	
	
	<div id="AdminApplicationContainer">
		<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">
			<div class="HContent50 FloatLeft">
				<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="ApplicationEditBack"></button>
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_applications}</strong>
				</h3>
			</div>
			<div class="HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-plus-circle Open" id="ApplicationEdit"></button>
			</div>
		</div>
		<div class="List" id="ApplicationGui">
			{applications}
		</div>
	</div>
	
	
	<div id="AdminLooknfeelContainer">
		<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">
			<div class="HContent50 FloatLeft">
				<h3 class="NoMargin">
					<strong>{i18n_looknfeel}</strong>
				</h3>
			</div>
			<div class="HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-edit"></button>
			</div>
		</div>
		<div class="Box Padding">
			<div class="HRow">
				<div class="HContent50 FloatLeft">
					<div class="HRow">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_theme}</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="theme_name">
							{theme_name}
						</div>
					</div>
					<div class="HRow">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_wallpaper}</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="wallpaper_name">
							{wallpaper_name}
						</div>
					</div>
					<div class="HRow">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_window_style}</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="theme_style">
							{theme_style}
						</div>
					</div>
					<div class="HRow">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_darktheme}</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="theme_dark">
							{theme_dark}
						</div>
					</div>
					<div class="HRow">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_system_disk}</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="system_disk_state">
							{system_disk_state}
						</div>
					</div>
					<div class="HRow">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_workspaces}</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="workspace_count">
							{workspace_count}
						</div>
					</div>
				</div>
				<div class="HContent50 FloatLeft" style="position: relative; min-height:110px; border-radius: 2px; background: black; border: 1px solid rgba(0,0,0,0.5)" id="ThemePreview"></div>			
			</div>
			<!--<div class="HRow">
				<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" onclick="Sections.user_edit( {userid} )"></button>
			</div>-->
		</div>
	</div>
	
	
	
