
	<h2>
		{i18n_workgroup_profile}
	</h2>
	
	<h1 class="ImageHeading">
		{workgroup_name}
	</h1>
	<div class="Box Padding">
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_workgroup_name}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input id="WorkgroupName" type="text" class="FullWidth" value="{workgroup_name}"/>
			</div>
		</div>
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_workgroup_description}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<textarea class="FullWidth">{workgroup_description}</textarea>
			</div>
		</div>
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" onclick="Sections.accounts_workgroups('edit',{id:{id},_this:this})"></button>
		</div>
	</div>

	<h2 class="MarginTop">
		{i18n_roles}
	</h2>
	<div class="Box Padding">
		{roles}
	</div>
	
