
	<h2>
		{i18n_user_profile}
	</h2>
	
	<h1 class="ImageHeading">
		{user_name}
	</h1>
	<div class="Box Padding" id="UserBasicDetails">
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_user_fullname}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input type="text" class="FullWidth" id="usFullname" value="{user_fullname}"/>
			</div>
		</div>
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_user_username}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input type="text" class="FullWidth" id="usUsername" value="{user_username}"/>
			</div>
		</div>
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_user_email}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input type="text" class="FullWidth" id="usEmail" value="{user_email}"/>
			</div>
		</div>
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_user_password}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input type="password" class="FullWidth" id="usPassword" value="********"/>
			</div>
		</div>
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" id="UserBasicEdit"></button>
		</div>
	</div>

	<h2 class="MarginTop">
		{i18n_looknfeel}
	</h2>
	<div class="Box Padding">
		<div class="HRow">
			<div class="HContent50 FloatLeft">
				<div class="HRow">
					<div class="HContent50 FloatLeft Ellipsis">
						<strong>{i18n_theme}</strong>
					</div>
					<div class="HContent50 FloatLeft Ellipsis">
						{theme_name}
					</div>
				</div>
				<div class="HRow">
					<div class="HContent50 FloatLeft Ellipsis">
						<strong>{i18n_wallpaper}</strong>
					</div>
					<div class="HContent50 FloatLeft Ellipsis">
						{wallpaper_name}
					</div>
				</div>
				<div class="HRow">
					<div class="HContent50 FloatLeft Ellipsis">
						<strong>{i18n_window_style}</strong>
					</div>
					<div class="HContent50 FloatLeft Ellipsis">
						{theme_style}
					</div>
				</div>
				<div class="HRow">
					<div class="HContent50 FloatLeft Ellipsis">
						<strong>{i18n_darktheme}</strong>
					</div>
					<div class="HContent50 FloatLeft Ellipsis">
						{theme_dark}
					</div>
				</div>
				<div class="HRow">
					<div class="HContent50 FloatLeft Ellipsis">
						<strong>{i18n_system_disk}</strong>
					</div>
					<div class="HContent50 FloatLeft Ellipsis">
						{system_disk_state}
					</div>
				</div>
				<div class="HRow">
					<div class="HContent50 FloatLeft Ellipsis">
						<strong>{i18n_workspaces}</strong>
					</div>
					<div class="HContent50 FloatLeft Ellipsis">
						{workspace_count}
					</div>
				</div>
			</div>
			<div class="HContent50 FloatLeft">
				{theme_preview}
			</div>			
		</div>
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" onclick="Sections.user_edit( {userid} )"></button>
		</div>
	</div>
	
	<h2 class="MarginTop">
		{i18n_workgroups}
	</h2>
	<div class="Box Padding" id="WorkgroupGui">
		{workgroups}
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" id="WorkgroupEdit"></button>
		</div>
	</div>
	
	<h2 class="MarginTop">
		{i18n_roles}
	</h2>
	<div class="Box Padding">
		{roles}
		<!--<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" onclick="Sections.userrole_edit({userid},this)"></button>
		</div>-->
	</div>
	
	<h2 class="MarginTop">
		{i18n_storage}
	</h2>
	<div class="Box Padding" id="StorageGui">
		{storage}
	</div>
	
	<h2 class="MarginTop">
		{i18n_applications}
	</h2>
	<div class="Box Padding">
		{applications}
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit"></button>
		</div>
	</div>
	
