	
	<div class="HRow PaddingBottom">
		<div class="HContent50 FloatLeft">
			<!--<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left" id="TempBackBtn"></button>-->
			<h3 class="NoMargin FloatLeft">
				<strong>{i18n_template_details}</strong>
			</h3>
		</div>
	</div>
	
	<!--<div class="HRow BackgroundNegativeAlt Negative Padding">-->
	<div class="HRow BackgroundNegative Negative Padding">
		<div class="HContent30 FloatLeft Ellipsis">
			<!--<div class="BackgroundPositiveAlt NegativeAlt PaddingSmall FloatLeft IconMedium fa-file-text-o"></div>-->
			<div class="BackgroundPositive Positive PaddingSmall FloatLeft IconMedium fa-file-text-o"></div>
		</div>
		<div class="HContent70 FloatLeft Ellipsis">
			<h2 class="ImageHeading NoMargin">
				<strong>{template_title}</strong>
			</h2>
		</div>
	</div>
	
	<div class="Box Padding" id="TempBasicDetails">
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_template_name}:</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input id="TempName" type="text" class="FullWidth" value="{template_name}"/>
			</div>
		</div>
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_template_description}:</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<textarea id="TempDescription" class="FullWidth" style="resize: none;">{template_description}</textarea>
			</div>
		</div>
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_template_language}:</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<select class="InputHeight FullWidth" id="TempLanguages">
					{template_language}
				</select>
			</div>
		</div>
		
		<div id="TempEditContainer">
			<div class="HRow">
				<!--<button class="IconButton IconSmall IconToggle ButtonSmall FloatLeft NegativeAlt fa-trash" id="TempDeleteBtn"></button>-->
				<button class="IconButton IconSmall IconToggle ButtonSmall FloatLeft Positive fa-trash" id="TempDeleteBtn"></button>
				<div id="TempEditButtons">
					<!--<button class="ButtonAlt IconSmall FloatRight MarginLeft" id="TempSaveBtn">-->
					<button class="Button IconSmall FloatRight MarginLeft" id="TempSaveBtn">
						{i18n_save}
					</button>
					<!--<button class="ButtonAlt IconSmall FloatRight MarginLeft" id="TempCancelBtn">-->
					<button class="Button IconSmall FloatRight MarginLeft" id="TempCancelBtn">
						{i18n_cancel}
					</button>
				</div>
			</div>
		</div>
		
	</div>
	
	
	<div id="AdminApplicationContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="PaddingSmall HContent50 FloatLeft">
				<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="ApplicationEditBack"></button>
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_applications}</strong>
				</h3>
			</div>
			<div class="PaddingSmall HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-plus-circle Open" id="ApplicationEdit"></button>
			</div>
		</div>
		<div id="ApplicationGui">
			{applications}
		</div>
	</div>
	
	
	<div id="AdminDockContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="PaddingSmall HContent50 FloatLeft">
				<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="DockEditBack"></button>
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_dock}</strong>
				</h3>
			</div>
			<div class="PaddingSmall HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-plus-circle Open" id="DockEdit"></button>
			</div>
		</div>
		<div id="DockGui">
			{dock}
		</div>
	</div>
	
	
	<div id="AdminStartupContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="PaddingSmall HContent50 FloatLeft">
				<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="StartupEditBack"></button>
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_startup}</strong>
				</h3>
			</div>
			<div class="PaddingSmall HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-plus-circle Open" id="StartupEdit"></button>
			</div>
		</div>
		<div id="StartupGui">
			{startup}
		</div>
	</div>
	
	
	<div id="AdminLooknfeelContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="PaddingSmall HContent100 FloatLeft">
				<h3 class="NoMargin">
					<strong>{i18n_looknfeel}</strong>
				</h3>
			</div>
		</div>
		<div class="Box Padding">
			<div class="HRow">
				<div class="HContent60 FloatLeft PaddingRight">
				
					<div class="HRow MarginBottom">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_darktheme}:</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="theme_dark">
							{theme_dark}
						</div>
					</div>
					
					<div class="HRow MarginBottom">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_window_controls}:</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="theme_style">
							{theme_controls}
						</div>
					</div>
					
					<div class="HRow MarginBottom">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_workspaces}:</strong>
						</div>
						<div class="HContent20 FloatLeft Ellipsis" id="workspace_count">
							{workspace_count}
						</div>
					</div>
					
					<div class="HRow MarginBottom">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_wallpaper}:</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="wallpaper_button">
							{wallpaper_button}
						</div>
					</div>
					
				</div>
				<div class="HContent40 FloatLeft" style="position: relative; height:150px; border-radius: 2px; background: black; border: 1px solid rgba(0,0,0,0.5)" id="AdminWallpaperPreview">
					<canvas id="AdminWallpaper" width="256" height="256"></canvas>
				</div>			
			</div>
		</div>
	</div>
	
	
	
