
	<!--<div class="HRow BackgroundNegativeAlt Negative PaddingLeft PaddingTop PaddingRight">-->
	<div class="HRow BackgroundNegative Negative PaddingLeft PaddingTop PaddingRight">
		<div class="HContent50 FloatLeft">
			<!--<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left" id="UserBackBtn"></button>-->
			<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left" id="UserBackBtn"></button>
			<h3 class="NoMargin FloatLeft">
				<strong>{i18n_user_profile}</strong>
			</h3>
		</div>
	</div>
	
	<!--<div class="HRow BackgroundNegativeAlt Negative Padding">-->
	<div class="HRow BackgroundNegative Negative Padding">
		<div class="HContent30 FloatLeft Ellipsis">
			<!--<div class="BackgroundPositiveAlt NegativeAlt PaddingSmall FloatLeft IconMedium fa-user-circle-o"></div>-->
			<div class="BackgroundPositive Positive PaddingSmall FloatLeft IconMedium fa-user-circle-o"></div>
		</div>
		<div class="HContent70 FloatLeft Ellipsis">
			<h2 class="ImageHeading NoMargin" id="usName">
				<strong>{user_name}</strong>
			</h2>
		</div>
	</div>
	
	<div class="Box Padding" id="UserBasicDetails">
		
		<div class="AvatarRect MarginTop MarginBottom HRow HContent70"">
			<div class="FloatLeft Padding TextLeft Relative">
				<div id="AdminAvatarArea" class="IconSmall fa-user-circle-o">
					<canvas id="AdminAvatar" width="256" height="256"></canvas>
				</div>
			</div>
			<div class="FloatLeft Padding TextLeft Relative">
				<!--<button type="button" class="ButtonAlt IconSmall" id="AdminAvatarEdit">-->
				<button type="button" class="Button IconSmall" id="AdminAvatarEdit">
					{i18n_browse}
				</button>
			</div>
		</div>
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_user_fullname}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input type="text" class="FullWidth" id="usFullname" value="{user_fullname}"/>
			</div>
		</div>
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_user_username}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input type="text" class="FullWidth" id="usUsername" value="{user_username}"/>
			</div>
		</div>
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_user_email}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<input type="text" class="FullWidth" id="usEmail" value="{user_email}"/>
			</div>
		</div>
		
		<div id="ResetPassContainer" class="Closed">
			<div class="HRow MarginBottom">
				<div class="HContent30 FloatLeft Ellipsis">
					<strong>{i18n_user_password}</strong>
				</div>
				<div class="HContent70 FloatLeft Ellipsis">
					<!--<button class="IconSmall ButtonAlt" id="passToggle">-->
					<button class="IconSmall Button" id="passToggle">
						{i18n_reset_password}
					</button>
				</div>
			</div>
		</div>
		
		<div id="ChangePassContainer">
			<div id="PassError"></div>
			<div class="HRow MarginBottom">
				<div class="HContent30 FloatLeft Ellipsis">
					<strong>{i18n_new_password}</strong>
				</div>
				<div class="HContent70 FloatLeft Ellipsis">
					<input class="FullWidth" type="password" value="" placeholder="********" id="usPassword"/>
				</div>
			</div>
			<div class="HRow MarginBottom">
				<div class="HContent30 FloatLeft Ellipsis">
					<strong>{i18n_confirm_password}</strong>
				</div>
				<div class="HContent70 FloatLeft Ellipsis">
					<input class="FullWidth" type="password" value="" placeholder="********" id="usPasswordConfirm"/>
				</div>
			</div>
		</div>
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft">
				<strong>{i18n_level}</strong>
			</div>
			<div class="HContent70 FloatLeft">
				<select class="InputHeight FullWidth" id="usLevel">
					<option value="User">{i18n_level_user}</option>
					<option value="Admin">{i18n_level_admin}</option>
					<option value="Guest">{i18n_level_guest}</option>
					<option value="API">{i18n_level_api}</option>
				</select>
			</div>
		</div>
		
		<div class="HRow MarginBottom">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_language}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<select class="InputHeight FullWidth" id="usLanguage">
					{user_language}
				</select>
			</div>
		</div>
		
		<div class="HRow MarginBottom" id="AdminSetupContainer">
			<div class="HContent30 FloatLeft Ellipsis">
				<strong>{i18n_setup}</strong>
			</div>
			<div class="HContent70 FloatLeft Ellipsis">
				<select class="InputHeight FullWidth" id="usSetup">
					{user_setup}
				</select>
			</div>
		</div>
		
		<div class="HRow MarginBottom" id="AdminStatusContainer">
		
			<div class="HContent50 FloatLeft Ellipsis">
				<div class="HContent60 FloatLeft Ellipsis">
					<strong>{i18n_account_locked}</strong>
				</div>
				<div class="HContent40 FloatLeft Ellipsis">
					<button class="IconButton IconSmall IconToggle ButtonSmall FloatLeft {user_locked_toggle}" id="usLocked"></button>
				</div>
			</div>
			
			<div class="HContent50 FloatLeft Ellipsis">
				<div class="HContent60 FloatLeft Ellipsis">
					<strong>{i18n_account_disabled}</strong>
				</div>
				<div class="HContent40 FloatLeft Ellipsis">
					<button class="IconButton IconSmall IconToggle ButtonSmall FloatRight {user_disabled_toggle}" id="usDisabled"></button>
				</div>
			</div>
			
		</div>
		
		<div id="UserEditContainer">
			<div class="HRow">
				<!--<button class="IconButton IconSmall IconToggle ButtonSmall FloatLeft NegativeAlt fa-trash" id="UserDeleteBtn"></button>-->
				<button class="IconButton IconSmall IconToggle ButtonSmall FloatLeft Positive fa-trash" id="UserDeleteBtn"></button>
				<div id="UserEditButtons">
					<!--<button class="ButtonAlt IconSmall FloatRight MarginLeft" id="UserSaveBtn">-->
					<button class="Button IconSmall FloatRight MarginLeft" id="UserSaveBtn">
						{i18n_save}
					</button>
					<!--<button class="ButtonAlt IconSmall FloatRight MarginLeft" id="UserCancelBtn">-->
					<button class="Button IconSmall FloatRight MarginLeft" id="UserCancelBtn">
						{i18n_cancel}
					</button>
				</div>
			</div>
		</div>
		
	</div>
	
	<div id="AdminWorkgroupContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="HContent50 FloatLeft">
				<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="WorkgroupEditBack"></button>
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_workgroups}</strong>
				</h3>
			</div>
			<div class="HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-plus-circle Open" id="WorkgroupEdit"></button>
			</div>
		</div>
		<div class="Box Padding List" id="WorkgroupGui">
			{workgroups}
		</div>
	</div>
	
	<div id="AdminRoleContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="HContent50 FloatLeft">
				<h3 class="NoMargin">
					<strong>{i18n_roles}</strong>
				</h3>
			</div>
			<div class="HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-edit"></button>
			</div>
		</div>
		<div class="Box Padding" id="RolesGui">
			{roles}
		</div>
	</div>
	
	<div id="AdminStorageContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="HContent50 FloatLeft">
				<h3 class="NoMargin">
					<strong>{i18n_storage}</strong>
				</h3>
			</div>
			<div class="HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall Negative FloatRight MarginRight fa-plus" onclick="Sections.user_disk_update( {userid} )"></button>
			</div>
		</div>
		<div class="Box Padding" id="StorageGui">
			{storage}
		</div>
	</div>
	
	<div id="AdminApplicationContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="PaddingSmall HContent50 FloatLeft">
				<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="ApplicationEditBack"></button>
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_applications}</strong>
				</h3>
			</div>
			<div class="PaddingSmall HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-plus-circle Open" id="ApplicationEdit"></button>
			</div>
		</div>
		<div id="ApplicationGui">
			{applications}
		</div>
	</div>
	
	<div id="AdminDockContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="PaddingSmall HContent50 FloatLeft">
				<button class="IconButton IconSmall ButtonSmall Negative FloatLeft fa-arrow-circle-left Closed" id="DockEditBack"></button>
				<h3 class="NoMargin FloatLeft">
					<strong>{i18n_dock}</strong>
				</h3>
			</div>
			<div class="PaddingSmall HContent50 FloatLeft Relative">
				<button class="IconButton IconSmall ButtonSmall Negative FloatRight fa-plus-circle Open" id="DockEdit"></button>
			</div>
		</div>
		<div id="DockGui">
			{dock}
		</div>
	</div>
	
	<div id="AdminLooknfeelContainer" class="Closed">
		<!--<div class="HRow MarginTop BackgroundNegativeAlt Negative Padding">-->
		<div class="HRow MarginTop BackgroundNegative Negative Padding">
			<div class="PaddingSmall HContent100 FloatLeft">
				<h3 class="NoMargin">
					<strong>{i18n_looknfeel}</strong>
				</h3>
			</div>
		</div>
		<div class="Box Padding">
			<div class="HRow">
				<div class="HContent60 FloatLeft PaddingRight">
				
					<div class="HRow MarginBottom">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_darktheme}:</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="theme_dark">
							{theme_dark}
						</div>
					</div>
					
					<div class="HRow MarginBottom">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_window_controls}:</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="theme_style">
							{theme_controls}
						</div>
					</div>
					
					<div class="HRow MarginBottom">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_workspaces}:</strong>
						</div>
						<div class="HContent20 FloatLeft Ellipsis" id="workspace_count">
							{workspace_count}
						</div>
					</div>
					
					<div class="HRow MarginBottom" id="WallpaperContainer">
						<div class="HContent50 FloatLeft Ellipsis">
							<strong>{i18n_wallpaper}:</strong>
						</div>
						<div class="HContent50 FloatLeft Ellipsis" id="wallpaper_button">
							{wallpaper_button}
						</div>
					</div>
					
				</div>
				<div class="HContent40 FloatLeft" style="position: relative; height:150px; border-radius: 2px; background: black; border: 1px solid rgba(0,0,0,0.5)" id="AdminWallpaperPreview">
					<canvas id="AdminWallpaper" width="256" height="256"></canvas>
				</div>			
			</div>
		</div>
	</div>
		
	</div>
	
