
	<h2>
		{i18n_application_profile}
	</h2>
	
	<h1 class="ImageHeading">
		{application_name}
	</h1>

	<h2 class="MarginTop">
		{i18n_app_marketplace_info}
	</h2>
	<div class="Box Padding">
		<div class="HRow">
			<div class="HContent50 FloatLeft">
				<div class="HRow">
					<div class="HContent50 FloatLeft Ellipsis">
						<strong>{i18n_application_visible}</strong>
					</div>
					<div class="HContent50 FloatLeft Ellipsis">
						{application_visible}
					</div>
				</div>
			</div>
			<div class="HContent50 FloatLeft">
				{theme_preview}
			</div>			
		</div>
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" id="ApplicationMarketplaceEdit"></button>
		</div>
	</div>
	
	<h2 class="MarginTop">
		{i18n_application_graphics}
	</h2>
	<div class="Box Padding" id="WorkgroupGui">
		{graphics}
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" id="ApplicationGfxEdit"></button>
		</div>
	</div>
	
	<h2 class="MarginTop">
		{i18n_application_information}
	</h2>
	<div class="Box Padding" id="WorkgroupGui">
		{info}
		<div class="HRow">
			<button class="IconButton IconSmall ButtonSmall FloatRight fa-edit" id="ApplicationInfoEdit"></button>
		</div>
	</div>

