
	<h2>
		{i18n_application_profile}
	</h2>
	
	<h1 class="ImageHeading">
		{application_name}
	</h1>

	<h2 class="MarginTop">
		{i18n_app_marketplace_info}
	</h2>
	<div class="Box Padding">
		<div class="HRow">
			<div class="HContent50 FloatLeft Ellipsis">
				<strong>{i18n_application_visible}</strong>
			</div>
			<div class="HContent50 FloatLeft Ellipsis">
				{application_visible}
			</div>
		</div>
		<div class="HRow">
			<div class="HContent50 FloatLeft Ellipsis">
				<strong>{i18n_application_featured}</strong>
			</div>
			<div class="HContent50 FloatLeft Ellipsis">
				{application_featured}
			</div>
		</div>
	</div>
	
	

