

<div id="Admin" class="ContentFull">
	<!--<div class="HContentLeft ScrollArea HContent20 BackgroundNegativeAlt Responsive-Page Responsive-Page-Initial" id="GuiSidebar">-->
	<div class="HContentLeft ScrollArea HContent20 BackgroundNegative Responsive-Page Responsive-Page-Initial" id="GuiSidebar">
	</div>
	<div class="HContentRight HContent80 ScrollArea BackgroundHeavy Responsive-Container" id="GuiContent">
		<div id="Statistics"></div>
		<div id="Fader"></div>
		<div id="ModuleGUI"></div>
	</div>
</div>

<link rel="stylesheet" href="Progdir:Css/main.css"/>

<script src="Progdir:Scripts/main.js"></script>
<script src="Progdir:Scripts/jsdate.js"></script>
<script src="Progdir:Scripts/role_functions.js"></script>

<script src="Progdir:Scripts/main_server_printers.js"></script>
<script src="Progdir:Scripts/main_server_logs.js"></script>
<script src="Progdir:Scripts/main_account_users.js"></script>
<script src="Progdir:Scripts/main_account_workgroups.js"></script>
<script src="Progdir:Scripts/main_account_roles.js"></script>
<script src="Progdir:Scripts/main_account_templates.js"></script>
<script src="Progdir:Scripts/main_applications.js"></script>

