<html>
	<body style="background: white; color: black; font-family: sans serif">
		<div style="padding: 20px">
			<h2>About WideWeb</h2>
			<p>
				WideWeb is a web browser for FriendUP resources. It does now allow you to
				load <strong>https://</strong> urls if the remote site does not block
				iframes. Additionally it reads HTML5 files on your <strong>disk drives</strong>, like in "Home:".
				Finally, it can load content located on hosts in the <strong>Friend Network</strong>.
			</p>
			<p>
				To read more about WideWeb, please refer to the documentation.
			</p>
			<p>
				WideWeb is often times used to read documentation and help files.
				But it becomes very useful when accessing remote disk drives that
				you have connected using the <strong>Disk catalog</strong>.
			</p>
			<p>
				Enjoy a new world of networked content using WideWeb!
			</p>
		</div>
	</body>
</html>
