<html>
	<head>
		<title></title>
	</head>
	<body style="color: black; background: white">	
		<div class="ContentFull ScrollArea">
			<div class="Padding">
				<h2>About Friend Browser</h2>
				<p>
					Friend Browser is a web browser for FriendUP resources. It does now allow you to
					load <strong>https://</strong> urls if the remote site does not block
					iframes. Additionally it reads HTML5 files on your <strong>disk drives</strong>, like in "Home:".
					Finally, it can load content located on hosts in the <strong>Friend Network</strong>.
				</p>
				<p>
					To read more about Friend Browser, please refer to the documentation.
				</p>
				<p>
					Friend Browser is often times used to read documentation and help files.
					But it becomes very useful when accessing remote disk drives that
					you have connected using the <strong>Disk catalog</strong>.
				</p>
				<p>
					Enjoy a new world of networked content using Friend Browser!
				</p>
			</div>
		</div>
	</body>
</html>
