[DatabaseUser]

host=localhost
login=frienduser
password=somepassword
dbname=frienddb

[FriendCore]
fchost = localhost
port = 6502
fcupload = storage/

[Core]
SSLEnable=0
port=6502

[FriendNetwork]
enabled = 0

[FriendChat]
enabled = 0
