[DatabaseUser]

host=localhost
login=root
password=root_password
dbname=FriendMaster

[FriendCore]
fchost = localhost
port = 6502
fcupload = storage/
fconlocalhost = 1

[Core]
SSLEnable=1
WSSSLEnable=1
wsport=6500
DeveloperMode=1

[Cores]
servers=localhost@local,secondlocal@friendlocal


