
	<div class="ContentFull">
		<div class="VContentTop ScrollArea TopArea BackgroundNegative Negative">
			<div class="Padding" id="apps">
				
			</div>
		</div>
		<div class="VContentBottom BorderTop BackgroundToolbar BottomBar">
			<div class="Padding">
				<button type="button" class="Button fa-plus IconSmall" onclick="doAdd()">
					Add
				</button>
				<button type="button" class="Button fa-times IconSmall" onclick="doCancel()">
					Cancel
				</button>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="Progdir:Css/main.css"/>
	<script src="Progdir:Scripts/main.js"></script>

