
#MonitorContent > table
{
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background: #eeeeee;
}

#MonitorContent > table > tbody > tr > td
{
	padding: 4px;
	background: #f0f0f0;
}

#MonitorContent > table > tbody > tr:nth-child(odd) > td
{
	padding: 4px;
	background: #ffffff;
}

#MonitorContent > table > tbody > tr > td input
{
	width: 100%;
	box-sizing: border-box;
}
