.FriendSimpleList
{
	display: block;
	max-height: 200px;
	overflow: auto;
}

.FriendSimpleListRow
{
	display: block;
	clear: both;
}

.FriendSimpleListEntryFull
{
	display: block;
}


.FriendSimpleListEntry
{
	display: block;
	float: left;
	width: calc(100% - 64px);
}

.FriendSimpleListButtons
{
	display: block;
	float: left;
	width: 64px;
}

.FriendSimpleListBUp
{
	display: block;
	float: left;
	width: 33%;
	text-transform: center;
}

.FriendSimpleListBUp:before
{
	display: inline-block;
	content: "\f106";
	font-family: fontawesome;
}

.FriendSimpleListBDown:before
{
	display: inline-block;
	content: "\f107";
	font-family: fontawesome;
}

.FriendSimpleListBRemove:before
{
	display: inline-block;
	content: "\f00d";
	font-family: fontawesome;
}

