.DialogContainer
{
	display: block;
	margin: 60px;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 60px;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	border-radius: 10px;
}

.Vertical .IconButton
{
	display: block;
	text-align: center;
	margin: 0 0 5px 0;
}

#VisualPage
{
	border: 0;
}

#VisualArea
{
	position: absolute;
	left: 0;
	top: 0;
	right: 50px;
	bottom: 150px;
	overflow: auto;
	background: #333333;
	transform: rotateZ(0deg);
}

#VisualToolbar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	bottom: 150px;
	overflow: hidden;
}

#VisualCodeArea
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	overflow: hidden;
}


/* Elements */

.VisBox, .VisImage
{
	position: absolute;
	border-radius: 2px;
	box-sizing: border-box;
	text-align: center;
	background: #ff0000;
	color: white;
	border: 1px solid #aa0000;
	transform: rotateZ(0deg);
}

.VisBox.Active, .VisImage.Active
{
	background: #00cc00;
	border: 1px solid #008800;
}

.VisImage
{
	background: none;
	border: 2px solid #aa0000;
}

.VisImage.Active
{
	border: 2px solid #008800;
}

.VisImage > .Image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background-size: contain;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
}

.IconButton.Playing
{
	animation: playing 0.5s infinite;
}

@keyframes playing
{
	from { background: red; }
	to { background: green; }
}

