
<div id="Toolbar" class="Padding BorderBottom BackgroundDefault">
	<div class="Flex">
		<button type="button" class="IconSmall IconButton fa-user-plus" onclick="AddContact()"> {i18n_add_contact}</button>
	</div>
	<div class="Flex">
		<input class="Keywords" type="text" placeholder="{i18n_keywords}"/>
	</div>
	<div class="Flex">
		<button type="button" class="IconSmall IconButton fa-search"> {i18n_search}</button>
	</div>
</div>
<div id="List" class="ScrollArea SmoothScrolling"></div>
<script src="Progdir:Scripts/gui.js"></script>
<link rel="stylesheet" href="Progdir:Templates/gui.css"/>
