
		<script src="Progdir:Libraries/Ace/ace.js"></script>
		<script src="Progdir:Scripts/editor.js"></script>

		<style>
		    #fileslistlabel
		    {
		        position: absolute;
		        top: 0;
		        left: 0;
		        width: 225px;
		        height: 35px;
		        box-sizing: border-box;
		    }
			#fileslist
			{
				position: absolute; 
				top: 35px; 
				left: 0; 
				width: 225px; 
				bottom: 240px;
				overflow: auto;
				overflow-x: hidden;
				box-sizing: border-box;
			}
			#fileslist > .Files > div
			{
				position: relative;
			}
			#fileslist > .Files > div .Icon
			{
				position: absolute;
				opacity: 0;
				right: 8px;
				top: 10px;
				cursor: hand;
				cursor: pointer;
				transition: opacity 0.25s;
			}
			#fileslist > .Files > div:hover .Icon
			{
				opacity: 1;
			}
			#filestabs
			{
			    position: absolute;
			    height: 200px;
			    bottom: 40px;
			    left: 0;
			    width: 225px;
			    box-sizing: border-box;
			}
			#CodeView
			{
				position: absolute; 
				top: 0; 
				left: 230px; right: 0; 
				bottom: 0;
			}
			
			@media (max-width: 640px)
			{
				#fileslist
				{
					display: none;
				}
				#CodeView
				{
					left: 0;
				}
				.Statusbar .HRow > .HContent65 *
				{
					font-size: 11px;
					line-height: 21px;
				}
			}
		</style>

		<div class="ContentFull">
		    <div id="fileslistlabel" class="Padding BorderBottom BackgroundToolbar">
		        <p class="Layout"><strong id="Filelist">Files:</strong></p>
		    </div>
			<div id="fileslist" class="BorderBottom">
				<div class="CodeEditor Files">
					<div class="CodeEditorFile Selected Padding">
						Empty file
					</div>
				</div>
			</div>
			<div id="filestabs" class="Padding">
			    &nbsp;
			</div>
			<div style="position: absolute; top: auto; left: 0; width: 225px; bottom: 0; height: 40px" class="BackgroundDefault BorderTop">
				<div class="Padding Relative TextCenter" id="status">
				
				</div>
			</div>
			<div style="position: absolute; top: 0; left: 225px; width: 5px; bottom: 0; background: #606060; cursor: col-resize;">
			</div>
			<div id="CodeView">
				<div class="CodeEditor">
					<div class="Editor" id="editordiv" style="border: 0; outline: 0"></div>
				    <div class="Statusbar BorderTop" id="statusbar">
				    	<div class="Padding">
							<div class="HRow">
								<div class="HContent65 FloatRight">
									<div class="HContent35 FloatRight">
										<div class="FloatLeft">&nbsp;&nbsp;Tab width:&nbsp;</div>
										<div class="TabWidth FloatLeft">0</div>
									</div>
									<div class="HContent25 FloatRight">
										<div class="FloatLeft">Ln&nbsp;</div>
										<div class="Ln FloatLeft">0</div>
										<div class="FloatLeft">,&nbsp;Col&nbsp;</div>
										<div class="Col FloatLeft">0</div>
									</div>
									<div class="HContent10 FloatRight">
										<div class="InsOvr">INS</div>
									</div>
								</div>
								<div class="HContent35 FloatLeft">
									<div class="HContent50 FloatLeft">
										<select class="SyntaxHighlighting FullWidth" id="Syntax">
											<option value="php">PHP</option>
											<option value="css">CSS</option>
											<option value="pl">Perl</option>
											<option value="sql">SQL</option>
											<option value="sh">Bash script</option>
											<option value="as">Actionscript</option>
											<option value="js">Javascript</option>
											<option value="json">Javascript</option>
											<option value="jsx">JavascriptEXE</option>
											<option value="html">HTML</option>
											<option value="c">C/C++ code</option>
											<option value="d">D code</option>
											<option value="ini">INI script</option>
											<option value="java">Java</option>
											<option value="txt">Plain text</option>
											<option value="xml">XML</option>
										</select>
									</div>
									<div class="HContent50 FloatLeft">
										<div class="MarginLeft" id="SpecialControls">
										</div>
									</div>
								</div>
							</div>
						</div>
				    </div>
				</div>
			</div>
		</div>
		<style id="codestyle">
			.CodeEditor
			{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				background: #ffffff;
			}
			.CodeEditor > .Statusbar
			{
			    position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    height: 39px;
			}
			.CodeEditor > .Statusbar select
			{
				margin: -6px 10px 0 0;
			}
			.CodeEditor > .Editor
			{
				position: absolute;
				top: 0; 
				left: 0;
				right: 0; 
				bottom: 40px;
				margin: 0;
			}
			.CodeEditor > .Editor > iframe
			{
				border: 0;
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0; 
				left: 0;
				right: 0; 
				bottom: 0;
				margin: 0;
				transform: rotateZ(0deg);
				-webkit-transform: rotateZ(0deg);
			}
			#SpecialControls
			{
				position: relative;
				top: -5px;
			}
		</style>


