
	<input type="hidden" id="Index" value="-1"/>
	
	<div class="ContentFull">
		<div class="VContentTop Padding TopBar">
			<input type="hidden" id="Index" value="-1"/>
			<p class="Layout String">
				<strong>Type:</strong>
				<strong>Name:</strong>
				<strong>Options:</strong>
			</p>
			<p class="Layout String">
				<select id="Type">
					<option value="Module" selected="selected">Module</option>
					<option value="Door">Files</option>
					<option value="Secret">Secret</option>
				</select>
				<input type="text" id="Name" />
				<input type="text" id="Options" />
			</p>
		</div>
		<div class="VContentBottom Padding BottomBar BorderTop">
			<button type="button" class="Button IconSmall fa-check" onclick="addPermission()">
				Add permission
			</button>
			<button type="button" class="Button IconSmall fa-remove" onclick="cancelPermission()">
				Cancel
			</button>
		</div>
	</div>
	
	<style>
		p.String:after
		{
			content: " ";
			display: block;
			clear: both;
		}
		p.String strong, 
		p.String input, 
		p.String select
		{
			float: left;
			width: calc(33% - 5px);
			margin: 0 5px 0 0;
			height: 26px;
		}
		p.String strong:last-child,
		p.String input:last-child
		{
			float: left;
			width: calc(33%);
			margin: 0;
			box-sizing: border-box;
			display: block;
		}
		.TopBar
		{
			bottom: 50px;
		}
		.BottomBar
		{
			height: 50px;
		}
	</style>
	
	<script src="Progdir:Scripts/permission.js"></script>
