
	<div class="VContentTop BackgroundWindow TheContent">
		<div class="ContentFull">
			<div class="HContentLeft BorderRight BackgroundLists LeftSide ScrollArea">
				<div id="VTabs"></div>
			</div>
			<div class="HContentRight RightSide">
				<div id="VPage1">
					<div class="Padding">
						<h2>
							Language settings
						</h2>
						<hr/>
						<p>
							Use syntax highlighting: <input type="checkbox" checked="checked"/>
						</p>
						<p>
							Enable code-folding: <input type="checkbox" checked="checked"/>
						</p>
						<p>
							Enable word-wrapping: <input type="checkbox" checked="checked"/>
						</p>
						<p>
							Word wrap width: <input type="text" value="80" size="5"/>
						</p>
					</div>
				</div>
				<div id="VPage2">
					<div class="Padding">
						<h2>
							Code editor theme
						</h2>
						<hr/>
						<div class="Box" style="min-height: 200px">
							
						</div>
					</div>
				</div>
				<div id="VPage3">
					<div class="Padding">
						<h2>Interface related</h2>
						<hr/>
						<p>
							Open Artisan on its own screen: <input type="checkbox"/>
						</p>
						<p>
							Autosave every n'th minute: <input type="text" size="5" value="5"/> <input type="checkbox"/>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="VContentBottom BorderTop BackgroundToolbar TheBottom">
		<div class="Padding">
			<button type="button" class="Button IconSmall fa-cancel" onclick="doCancel()">
				Cancel
			</button>
		</div>
	</div>
	
	<link rel="stylesheet" href="Progdir:Css/prefs.css"/>
	<script src="Progdir:Scripts/prefs.js"></script>

