
	<div class="VContentTop TopCnt">
		<div class="ContentFull LeftSide">
			<div class="ContentFull Padding ScrollArea">
				<h2 class="BorderBottom PaddingBottom MarginBottom">
					Project information
				</h2>
				<p class="Layout">
					<strong>Project name:</strong>
				</p>
				<p class="Layout">
					<input class="FullWidth" id="tProjectName"/>
				</p>
				<p class="Layout">
					<strong>Author:</strong>
				</p>
				<p class="Layout">
					<input class="FullWidth" id="tAuthor"/>
				</p>
				<p class="Layout">
					<strong>Version:</strong>
				</p>
				<p class="Layout">
					<input class="FullWidth" id="tVersion"/>
				</p>
				<p class="Layout">
					<strong>Description:</strong>
				</p>
				<p class="Layout">
					<textarea class="FullWidth" id="tDescription"></textarea>
				</p>
				<p class="Layout">
					<strong>System privileges:</strong>
					<button type="button" class="Button IconSmall fa-legal" onclick="addPrivileges()"> Add privileges</button>
				</p>
				<p>
					<select size="5" class="FullWidth" id="tPermissions"></select>
				</p>
				<p class="Layout">
					<strong>Project files:</strong>
					<button type="button" class="Button IconSmall fa-folder" onclick="addFiles()"> Add files</button>
				</p>
				<p>
					<select size="10" class="FullWidth" id="tFiles"></select>
				</p>
			</div>
			<!-- some ones that take the product of logic -->
			<input type="hidden" id="Permissions" value=""/>
			<input type="hidden" id="Files" value=""/>
			<input type="hidden" id="Libraries" value=""/>
		</div>
		<div class="ContentFull RightSide BorderLeft">
			<div class="ContentFull Padding ScrollArea" id="Librarylist">
				<h2 class="BorderBottom PaddingBottom MarginBottom">
					Development libraries
				</h2>
				<div id="LibrariesContainer">
				</div>
				<!--<div class="Package" library="kiwi.js">
					<div class="Image Kiwi">
					</div>
					<div class="Label">
						Kiwi.js <input type="checkbox"/>
					</div>
				</div>
				<div class="Package" library="jquery">
					<div class="Image JQuery">
					</div>
					<div class="Label">
						jQuery <input type="checkbox"/>
					</div>
				</div>
				<div class="Package" library="prototype.js">
					<div class="Image Prototype">
					</div>
					<div class="Label">
						Prototype.js <input type="checkbox"/>
					</div>
				</div>
				<div class="Package" library="mootools">
					<div class="Image Mootools">
					</div>
					<div class="Label">
						Mootools <input type="checkbox"/>
					</div>
				</div>
				<div class="Package" library="emscripten">
					<div class="Image Emscripten">
					</div>
					<div class="Label">
						Emscripten <input type="checkbox"/>
					</div>
				</div>
				<div class="Package" library="three.js">
					<div class="Image Three">
					</div>
					<div class="Label">
						Three.js <input type="checkbox"/>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<div class="VContentBottom BottomCnt BorderTop Padding">
		<button type="button" class="Button IconSmall fa-check" onclick="saveProject()">
			Save
		</button>
		<button type="button" class="Button IconSmall fa-close" onclick="closewin()">
			Cancel
		</button>
	</div>


	<style>
	
		.TopCnt
		{
			bottom: 50px;
		}
		.BottomCnt
		{
			height: 50px;
		}
		.ContentFull.LeftSide
		{
			width: 50%;
		}
		.ContentFull.RightSide
		{
			width: 50%;
			left: 50%;
		}
		
		#tDescription
		{
			height: 100px;
		}
		
		.Package
		{
			float: left; width: 33%;
			box-sizing: border-box;
			position: relative;
			height: 125px;
			cursor: hand;
			cursor: pointer;
		}
		
		.Package:hover > .Image
		{
			background-color: #aaaaaa;
		}
	
		.Package > .Image
		{
			width: calc(100% - 5px);
			border-radius: 5px;
			height: 95px;
			border: 1px solid rgba(0,0,0,0.25);
			background-color: #444444;
			text-align: center;
			transition: background-color 0.25s;
			background-size: cover;
			background-position: center;
		}
		
		.Package > .Label
		{
			position: absolute;
			width: 100%;
			top: 100px;
			color: black;
			text-align: center;
			font-weight: bold;
		}
		
		.Package.Active > .Image
		{
			background-color: #999999;
			box-shadow: inset 0px 0px 20px red;
			border-color: red;
		}
		
		.Package.Active > .Label
		{
			color: #004466;
		}
		
	</style>

	<script src="Progdir:Scripts/project.js"></script>

