
	<div class="ContentFull">
		<div class="VContentTop BorderBottom Padding" style="bottom: 50px">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td width="40%">
						<p class="Layout"><strong>Search for:</strong></p>
					</td>
					<td>
						<p class="Layout"><input type="text" id="SearchId" value="" class="FullWidth" placeholder="keywords..."/></p>
					</td>
				</tr>
				<tr>
					<td width="40%">
						<p class="Layout"><strong>Replace with:</strong></p>
					</td>
					<td>
						<p class="Layout"><input type="text" id="SearchReplace" value="" class="FullWidth" placeholder="replacement..."/></p>
					</td>
				</tr>
				<tr>
				    <td colspan="2">
				        <p class="Layout">
				            <input type="checkbox" id="replaceall"/> Replace all
				        </p>
				    </td>
				</tr>
			</table>
		</div>
		<div class="VContentBottom" style="height: 50px">
			<div class="Padding">
				<button type="button" id="searchFor" onclick="searchFor()" class="Button IconSmall fa-search">
					Search
				</button>
				<button type="button" onclick="replaceNum(1)" class="Button IconSmall fa-replace">
					Replace
				</button>
				<button type="button" class="Button IconSmall fa-check">
					Cancel
				</button>
			</div>
		</div>
	</div>

	<script src="Progdir:Scripts/search.js"></script>
