<!DOCTYPE html>
<html>
	<title>Friend UP</title>
	<head>
		<script onload="" src="/webclient/js/apps/api.js"></script>
	</head>
	<body class="Loading" onload="loginNow()">
		<link rel="stylesheet" href="/webclient/css/extraLoginCSS.css"/>
		<style>
			div.closed
			{
				display: none;
			}
		</style>
		<div id="LoginElement" style="visibility: hidden">
			<div class="VContentTop">
				<div class="Logo">
					Friend OS
				</div>
				<h1>
					{welcome}
				</h1>
				<div class="Box">
					<form method="post" onsubmit="return false">
						<div id="step1">
							<div class="HRow">
								<p>
									<label id="UsernameLabel" for="Username">Login</label>
								</p>
								<p>
									<input type="username" id="Username" class="FullWidth" onkeydown="Application.checkKeys(event)" autocapitalize="none" autocorrect="none" tabindex="1" />
								</p>
							</div>
							<div class="HRow MarginTop HideForPass">
								<p>
									<label id="PasswordLabel" for="Password">Password</label>
								</p>
								<p>
									<input type="password" id="Password" class="FullWidth" onkeydown="Application.checkKeys(event)"  tabindex="2" />
								</p>
							</div>
						</div>
						<div id="step2" class="closed">
							<div class="HRow">
								<p>
									<label id="CodeLabel" for="Code">Code</label>
								</p>
								<p>
									<input type="text" id="Code" class="FullWidth" onkeydown="Application.checkKeys(event)"  tabindex="3" />
								</p>
							</div>
						</div>
						<div class="HRow MarginTop">
							<p>
								<a id="forgotPassword" style="cursor:pointer;" onclick="Application.forgotPassword()" tabindex="-1000">Forgot password</a>
								<span> | </span>
								<a href="{scriptpath}?module=fcdb">Login using Friend account</a>
							</p>
						</div>
						<div class="HRow MarginTop">
							<div class="HContent100">
								<!--<button id="backButton" class="IconSmall fa-unlock closed" onclick="Application.back()">
									Back
								</button>-->
								<button id="loginButton" class="IconSmall fa-unlock" tabindex="4" onclick="Application.doLogin()">
									Verify
								</button>
								<div id="invalidLogin" class="Padding"><p>&nbsp;</p></div>
							</div>
						</div>
						<input type="hidden" id="publickey" value="{publickey}"/>
					</form>
					<hr/>
					<div id="compatability" class="HRow MarginTop BorderTop HideForPass">
						<p><strong>Compatibility information:</strong></p>
						<p>Please use Google Chrome, Firefox. Experimental support for Safari, Opera and MS Edge.</p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			Application = {
				showLog: false,
				failedAttempt: false,
				passwordRecoveryMode: false,
				init: function( data )
				{
				},
				doLogin: function( e )
				{
					/*
						In password recivery mode we do stuff a bit differently...
					*/
					if( this.passwordRecoveryMode )
					{
						
						if( Trim( ge( 'Username' ).value ) == '')
						{
							ge( 'Username' ).focus();
							ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = 'Enter your username.';
							return;
						}
						ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = '';
						parent.Friend.User.ResetPassword( Trim( ge( 'Username' ).value ), function( result ){
							Application.forgotPassword();
							if( ge( 'Username' ).value.indexOf( '@' ) > 1 ) 
								ge( 'Username' ).value = '';
							ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = ( result == 'ok' ? 'Please check your inbox.' : 'Could not reset password.' );
						} );
						return;
					}
					
					// Don't do it many times while working!
					if( this.busy ) return;
					this.busy = true;
					
					let us = Trim( ge( 'Username' ).value );
					let pw = Trim( ge( 'Password' ).value );
					let co = Trim( ge( 'Code' ).value     );
					
					if( 1==1 || this.failedAttempt )
					{
						if( co )
						{
							ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = 'Logging in...';
						}
						else
						{
							ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = 'Verifying...';
						}
					}
					
					// Track user's login
					if( typeof ga == 'function' ) ga( 'send', 'event', 'userloginattempt', Trim( ge( 'Username' ).value ) );
					parent.Friend.User.Init();
					
					this.login( us, pw, co, false, function( result, answer )
					{
						let tmp = null;
						if( answer )
						{
							// Try to parse response answer
							try
							{
								tmp = JSON.parse( answer );
							}
							catch( e )
							{
								console.log( 'Answer was not in json format: ', answer );
							}
							if( tmp && tmp.response )
							{	
								//check for block....
								if( tmp.response.indexOf( 'Account blocked until:' ) > -1 )
								{
									let ts = tmp.response.replace( 'Account blocked until:', '' );
									if( parseInt( ts ) > 0 )
									{
										Application.errorMessage = 'Account blocked (try again after ' + new Date( ts * 1000 ).toLocaleString() + ')';
										showLoginError();  
										return;
									}
								}
								if( !tmp.code )
								{
									showLoginError( tmp.response );
									return;
								}
							}
						}
						
						if( result == false )
						{
							showLoginError();
						}
						else if( result == 0 )
						{
							setTimeout( showLoginError, 1000 );
						}
						// Success!
						else
						{
							//track users login..
							if( typeof ga == 'function' )
							{
								ga( 'send', 'event', 'userloginsuccess', us );	
							}
							parent.Workspace.showDesktop();
							Application.busy = false;
						}
					}, e, { hashedPassword: ge( 'Password' ).hashed ? true : false } );
				},
				// Login overwrite ...
				login: function( username, password, code, remember, callback, event, flags )
				{
					
					if( username )
					{
						
						// TODO: Cleanup once it works ...
						
						if( !code )
						{
							parent.Workspace.encryption.keys.server = ( ge( 'publickey' ) && ge( 'publickey' ).value ? { publickey: ge( 'publickey' ).value } : false );
						
							// So here we are setting keys twice first time in the login form to securely communicate with the server, then again in parent.Friend.User, might be overkill ...
							parent.Workspace.encryption.setKeys( username, password );
						}
						
						if( !parent.Workspace.encryption.keys.server.publickey )
						{
							console.log( 'Server Key Missing:', parent.Workspace.encryption.keys.server );
							return;
						}
						
						// TODO: For Windows auth find a way to handle username / password auth here in client before sending anything to server ...
						
						// If password is not hashed, hash it ... TODO: Look at the keystorage prosess to see if we do hash twice ...
						/*if( flags && !flags.hashedPassword && Application.mode != 'windows' )
						{
							password = ( 'HASHED' + Sha256.hash( password ) );
						}*/
						
						var m = new cAjax();
						m.open( 'POST', '/loginprompt/' + parent.Workspace.encryption.keys.client.publickey, true );
						
						m.addVar( 'encrypted', parent.Workspace.encryption.encryptRSA( JSON.stringify( {
							'username'  : username,
							'password'  : password,
							'deviceid'  : parent.Workspace.deviceid,
							'code'      : code
						} ), parent.Workspace.encryption.keys.server.publickey ) );
						
						if( Application.showLog ) console.log( 'vars ', {
							'username'  : username,
							'password'  : password,
							'deviceid'  : parent.Workspace.deviceid,
							'code'      : code
						} );
						
						// Set username and password so we can fetch it later
						let enc = parent.Workspace.encryption;
						parent.Workspace.storedCredentials = {
							username: enc.encrypt( username, enc.getKeys().publickey ),
							password: enc.encrypt( password, enc.getKeys().publickey )
						};
						
						m.onload = function()
						{
							var json = null; var serveranswer = null; 
							
							if( this.responseText() )
							{
								var res = this.responseText().split( '<!--separate-->' );
								
								if( res && res[ 0 ] && res[ 1 ] )
								{
									
									if( res[ 2 ] )
									{
										try
										{
											serveranswer = parent.Workspace.encryption.decrypt( res[ 2 ] );
											
											json = JSON.parse( serveranswer );
										}
										catch( e ) 
										{
											console.log( e );
										}
										
										// We got a real error
										if( json == null )
										{
											if( callback && typeof( callback ) == 'function' ) callback( false );
										}
									}
									
									if( Application.showLog || 1==1 ) console.log( { json: json, serveranswer: serveranswer, raw: this.responseText() } );
									
									switch( res[ 1 ] )
									{
										// ok identity check ...
										case 'identity':
												
											if( res[0] == 'ok' )
											{
												Application.busy = false;
												
												if( ge( 'loginButton' ) )
												{
													ge( 'loginButton' ).innerHTML = 'Sign in';
												}
												
												ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = '';
												
												if( ge( 'Code' ) )
												{
													ge( 'Code' ).focus();
												}
											}
											else
											{
												console.log( 'What?', res );
												if( json && json.response )
												{
													showLoginError( json.response );
													
													if( json.code == '6' )
													{
														return;
													}
													
													// TODO: Look at the various error messages and make them handled here better ...
													
													/*if( ge( 'loginButton' ) )
													{
														ge( 'loginButton' ).innerHTML = 'Resend';
													}*/
													
													if( ge( 'Code' ) )
													{
														ge( 'Code' ).focus();
													}
												}
												else
												{
													if( callback && typeof( callback ) == 'function' ) return callback( false, serveranswer );
												}
											}
											
											// TODO: Cleanup ...
											if( document.getElementById( 'step1' ) && document.getElementById( 'step1' ).className.indexOf( 'closed' ) < 0 )
											{
												document.getElementById( 'step1' ).classList.add( 'closed' );
											}
											if( document.getElementById( 'step2' ) && document.getElementById( 'step2' ).className.indexOf( 'closed' ) >= 0 )
											{
												document.getElementById( 'step2' ).classList.remove( 'closed' );
											}
											
											if( ge( 'Code' ) )
											{
												ge( 'Code' ).focus();
											}
											
											return;
											
											break;
									
										// ok verification code ...
										
										case 'verification':
											
											if( res[ 0 ] == 'ok' && json && json.username && json.sessionid )
											{
												
												parent.Workspace.sessionId     = json.sessionid;
												parent.Workspace.loginUsername = json.username;
												parent.Workspace.loginUserId   = json.userid;
												parent.Workspace.loginid       = json.loginid;
												parent.Workspace.userLevel     = json.level;
												parent.Workspace.fullName      = json.fullname;
												
												// This is needed for Friend.User.ReLogin()
												parent.Workspace.loginPassword = enc.encrypt( 'HASHED' + Sha256.hash( password ) );
												parent.Workspace.loginHashed = true;
												
												// We are now online!
												parent.Friend.User.SetUserConnectionState( 'online' );
												
												if( !parent.Workspace.userWorkspaceInitialized )
												{
													return parent.Workspace.initUserWorkspace( json, ( callback && typeof( callback ) == 'function' ? callback( true, serveranswer ) : false ), event );
												}
												else
												{
													if( typeof( callback ) == 'function' ) return callback( true, serveranswer );
													// Make sure we didn't lose websocket!
												}
												
											}
											else
											{
												parent.Friend.User.SetUserConnectionState( 'offline' );
												
												if( callback && typeof( callback ) == 'function' ) return callback( false, serveranswer );
											}
											
											break;
										
										// if nothing expected run default ...
										
										default:
											
											if( callback && typeof( callback ) == 'function' ) return callback( false, serveranswer );
											
											break;
										
									}
								
								}
							}
							
							if( Application.showLog ) console.log( this.responseText() );
							
							if( callback && typeof( callback ) == 'function' ) callback( false );
							
						}
						m.send();
						
					}
					
					return 0;
				},
				checkKeys: function( e )
				{
					var k = e.which ? e.which : e.keyCode;
					if( k == 13 )
					{
						this.doLogin( e );
					}
				},
				receiveMessage: function( msg )
				{
					if( msg.command && msg.command == 'error' )
					{
						showLoginError();
					}
					else if( msg.cmd && msg.cmd == 'login' )
					{
						Application.loginUser( msg );
					}
				},
				loginUser: function( msg )
				{
					if( msg && parent && parent.Workspace && parent.Friend && parent.Friend.User )
					{
						// Don't do it many times while working!
						if( Application.busy ) return;
						Application.busy = true;
						
						if( msg.password.indexOf( 'HASHED' ) >= 0 || msg.password.indexOf( '{S6}' ) >= 0 )
						{
							msg.hashed = true;
						}
						else
						{
							msg.hashed = false;
						}
						
						parent.Friend.User.Init();
						parent.Workspace.setLogoutURL( msg.logouturl );
						this.login( Trim( msg.username ), Trim( msg.password ), false, false, function( result )
						{
							if( result == false )
							{
								console.log( 'Could NOT logg in... why...?' +  msg.username + ':' +  msg.password + ':' + result );
								showLoginError();
							}
							else if( result == 0 )
							{
								setTimeout( showLoginError, 1000 );
							}
							else
							{
								Application.busy = false;
							}
						}, false, { hashedPassword: msg.hashed ? true : false } );
					}
					else
					{
						showLoginError( 'Could not login' );
					}
				},
				forgotPassword : function()
				{
					ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = '';
					if( Application.passwordRecoveryMode )
					{
						Application.passwordRecoveryMode = false;
						ge( 'loginButton' ).classList.remove( 'FloatRight' );
						ge( 'loginButton' ).innerHTML = ' &nbsp; Log in';
						ge( 'UsernameLabel' ).innerHTML = 'Login';
						ge( 'forgotPassword' ).innerHTML = 'Forgot password';
						document.querySelectorAll( '.HideForPass' ).forEach( function( thisNode ){
							thisNode.style.display = thisNode.dataset.oldDisplay;
						} );	
						ge('loginButton').classList.remove( 'Forgot' );
						return;
					}
					
					Application.passwordRecoveryMode = true;
					document.querySelectorAll( '.HideForPass' ).forEach( function( thisNode ){
						thisNode.dataset.oldDisplay = thisNode.style.display;
						thisNode.style.display = 'none';
					} );	
					ge( 'loginButton' ).classList.add( 'FloatRight' );
					ge( 'loginButton' ).innerHTML = ' &nbsp; Request new password';
					ge( 'loginButton' ).classList.add( 'Forgot' );
					ge( 'UsernameLabel' ).innerHTML = 'Username / e-mail:';
					ge( 'forgotPassword' ).innerHTML = 'Return to login form';
				}
			};
			
			function showLoginError( msg )
			{
				parent.Workspace.loginPrompt.setFlag( 'height', 263 );
				ge( 'invalidLogin' ).getElementsByTagName( 'p' )[0].innerHTML = ( 
					Application.errorMessage ? Application.errorMessage : ( 
						msg ? msg : 'Invalid credentials. Please check your input.'
					) 
				);
				ge( 'Username' ).focus();
				Application.failedAttempt = true;
				Application.busy = false;
				ge( 'LoginElement' ).style.visibility = 'visible';
			}
			
			// Focus the username field
			function loginNow( e )
			{
				if( typeof( GetCookie ) == 'undefined' ) return setTimeout( loginNow, 50 );
				
				Application.applicationId = 'loginprompt';
				
				if( parent.GetUrlVar( 'username' ) )
				{
					ge( 'Username' ).value = parent.GetUrlVar( 'username' );
					ge( 'Password' ).value = parent.GetUrlVar( 'password' );
					ge( 'Password' ).hashed = true;
					Application.doLogin( e );
				}
				
				document.getElementById('LoginElement').style.visibility = 'visible';
				document.getElementById('Username').focus();
			}
		</script>
	</body>
</html>
