/* Charcoal ----------------------------------------------------------------- */

html > body.Charcoal,
html > body.Charcoal.Inside
{
	background: #303030;
}

body.Charcoal .AppsShowingTitle
{
	background: #303030;
}

html body.Charcoal #Screens > div
{
	background: #303030;
}

html body.Charcoal .File .Icon .Drive .Label
{
	filter: grayscale(1) brightness(0.4) drop-shadow(1px 2px 2px rgba(255,255,255,0.4));
}

html body.Charcoal[mobile=mobile] > #MobileMenu.Visible
{
	background: #222222;
	color: white;
}

html body.Charcoal[mobile] #WorkspaceMenu.Open ul
{
	background: #303030;
}

html body.Charcoal .Screen > .TitleBar .ScreenList
{
	color: white;
}

html body.Charcoal #DoorScreen:after,
body.Charcoal:not(.ViewMaximized) #Screens > div.Screen > .TitleBar, 
body.Charcoal.ViewMaximized.AppsShowing #Screens > div.Screen > .TitleBar,
body.Charcoal[mobile] #WorkspaceMenu,
html body.Charcoal #DoorsScreen:after
{
	background-color: #303030;
}


html body.Charcoal .ViewContainer[childview].Active > .MobileBack:before
{
	color: #e0e0e0;
	font-size: 1.4em;
}

[mobile].Charcoal #WorkspaceMenu.Open
{
	background: #303030;
}

html body.Charcoal .Screen > .ScreenContent
{
	background: #303030;
}

html body.Charcoal a, html body a.Charcoal:visited
{
	color: #ffbe85;
}

html [mobile=mobile].Charcoal.ViewMaximized.HasMenu #WorkspaceMenu,
html [mobile=mobile].Charcoal.WidgetSlideDown.HasMenu #WorkspaceMenu
{
	background: #303030;
}

body.Charcoal .SliderElement .SliderGroove
{
	background: rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

html body.Charcoal .Screen > .TitleBar > .Left .Extra .Offline
{
	filter: invert(1);
}

body.Charcoal input[type=text], body.Charcoal input[type=range], body.Charcoal input[type=number], body.Charcoal input[type=date],
body.Charcoal input[type=email], body.Charcoal input[type=username],
body.Charcoal input[type=datetime-local], body.Charcoal input[type=password], 
html body.Charcoal textarea, html body.Charcoal select, html body.Charcoal select:hover
{
    border-radius: 2px;
    border: 1px solid #202020;
    background: #242424;
    color: #e0e0e0;
}

html body.Charcoal:not([mobile]) .View, html body.Charcoal .View.Active
{
	box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.3);
}

html > body.Charcoal .View.Active > .Title,
html > body[mobile].Charcoal .View > .Title
{
	background-color: #303030;
}

html > body.Charcoal .View > .Title
{
	background-color: #404040;
}

html > body:not(.Inside):not(.Loading).Charcoal, html body.Charcoal .View:not([transparent]) .View > .Content,
html body.Charcoal .View > .Content,
html body.Charcoal
{
	background-color: #2b2b2b !important;
	color: #e0e0e0;
}

html > body.Charcoal > div button, html > body.Charcoal > div .Button
{
	background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
    color: #e0e0e0;
}

html body.Charcoal .View .DirectoryToolbar,
html body.Charcoal .View.Active .DirectoryToolbar 
{
	background-color: #3c3c3c;
	color: #e0e0e0;
}

html body.Charcoal .DirectoryToolbar button.Makedir:before
{
	filter: brightness(2) grayscale(1);
}

html body.Charcoal .View .DirectoryToolbar button,
html body.Charcoal .View .DirectoryToolbar .Button
{
	color: #e0e0e0;
	background-color: none;
}

html body.Charcoal .View .DirectoryToolbar > .ToggleGroup > button:hover:before, 
html body.Charcoal .View .DirectoryToolbar > button:hover:before
{
	color: #e0e0e0;
}
html > body.Charcoal .View .DirectoryToolbar button:before, 
html > body.Charcoal .View .DirectoryToolbar button:after
{
	color: rgba(224,224,224,170);
}

html body.Charcoal .View .DirectoryToolbar > .ToggleGroup > button.Active:before
{
	color: white;
}

html body.Charcoal .BackgroundNegative,
html body.Charcoal .Box.BackgroundNegative,
html body.Charcoal .BoxBlue.BackgroundNegative
{
	background-color: #808080;
}

html body.Charcoal .Negative,
html body.Charcoal .Box.Negative,
html body.Charcoal .BoxBlue.Negative
{
	color: #ffffff;
}

html body.Charcoal .File a
{
	color: #e0e0e0;
}

html body.Charcoal .File.Selected .Title,
html body.Charcoal #Screens .File.Selected .Title
{
	color: white;
}

html body.Charcoal div .File.Selected:before
{
	background-color: rgba(20,20,20,1);
}

html body.Charcoal .File.Selected:before
{
	background: rgba(255,255,255,0.1);
	border-radius: 2px;
	content: " ";
	display: block;
	width: 120%;
	position: absolute;
	top: 0;
	left: -10%;
	height: 100%;
}

html body.Charcoal .File .Icon > *:after
{
	color: #303030;
}

html body.Charcoal .PageActive, html body.Charcoal .PageActive .PageScroll
{
	background-color: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.1);
}

html body.Charcoal .Tab.TabActive
{
	border: 1px solid #505050; 
	background-color: #505050;
	color: #e0e0e0;
}

html body.Charcoal .Tab
{
	color: #b1c0ce;
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c;
	margin-right: 1px;
}
html body.Charcoal .Tab:last-child
{
	margin-right: 0;
}

html body.Charcoal .BackgroundDefault,
html body.Charcoal .Dialog,
html body.Charcoal .WindowBackground, 
html body.Charcoal .Dialog > .DialogHeader, 
html body.Charcoal .Dialog > .DialogButtons,
html body.Charcoal .ToolbarBackground,
html body.Charcoal div.Listview > .Footer,
html body.Charcoal .List,
html body.Charcoal div.Listview > .Icons,
html body.Charcoal .Box, 
html body.Charcoal .BoxBlue
{
	background-color: #2b2b2b;
	color: #e0e0e0;
}

html body[mobile].Charcoal .Dialog,
html body[mobile].Charcoal .Dialog > .DialogHeader, 
html body[mobile].Charcoal .Dialog > .DialogButtons
{
	background-color: rgba(0,0,0,0.6);
}

html body.Charcoal .PadBorder {
	border-color : #303030;
}

html body.Charcoal .BackgroundLists
{
	background-color: #202020;
}

html body.Charcoal .BackgroundLists .sw1,
body.Charcoal .List tr.sw1, 
body.Charcoal .List div.sw1,
html body.Charcoal div.Listview > .Icons > .Scroller > .Row.Odd .Column, 
html body.Charcoal div.ColumnView .Row.Odd .Column, 
html body.Charcoal #MousePointer .Row.Odd .Column,
html body.Charcoal .ZebraList > tr, 
html body.Charcoal .ZebraList > div
{
	background-color: #282828;
	color: #e0e0e0;
}

html body.Charcoal .ZebraList > tr .PadBorder, 
html body.Charcoal .ZebraList > div .PadBorder
{
	border-color: #282828;
}

html body.Charcoal .ZebraList.Interactive > tr:hover, 
html body.Charcoal .ZebraList.Interactive > div:hover
{
	background-color: #303030;
}

html body.Charcoal .ZebraList.Interactive > tr:hover .PadBorder, 
html body.Charcoal .ZebraList.Interactive > div:hover .PadBorder
{
	border-color: #303030;
}

html body.Charcoal .BackgroundLists .sw2,
body.Charcoal .List tr.sw2, 
body.Charcoal .List div.sw2,
html body.Charcoal div.Listview > .Headers > .Header:nth-child(odd), 
html body.Charcoal div.Listview > .Headers > .Header:nth-child(even),
html body.Charcoal div.Listview > .Icons > .Scroller > .Row .Column, 
html body.Charcoal div.ColumnView .Row .Column, 
html body.Charcoal #MousePointer .Row .Column,
html body.Charcoal .ZebraList > tr:nth-child(odd), 
html body.Charcoal .ZebraList > div:nth-child(odd)
{
	background-color: #202020;
	color: #e0e0e0;
}

html body.Charcoal .ZebraList > tr:nth-child(odd) .PadBorder, 
html body.Charcoal .ZebraList > div:nth-child(odd) .PadBorder
{
	border-color: #202020;
}

html body.Charcoal .ZebraList.Interactive > tr:nth-child(odd):hover, 
html body.Charcoal .ZebraList.Interactive > div:nth-child(odd):hover
{
	background-color: #282828;
}

html body.Charcoal div.Listview > .Icons > .Scroller > .Row.Selected > .Column,
html body.CharCoal #MousePointer .Row.Selected .Column
{
	background: #151515;
	color: white;
}
html body.Charcoal div.Listview > .Icons > .Scroller > .Row.Odd.Selected > .Column,
html body.CharCoal #MousePointer .Row.Odd.Selected .Column
{
	background: #101010;
	color: white;
}

html body.Charcoal .List tr.sw1.Selected, 
html body.Charcoal .List div.sw1.Selected
{
	background-color: #455155;
}
html body.Charcoal .List tr.sw2.Selected, 
html body.Charcoal .List div.sw2.Selected
{
	background-color: #3e484c;
}

html body.Charcoal .VertTab
{
	background-color: #404040;
	color: #e0e0e0;
}

html body.Charcoal .VertTab.Active
{
	background-color: #303030;
}

html body.Charcoal .Screen > .TitleBar
{
	background: #202020;
	color: #e0e0e0;
}

html body.Charcoal div #Tray > div
{
	color: white;
}

html body.Charcoal #WorkspaceMenu > ul > li,
html body.Charcoal #WorkspaceMenu .Menu,
html body.Charcoal #WorkspaceMenu .Menu:hover,
html body.Charcoal .Screen > .TitleBar > .Left *
{
	color: #e0e0e0;
}

body.Charcoal #DoorsScreen .Left > .VirtualWorkspaces > div.Active 
{
	border: 0;
}

[mobile].Charcoal .View.IconWindow .MobileFileBrowser > .FileBrowser .DiskItem > .Name,
[mobile].Charcoal .View .FileDialog .FileBrowser .DiskItem > .Name,
[mobile].Charcoal .View.IconWindow .MobileFileBrowser > .FileBrowser .FileBrowserItemImage,
[mobile].Charcoal .View .FileDialog .FileBrowser .FileBrowserItemImage
{
	color: white;
}
[mobile].Charcoal .View.IconWindow .MobileFileBrowser > .FileBrowser .DiskItem > .Name:active,
[mobile].Charcoal .View .FileDialog .FileBrowser .DiskItem > .Name:active
{
	background-color: rgba(255,255,255,0.2);
}

body.Charcoal .FileBrowserItemImage
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
	float: left;
	vertical-align: middle;
	display: block;
	margin: 1px 4px 0 0;
	filter: invert(100%);
}

body.Charcoal .Active > .FileBrowserItemImage,
{
	filter: invert(100%);
}

body.Charcoal .Frame .Progress
{
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}

/* Charcoal scheme scrollbars */

body.Charcoal::-webkit-scrollbar
body.Charcoal .View.Active ::-webkit-scrollbar
{
	background-color: rgba(0,0,0,0.6);
}

html body.Charcoal ::-webkit-scrollbar,
html body.Charcoal ::-webkit-scrollbar-track,
html body.Charcoal .View.Active ::-webkit-scrollbar-track,
.Charcoal .View.Active.IconWindow ::-webkit-scrollbar-track,
.Charcoal .View.IconWindow ::-webkit-scrollbar-track,
html body.Charcoal.activated ::-webkit-scrollbar-track,
html body.Charcoal .View.Active.IconWindow ::-webkit-scrollbar-track
{
	background-color: rgba(20,20,20,0.3) !important;
	border-color: rgba(20,20,20,0.3) !important;
}

html body.Charcoal ::-webkit-scrollbar-thumb
{
	background-color: #383838 !important;
	border-color: #303030;
}

html body.Charcoal .View.Active ::-webkit-scrollbar-thumb,
html body.Charcoal.activated ::-webkit-scrollbar-thumb,
html body.Charcoal .View.Active ::-webkit-scrollbar-thumb, 
html body.Charcoal .View.Active.IconWindow ::-webkit-scrollbar-thumb
{
	background-color: #404040 !important;
	border-color: #383838;
}

html body.Charcoal .Frame .Progress
{
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}

