/* For scrollbars ----------------------------------------------------------- */

/* addresses the background of the bar itself. It is usually covered by the other elements */
::-webkit-scrollbar
{
	width: 16px;
	height: 16px;
	background: #e0e0e0;
}

.View.Active ::-webkit-scrollbar
{
	background: #0072AB;
}

::-webkit-scrollbar:vertical
{
	border-width: 0 2px;
}
/* addresses the directional buttons on the scrollbar */
::-webkit-scrollbar-button
{
}

/* addresses the empty space “below” the progress bar */
::-webkit-scrollbar-track,
.View.Active ::-webkit-scrollbar-track,
body.activated ::-webkit-scrollbar-track
{
	background: #e0e0e0;
	box-shadow: none;
}
.View.Active.IconWindow ::-webkit-scrollbar-track
{
	background: #0072AB;
	box-shadow: none;
}
/* is the top-most layer of the the progress bar not covered by the draggable scrolling element (thumb) */
::-webkit-scrollbar-track-piece
{
	padding-left: 2px;
	margin-right: 2px;
}

.View.Scrolling ::-webkit-scrollbar-track-piece,
body.Scrolling ::-webkit-scrollbar-track-piece
{
	margin-bottom: 12px;
}
/* addresses the draggable scrolling element that resizes depending on the size of the scrollable element */
::-webkit-scrollbar-thumb
{
	left: 1px;
	right: 1px;
	background-clip: padding-box;
	background-image: none;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 0;
	border: 1px solid rgba(0,0,0,0.05);
}
.View.Active ::-webkit-scrollbar-thumb,
body.activated ::-webkit-scrollbar-thumb
{
	background-color: #b0b0b0;
	background-image: none;
	border: 0;
}
.View.Active.IconWindow ::-webkit-scrollbar-thumb
{
	background-color: #008DD4;
	background-image: url(/themes/friendup/gfx/win_scrollbutton_active.png);
	border: 1px solid rgba(0,0,0,0.05);
}

/* addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet */
::-webkit-scrollbar-corner
{
}
/* addresses the draggable resizing handle that appears above the scrollbar-corner at the bottom */
::-webkit-resizer
{
}

@media only screen and (max-device-width: 768px)
{
	::-webkit-scrollbar
	{
		width: 4px;
		height: 4px;
	}
	::-webkit-scrollbar-thumb, .View.Active.IconWindow ::-webkit-scrollbar-thumb,
	body.activated ::-webkit-scrollbar-thumb, .View.Active ::-webkit-scrollbar-thumb
	{
		background-image: none;
		border: 1px solid rgba(0,0,0,0.1);
	}
	.View.Active ::-webkit-scrollbar-track,
	body.activated ::-webkit-scrollbar-track
	{
		background: #444444;
	}
}

