
	<div>
		<p class="Layout">
			<strong>{i18n_login_logo_image}</strong> <input type="checkbox" id="logo_image_check"/> {i18n_use_image}
		</p>
		<div id="LoginLogoImage MarginBottom Padding Margins">
			<center><img id="theLogoImage" src="{logoImage}?rand={rand}"/></center>
		</div>
		
		<p>
			<button type="button" class="IconSmall fa-upload" onclick="changeGlobalsLogoImage()">
				{i18n_change_logo_image}
			</button>
		</p>
		
		<p class="Layout">
			<strong>{i18n_login_background_image}</strong> <input type="checkbox" id="background_image_check"/> {i18n_use_image}
		</p>
		<div id="LoginBackgroundImage MarginBottom Padding Margins">
			<center><img id="theBackgroundImage" src="{backgroundImage}?rand={rand}"/></center>
		</div>
		
		<p>
			<button type="button" class="IconSmall fa-upload" onclick="changeGlobalsBackgroundImage()">
				{i18n_change_background_image}
			</button>
		</p>
		
		<p class="Layout">
			<strong>{i18n_eula_short}</strong> <input type="checkbox" id="eula_short_check"/> {i18n_use_text}
		</p>
		<textarea size="8" class="FullWidth MarginBottom" id="eula_short_text" style="height: 100px">{eulaShort}</textarea>
		<p class="Layout">
			<strong>{i18n_eula_long}</strong> <input type="checkbox" id="eula_long_check"/> {i18n_use_text}
		</p>
		<textarea class="FullWidth MarginBottom" id="eula_long_text" style="height: 250px">{eulaLong}</textarea>
	</div>
	
