
	<div class="ContentFull LayoutButtonbarBottom">
		<div class="VContentTop Padding">
			<div class="HRow">
				<div class="HContent30 FloatLeft">
					<p class="Layout">
						<strong>{i18n_type}:</strong>
					</p>
				</div>
				<div class="HContent70 FloatLeft">
					<p class="Layout">
						<input type="text" id="Type" class="FullWidth" value="" placeholder="{i18n_your_type}"/>
					</p>
				</div>
			</div>
			<div class="HRow">
				<div class="HContent30 FloatLeft">
					<p class="Layout">
						<strong>{i18n_key}:</strong>
					</p>
				</div>
				<div class="HContent70 FloatLeft">
					<p class="Layout">
						<input type="text" id="Key" class="FullWidth" value="" placeholder="{i18n_your_key}"/>
					</p>
				</div>
			</div>
		</div>
		<div class="VContentBottom Padding BorderTop">
			<button type="button" class="Button IconSmall fa-save" onclick="saveKey()">
				{i18n_save}
			</button>
			<button type="button" class="Button IconSmall fa-close FloatRight" onclick="cancel()">
				{i18n_cancel}
			</button>
		</div>
	</div>
	
	<script src="Progdir:Scripts/server_item.js"></script>


